[2017-02-02 09:35] #545 closed

[2017-02-02 12:11] fernandammoutinhobarros commented on #545
Great!!! Thanks for this wonderfull editor!!

[2017-02-03 15:20] lamynes commented on #538
New issue, I can't get past the gh-pages selection to open my site.

​

On Sun, Jan 22, 2017 at 4:52 PM, Alex Hoyau <notifications@github.com>
wrote:

[2017-02-03 16:14] singchan commented on #538
what do you mean?
you see the gh-pages folder but can not browse into it?

[2017-02-03 16:30] lamynes commented on #538
Correct,  I select the folder and it hangs

On Feb 3, 2017 8:14 AM, "singchan" <notifications@github.com> wrote:

[2017-02-03 17:17] singchan commented on #538
it works here.. maybe try again in a moment

![screenshot from 2017-02-03 18-16-39](https://cloud.githubusercontent.com/assets/6483546/22600916/f42515c6-ea3c-11e6-929d-a16d50bb8eda.png)

[2017-02-05 00:25] lamynes commented on #538
No go.... No matter how I try it never gets past trying to open gh-pages.

On Fri, Feb 3, 2017 at 9:17 AM, singchan <notifications@github.com> wrote:

[2017-02-05 01:25] lexoyo commented on #538
I will have a look tomorrow
In the meantime you can download it from github and put it on dropbox?

[2017-02-05 01:26] lamynes commented on #538
No worries

On Feb 4, 2017 5:25 PM, "Alex Hoyau" <notifications@github.com> wrote:

[2017-02-05 14:34] lexoyo commented on #538
Ok it looks like you reach the maximum number of commits in github! Congrats! ;)
What I did, I used the command line `git reset $(git commit-tree HEAD^{tree} -m "squash all commits into one")` to make one single commit from all your commits. This is the same as downloading all files and making a new repo in github
You can either do this like I did, or delete your repo and I will transfer mine to y

[2017-02-05 14:34] lexoyo commented on #538
https://github.com/lexoyo/silexvette

[2017-02-05 14:37] lexoyo commented on #543
is it working?

[2017-02-05 14:37] lexoyo commented on #539
thank you for the tip!

[2017-02-05 14:37] #539 closed

[2017-02-05 14:38] #515 closed

[2017-02-05 14:53] lamynes commented on #538
Wow, too easy. Thank you Sir

On Feb 5, 2017 6:34 AM, "Alex Hoyau" <notifications@github.com> wrote:

[2017-02-05 16:40] thomasak22 opened #546 "How to embed font?"
Hi,

I recently published a site (http://bioworx-pigeon.co.za/) with the Roboto font used throughout. After publishing and uploading the site the Roboto font doesn't seem to be embedded, an alternate serif font appears on the website. Is it possible to embed the Roboto font?

Thanks in advance

[2017-02-05 21:09] lexoyo commented on #546
Hello
You probably need something like `@import url(http://fonts.googleapis.com/css?family=Roboto:400);` at the top of your CSS
Or maybe this what you are looking for? https://github.com/silexlabs/Silex/issues/46
Nice website by the way!!

[2017-02-06 20:01] lexoyo opened #547 "Many people share your interest in Silex!"
As you can see on the <a href="https://lexoyo.piwik.pro/">public Piwik tracker</a>, we are between 150 and 250 people using Silex every day!!

This is good news because it means more people to share with and more people to help with issues you might have.

<img src="https://cloud.githubusercontent.com/assets/715377/22664270/33d84498-ecb0-11e6-958e-8be1f6b56ef3.png">

[2017-02-07 18:28] fernandammoutinhobarros opened #548 "Page width is diferent on some computers"
Hi can someone help me.

I have a webpage that has 800 px with, I can see it on my chrome browser (win 7) very well, but on another computer using also chrome (win 7) it shows a smaller size or the text larger it doesn't fit on the sections. The screen is large so I don't think that's not the problem...

I forced each text element with a size on .css  with font-size: ...pt

Also I have this on css

[2017-02-07 20:25] lexoyo commented on #548
Are you talking about the font size?
Can you provide a screenshot please?

[2017-02-08 04:16] felixtkn commented on #282
It's strange that I downloaded a Silex template from Silex.me (GitHub) and I encounter this "I can not open this website. I can only open website made with Silex" error on Silex editor...

[2017-02-08 08:46] singchan commented on #548
you should embed the font you use (Arial by default in Silex)
see these instructions to embed a font: #46

[2017-02-08 10:50] singchan commented on #282
hello
you have probably open the "index.html" file ? This is the published version, you should open "editable.html"

[2017-02-08 11:17] fernandammoutinhobarros commented on #548
Hi, thanks for the help.

So this is how it should be.

[image: Imagem intercalada 3]

And this is how it shows on another computer with same browser (chrome in
win 7)

It looks like its enlarging the font, or shrinking the page with...
[image: Imagem intercalada 2]

Melhores cumprimentos,

          *Fernanda Moutinho Barros*

*_______________________________________________________________*

[2017-02-11 00:36] lexoyo commented on #548
please share the website so that we ban understand better

[2017-02-11 19:37] felixgouin commented on #477
it's an really nice idea ! 👍 💯

[2017-02-14 11:10] fernandammoutinhobarros commented on #548
Hi Alex, thank you very much for the help.

The website is www.rar2018.net

I just know a the baics of html coding.

I followed the instructions that singchan recomended, to embed fonts
"see these instructions to embed a font: [#46](https://github.com/silexlabs/Silex/issues/46)"

I think I did it wright.

I've placed on css editor the fonts i chose on googlefonts
 @import url('https://fonts.google

[2017-02-14 13:13] K3Productions opened #549 "Make HTML box Scrollable"
I'm making a 3 Month HTML-Based Calendar, and I want to make it scrollable. But HTML, CSS and jQuery do not work in helping me to make it scrollable.

I'm using this HTML:
[Calendar2017.txt](https://github.com/silexlabs/Silex/files/774138/Calendar2017.txt)
 and I'm unable to make it vertically scrollable. Any help would be much appreciated

[2017-02-14 17:08] singchan commented on #549
I could do it like this:

* add html box on the stage and put your code in it
* add the css class "cal" on it
* add this css code in the css editor:
[code]

Then you can resize the calendars and there is a scroll bar like this
![screenshot from 2017-02-14 18-05-14](https://cloud.githubusercontent.com/assets/6483546/22939921/89dcb5e6-f2e0-11e6-953e-d2183b83d0a3.png)

[2017-02-14 18:02] soundservice commented on #544
Hi Alex:
any progress on the blank mobile body space?

[2017-02-15 08:44] lexoyo commented on #544
Hi Alan
I fixed it on my fork of Silex
Next step is to deploy it on preprod.silex.me and then test the new version and then deploy it on editor.silex.me

[2017-02-15 09:18] singchan commented on #544
you can take this script and replace your version of js/front-end.js
https://raw.githubusercontent.com/lexoyo/Silex/b99348dfeb6594067cee427aee4c0ea5790bb032/static/2.7/front-end.js

[2017-02-15 14:37] soundservice commented on #544
Thank you singchan, that worked!

[2017-02-16 00:57] soundservice opened #551 "mobile view on iPad?"
My full site loads correctly on an iPad2 and iPad Air 2 as long as it's horizontal.  Turn the iPad to vertical, and it's fine.  When you refresh the browser however, the mobile site loads.  Turn horizontally again, stays mobile, as expected.
It seems to me the 480 px breakpoint falls below the iPad's 768 px vertical size, correct?
my site is here: [http://soundservice.us] when you get a chance.
Th

[2017-02-16 08:21] singchan commented on #551
This is a strange behaviour, mobile version is triggered by media queries
so it should switch when you turn the ipad...

Is it really an issue yoy think ?

[2017-02-16 20:38] soundservice commented on #551
is for me...  it appears to happen on other sites as well.  Site width is 1024px, I'd think it would load the full site on a vertically oriented iPad.

[2017-02-17 14:09] K3Productions commented on #549
@singchan I've tried this and it makes no difference.

[2017-02-17 14:15] K3Productions commented on #549
@singchan would it be possible for you to access the html file and make the change? As it appears I might be doing it wrong-

[2017-02-18 16:11] lexoyo opened #552 "Parallax widget"
[Parallax scrolling](https://en.wikipedia.org/wiki/Parallax_scrolling) and parallax hovering effects look great on a website. With this widget you will add this type of animations to your Silex website.

![parallax](https://cloud.githubusercontent.com/assets/715377/23094454/714516a6-f5f9-11e6-945d-a01670acf465.gif)

## setup

Paste this code into the **JS editor** (see here the [help section about

[2017-02-18 16:25] lexoyo commented on #94
this is obsolete, there is a widget for parallax in silex now

[2017-02-18 16:25] #94 closed

[2017-02-18 16:52] lexoyo commented on #551
what do you mean? other silex sites or normal websites?

you are right, it should load the desktop version for resolutions higher than 480px (this value is hardcoded [here](https://github.com/silexlabs/Silex/blob/develop/static/2.7/front-end.css#L115) and [here](https://github.com/silexlabs/Silex/blob/develop/src/js/model/property.js#L76) and also [in this file](https://github.com/silexlabs/Silex/

[2017-02-18 22:25] lexoyo commented on #548
Hi @fernandammoutinhobarros
Sorry about the delay, it looks like we forgot about your issue
Your site looks really good! I have tested with the latest firefox and chrome
You can use [Browserstack](https://www.browserstack.com/) to test on many real browsers for free
Things I see you could make better
* the domain name is an "iframe" redirect, this is not good for search engines
* you may want to a

[2017-02-18 22:28] lexoyo opened #553 "Silex new version: test the latest features before they are released"
There will be a new version of Silex soon and It is a big step forward for UX. <a href="https://github.com/silexlabs/Silex/issues/187">Help me test the new publication mechanism ! Help me make it easy to use</a>.

[2017-02-19 15:25] singchan commented on #549
sure, you can share it on dropbox with bill321 at im-paris.fr

[2017-02-19 15:27] K3Productions commented on #549
Will do. It should show up in a few minutes

On 19 Feb 2017 15:25, "singchan" <notifications@github.com> wrote:

[2017-02-20 15:24] singchan commented on #549
did not receive it yet, normal?

[2017-02-20 15:26] K3Productions commented on #549
I'll send it again.

On 20 Feb 2017 15:24, "singchan" <notifications@github.com> wrote:

[2017-02-20 16:23] fernandammoutinhobarros commented on #548
Hi @lexoyo,

Thank you again for your help.

_- the domain name is an "iframe" redirect, this is not good for search engines_
I now, but I can't change that :(

_- you may want to add an "alt" attribute for images for search engines too_
great thanks for the tip

_- your favicon is not working_
the adress was wrong :P

When I open it on a mobile phone the background shrinks, is there a workaround?

[2017-02-21 11:03] lexoyo commented on #548
i do not see that, what is your os / browser?
here is what i see on http://consulpav.com/rar2018/

![screenshot from 2017-02-21 11-50-45](https://cloud.githubusercontent.com/assets/715377/23161879/1e34c81e-f82c-11e6-87fc-1a48dba9e090.png)

[2017-02-21 11:19] fernandammoutinhobarros commented on #548
Hi @lexoyo,

Samsung galaxy note - The image I sent was from the simulator you sent me.
But on my Samsung S7 the same happens...

I've tested others on browserstack

iphone 5
![bs_ios_mobile_iphone 5-6 0](https://cloud.githubusercontent.com/assets/25388113/23162734/61210b1a-f827-11e6-98a5-8df014e26cca.jpg)

Nokia Lumia
![bs_winphone_mobile_nokia lumia 930-8 1-1080x1920](https://cloud.githubusercon

[2017-02-21 11:20] fernandammoutinhobarros commented on #548
On windows is where it works best.

[2017-02-24 12:10] lexoyo commented on #548
oh ok... so the buggy behavior is mainly on iOS ?

[2017-02-24 14:04] fernandammoutinhobarros commented on #548
And on android

[2017-02-24 14:56] lexoyo commented on #548
ok i think that these are different bugs
in [this stackoverflow thread here](http://stackoverflow.com/questions/14876035/background-size-cover-not-working-in-portrait-on-android-tablet) they say there is a bug of android browsers, so I did as they say and added this code to the CSS editor
[code]
it fixes the background on android
can you confirm?

[2017-02-25 22:31] codegirlchicago opened #555 "Unable to save text or"
Hi, new user here. When I try to save my

[2017-02-25 22:31] codegirlchicago opened #556 "Unable to save text or"
Hi, new user here. When I try to save my text as a website, I get an error message. How can I save my HTML and CSS in the editors?

[2017-02-25 22:37] lexoyo commented on #556
Hi i do not see what you mean?
You type html in an html box? In the head?
To save a website you can do ctrl+s and type the file name in the input text at the bottom then click save

[2017-02-26 09:44] Feizal88 opened #557 "create dropdown menu"
Hi there, I can't create a menu dropbox because there is no view and tool menu appear in the silex editor. Hence cannot  enable the apollo mode which is needed to make the dropbox functional.

Could u please guide me how to get the apollo mode in my screen.

[2017-02-26 18:54] #555 closed

[2017-02-26 18:54] lexoyo commented on #555
Duplicate of #556

[2017-02-26 19:06] lexoyo commented on #557
Hello
Some pages in the documentation have not been updated. There is no menu anymore and no apollo mode either
Please tell me what you want to do and i can guide you step by step
Then if you want you can update the documentation

[2017-02-26 22:26] codegirlchicago commented on #556
When I click save, I still get an error saying the text can't be saved when I type HTML in a text box.

[2017-02-26 22:49] codegirlchicago commented on #556
I think I'm able to save my files in Dropbox. Thanks anyway!

[2017-02-26 22:49] #556 closed

[2017-02-28 12:27] K3Productions commented on #549
@singchan I've found out there's a glitch with dropbox. I'll try send it again, from a separate interface.

[2017-02-28 12:45] singchan commented on #549
@K3Productions I got the shared folder but there is no HTML page in it?

[2017-02-28 12:46] K3Productions commented on #549
@singchan check the sub-folder 'fictional-studio'

[2017-02-28 12:52] K3Productions opened #558 "Inserting Video (from Dropbox) onto Website in Silex Editor"
I've noticed there is no possible way (to my less experienced mind) in the UI Menu to insert any sort of video format. Is there a way I can insert an .mp4 or .flv file onto my site that will still work (audio too) after publishing?

[2017-02-28 13:01] singchan commented on #549
i have added an html file in your folder
here is what i did:
![scrollable-calendar-issue-549](https://cloud.githubusercontent.com/assets/6483546/23406264/5def7412-fdbe-11e6-88c0-512f6a0fd37e.gif)

[2017-02-28 13:06] K3Productions commented on #549
Okay. I understand now, Turns out I was making a small error each time I did it. Many Thanks.

[2017-02-28 13:06] #549 closed

[2017-02-28 13:34] singchan commented on #558
for this you can use the HTML box and paste the code you like into it
you can use a [video HTML tag](https://developer.mozilla.org/en/docs/Web/HTML/Element/video) (be careful with browser compatibility) or audio tag or a service like soundcloud or youtube which propose an "embed" for each sound or video

[2017-02-28 19:18] lexoyo commented on #544
Hello
I am about to [merge this PR](https://github.com/silexlabs/Silex/pull/554) and deploy it to editor.silex.me
It should fix this issue and several minor bugs, could you test before I proceed please? It is now on preprod.silex.me
For example you can use it to edit a template, move things around and publish... Thank you in advance

[2017-02-28 20:31] soundservice commented on #551
Alex I noticed Wordpress sets two media queries at 600 and 768 to account for iPads

[2017-02-28 21:34] lexoyo commented on #551
Interesting! Good idea to look at it this way...
I can not find it though, where did you see the rule? I need the whole media query to test it on a silex site

[2017-02-28 22:14] soundservice commented on #551
My apologies Alex, it wan't Wordpress, but here: [https://www.w3schools.com/css/css_rwd_mediaqueries.asp](url) midway down the page

[2017-03-01 10:05] Hows commented on #489
I am trying to edit the Galaxee template for my website.

How can I
(i) delete some of the horizontal stripes, and
(ii) resize the height of other horizontal stripes,
so that the height of the entire web page adjusts accordingly?

And how can I
(iii) edit the text in the menu strip without losing the internal links to horizontal strips further down the page?

I have experimented for hours, draggin

[2017-03-01 10:25] JbIPS opened #559 "Internal link should let you choose to go on page top"
When I'm linking an element to an other page, the window doesn't scroll. Since my link is at the bottom of the page, the user find itself at the bottom of the other page.

In the Link section, we could have a checkbox `Scroll to top` to indicate the link should change page and scroll to top.

[2017-03-01 11:53] K3Productions commented on #558
@singchan I've tried that already, but it does not seem that I can get it to recognise the Videofile within the dropbox folder without linking it using a URL, but I need the whole site to be able to perform in an offline environment, which means I cannot use URL's or any internet-reliant parts.

[2017-03-01 11:56] K3Productions commented on #558
Scratch that, I managed to force it to search and select automatically.

Thank You for the Assistance

[2017-03-01 11:56] #558 closed

[2017-03-01 12:48] singchan commented on #489
hi @Hows

This template was made before the "section" feature in silex, this would have been easier with sections. So to do this you would have to select the srtipe and press suppr key, then select the elements and move them (multiple selection = shift+click).

But recently we added the "section" feature in Silex (see the ["section" doc here](https://github.com/silexlabs/Silex/wiki/Silex-Elements)

[2017-03-01 12:55] singchan commented on #494
Can I close this issue?

[2017-03-01 13:42] singchan commented on #557
Can I close this issue? @Feizal88

[2017-03-01 15:39] handy1912 commented on #494
Yes if you are asking me. I was neverable to get it to do what it was supposed to. I gave up and am using Zoho.

Sent using Zoho Mail

---- On Wed, 01 Mar 2017 19:55:02 +0700 singchan &lt;notifications@github.com&gt; wrote ----

Can I close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-01 15:48] #494 closed

[2017-03-01 16:47] llorenzini opened #560 "silex restore: move site and restore"
have a site created with silex under a old domain. Now download it by ftp and i must mirroring it in new domain and restore it
can you help me please?

[2017-03-02 01:30] Feizal88 commented on #557
Below is the HTML coding, how to make this coding work with HTML Box properly. Currently, its half way function which upon click the Tutorial button, the multilevel dropdown does not work or not display at all.

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.

[2017-03-02 01:30] Feizal88 commented on #557
Below is the HTML coding, how to make this coding work with HTML Box
properly. Currently, its half way function which upon click the Tutorial
button, the multilevel dropdown does not work or not display at all.

            <meta name="viewport" content="width=device-width,
initial-scale=1">
            <link rel="stylesheet" href="
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min

[2017-03-02 10:25] Hows commented on #489
Thanks so much, @singchan. I have re-downloaded the template and it's much easier to edit now.

[2017-03-02 12:48] lexoyo commented on #277
for your information, I am still working on this
I will do what @budislav said with style/settings tabs

But I feel like the form components are not really useful nor easy to manipulate... so I started with these components
* hero section
* dynamic lists
* animated containers
* slideshow

Note that the dynamic lists make it possible to display content from these CMS which are back ends with no fro

[2017-03-02 15:09] singchan commented on #557
You need to remove the `<meta` tag and the
otherwise it should work as is jquery script which is already in silex sites (`<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>`)

then add this at the end of you html in order to make the html box high enough to show the menu
[code]

[2017-03-02 15:18] singchan commented on #557
tell me if need js code to open a page when the user clicks on an item

[2017-03-03 01:47] Feizal88 commented on #557
And why now there is dropdown list appear. The problem is still there.

I think some coding should put at HTML Box and some at CSS Editor. Could u
please assists this.

On Thu, Mar 2, 2017 at 11:09 PM, singchan <notifications@github.com> wrote:

--

Feizal Mazlan

Retrenchment Program - Register for Training (Reskilling / Upskilling)
Courses at this link below
*Form Link Address*
http://www.emailm

[2017-03-03 05:04] felixtkn commented on #535
Hi Lexoyo,
First of all, appreciated your very nice animated template.
I'm working on this template since some time but since yesterday, I start to have problem of scrolling "from-left", "from-right" etc on mobile view after publishing using Silex Editor. The scrolling animation stopped working leaving empty areas on the page. It is happening same to the original Smart-Simple template, working fin

[2017-03-03 08:48] devoldski commented on #508
Here you have my take on the Silex logo.

Simple yet usable in many ways.

Hope you like it.

![screen shot 2017-03-03 at 09 46 31](https://cloud.githubusercontent.com/assets/4987092/23544233/6ed45a74-fff6-11e6-946b-be53438c28d3.png)

[2017-03-03 08:54] devoldski commented on #482
Just tried the current FTP exlplorer in editor.silex.me and I still have trouble using the FTP client in a shared env.

I suggest that you add an option to add path for root directory/working directory, that would make it much easier to use.

Either a separate field for the  path or be able to use path in server settings eg. ftp://ftp.host.tld/path/to/working/dir/

[2017-03-03 09:00] lexoyo commented on #482
Hello!
We plan to integrate the new version of cloud explorer in Silex soon. This will solve this issue since it "rememberd" the folders and paths

[2017-03-03 09:15] devoldski commented on #482
Ok cool, will it also be possible to add path when creating the connection?

[2017-03-03 09:17] lexoyo commented on #482
I don't think cloud explorer has this feature

[2017-03-03 10:17] singchan commented on #535
it works fine on my phone
* what is your phone and browser?
* can you provide your site url?

[2017-03-03 12:58] singchan commented on #560
hello
so you have 2 hosting (2 ftp accounts), and 1 domain name, and you want to move from 1 ftp to the other and then switch the domain name to point to the 2nd ftp?

[2017-03-03 13:02] singchan commented on #557
i do not understand, can you provide more info or a screenshot? what is the problem?

you can put everything in the HTML box in your case

[2017-03-03 13:10] llorenzini commented on #560
hi,  i ve a site created with silex under a domain.  i download it from ftp and save on my pc.  now i must upload it under new domain under new provider. on new domain i have active silex platform bit i dont know how can uploas this site thanks

Inviato dal mio telefono MiIl giorno singchan <notifications@github.com>, 03 mar 2017 1:58 PM ha scritto:hello
so you have 2 hosting (2 ftp accounts), and

[2017-03-03 13:31] singchan commented on #560
You can upload it with ftp on the 2nd ftp?
What providers do you use?

[2017-03-03 13:54] llorenzini commented on #560
Now i use a private provider.
than I woud like talke aruba that a silx application on their server….i can upload with ftp.

But I can’t install old site

Da: singchan [mailto:notifications@github.com]
Inviato: venerdì 3 marzo 2017 14:31
A: silexlabs/Silex
Cc: llorenzini; Author
Oggetto: Re: [silexlabs/Silex] silex restore: move site and restore (#560)

You can upload it with ftp on the 2nd ftp?
Wh

[2017-03-03 14:36] singchan commented on #560
there is nothing to install really, just upload with ftp and change your dns to point to the new hosting/ftp

[2017-03-03 14:36] singchan commented on #560
you know how to do that right?

[2017-03-03 14:40] llorenzini commented on #560
No….. L

Can you help me please?

Da: singchan [mailto:notifications@github.com]
Inviato: venerdì 3 marzo 2017 15:37
A: silexlabs/Silex
Cc: llorenzini; Author
Oggetto: Re: [silexlabs/Silex] silex restore: move site and restore (#560)

you know how to do that right?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https://github.com/silexla

[2017-03-03 14:45] singchan commented on #560
can you tell me
* name of FTP hosting company 1 and 2
* name of domain name provider

[2017-03-03 14:53] llorenzini commented on #560
<http://www.falmasrl.it> www.falmasrl.it  old domain

 <http://www.lucalorenzini.net/silex/> www.lucalorenzini.net/silex/ new domain

Da: singchan [mailto:notifications@github.com]
Inviato: venerdì 3 marzo 2017 15:46
A: silexlabs/Silex
Cc: llorenzini; Author
Oggetto: Re: [silexlabs/Silex] silex restore: move site and restore (#560)

can you tell me

*	name of FTP hosting company 1 and 2
*	name of

[2017-03-03 14:59] singchan commented on #560
i'm sorry i don't understand what you want to do

[2017-03-03 15:02] llorenzini commented on #560
I wont install site under flamsrl.it into lucalorenzini.net/silex

Now in silex there is an example site…bau I don’t know to upload my old site

Da: singchan [mailto:notifications@github.com]
Inviato: venerdì 3 marzo 2017 16:00
A: silexlabs/Silex
Cc: llorenzini; Author
Oggetto: Re: [silexlabs/Silex] silex restore: move site and restore (#560)

i'm sorry i don't understand what you want to do

—
Yo

[2017-03-03 15:05] singchan commented on #560
you just have to move your file from the 1st ftp to the 2nd
there is nothing to install
silex v2 is just HTML, no database

[2017-03-03 15:09] llorenzini commented on #560
I ve do this but don’t work….

Da: singchan [mailto:notifications@github.com]
Inviato: venerdì 3 marzo 2017 16:06
A: silexlabs/Silex
Cc: llorenzini; Author
Oggetto: Re: [silexlabs/Silex] silex restore: move site and restore (#560)

you just have to move your file from the 1st ftp to the 2nd
there is nothing to install
silex v2 is just HTML, no database

—
You are receiving this because you authore

[2017-03-03 15:11] singchan commented on #560
If you want you can send me your connection data of the new FTP

[2017-03-03 15:11] singchan commented on #560
on billy321 at im-paris.fr

[2017-03-03 15:15] llorenzini commented on #560
??

Da: singchan [mailto:notifications@github.com]
Inviato: venerdì 3 marzo 2017 16:12
A: silexlabs/Silex
Cc: llorenzini; Author
Oggetto: Re: [silexlabs/Silex] silex restore: move site and restore (#560)

on billy321 at im-paris.fr

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https://github.com/silexlabs/Silex/issues/560#issuecomment-2

[2017-03-03 15:25] singchan commented on #560
login, password, host

[2017-03-03 18:16] detectedstealth opened #561 "Local installation macOS npm install fail"
Following the instructions npm install keeps failing on: Failed at the prodotype@1.0.0 postinstall script 'npm run build:editor'.. And when I clone Prodotype separately and npm install on it there is no issues.

Am I missing something in the setup instructions?

[code]
[npm-debug.txt](https://github.com/silexlabs/Silex/files/817550/npm-debug.txt)

[2017-03-03 21:53] lexoyo commented on #561
Hi @detectedstealth
I will investigate this soon
Meanwhile you can use your separate successful clone of Prodotype:
[code]
you may need `sudo` for one of the commands
Thank you for the bug report

[2017-03-04 02:17] detectedstealth commented on #561
Thanks that work around enables me to get up, running and start diving into the code for now.

[2017-03-04 04:45] Feizal88 commented on #557
[image: Inline image 1]

Once click tutorial, the multi dropdown still does not work.

Below is the coding that put inside the HTML Box.

            <link rel="stylesheet" href="
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="
https://maxcdn.boots

[2017-03-04 14:25] singchan commented on #557
1- the image is not visible on github
2- in the code you still have jquery included, remove the tag `<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>`

[2017-03-04 14:26] singchan commented on #557
3- you did not add the `<br>` as I advised

[2017-03-04 17:00] soundservice commented on #551
Alex I played around with front-end.js some more and changed the breakpoint:   if(winWidth <960)  to 768
My site now loads the full site in portrait on an iPad.  Still working on the viewport, but at least it displays!
// bellow 960, the window width will be seen as 480
 if(bodyEl.hasClass('silex-runtime')) {
 var winWidth = win.width();
 if(winWidth < 768)

Alan Phillips
Sound Service
828-713-723

[2017-03-04 19:43] lexoyo commented on #551
so it looks better on ipad and also good on other devices?

[2017-03-04 19:45] daofficiel opened #562 "My Silex website"
Here is a link to a website I did with Silex: `https://dieudomtechnelectronics.blogspot.com`

[2017-03-04 19:50] lexoyo commented on #562
well it is a blog made with blogger... wrong link or spam?

[2017-03-04 21:16] soundservice commented on #551
don't have other devices to test it on, only iPads and iPhones.  I chose 768 for winWidth for the iPad because that is the lowest portrait resolution.  Below that mobile is fine...
Am having a viewport issue however, initially it loads the full 1024px wide site, but goes outside of portrait.  Pinch the page and it zooms out to full screen.

[2017-03-05 01:37] daofficiel commented on #562
je souhaite avoir un nom de domaine propre svp

[2017-03-05 09:58] MarcelloCavallo opened #563 "My Silex website"
Here is a link to a website I did with Silex: www.istitutoaden.eu  www.dott-ing-arch-giuseppegrassi.it

[2017-03-05 19:08] lexoyo commented on #562
ce site n est pas fait avec silex, je ferme l issue

[2017-03-05 19:08] #562 closed

[2017-03-06 14:02] lexoyo commented on #561
Found it!
The problem was that I was concatenating ejs lib with Prodotype lib, and since ejs was already in Silex, the file `node_modules/prodotype/node_modules/ejs/ejs.min.js` was in fact in `node_modules/ejs/ejs.min.js`
[Fixed by this commit in Prodotype](https://github.com/lexoyo/Prodotype/commit/c360ed3cbee3f92c1b63d02fe13bf35292d5e9ba). You can `npm install` again and it should work.
Thank yo

[2017-03-06 14:02] #561 closed

[2017-03-08 20:06] soundservice commented on #544
Alex the preproduction versions are running great with the body space issue, even in the editor!

[2017-03-08 23:30] AlbyKenzie opened #565 "www.kenziecraft.id"
website I did with Silex:

[2017-03-09 05:17] felixtkn commented on #535
Dear @singchan , thanks for your reply!
My site url is http://pica.890m.com/mypicturecard and I'm using Iphone7.
Beside the recent scrolling animation "from-left", "from-left" and empty areas problem on both IOS and Android phone, I'm also having youtube iframe problem on my iphone where the entire page scrolling always get stuck at iframe.
Both scrolling animation and youtube iframe problem do no

[2017-03-09 10:03] singchan commented on #565
this website is not made with silex :beach_umbrella:

[2017-03-09 10:03] #565 closed

[2017-03-10 09:11] singchan commented on #560
you told me that you found a way to do it
have a nice day

[2017-03-10 09:11] #560 closed

[2017-03-11 13:58] soundservice opened #566 "imagesak - anybody else getting these?"
I noticed an odd spawning of this line:
<script type="text/javascript" src="http://imagesak.secureserver.net/gomezxfmonitor/gtagb4.js"></script>
seemingly every time I save in editor.  I have deleted the associated references to these in the editor index, however they return and carry on to the published site.  Currently I'm using html batch editor to clean it up.
Please see attached jpg screensho

[2017-03-12 15:13] lexoyo commented on #566
Hello
It must be a script inserted by the code you put in an HTML box. Do you have HTML boxes in your site?
Also silex should prevent scripts execution in HTML boxes, I am aware of the feature / bug

[2017-03-13 15:49] singchan commented on #544
thx @soundservice for the feedback

[2017-03-13 15:49] #544 closed

[2017-03-13 15:50] singchan commented on #557
should I close this issue? did you manage to do what you wanted?

[2017-03-13 15:50] #557 closed

[2017-03-13 20:09] lexoyo opened #567 "new UI for selection"
I changed the UI a bit. Try to drag / drop elements and tell me how it feels?
http://preprod.silex.me/

[2017-03-13 20:22] lexoyo commented on #567
Here is the changed code
https://github.com/silexlabs/Silex/commit/cb0575d8f518fe573a4bb13d74599e041e560422

[2017-03-14 00:47] Feizal88 commented on #557
ok. Closed

On Mon, Mar 13, 2017 at 11:50 PM, singchan <notifications@github.com> wrote:

--

Feizal Mazlan

Retrenchment Program - Register for Training (Reskilling / Upskilling)
Courses at this link below
*Form Link Address*
http://www.emailmeform.com/builder/form/bEKddO0NbrB

*ONLINE Commissioning Training*
*http://www.commissioningcoach.com/online-commissioning-training-nm-10percent-off/
<http

[2017-03-15 07:35] lexoyo commented on #322
@Stuff31 que penses tu du nouveau systeme de "section", ca réponond à ton besoin?

[2017-03-15 07:35] #322 closed

[2017-03-15 07:40] lexoyo commented on #468
This feature is live

[2017-03-15 07:40] #468 closed

[2017-03-15 10:06] felixtkn commented on #535
Dear @singchan,

I'm working on Iphone7Plus and Samsung Note3 together with chrome.
I tried to compare every files and found something changed in front-end.js...
May I understand more on the min-width:'' and min-height:'' for mobile view?

![photo 15-03-2017 16 05 36](https://cloud.githubusercontent.com/assets/20818894/23942292/bc2d7dbe-09a6-11e7-8496-0a4170eceda3.png)

I tried to inspect it using

[2017-03-15 10:31] singchan commented on #535
hi
to sum it up you have 3 problems, all on mobile right?
* it looks messed up
* page never load at the top of the page when we open second page
* strange scroll behavior

let's start with the 1st one, can you share your website with me on dropbox (billy321 at im-paris.fr) or github?

[2017-03-15 23:48] felixtkn commented on #535
Dear @singchan, thanks in advance for your prompt reply.
The development site url is http://pica.890m.com/mypicturecard
Anyway, the problem happens the same to the original smart-simple template provided in the download link above.
Merci.

[2017-03-16 04:53] masternetra opened #568 "Offline version?"
I was wondering if there is or will be an offline version of this editor, not all of us can be connected to the net all the time?

[2017-03-16 13:41] singchan commented on #568
+1
I understood that @JbIPS and @detectedstealth had the intention of giving it a try

[2017-03-16 13:57] singchan commented on #535
Hi @felixtkn

I got your files but only published files, not the "editable" version. Anyway if you say it is the same with the original template, I can not reproduce...

Here is what I see on my desktop and it is the same on my phone:
![mobile-version](https://cloud.githubusercontent.com/assets/6483546/23999416/a0884230-0a58-11e7-88f1-01355768fe76.gif)

Is it also what you see and what is the prob

[2017-03-16 19:53] lexoyo commented on #535
Hello
I can reproduce the "strange scroll behavior"

[2017-03-16 21:30] lexoyo commented on #535
ok, I found several bugs caused by the animation library (reveal)
the bugs are only on real devices and I think that it was not the case in old versions of this template...
can you confirm that these bugs are fixed please?

*    it looks messed up
*    strange scroll behavior

this is what I have changed (so you can do the same in your version of the template):

In the Javascript editor (or alt+j)

[2017-03-17 08:26] felixtkn commented on #535
Dear @singchan,

Many thanks for your reply.
The blank spaces in the screenshot is actually the problem, some words and photos are missing from the page.
Could you try to switch desktop view and mobile view? The desktop view should be ok.
Anyway, I uploaded another url for your reference:
1. http://pica.890m.com/mypicturecard (problem)
2. http://pica.890m.com/mypicturecard2 (no problem)
Hope this

[2017-03-17 10:06] felixtkn commented on #535
Dear @lexoyo,

Thanks for your concern! Ya, a few bugs here especially after the update of front-end.js.

Few Problems:
1. "Reveal" Animation not working and blank spaces - only this template - only on IOS and Android - Fixed if revert back to old front-end.js

2. Page stuck at Youtube Iframe while scrolling down - every template - only on IOS - Fixed if revert back to old front-end.js or make the

[2017-03-17 10:38] singchan commented on #535
Thx Felix for this useful bug report. I think that some of them are features we did not think about and that are needed. We must definitely work on this so that Silex sites look great!

It will be fixed also if you change the code as @lexoyo suggested (disables ScrollReveal on mobile)

seems also fixed by @lexoyo 's fix
please confirm

if I understand well, this one is a duplicate of this feature

[2017-03-17 15:44] felixtkn commented on #535
Dear @singchan,

I'm always looking forward that Silex sites keep on looking greater !

1. "Reveal" Animation not working and blank spaces

Yes, after disabling ScrollReveal, no more blank space problem. The only concern is the scrolling up and down of the page become very slow on IOS and Android. It's not as smooth as other template.

2. Page stuck at Youtube Iframe while scrolling down

No, it's

[2017-03-17 16:17] singchan commented on #535
ok interesting answers thx
the difference between the 2 versions of front-end.js are:
[code]
being replaced by
[code]

[2017-03-17 16:21] TheVince commented on #458
I just purchased this template and there is no editable.html file could you provide the file for me please?

[2017-03-17 16:32] felixtkn commented on #535
Dear @singchan ,

Yes, that's the difference.
As per my previous question, may I understand what will be the interest if we hardcode min-width and min-height to '' since the previous min-width=width+px and min-height=height+px already working fine in mobile view?

Merci Bcp!

[2017-03-17 16:34] singchan commented on #535
I believe forcing the min-width/height in mobile is useless because everything is in the flow (position:relative) whereas it is needed in desktop because the elements are absolute positioned

I'll try to understand

[2017-03-17 17:08] ceubri commented on #458
Hello,
can you give me your email ?

[2017-03-17 17:20] TheVince commented on #458
vicante23@gmail.com

[2017-03-17 17:21] ceubri commented on #458
ok

[2017-03-17 17:55] singchan commented on #535
This I can not reproduce, could you try and tell me if it is the case with this site?
https://singchan.github.io/silex-tests/mobile-debug.html

[2017-03-17 18:03] singchan commented on #559
While the feature is still to develop, you can use this code to make the page scroll to top when the user changes page
[code]

I think that this should be the default for all links

[2017-03-17 18:04] singchan commented on #535
please see a solution here: #559

[2017-03-17 22:14] lexoyo commented on #567
I am pushing this to production

[2017-03-17 22:14] #567 closed

[2017-03-17 22:14] lexoyo commented on #567
(hope you'll like it)

[2017-03-18 17:34] thomasak22 commented on #546
Great, thanks for the help!

[2017-03-19 20:04] lexoyo commented on #51
FYI I use these share buttons, they are better (no js)
https://simplesharingbuttons.com/

[2017-03-20 02:00] felixtkn commented on #535
It's ok @singchan , I just revert back to the old version of front-end.js which can solve most of the problem. Please advise later on if there is real interest of using new version of front-end.js.

Merci Bcp!

[2017-03-20 17:33] JbIPS commented on #568
Yes, I pushed some work in progress on the [GitLab](https://framagit.org/JbIPS/Silex/tree/electron) to make Silex into an Electron app. For now, I didn't handle the file operations (save, load,...) but it's only a start 😄 .

Any help is welcome!

[2017-03-20 17:33] arsantos25 opened #569 "My Silex website"
Here is a link to a website I did with Silex:

[2017-03-20 17:38] singchan commented on #569
hi
the link is missing :)

[2017-03-20 18:13] detectedstealth commented on #568
Yeah I am about to start working on something using electron as well so @JbIPS I'll take a look at what you are doing.

[2017-03-20 18:15] JbIPS commented on #568
Thank you, that's my first electron app so any feedback will be very appreciated!

[2017-03-20 21:52] lexoyo opened #570 "Publish should warn the user"
When the user publishes a website, it should check the common mistakes
* seo (there is a title, description, alt for images, ...)
* images max size (too big/heavy, smaller than it is displayed, non-proportional resize)
* w3c compat (image alt, multiple h1, ... see w3c compat of [these websites](https://github.com/silexlabs/Silex/labels/showcase))

[2017-03-20 23:19] lexoyo opened #571 "Map Widget: a live map in your website"
## About this widget

Follow the instructions to add a live map into your website. It will look like this, but your users will be able to move the map, zoom in and out in order to locate where you are exactly.

![map widget for silex](https://cloud.githubusercontent.com/assets/715377/24125068/f8d69056-0dc6-11e7-8dc3-4dccc6663880.png)

You can customize the map with many options. It is based on ope

[2017-03-21 10:34] JbIPS opened #572 "Hash in URL prevent switching pages"
Hi,

I don't know exactly why, but sometimes when editing my website, the URL becomes `editor.silex.me/#!page-home` and when it does, I cannot switch between pages anymore.

I'll give you more info if I manage to reproduce conscientiously.

[2017-03-21 13:51] singchan commented on #572
aouch indeed, thx for this bug report!

[2017-03-21 23:45] soundservice commented on #566
Finally got rid of the source in the backend.  Not sure what caused it other than a possible icon I had gotten off the internet.
Thanks!

[2017-03-21 23:45] #566 closed

[2017-03-22 09:14] JbIPS opened #573 "Hex color in CSS crash editor"
I tried adding a `background-color: #D3B04E` in the css box at the bottom of the element menu and saved. On the next loading, the website doesn't appear and Silex seems stuck in a loading loop.

In the browser console, I got `Error #D3B04E is not a valid color string`

[2017-03-22 23:18] #572 closed

[2017-03-22 23:19] lexoyo commented on #572
It is fixed on preprod

[2017-03-23 05:25] codveda opened #574 "Local Install failed with Prodotype - Windows"
Hi Local install on windows failed with below error. Can you please check and help me out.

'bin' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! prodotype@1.0.0 build:editor: `browserify src/Prodotype.js -o pub/prodotype.js -t [ babelify ] && bin/appendejslib`
npm ERR! Exit status 1

[2017-03-23 07:51] JbIPS commented on #574
Hello,

It looks like you're not executing the command from the right place. In which directory are you and what exactly are you running?

Thanks

[2017-03-24 05:40] codveda commented on #574
Hi,

Ignore the above path, I have tried from Silex root folder and getting below error.

$ npm install

'bin' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! prodotype@1.0.0 build:editor: `browserify src/Prodotype.js -o pub/prodotype.js -t [ babelify ] && bin/appendejslib`
npm ERR! Exit status 1
npm ERR!
npm

[2017-03-24 08:15] lexoyo commented on #574
Hi
Can you try to edit this file
node_modules\prodotype\package.json

And replace this
browserify src/Prodotype.js -o pub/prodotype.js -t [ babelify ] &&
bin/appendejslib

With this
browserify src/Prodotype.js -o pub/prodotype.js -t [ babelify ] && node
bin/appendejslib

I do not have Windows so I can not test it myself

On Mar 24, 2017 6:40 AM, "codveda" <notifications@github.com> wrote:

Hi,

Ig

[2017-03-24 09:41] codveda commented on #574
Hi  lexoyo,
After "npm install" command failed with error stated above, prodotype folder from npm_modules has been deleted. Couldn't able to follow the step you have given.

Regards

[2017-03-24 10:33] lexoyo commented on #574
Oh ok I see. You can still checkout this repo somewhere
https://github.com/silexlabs/Prodotype

Then make the change to package.json and use npm link to use it instead of the original prodotype.. Something like this:
[code]

[2017-03-24 10:39] singchan commented on #574
Or you can change Silex/package.json to use my fork of Prodotype
https://github.com/singchan/Prodotype

This means in Silex package.json, replace `silexlabs/Prodotype` by `singchan/Prodotype`
Then try again

[2017-03-24 10:40] codveda commented on #574
Hi lexoyo,

Some how I managed to fork Prodotype and made changes, now that issue resolved. However I am getting below error and trying to resolve, please see if you can find a way out to it.

The syntax of the command is incorrect.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! Silex@0.8.0 build:prodotype: `mkdir -p dist/client/libs/prodotype/components && cp node_modules/prodotype/pub/prodot

[2017-03-24 12:48] singchan commented on #574
try to do the same as before, add "node":
[code]

[2017-03-24 16:26] codveda commented on #574
Hi Singchan,

I shall try it out in a fresh installation. As of now I have excluded this step in build process and performed the step manually. Now the system is up and running.

Regards

[2017-03-25 19:56] lexoyo commented on #121
This is no longer needed
Please use sections now

[2017-03-26 19:22] #121 closed

[2017-03-26 19:25] lexoyo commented on #574
ok great
I have cleaned up package.json and hopefully it works on widows again. If someone can test, I'll be happy to help

[2017-03-26 19:25] #574 closed

[2017-03-27 19:11] lexoyo commented on #546
hi
would you agree to publish your website in Silex showcase section?
http://www.silex.me/#showcase
If you do, can you take a few minutes to [describe here what you used to make your website](https://github.com/silexlabs/Silex/issues/new?title=My%20Silex%20website&body=Here%20is%20a%20link%20to%20a%20website%20I%20did%20with%20Silex:&labels=showcase) (docs, templates, widgets...) or your general f

[2017-03-27 19:11] #546 closed

[2017-03-30 02:37] jimfellers commented on #508
![silex logo](https://cloud.githubusercontent.com/assets/26782558/24485128/da5ad544-14c7-11e7-8ddb-553b33355c46.jpg)
New to Github.  Thanks.

[2017-03-31 09:57] n0b0t opened #575 "Centering my website?"
I made a website but whenever I zoom in or out, everything is shifted to the right. Is there a way to make it to where it doesn't shift right at all and instead is centered?

1920x1080: https://i.imgur.com/O4dounw.jpg
Looks fine right?

Well if you zoom in, or on a different resolution: https://i.imgur.com/X8CYypb.jpg
The background remains centered, which is a bit strange.

[2017-03-31 10:01] JbIPS commented on #575
Hello! Are you using Sections? They're containers made to be always centered, independently of the size of the screen.

Without that, your _objects_ are placed based on the `X` and `Y` coordinates, which are based on the top left corner of your screen. So if you set X to 500px, it will always be 500px away from the left edge of your window, even if it's 600px wide 😉

[2017-03-31 10:08] n0b0t commented on #575
How do I add sections?

[2017-03-31 10:35] n0b0t commented on #575
When I add sections and I place the objects in the sections it still does it.

[2017-03-31 10:41] lexoyo commented on #575
Hi
Did you put your elements in the container in the center of the section?

[2017-03-31 10:45] lexoyo commented on #575
Here you can read about sections
https://github.com/silexlabs/Silex/wiki/Silex-Elements#sections

[2017-03-31 11:00] n0b0t commented on #575
I added it in the container in the section, but on a smaller resolution it's still zoomed in to the right. The only difference it made was that you are now able to scroll to center it yourself if you want to. It doesn't center everything no matter what resolution, even in a section.

[2017-03-31 13:25] singchan commented on #575
can you provide a screenshot please?

[2017-03-31 14:13] n0b0t commented on #575
http://i.imgur.com/gxLr1CK.gif Pretty sure it's not supposed to be doing this. Me adding a section and putting it in the section, etc, made it so when you zoom out it centers and you can scroll when it's too zoomed in, but it doesn't center when it's zoomed in, like it does when it's zoomed out. Any ideas?

[2017-03-31 14:23] singchan commented on #575
it looks normal to me...
you can enable the mobile version for your site
https://github.com/silexlabs/Silex/wiki/Silex-UI

[2017-03-31 14:27] singchan commented on #575
see the settings
https://github.com/silexlabs/Silex/wiki/settings

[2017-03-31 14:42] n0b0t commented on #575
Hmm it might all be in my head then. Mobile looks fine, even with the desktop version. I was just curious if even when zoomed in, if it could be forced-centered, but that would probably take some changes to the code. Dunno if you can do that in the editor itself.

[2017-03-31 21:15] j2l commented on #459
5€ pour ne pas s'actualiser tous les mois, hahahahahahahahahahahahahahahahahahaha !

[2017-04-02 03:09] Leznodc opened #576 "Local installation with npm simply don't work"
The process is far too complex : you have to fight with versions of various modules and tools, npm variations and bugs. I'll won't try gain anyway.

[2017-04-02 08:57] lexoyo commented on #576
hi
it looks pretty standard to me (clone, npm i, npm start)
please state which modules or tool are you talking about
i will reopen the issue when you give more details

[2017-04-03 11:12] KuramaSusano opened #577 "Won't Save."
It won't save and it says an error has occured.

[2017-04-03 11:23] singchan commented on #577
hi @KuramaSusano
can you give a screenshot of the error plz?
which service are you using? (dropbox, github...)

[2017-04-05 13:11] JbIPS opened #578 "Silex should check user is logged in before publishing"
I use Dropbox as a workspace and a FTP as a publish target. I frequently forgot to log in my FTP server (with CloudExplorer) before publishing.

Once the button hit, everything goes as usual (number of assets decreasing and so on) and at the end I get an error for not being logged. This verification should happen first.

[2017-04-05 22:32] thomasak22 commented on #546
Hi Alex,

Sure, I'd love to publish the website on the showcase section. I'll take some time over the weekend to describe the details of the website. I'm also working on an English version which should be available soon.

Thanks again.

Best,
Thomas

[2017-04-06 18:16] Leznodc commented on #576
I am pretty not able to do so ! Although I downloaded the ".zip" tarball of the project, installation script tries to connect to github for cloning I don't know what and that fails I don't know why. I am not going to debug all mysteries of proxies.

[2017-04-06 18:53] lexoyo commented on #576
hi @Leznodc

the ".zip" method will not work since it does not include the submodules

the easy way is to [use docker as instructed here](https://github.com/silexlabs/Silex#recommended-with-docker) **OR** the less easy way is to [use the command line as described here](https://github.com/silexlabs/Silex#local-installation-on-linux-or-macos-or-cloud9) (or [for windows instructions are here](https:/

[2017-04-08 09:48] dhrumilbshah opened #580 ""I can not open this website. It is a published version of a Silex website. ""
Hi..
I have made a Website on Silex & saved in my Drobox A/C.
Now I want to do some editing but it shows error. "I can not open this website. It is a published version of a Silex website."

Please help me out.
![silex_error](https://cloud.githubusercontent.com/assets/26059398/24827807/8a6c9a8c-1c6e-11e7-95fb-7d2f654fbbf6.png)

[2017-04-08 09:59] lexoyo commented on #580
Hi @dhrumilbshah

In Silex, there is 2 types of html files:
* the ones which are editable and a work in progress
* the published ones, which are created by Silex when you publish

The published ones are always called `index.html` and they can not be edited by Silex since they are optimized for the web and they do not contain all the necessary data to edit them

So the most likely is that you calle

[2017-04-08 13:50] lexoyo opened #581 "your opinion wanted"
Hi,

Do you think I should make the "inline styles" editor read only?

![screenshot from 2017-04-08 15-49-47](https://cloud.githubusercontent.com/assets/715377/24829491/085e0af8-1c73-11e7-9bac-f3ba12bd4b82.png)

[2017-04-08 15:59] TheVince commented on #581
No, it's actually useful the way it is

[2017-04-08 22:15] JbIPS commented on #581
Since some modifications can cause bugs, I agree with the read-only option. But we should encourage people to use CSS classes, maybe with some hints on the UI

[2017-04-09 18:56] lexoyo commented on #508
other proposal from facebook (clement denis)
![logo-clement](https://cloud.githubusercontent.com/assets/715377/24840098/11dfcbd0-1d67-11e7-81d4-5e9dfc00d336.jpg)

[2017-04-09 18:57] lexoyo commented on #508
and one from ceubri on twitter
![logo-ceubri](https://cloud.githubusercontent.com/assets/715377/24840100/20b3ff64-1d67-11e7-878d-345b717ceac8.jpg)

[2017-04-09 18:57] lexoyo commented on #508
and one from me :)
![logo-lex](https://cloud.githubusercontent.com/assets/715377/24840102/2a2ffc32-1d67-11e7-8627-0d687fa05f16.jpg)

[2017-04-09 19:07] lexoyo commented on #581
it is true that is this bug #573 when you define a color with #rrggbb instead of rgba... and it is not well tested when you use the css editor for something which can be edited with the UI

[2017-04-09 19:08] lexoyo commented on #577
is this solved?

[2017-04-09 19:08] #577 closed

[2017-04-09 19:28] RayPylant commented on #577
If person still has this problem , he has to clear his cache only files then try again .. sometimes the cache gets to over whelmed so we have to clear it so pc run better. hope this helps remember always clear your cache every few hours this will help from having a lot of errors

[2017-04-09 19:40] RayPylant commented on #546
I'd like to see it also.

[2017-04-10 18:10] singchan opened #584 "an ad network for free software, your opinion wanted"
I have setup [an ad server here](https://revive.silexlabs.org/)

The idea is to create free campaigns for free and open source software like Silex and find places to advertise our ecosystem like these
* on silexlabs.org
* inside Silex itself, for example [in the dashboard](https://github.com/silexlabs/Silex/wiki/Dashboard) (see the "info" box) and when the user is publishing a website
![screenshot

[2017-04-10 18:39] lexoyo commented on #584
Great idea!
cc @tariqbenezza @pierreozoux

[2017-04-10 19:39] pierreozoux commented on #584
Hehe :)

la mere zaclys is already doing it, kind of.
If not, there is flattr :)

A kind of green ad network? Could work :)
Not tracking people and respecting tracking policies.

On 10-04-2017 19:39, Alex Hoyau wrote:

--
I use PGP to protect our privacy, if you want to know more, you can
follow this
https://emailselfdefense.fsf.org/en/

If you have further questions, please do not hesitate to ask

[2017-04-10 21:17] lexoyo commented on #584
yes I think this is the point
no money either, just exchange of a spaces to display "ads" for free and open source software...
so flattr and la mere zaclys do not do this right?
(I didn't know la mere zaclys, it's very nice!!)

[2017-04-10 23:54] jennparker opened #585 "General wiki formatting/editing"
Go through the documentation wiki to:
- [ ] make style more consistent across all pages
- [ ] update links
- [ ] smooth out language for ease of reading

[2017-04-11 08:32] JbIPS commented on #584
This is very interesting! I'd put ads only during publication and with a strict ethical selection on ads: FOSS software/solution, non-profit, etc..

[2017-04-11 19:46] lexoyo commented on #585
@jennparker thank you for your help on the wiki!!!

i am working on a new feature in silex: a new "component system". it means there are several new components (slideshow, share bar, animated container, contact form and map) and there is a new panel to edit their properties

you can see it in action here: http://preprod.silex.me/ (this is the test server)
go to the "+" menu, add a component (e.g.

[2017-04-11 23:05] jennparker commented on #238
Documentation is complete on wiki:
https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website

[2017-04-12 12:33] felixtkn opened #586 "Google Captcha"
May I know if anyone managed to implement google captcha into a HTML form? It seems not working on silex site. Merci!

[2017-04-14 00:19] jennparker commented on #585
@lexoyo, looks cool! Thanks for writing some documentation! To start, we should:
1) Update the first screenshot on the [elements page](https://github.com/silexlabs/Silex/wiki/Silex-Elements), so we're showing the new elements menu with the additional items
2) For each element:
     a. add a short description of when to use this element
     b. show a screenshot showing an example of the element on

[2017-04-17 17:57] lexoyo commented on #576
hi @Leznodc
feel free to reopen the issue if it is not solved
i will definitely help you with that

[2017-04-17 17:57] #576 closed

[2017-04-17 18:21] lexoyo commented on #586
I have not tried but if you put your test online I can check it out

[2017-04-18 05:52] felixtkn commented on #586
@lexoyo

[http://pica.890m.com/](url)

[2017-04-18 08:02] JbIPS commented on #586
Hello! Could you tell us more about your integration? Are you using a back-end server? In Php?

From what I saw, you should first check the error in the console:
[code]

The second one looks like the culprit (no postMessage means no callback with captcha's result) 😉

[2017-04-18 11:00] felixtkn commented on #586
Hello @JbIPS,

For google captcha, we just need to add:
1. <script src='https://www.google.com/recaptcha/api.js'></script> to the HTML header
2. `<div` align="center" class="g-recaptcha" data-sitekey="6LcgvRwUAAAAACAMtwwU2kCjlUAUm3mRR_ZVHbq7">`</div>` to the HTML form

However, after publishing, some extra codes automatically generated:
1. <script type="text/javascript" async="" src="https://www.g

[2017-04-18 12:03] JbIPS commented on #586
From the look of it, this code is generated by your first script. And after a quick inspection, your script is in the `<head>` in your Silex version and in the body without. Could you try put it in the body (with an HTML box?)

[2017-04-18 21:35] lexoyo commented on #585
very good idea! (I was thinking only of describing the element)

my bad, this is maybe not useful to have elements and components
in my mind elements are the base bricks, and also it should (will hopefully one day) be just an html element (container = div, htmlbox = iframe, text box = p, image = img)

whereas components are
* more complex and composed of elements
* generated with Prodotype (a pun

[2017-04-18 21:41] lexoyo commented on #508
proposition by nik with [this comment here](https://sourceforge.net/p/forge/helpwanted/artists/thread/567967a5/?limit=25)

[2017-04-18 21:41] lexoyo commented on #508
![prop-logo_silex_170415ns](https://cloud.githubusercontent.com/assets/715377/25154328/8895c8d0-2490-11e7-809b-74b39ccf61cb.png)

[2017-04-19 17:31] lexoyo commented on #238
Nice!

[I changed this
](https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website/_compare/71c1ba74765652c4e8315c9d929930a34e62356f...35e08806730bede6b0225076c88e7537c0e09221)

My remarks
* is this page linked to somewhere?
* for the publication, there are these docs available: [a video in english](https://youtu.be/LZl_owOFQLQ?t=20m19s), [a video in french](https://www.youtube

[2017-04-19 17:53] lexoyo commented on #585
here is a new screenshot, is it ok @jennparker ?
![screenshot from 2017-04-19 19-51-25](https://cloud.githubusercontent.com/assets/715377/25194146/c845dc32-2539-11e7-9415-1e606d40c71d.png)

[2017-04-19 18:48] David1platt commented on #585
Hi I'm in college studying profressional/tech writing, and I just started talking with lexoyo about working with the team. I already went through last night and made updates to the Dashboard wiki.

[2017-04-19 19:05] David1platt opened #587 "buttons, text input boxes, radio buttons, etc?"
I'm new to the project so I might be looking at things from the wrong angle, but I was wondering about input tags like input type="button" and input type="text" input type="radio" it would be really useful to be able to drag and drop these elements

[2017-04-19 20:08] lexoyo commented on #587
Hi David
I am working on a component system. The first components will be a slideshow, a contact form, an interactive map and animated components. This should be released in less than a month

Then we can decide which components are needed... I made some tests and it looks like higher level components are easier to deal with.. for example a form with customizable fields.

What do you plan to do wi

[2017-04-19 20:09] lexoyo commented on #587
(you can test the components on preprod.silex.me)

[2017-04-19 21:41] jennparker commented on #585
@lexoyo, the screenshot looks great!! Thanks for the clarification on elements vs components. This is more clear now. I think if we massage this page a bit we'll be able to really make a clear distinction.

Hi @David1platt , that's awesome! I just recently joined the group as well. This project is like heaven for tech writers because there is so much great stuff waiting to be written. I'm a former

[2017-04-19 22:07] jennparker commented on #238
Awesome - thanks for catching that and making those changes!

- I  just linked it in the FAQ, but ultimately, I think we definitely should make the main page more of an index where we can group and order all of these pages. TODO

- Those videos will be awesome additions TODO

- Update the screenshots TODO

- Ahh, sorry, that is my misunderstanding. I thought that [Contributing-changes-to-Silex-web

[2017-04-21 19:06] lexoyo opened #588 "a dead gandi in my way"
Since the latest update of Silex, the preprod server is down
When it starts, it says
`Error: Cannot find module '/srv/data/web/vhosts/default/Silex/node_modules/unifile/node_modules/sqlite3/lib/binding/node-v48-linux-x64/node_sqlite3.node'`
I don't manage to reproduce it locally... @JbIPS any idea?

May be useful?
[code]

[2017-04-21 20:01] JbIPS commented on #588
I told you to get rid of open pages and sqlite3!

We'll look at it Monday
--
Jean-Baptiste Richardet

On April 21, 2017 9:06:03 PM GMT+02:00, Alex Hoyau <notifications@github.com> wrote:

[2017-04-21 20:07] lexoyo commented on #588
Sure no hurry
In unfile you mean? We need to publish a new old version? ;)

On Apr 21, 2017 10:01 PM, "Jean-Baptiste Richardet" <
notifications@github.com> wrote:

I told you to get rid of open pages and sqlite3!

We'll look at it Monday
--
Jean-Baptiste Richardet

On April 21, 2017 9:06:03 PM GMT+02:00, Alex Hoyau <notifications@github.com>
wrote:

unifile/node_modules/sqlite3/lib/binding/node-v4

[2017-04-21 20:12] JbIPS commented on #588
It should be possible to fix it since unifile did not change recently, but a new version would definitely fix this.

[2017-04-21 20:19] lexoyo commented on #587
Something like this?
https://github.com/silexlabs/Silex/issues/277#issuecomment-268921167

[2017-04-22 06:32] David1platt commented on #587
Yeah a lot of people like to use buttons and check boxes as links. It seems really easy to just use the html blocks. You've put quite a bit of work into the project so its up to you.

[2017-04-26 00:36] IsaacCruz opened #589 "npm install ERROR"
Hello,

I'm trying to run the project, but I get this error when I run: `npm install`

<details>
  <summary>Error stack</summary>

[code]

</details>

[2017-04-26 07:15] JbIPS commented on #589
The first errors happen because you modified the templates and that would overwrite it all. Remove (or stash) your changes to make it disappear.

The other ones about permission are weird since you don't need any to clone Silex.

Could you tell me the install command you ran and more about your configuration (OS version, node version and any information that could help us reproduce)?

[2017-04-26 15:59] IsaacCruz commented on #589
Thanks for your answer.

I solved the access rights error.

But I continue having the local changes error.

I just cloned this way:
`git clone --recursive https://github.com/silexlabs/Silex.git`

Then:
`cd Silex/`
Finally
`npm install`

And the error still appears:

`npm WARN deprecated jade@1.11.0: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm ERR! git

[2017-04-26 16:10] JbIPS commented on #589
I'm unable to reproduce with a fresh install... Did you modify those files before `npm i`?

[2017-04-26 16:14] IsaacCruz commented on #589
No, that's the weird part.

I just followed the installation manual.

[2017-04-26 16:16] JbIPS commented on #589
Could you send me the result of `git status` in the Silex dir please?

[2017-04-26 16:17] IsaacCruz commented on #589
Of course:
[code]

[2017-04-26 21:36] lexoyo commented on #589
nom install is not even supposed to git pull, is it?

[2017-04-26 21:44] JbIPS commented on #589
It is, since `silex-templates` is a GitHub dependency. What's weird is that I don't find the commit SHA on the repository.

@IsaacCruz Can you confirm you're doing a fresh & clean install: the Silex folder doesn't exist before the `git clone` and you have read/write access for the parent folder?

[2017-04-26 23:42] IsaacCruz commented on #589
@JbIPS  & @lexoyo thanks for your support, I deleted all the project, cloned it, and finally ran npm install and IT WORKED!!

It was like the fourth time I deleted all and started fresh, the important part is that it worked.

Thanks again.

Isaac Cruz

[2017-04-27 07:23] JbIPS commented on #589
Good news! Hope it won't happen again.

Thank you for using Silex and have fun creating your website!

[2017-04-27 07:23] #589 closed

[2017-04-28 14:03] rayj00 opened #590 "Responsive Mode?"
How do you save in responsive mode?   When I resize the window now, the content is jacked up, but in responsive mode, all  is ok!

Thanks,

Ray

[2017-04-28 14:18] lexoyo commented on #590
Hi ray
Same as desktop mode, just stem+s or "cloud" icône and save
You can put your website online so that I can see what's​ wrong?

On Apr 28, 2017 4:03 PM, "rayj00" <notifications@github.com> wrote:

How do you save in responsive mode? When I resize the window now, the
content is jacked up, but in responsive mode, all is ok!

Thanks,

Ray

—
You are receiving this because you are subscribed to t

[2017-04-28 14:22] rayj00 commented on #590
All of the sudden I cannot publish?

Ray

[2017-04-28 14:48] rayj00 commented on #590
What do you mean by stem+s
Published site is here:  https://editor.silex.me/api/1.0/dropbox/exec/get/website/index.html
Resize the window and the pages gets messed up.

[2017-04-28 15:37] singchan commented on #590
Sorry, stem+s was Ctrl+S

Oh ok now I understand, you can save but mobile version is messed up?

I can not see the link you gave since it is on your Dropbox. You can share
it with netlify, grrrhost! or GitHub pages for example (these are
simplified hosting services)

See silex wiki for info about this ok?

On Apr 28, 2017 4:48 PM, "rayj00" <notifications@github.com> wrote:

What do you mean by ste

[2017-04-28 15:53] rayj00 commented on #590
I don't understand how to publish so you can see it?

[2017-04-28 16:12] lexoyo commented on #590
You can make a zip file with your HTML site and the assets (in Dropbox right click, download)

Then upload it on
lexoyo.me/GrrHost/

[2017-04-28 17:31] rayj00 commented on #590
Here:  http://lexoyo.me/GrrHost/38650/

If you resize the webpage window you will see it is not responsive.

Thanks,

Ray

From: Alex Hoyau [mailto:notifications@github.com]
Sent: Friday, April 28, 2017 12:13 PM
To: silexlabs/Silex <Silex@noreply.github.com>
Cc: rayj00 <rayj00@yahoo.com>; Author <author@noreply.github.com>
Subject: Re: [silexlabs/Silex] Responsive Mode? (#590)

You can make a zip

[2017-04-29 09:03] lexoyo commented on #587
Thank you !
Let us know what you do with silex please :)

[2017-04-29 09:03] #587 closed

[2017-04-29 09:04] lexoyo commented on #588
I have made a new version of the old unifile and it works now :)

[2017-04-29 09:04] #588 closed

[2017-04-29 09:05] lexoyo commented on #586
Any news @felixtkn ?

[2017-04-29 09:32] JbIPS commented on #588
:clap: but we'll still need to go to the new Unifile one day :wink:

[2017-04-29 09:46] lexoyo commented on #590
it looks like you have added a border to the sections background
it is a good idea for desktop mode, but you should remove it for mobile mode (go to mobile editor and set boder width to 0)

[2017-04-29 12:07] lexoyo opened #591 "Big step forward for Silex, help wanted"
Hello

I am very happy to announce the soon to be released new version of Silex. Now we need a final test, with real people to create a small website to test it in real conditions!

[Go to this instance of Silex](http://preprod.silex.me) and test these new features:
* slideshow component
* contact form component
* share bar component
* new [beauty template](https://silex-templates.silex.me/beauty/

[2017-05-02 18:36] lexoyo commented on #591
[This is this template I did to test these features](http://lexoyo.me/GrrHost/96793/studio/) (I might include it in silex templates if I have positive feedback)

Found some small bugs in the slideshow... Will fix it before release..

![screenshot from 2017-05-02 20-35-42](https://cloud.githubusercontent.com/assets/715377/25633314/fdb6d186-2f76-11e7-9afc-eb2743a08f79.png)

[2017-05-02 21:00] JbIPS commented on #591
I'm trying the new "Share buttons" widget but I'm unable to configure it. I think I'm supposed to look at the tool bar on the right, but the field must be missing.

![image](https://cloud.githubusercontent.com/assets/2248473/25639148/14030748-2f8b-11e7-982f-207e216e073d.png)

[2017-05-02 21:41] JbIPS opened #592 "CSS class field not refreshed"
On preprod, I assigned a new class to an element (`DIV.text-element`), then clicked on the one above and the class name is still in the field (but not applied to the element).

[2017-05-02 21:58] JbIPS commented on #591
Actually that's the same thing for the contact form too. Did I missed something?

[2017-05-03 08:59] ceubri opened #593 "CSS editor + Style / CSS classes windows at the same time"
Hello,

is it possible to have CSS editor + Style / CSS classes windows at the same time ?
It would be usefull to edit the code and to rename the classes at the same time...

Thx

[2017-05-03 09:24] singchan commented on #593
we could add a text field in the css editor with the current selection's css classes...
maybe the tagName too

[2017-05-03 13:12] JbIPS opened #594 "Skill bar component"
I'm trying to create a new component based on [skill bars](https://codepen.io/tamak/pen/hzEer).

I copied a lot from the slideshow to give the ability to create new bar but have still some problems.

### Could not render the template at first run

When adding the component to the stage, I've got this error:
[code]
<details>
  <summary>Stacktrace</summary>

[code]

</details>

I think this is the r

[2017-05-03 15:34] singchan commented on #591
I see the params... did you have js errors? firefox and chrome?
can you try again now?

[2017-05-03 19:01] singchan commented on #594
is this fixed?

[2017-05-03 19:01] singchan commented on #592
can you try again please?
and give a bit more context (browser..)

[2017-05-03 19:04] lexoyo commented on #591
i have fixed several small issues in components
especially on slideshow and form components
it is live on preprod.silex.me

[2017-05-03 20:36] JbIPS commented on #591
It's better now! I tried the share bar and have some concerns:
* Filling the Twitter field with `@JbIPS` (since it was `@silexlabs` by default) give a tweet with `via @@JbIPS`
* Hovering the Twitter button give 'Share on Tweeter' (instead of 'Twitter')
* I was a bit confused by the field name and what they do (at first I though it purpose was to follow me on those networks):
  * twitter -> Twitter

[2017-05-03 20:48] JbIPS commented on #591
About the contact form: very nice!

I'm just not sure what the `onsubmit` field do and what I'm supposed to put in. Code ? How? What's the context? Which variables do I have access to?

[2017-05-03 20:49] JbIPS commented on #592
Solved! Thank you

[2017-05-03 20:49] #592 closed

[2017-05-03 21:40] JbIPS opened #595 "Write non-breakable space"
I'd like to insert a non-breakable space into a text field (and more broadly, any HTML entity) but I tried to copy/paste it, type the entity code and even the UTF-8 code but nothing shows up.

Is there any tricks to do it? Thank you

[2017-05-04 08:14] JbIPS commented on #591
Also, on Firefox 52.0.2 (64-bits), Fedora 25, the cursor change to the 'text insertion curosr' when hovering the '+' button (which should be bigger BTW)

[2017-05-04 09:19] JbIPS commented on #594
First two are solved (respectively `of` operator is not supported and `<%= %>` is needed to insert a value).
But I still have issue with the default value not being applied.

Also, I have trouble inserting an image. I copied the slideshow to write:
[code]
[code]
but the resulting style is `background-image: url("http://localhost:6805/api/1.0/dropbox/exec/get/test/%5Bobject%20Object%5D");` when the

[2017-05-04 13:08] singchan commented on #591
ok fixed (i removed the "@" from the default value)

fixed

yes we should add a displayName field in Silex components' yaml files

yes you have to know the name of the network
in prodotype the "enum" type should have an option to allow multiple selection

[2017-05-04 13:14] singchan commented on #591
yes javascript
I think there is the `event` object, since it is like `<div onclick="your code here"`

it should be the case already

[2017-05-04 13:19] JbIPS commented on #591
Then we have a problem 😆. Here's what I received:

field1 	|Doe
----------|-----------
field2 	|ad@doe.fr
field3 	|Hello !

And of course, yes I set other value to those field (name, email, message)

[2017-05-04 13:43] ceubri commented on #92
enfait, maintenant il faut ajouter hvr-grow au lieu de grow etc...

[2017-05-04 15:52] JbIPS commented on #594
The default values problem is caused by a bug in Prodotype and will be fixed with https://github.com/silexlabs/Prodotype/pull/1.

But I don't have any clue about the image problem.

[2017-05-04 16:14] JbIPS commented on #594
Note to myself (and anyone coming here for answer), the `file` input return an array of object with the field `url`.

The correct template is :
[code]

Thanks!

[2017-05-04 16:14] #594 closed

[2017-05-04 20:34] simsdavis opened #596 "Best IDE to develop Silex with"
Is there a certain IDE like Eclipse I should be using to edit the source code with?

[2017-05-04 20:40] JbIPS commented on #596
Hello @simsdavis! This is no restriction on IDE for Silex contribution. Since it's written in Javascript, any editor/IDE that supports it will do just fine 😄. Most of us use [Sublime Text](https://www.sublimetext.com/), [Atom](https://atom.io/) or [VisualCode](https://code.visualstudio.com/).

I'm using Vim and I know some even use Eclipse, so use the one you're most confident with!

[2017-05-06 13:33] lexoyo commented on #585
Hello,
Where are we in the road map? Maybe we should make a help wanted issue per remaining thing?

[2017-05-06 16:29] IOU4something opened #597 "Help: auto redirect page to another page after a delay"
Hello I need help Making one of my pages auto redirect to another page on my site I need it to redirect after about 3 sec but not instantly. Any help would be appreciated.

[2017-05-06 16:57] lexoyo commented on #597
hi @IOU4something
this should do the trick:
[code]
you need to change the name of the pages (from and to)
if there is something not clear in this code, feel free to ask

[2017-05-06 16:58] lexoyo commented on #596
hi @simsdavis
if you have more question feel free to re-open the issue

[2017-05-06 16:58] #596 closed

[2017-05-06 17:13] lexoyo commented on #595
I don't have any trick for this..
I tried crtl+space but it does not work in the browser
Do you manage to insert a nbsp in any other browser based app?

Or maybe with css `white-space` and `word-wrap` properties

[2017-05-06 17:14] lexoyo commented on #590
hi @rayj00
did you try my solution?
feel free to re-open this issue

[2017-05-06 17:14] #590 closed

[2017-05-06 18:08] IOU4something commented on #597
Im sorry Im new to programming does this go in css, html,or javascript? and could you explain what each section does in the code?. Thank you for the information

[2017-05-06 19:39] lexoyo commented on #597
ok :)
this is javascript code so you need to paste it in the JS code editor
and you need to replace:
* `page-page-1`: the name of the page you want to open, + the "page-" at the beginning like in the address bar so in this example my page was called "Page 2"
* `page-page-2`: the name of the page on which you want to redirect (from which your user will be redirected)
* `2000` is the delay before th

[2017-05-06 19:55] IOU4something commented on #597
@lexoyo Thank you so much it work exactly as I need it to. Thank you for your assistance!

[2017-05-06 20:27] #597 closed

[2017-05-06 21:12] rayj00 commented on #590
Here is the website.  Try making the window smaller.  No responsive!

Ray

From: Alex Hoyau [mailto:notifications@github.com]
Sent: Saturday, May 06, 2017 1:15 PM
To: silexlabs/Silex <Silex@noreply.github.com>
Cc: rayj00 <rayj00@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] Responsive Mode? (#590)

Closed #590 <https://github.com/silexlabs/Silex/issues/590> .

—
Y

[2017-05-07 05:09] David1platt commented on #585
I just finished the text for the Getting Started page. I tried to invite an acquaintance to get involved, but I don't know what happened. I'm also kinda waiting for the new version before I get to far into further documentation.

[2017-05-07 12:06] lexoyo commented on #590
There is no link in your message

[2017-05-07 12:22] lexoyo commented on #585
Hi @David1platt
there is always a new version coming and it is available on preprod.silex.me if you want to have a look

[2017-05-07 16:18] rayj00 commented on #590
http://lexoyo.me/GrrHost/24663/

From: Alex Hoyau [mailto:notifications@github.com]
Sent: Saturday, May 06, 2017 1:15 PM
To: silexlabs/Silex <Silex@noreply.github.com>
Cc: rayj00 <rayj00@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] Responsive Mode? (#590)

hi @rayj00 <https://github.com/rayj00>
did you try my solution?
feel free to re-open this issue

—
You are r

[2017-05-07 17:18] lexoyo commented on #590
Ok so it worked

[2017-05-07 18:41] rayj00 commented on #590
Did you try to resize the window?

From: Alex Hoyau [mailto:notifications@github.com]
Sent: Sunday, May 07, 2017 1:19 PM
To: silexlabs/Silex <Silex@noreply.github.com>
Cc: rayj00 <rayj00@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] Responsive Mode? (#590)

Ok so it worked

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2017-05-07 20:40] lexoyo commented on #590
I opened the site on my phone
Why? It doesn't behave like it should?

[2017-05-07 23:03] rayj00 commented on #590
I thought responsive means if I resize the window on my PC, the content will resize automatically?

It does not.

Ray

From: Alex Hoyau [mailto:notifications@github.com]
Sent: Sunday, May 07, 2017 4:40 PM
To: silexlabs/Silex <Silex@noreply.github.com>
Cc: rayj00 <rayj00@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] Responsive Mode? (#590)

I opened the site on my

[2017-05-07 23:15] lexoyo commented on #590
The breaking point in silex is at 480px. Bellow this width it does resize width the browser window

[2017-05-08 15:28] lexoyo commented on #585
I have added pages for components:

* https://github.com/silexlabs/Silex/wiki/Live-map-component
* https://github.com/silexlabs/Silex/wiki/Skill-bar-component
* https://github.com/silexlabs/Silex/wiki/Slideshow-component
* https://github.com/silexlabs/Silex/wiki/Share-bar-component
* https://github.com/silexlabs/Silex/wiki/Contact-form-component

Most of the documentation is missing (params and te

[2017-05-08 16:23] David1platt commented on #585
Is there a folder in the project where documentation people can submit their own screenshots and animated GIFs?

[2017-05-08 16:32] lexoyo commented on #585
The way I do it is upload the image or gif in a new issue which I never submit. I copy the link to the image on github. Do you see what I mean?

[2017-05-08 18:10] rayj00 commented on #590
Is there some way I can send you  a video so you can see what I mean?

[2017-05-08 18:13] singchan commented on #590
Sure, you can put it on YouTube maybe?

On May 8, 2017 8:10 PM, "rayj00" <notifications@github.com> wrote:

[2017-05-08 18:50] JbIPS commented on #585
Github has a storage of its own. If you drop an image into a text field it will convert it into a link to the uploaded file on Github server.

[2017-05-08 18:50] rayj00 commented on #590
Ok , look at this video.   https://youtu.be/53plGfIC_H0

As I resize the window, shouldn’t the content change size also?

Thanks,

Ray

From: singchan [mailto:notifications@github.com]
Sent: Monday, May 08, 2017 2:14 PM
To: silexlabs/Silex <Silex@noreply.github.com>
Cc: rayj00 <rayj00@yahoo.com>; Mention <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] Responsive Mode? (#590)

Sure, you

[2017-05-08 23:50] jennparker commented on #585
As part of the restructuring, I'd like to propose that we get rid of all of the individual UI pages and instead add all of the basic UI descriptions to one page, the [Editor UI page](https://github.com/silexlabs/Silex/wiki/Editor-UI). Tutorials or guides would not go here. We would give a tutorial its own page and then just link to it in the appropriate location on the editor UI page. The page wil

[2017-05-09 04:26] David1platt commented on #585
Yup that totally works! Otherwise an advertisement would be useful. We need more help.

[2017-05-09 12:01] lexoyo commented on #585
1 long page for UI and 1 for a tutorial sounds great! I can move my "components" pages into this page if you want?

I completely agree with this plan

Maybe a blog post about contributing to the docs on silexlabs.org (which has 2000 unique users a month) ?

[2017-05-09 12:26] singchan opened #600 "Better lorem ipsum, easy task for a developer to dive in Silex"
This is an easy task for a developer to get to know Silex, I can provide help for each step and it represents approximately 2 hours of work (javascript code, server or client side depending on the chosen solution)... Let's do it together, leave a comment here!

In the text editor there is a button to insert lorem ipsum. This useful for demos, templates and tests... Currently it uses bacon ipsum wh

[2017-05-09 20:01] jennparker commented on #585
Cool! @lexoyo, sounds great, please do! I'll go ahead and make sure we have everything off of the other individual UI pages and then will delete them. After that, I can write up a quick blog post asking for help unless anyone else gets to it first.

[2017-05-10 07:44] lexoyo commented on #590
I see what you mean
For the mobile version to activate you need to resize your window even smaller. Then you will see a responsive version of your website

[2017-05-10 08:22] JbIPS commented on #585
What about an announcement when publishing the website? At least pointing to the new doc, telling people we're creating a new one. I hope the most curious will take a look and at least give feedback

[2017-05-10 08:50] lexoyo commented on #585
I'm not good at writing this kind of article, but maybe @David1platt with @JbIPS ?

[2017-05-10 11:53] rayj00 commented on #590
You are using the mobile example a lot, but  should “responsive” include resizing the window in a PC?  There are many different sizes and resolutions of monitors out there.  So for example someone might have 1024x768 resolution, someone else 1920x1080, etc.  browsing for each one will show differently.  The page should resize automatically to cover all resolutions, right?

Thanks,

Ray

From: Alex

[2017-05-10 22:25] David1platt commented on #585
Two larger documents can be beneficial in minimizing duplicated work. Is there a way to create links to different sections of an individual document?

I was thinking once the wiki is solid, it could be converted into an extension of the silexlabs webpage, that would allow us to structure the information better for ease of navigation. What are people's thoughts?

[2017-05-11 13:59] singchan commented on #585
@jennparker I found several links hard coded in Silex to these URLs

I will replace it with `https://github.com/silexlabs/Silex/wiki/Editor-UI#dashboard`:

* `https://github.com/silexlabs/Silex/wiki/Dashboard`

will someone move it somewhere to the wiki? If you do it tell me, I will update the link in silex

* `https://github.com/silexlabs/Silex/issues/184`
* `https://github.com/silexlabs/Silex/wi

[2017-05-12 06:12] berserk82 opened #602 "Question"
Does Silex require anything but a webserver to run? (eg: node, frameworks, etc)

[2017-05-12 07:10] lexoyo commented on #602
Hi!

The websites you create with silex can be hosted anywhere since it is just HTML CSS Javascript. No requirement

The tool itself, silex editor, requires nodejs to run. To be compiled you need Java too, see the versions in the readme

You are welcome to share with us what you are doing with silex :)

[2017-05-12 07:13] berserk82 commented on #602
Thanks.

[2017-05-12 07:13] #602 closed

[2017-05-14 20:19] lexoyo opened #603 "Multi-columns section"
## About this widget

This widget is like a section element with multiple container inside:

![screenshot from 2017-05-14 22-08-42](https://cloud.githubusercontent.com/assets/715377/26037385/f0c3169a-38f1-11e7-90a9-838e709d0749.png)

Each container takes as much space as it can. The elements in the containers will be centered.

## Setup

Open the CSS editor and add this code anywhere
[code]
This s

[2017-05-14 21:46] JbIPS commented on #603
Nice widget, but can't this information be in the wiki? Maybe @jennparker can find a place for it 😄

[2017-05-15 02:43] jennparker opened #604 "Add cancel/close option to cloud authorization prompt"
**Issue:**
There is no way to cancel or back out of cloud authorization prompt

**Repro:**
Open Silex Editor
Start a new website
Select file menu > Save Website
Select a cloud storage option you haven't previously given permission for access

**Outcome:**
Authorization prompt (attached) opens, but there is no way to back out/cancel prompt and return to the previous screen.
![screen shot 2017-05-14

[2017-05-15 07:23] lexoyo commented on #604
Hello
Thank you for this bug report
I am starting a new work on the file explorer (Cloud Explorer) so the fix for this bug will definitely be part of it

[2017-05-15 07:28] lexoyo commented on #603
There are a number of widgets which are still in the issues... And they should be replaced by components at one point (or not?)

But yes we should put them in the wiki, you are right!

[2017-05-15 07:30] JbIPS commented on #603
I was wondering why this wasn't a component. I imagined there was a technical impossibility, but if not, go component!

[2017-05-15 07:38] lexoyo opened #605 "help wanted: move widget docs"
We have decided to move the [issues with the label "widget"](https://github.com/silexlabs/Silex/labels/widget) to a page named "widgets" in the wiki.

For each widget this is to do
* Move the content from the issue to the wiki page (all widgets in 1 page @jennparker ?)
* Add the widget name to the table of content of the wiki page
* Remove the content from the issue and replace it with a link to t

[2017-05-15 15:40] thomasak22 opened #606 "Bioworx Pigeon website"
Here is a link to a website I did with Silex: http://bioworx-pigeon.co.za

Made use of only the standard Silex features, didn't use any widgets. Silex is a wonderful tool to easily and quickly create a relatively simple website.

[2017-05-15 15:43] thomasak22 commented on #546
Hi,

Sorry, I have been swamped with work recently. Just posted the info to the
link as requested. please let me know if you require any additional
information for the showcase.

Best,
Thomas

On Sun, Apr 9, 2017 at 9:40 PM, Ray <notifications@github.com> wrote:

--

*Thomas Kriel *
thomaskriel@gmail.com
0828965619

[2017-05-15 15:49] singchan commented on #546
Perfect, it is live on silex.me
Thank you!!!

[2017-05-15 15:50] thomasak22 commented on #546
Pleasure, glad I could help!

On Mon, May 15, 2017 at 5:49 PM, singchan <notifications@github.com> wrote:

--

*Thomas Kriel *
thomaskriel@gmail.com
0828965619

[2017-05-15 16:25] singchan commented on #590
yes you are right
the idea is to choose when to switch to responsive mode, and in responsive mode it adapts to the window size
for now reponsive is width < 480px but I hope that we will have other breakpoints or at least be able to change the 480px value
all suggestions welcome and I will take time to do it if we find a good solution

[2017-05-15 18:20] jennparker commented on #604
Great! Thanks!

[2017-05-15 18:35] jennparker commented on #605
Great! Yes, let's add the widgets to the Editor UI page of the wiki. I have added "Widgets" to the page table of contents and created the anchor and the section title. Please add the content here: https://github.com/silexlabs/Silex/wiki/Editor-UI#widgets

[2017-05-15 18:43] jennparker commented on #603
This is awesome @lexoyo !

@JbIPS , I definitely agree that we need to get this into the wiki.  It looks like @lexoyo is already on top of adding the [tracking issue](https://github.com/silexlabs/Silex/issues/605) to get them moved over to the wiki.

[2017-05-15 19:06] jennparker commented on #585
@singchan thanks for this! Moving these issues to the wiki is still in progress. I'll go ahead and open an issue so we can easily track all of the issues that need to be moved to the wiki.

[2017-05-15 19:13] lexoyo commented on #503
fixed and live on editor.silex.me

[2017-05-15 19:13] #503 closed

[2017-05-15 19:14] lexoyo commented on #502
fixed and live on editor.silex.me

[2017-05-15 19:14] #502 closed

[2017-05-15 19:16] lexoyo commented on #474
This is obsolete since jenn worked on doc structure

[2017-05-15 19:16] #474 closed

[2017-05-15 19:17] lexoyo commented on #399
you can use [the new multicolumn section widget for this](https://github.com/silexlabs/Silex/issues/603)

[2017-05-15 19:17] #399 closed

[2017-05-15 19:19] lexoyo commented on #568
We need testers for this
@JbIPS has made a great first version

[2017-05-15 19:53] jennparker opened #607 "Move Docs to Wiki"
We have issues in a variety of places that need to be moved to the wiki. Let's use this issue to consolidate and track all of the different docs that need to be moved to the wiki or within the wiki. Initially, this will be ugly and there will be some duplication with other issues because up until now we have been tracking these individually and in many different places. It will get better as we mo

[2017-05-15 20:27] jennparker opened #608 "Write/Update Wiki Docs"
Let's use this issue to consolidate and track docs that need to be written or updated. Note: Docs that need to be moved to or within the wiki are being tracked in a separate [issue](https://github.com/silexlabs/Silex/issues/607). This issue is only for adding or making changes to content. Please help add to this list.

**Write**
These are new documents that we need to have written:

*Tutorials*
Th

[2017-05-15 20:35] jennparker commented on #238
These TODO updates are now being tracked [here](https://github.com/silexlabs/Silex/issues/608)

[2017-05-18 18:02] BigMacSauce opened #609 "Is Collaborative Design Possible"
I am newer to the whole drop box thing, and am used to working with Dreamweaver to tinker with html and such. I found your site on a top 10 list, and immediately fell in love with the simplicity. But, quickly I wondering about collaborative real-time design capabilities of your site. I have been working on a personal project, and like would like to work in real time with a friend on the project. I

[2017-05-19 07:43] lexoyo commented on #609
Hi @BigMacSauce
Thank you for the comments about silex, this is a volunteer effort you know :)
About the real time collaboration, it is not possible in silex, and it is a lot of work to develop it so there is no plan to add it. But this is open source so you never know
You can still collaborate with Dropbox or Github, there is documentation on this subject
Keep us posted!

[2017-05-19 23:34] lexoyo commented on #591
Thx JB, but I could not reproduce the form component bug, could you give it a try again?
I have fixed other bugs (copy paste of sections, move with arrow was strange...)
Almost there, I will push to editor.silex.me soon

[2017-05-20 07:38] lexoyo commented on #593
Or maybe put the CSS window at the bottom as suggested before in another issue

[2017-05-20 15:59] ceubri commented on #593
Yes bottom or in a tab.

[2017-05-20 17:56] JbIPS commented on #568
If you're on Linux (Debian or Red Hat based), you could try the first release of Silex here : https://github.com/silexlabs/Silex/releases/tag/v1.0.0-rc1. Your feedback is very welcome!

[2017-05-20 23:29] lexoyo commented on #338
Removed from the official templates

[2017-05-20 23:29] #338 closed

[2017-05-22 07:05] lexoyo commented on #595
Poc

[2017-05-22 07:05] #609 closed

[2017-05-22 09:16] JbIPS commented on #595
I tried on [Framapad](framapad.org) and actually all the spaces are `&nbsp;`. After seeing that I can't see a whitespace I would want to be breakable. Maybe that's a solution.

[2017-05-22 09:26] JbIPS commented on #591
Tried it again, same thing.

But I took a closer look at the component console and see you set a label, not the field name. And I think the later is sent to the mail service.

[2017-05-28 13:09] #580 closed

[2017-05-28 13:14] lexoyo commented on #591
Can you confirm that this submission:
![screenshot from 2017-05-28 15-12-43](https://cloud.githubusercontent.com/assets/715377/26529015/32fc8822-43b8-11e7-87c6-0c834581dc62.png)

Will give this params sent as POST data:
![screenshot from 2017-05-28 15-12-55](https://cloud.githubusercontent.com/assets/715377/26529019/3f28cda4-43b8-11e7-8a88-fb99becd0dfd.png)

[2017-05-28 17:56] hassankassir002 opened #611 "cant add <body> element in Add HTML option"
I want this code to be in the Add HTML option:
<body link="green">
<a href="http:\google.com"> GOOGLE </a>
</body>

but it automatically deletes the body element and i will no longer have a green link, how to stop the automatic removing of the body element?

[2017-05-28 18:12] lexoyo commented on #611
Hello
There is already a body in the site, this is why the browser removes it
You should make it a `<section>` or a `div`

[2017-05-29 08:07] JbIPS commented on #591
Exactly! My point was "please send `Nameqqq` instead of `field1` and so on" 😄

[2017-05-30 18:50] Pucci00 opened #612 "Can't see the bottom of a html box"
I wanted to inser a google form by html code in silex, but even if I put all height settings at higher values than it really need, I can't see the bottom of the HTML (in this case, the rest of the form)
I don't know why I have this issue, I don't know html so well, but I just copy the code from google to silex.. It should
![immagine](https://cloud.githubusercontent.com/assets/29070538/26599638/97f

[2017-05-30 19:28] lexoyo commented on #612
it should work yes
what is the html code you insert?
maybe there is an iframe with hard coded dimensions?

[2017-05-30 20:40] Pucci00 commented on #612
This is the code:
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSedxamTnzgd3jYujb9Si6gYYI8TKF7cwxpxFZ3uKBqu5O_I7w/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Caricamento in corso...</iframe>

"Caricamento in corso" means "loading" in Italian

[2017-05-31 07:46] lexoyo commented on #612
Ok, you see the width and height are hard coded, change them in the code

[2017-05-31 08:15] Pucci00 commented on #612
I did, bit it still not work :(

[2017-05-31 09:51] singchan commented on #612
I tried with your code and it seems to work with height="1500":

![screenshot from 2017-05-31 11-50-45](https://cloud.githubusercontent.com/assets/6483546/26626407/76954b1e-45f7-11e7-97a0-6c668f4164ae.png)

![screenshot from 2017-05-31 11-50-05](https://cloud.githubusercontent.com/assets/6483546/26626408/769b630a-45f7-11e7-8286-6101263a4e89.png)

[2017-06-01 14:52] Pucci00 commented on #612
Ok, it works, thanks

[2017-06-01 14:52] #612 closed

[2017-06-01 19:28] singchan commented on #269
@Stuff31 is the site down?

[2017-06-01 19:35] #359 closed

[2017-06-03 15:23] parkadia opened #613 "difficulty loading project file"
In the last few days, I have had difficulty loading my html file for editing. Now, I cannot open it at all. I can load the editor and select the file from the dashboard. But then the editor just waits and waits. I see the message "waiting for editor.silex.me" in the bottom left corner. Any help appreciated.

[2017-06-03 18:53] lexoyo commented on #613
Hello,
I can not reproduce that, can you share you website with me? (With the assets and everything)

* Which cloud do you use? (Dropbox, github, ftp..)
* What is your OS? If it is Linux there is the offline version of silex you can try (early beta)
* What browser do you use?

[2017-06-03 21:19] parkadia commented on #613
I have shared the folder parkadia2 in my dropbox (html and assets) with you.
Dropbox is my cloud. OS is Windows 10. Browser is Chrome.
I still cannot load the parkadia2.html.

[2017-06-03 23:44] IOU4something commented on #613
Im having the same exact issue

[2017-06-04 09:04] lexoyo commented on #613
Hello

Yes there was an update recently
https://github.com/silexlabs/Silex/issues/591

I can not reproduce this issue, please share a website with me

[2017-06-04 11:04] parkadia commented on #613
How would you like me to share my website? It is on dropbox and I need an email address. How would you like me to proceed?

[2017-06-04 11:26] parkadia commented on #613
I have managed to load the website today and make minor text changes. However, I could not import an image and I could not preview the website. I got the following error:

"Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /api/1.0/dropbox/exec/get/parkadia2/parkadia2.html.

Reason: Error reading from remote server

[2017-06-04 11:54] lexoyo commented on #613
Thank you @parkadia this may be useful info
For now I have seen nothing which could cause this.. After a while searching I have simply rebooted the server, can you please try again? Who knows...

[2017-06-04 14:27] parkadia commented on #613
We also rebooted our server and my project loaded. I thought hurray! BUT when I tried to load an image from my dropbox, I got a "loading" message in the centre of the screen and a message bottom left saying "waiting for editor.silex.me". I have now been waiting for 10 minutes.

[2017-06-04 14:35] lexoyo commented on #613
You are not using editor.silex.me?

[2017-06-04 14:53] barkingPete commented on #613
Hello @lexoyo!
@parkadia was using the standard Silex web editor when these reports were made. When you rebooted the Silex server we took the chance to reboot our firewalls and routers and any relevant computers. That was what @parkadia was referring to.
The issue may be due to something like network latency - the https signals are perhaps "timing out". The problem is usually noticed at some stage

[2017-06-04 15:06] lexoyo commented on #613
could you try with this server (same but without https)
http://preprod.silex.me/

[2017-06-04 15:14] lexoyo commented on #591
Released: "Component system, right click and bug fixes"
https://framagit.org/silexlabs/Silex/merge_requests/10

[2017-06-04 15:14] #591 closed

[2017-06-04 15:32] parkadia commented on #613
I can load the html file and have managed to load an image from my dropbox. It was very slow but it did happen. So, this probably indicates that htttps is an issue.

However, your preprod silex.me is not the SAME as editor.silex.me. For example,
The page names under 'Links' are not displaying - listed only as {{displayName}}
There is no positional information displaying for elements under 'Styles'

[2017-06-04 15:43] lexoyo commented on #613
another strange thing
could you please
* try with firefox
* make a screenshot of this bug for me?

[2017-06-04 15:58] lexoyo commented on #613
Also, I have setup this server with https and the next version of cloud explorer
https://cloud-explorer2.herokuapp.com/cloud-explorer/cloud-explorer.html

Tell me if you can browse your dropbox with it without experiencing the timeout

[2017-06-04 16:26] lexoyo commented on #613
Stella,

Even with your website I have no issue editing/adding images or opening files...

This could be a network issue, probably not on your end since @IOU4something has the same issue but anywhere between silex server and you...

The solutions I see
* you wait and try again later... (if it persist I will definitely have to do something anyway, but I don't know what yet)
* we try to make the pre

[2017-06-04 16:33] parkadia commented on #613
Hiya,

Screen grab attached showing that page names are not displaying on
preprod.silex.me
Another screen grab shows that class styles and positional information
for an element are also missing on preprod.silex.me

I will try on firefox if I can find it on another machine but I do not
want to install it on this computer right now.

Stella

On 04/06/2017 16:43, Alex Hoyau wrote:

[2017-06-04 17:36] parkadia commented on #613
Ironically, I too can now edit, open files and add images!!!

The only thing that does not seem to be working correcly is 'Publish'.
Maybe this is too much to ask, but could you try doing this for me?

For now, I will continue to monitor the performance of
https://editor.silex.me/ but ultimately I think I need to have it set up
on my computer. I will discuss this with barkingpete who also joined t

[2017-06-04 17:59] parkadia commented on #613
I have also shared my published website with you. It would seem that all the assets are there but that the javascript and possibly the css files have not been updated.

[2017-06-04 18:24] lexoyo commented on #613
Sure I will try to publish tomorrow

Silex has only one server and it is located in France and provided for free by Gandi.net we should ask other national hosting companies to host other instances in other countries... If anyone has time to do that you are welcome to help.

Stella, can you confirm that everything is back to normal on editor.silex.me and I should try to publish on editor.silex.me ?

[2017-06-04 18:51] parkadia commented on #613
Everything (except for publishing) seems to be back to normal (for now)
and I can confirm that you should try to publish from editor.silex.me

The project is set up to publish to 'parkadia_published' in my dropbox.
I have shared this folder with you. Currently, the includes the
non-working version. Do you want me to delete this?

As for a UK server, I'm not sure I can help but will talk to my
coll

[2017-06-05 07:23] meteorsnows opened #615 "[Feature] Smart Guide Line or Snapping with object on same x or y coordinate"
Really Advanced feature but must have feature for WYSIWYG editor: Smart Guide Line and Snapping.

One picture worth thousand word, that align feature most of us used in Microsoft Office to align object
Sample Features like:
https://www.edrawsoft.com/flowchart.php
http://www.guidingtech.com/52926/smart-guide-optimization-powerpoint/

Thanks.

[2017-06-05 16:37] parkadia commented on #613
I tried loading my project into http://preprod.silex.me/ using firefox. There were the same issues re: Links and Styles as on Chrome.

Did you manage to find time to publish my website?

[2017-06-06 15:07] barkingPete commented on #581
Being able to edit the CSS code is a useful thing and very useful to "textually snap" a co-ordinate or value.

[2017-06-06 16:03] singchan commented on #615
here are some related links I have found to help us with UX or dev
* https://github.com/mrflix/Alignment-Guides
* https://www.uxpin.com/community/tutorials/guides-smart-guides-and-snapping/

[2017-06-06 21:31] lexoyo commented on #578
this follows the issues  #187

[2017-06-06 21:31] lexoyo commented on #570
this follows the issues  #187 and  #578

[2017-06-06 21:42] lexoyo commented on #613
hello

I took the time to publish your site. It has so many images and pages, this is a first. It took more than 30s to display the publish progress dialog like this:

![screenshot from 2017-06-06 23-21-24](https://user-images.githubusercontent.com/715377/26852664-427c5f94-4b0f-11e7-8767-e367a683020d.png)

And then I left it for a long time and it has published the site...
May be you should try ag

[2017-06-06 22:21] parkadia commented on #613
I start to publish many time because I cannot determine whether publishing is happening or may computer has hung!

In the process, I have noticed some interesting observations:
1) If I manually copy all the assets to my published directly, the publishing process is quicker. I suspect it looks for files in the published directory

[2017-06-07 00:04] parkadia commented on #613
Continuing from my previous post (Silex was publishing in the background and failed while I wrote), I appreciate that my website is pushing the editor's publishing abilities to its limits and really hope (BEG) that, over the coming months, you will consider the following:

1) If assets are manually pre-copied to the specified published directory, the publishing process is quicker. I suspect the ed

[2017-06-09 15:30] lexoyo commented on #613
I will, and I hope that you will stay tuned and be available for beta testing

definitely not
this is not trivial since the assets might be updated but there must be a way to cache them

Yes this is possible, just open the settings dialog, then "pubish settings" then "configure"

Yes I think it should you're right

When it gets out of sequence I am pretty sure that it is because you have several p

[2017-06-09 15:31] lexoyo opened #616 "Better publication"
These are features requested by @parkadia in the issue #613

* do not download ALL asset files EACH TIME time the website is published
* Currently, all assets are 'downloaded' into one 'assets' sub-directory in the specified published directory. Surely, it would be better to preserve the directory structure of the 'assets' directory used to create/edit the website. Or, at least, this should be an

[2017-06-09 15:33] lexoyo commented on #616
this follows the issues #187 and #187

[2017-06-12 08:59] David1platt commented on #608
I'll get started on this next week. I'm heading into finals starting tomorrow... Is there a repository of GIFs and graphics to be used with these docs?

[2017-06-12 11:40] singchan commented on #608
Great!
There is no repo of media, they are all in the posts and on youtube

[2017-06-12 16:52] parkadia commented on #616
Thank you for agreeing to consider the publishing features that I requested. I have some more comments / observations concerning one of the features above and two other issues that you originally replied to in issue #613.

- **it should not be possible to have several publications occuring at the same time**

You kindly agreed to look at this but in the mean time advised me _"not to start several

[2017-06-12 21:28] David1platt commented on #608
Hey Singchan thanks for the feedback. The documentation maintenance is pretty casual. I totally revamped the Getting Started page, and the Dashboard section while that was a separate page. I don't feel like I've been properly introduced to the team.

[2017-06-13 04:14] vatsalvala commented on #442
can you give me example for dropdown option?
`
							<div class="input-field col s6">
								<select>
									<option value="91" selected>India (+91)</option>
									<option value="213">Algeria (+213)</option>
									<option value="376">Andorra (+376)</option>
									<option value="244">Angola (+244)</option>
									<option value="1264">Anguilla (+1264)</option>
									<option value="

[2017-06-13 08:33] singchan commented on #442
did you put this code between the `<form action="https://formspree.io/your@email.com" method="POST" target="_top">` and the `</form>` ?

[2017-06-13 09:33] vatsalvala commented on #442
@singchan  yes, I have total 5 question i.e. name, mobile, email etc and also select country using dropdown menu
but only dropdown result not shown in submitted form in received mail

[2017-06-13 17:03] singchan commented on #442
oh ok
you probably need to add a `name="abcd"` like this:
[code]

[2017-06-13 17:06] singchan commented on #608
you can introduce yourself in a new issue maybe?

[2017-06-13 17:08] singchan commented on #608
and you can add your name, like @jeff3211 did

also the page looks great, somone should try to follow the turorial now :)

[2017-06-14 04:42] jennparker commented on #608
That's awesome, @David1platt, thanks! All, sorry that I haven't been able to contribute much lately. I've started a short term contract position that has kept me very busy. As part of a writing sample submitted for a recent interview, I revamped the Silex README.md. I have put it in [a new page in the wiki](https://github.com/silexlabs/Silex/wiki/Silex-README-Sample-(For-Review)) temporarily so yo

[2017-06-14 17:05] singchan commented on #608
it looks good to me

[2017-06-15 14:03] vatsalvala commented on #442
@singchan thanks man
after submitting here, I also submit this problem to formspree  and they teach me as you told.

Can I add "Bcc" mail?
In formspree , only shown for "CC"

[2017-06-15 14:07] singchan commented on #442
I think you can if you pay them?
You can make a php file to receive the info and send emails with cc and data formated as you want

[2017-06-16 13:38] vatsalvala commented on #442
@singchan : already "cc" is included in free plan
thank you for reply

some noted that your site http://lexoyo.me/ is not support for mobile browser

[2017-06-16 20:02] David1platt commented on #608
@jennparker The readme is well written, and free of grammar issues. Nice work!

[2017-06-16 20:31] lexoyo commented on #616
Thank you very much for this contribution
I will have time again for silex next week

[2017-06-20 18:07] #254 closed

[2017-06-20 18:07] #72 closed

[2017-06-20 18:17] lexoyo opened #617 "Silex next: please test"
Hello
A new version of Silex is on [preprod.silex.me](http://preprod.silex.me)

As asked many times by many people, there is a real color picker everywhere:
* background color
* border color
* text editor's text colo

Also several UI improvements compared to [editor.silex.me](https://editor.silex.me) (design and behavior of property editors)

Please help me test this, so that we can go for a next

[2017-06-21 12:01] singchan commented on #617
I have found these bugs (nothing to do with the new features)
* background image buttons are not actual buttons anymore
* "enable mobile" check box has disappeared (in settings)

[2017-06-21 13:03] JbIPS commented on #617
Everything seems good! I checked all the color picker and they're all 👌

Aside from that, I've got a strange behavior of the image container: I added an image but it looks like it center is on the right border of the div
![screenshot from 2017-06-21 15-00-47](https://user-images.githubusercontent.com/2248473/27385367-b2a667b8-5692-11e7-8a21-e25a5c47fbe5.png)

Moving the side handles resize the ima

[2017-06-21 13:51] JbIPS commented on #617
Bad news, I tried to publish (GH or FTP) but it hang every time (around `15 left`). I shared the folder with you so you can reproduce it.

_Fedora 25, Firefox 53_

[2017-06-22 14:20] singchan commented on #617
So now here are the current bugs I can reproduce
* background image buttons are not actual buttons anymore
* "enable mobile" check box has disappeared (in settings)
* publish
  * an iframe appears in the corner
  * error in one of the URL to load makes the server crash (@JbIPS in your case `http://localhost:6805/moz-extension://d52fa3d7-bb67-430b-9ac2-83d974890295/skin/socialwidgets/socialwidgets.

[2017-06-22 14:42] JbIPS commented on #617
Thanks @singchan! And now that you mention it, I too saw an iframe in the upper left corner

[2017-06-22 15:03] tariqbenezza opened #618 "Keep size in proportion"
Currently on Silex when you change your size here :

![image](https://user-images.githubusercontent.com/4911564/27440924-62a703b4-576c-11e7-8cd2-93f745bc62e0.png)

You cannot keep the proportions.

Let's code this :

- Automatically we don't need to keep the proportions when you change a value
- Add a tiny thickbox to disable the option above

[2017-06-22 20:48] Kevin160210 opened #619 "Using html to go from one page to another"
I am having a bit of a problem using html when trying to get from my home page to another page:
                    <style>
                        .button {
                            background-color: black;
                            border: none;
                            color: white;
                            padding: 10px 18px;
                            text-align: center;

[2017-06-22 22:09] lexoyo commented on #619
It is supposed to be "href=" instead of "https:="

I think this might be a bug in silex, you can try this
<a href="//[my website name].getforge.io/#!page-shortstories" class="button">Short Stories</a>

[2017-06-23 00:53] Kevin160210 commented on #619
Oh thank you for catching my mistake, I didn't realize I put http:= instead of href=
I seem to still be having a problem though, when I click the button now it states

I have another problem that came up but I'll see if I can figure it out first. Thank you for your help.

[2017-06-23 08:10] singchan commented on #619
Looks like it works for me:

![screenshot from 2017-06-23 10-09-59](https://user-images.githubusercontent.com/6483546/27472585-2af12da6-57fc-11e7-9e61-ac27e7aa5332.png)

![screenshot from 2017-06-23 10-09-47](https://user-images.githubusercontent.com/6483546/27472586-2b0bd502-57fc-11e7-8dfb-c3c0dc0879fc.png)

[2017-06-23 13:57] sanmayjoshi commented on #508
![silex-pic](https://user-images.githubusercontent.com/26383381/27485261-afdaa1e4-5849-11e7-9b9c-39588a39e895.png)

I came up with this. A logo directly relating to name!

[2017-06-26 03:33] David1platt commented on #608
Hey folks I updated the UI Main Menu section of the of the Editor UI page. The context menu has completely changed. Should I just describe the functionality of the menu at the top of the editor window? I also updated the guide for working with the live map component. Any feedback would be greatly appreciated.

[2017-06-26 18:58] David1platt opened #620 "Editorial/Style Guide"
One thing that would be really helpful for creating documents with fewer grammar issues, and a unified writing style would be to create a style guide. Style guides cover minor details of word spelling, when to capitalize, and use hyphenation in words. It would also be useful in indentifying the proper words to use to identify different components of the Silex editor.

Here is an example of a style

[2017-06-26 19:26] lexoyo commented on #619
is it resolved @Kevin160210 ?

[2017-06-27 06:45] lexoyo commented on #617
all these issues should be fixed, could you please test that they are?

[2017-06-27 07:30] lexoyo commented on #613
I close this issue since there is no bug anymore but several features being developped
Feel free to reopen if there is still an issue with the server being unresponsive

[2017-06-27 07:30] #613 closed

[2017-06-27 07:43] lexoyo commented on #608
Hi @David1platt

Nice work! Looks very good to me
Maybe you should make the list of components (Utils) link to the components pages? And the "code menu" and "Pages" and "Settings" have their doc section too I think

Yes you are right it changed completely a while ago.. So yes sure :+1:

[Here are small changes I made](https://github.com/silexlabs/Silex/wiki/Live-map-component/_compare/b7e2e9a536a5

[2017-06-27 15:23] tariqbenezza opened #621 "Open a new tab/window when you click on a link"
When you're using the text editor you can add a link.

![image](https://user-images.githubusercontent.com/4911564/27595487-1a1528ac-5b5d-11e7-89a6-d95bb05bc6dd.png)

The problem is that you can not configure it to open a new tab/window like you can do in HTML with :

`target="_blank"`

[2017-06-28 02:28] MissRenegade opened #622 "Issue with editing site"
Hey, wondering if anyone can help me with this (hopefully) easy issue.  I published my site last night and realized I forgot to enable mobile; so I went back in, enabled mobile and re-published.  Now, I went to add a photo, but cannot edit anything (except for moving via the arrow keys on my keyboard) and when the site opens it will only open to one page despite the links directing to the other pa

[2017-06-28 07:33] JbIPS commented on #622
Hello!
We're sorry you experienced such issue but everything's gonna be ok!

First, could you give us some information about your site:
* What's your cloud storage (FTP, GitHub, Dropbox,...) for publication and backup?
* What's your browser and your OS?
* Finally, which version of Silex do you use? editor.silex.me or your own instance?

Thank you for using Silex and helping it becoming greater!
--

[2017-06-28 13:27] MissRenegade commented on #622
Thanks for the reply, I'm sure it's something simple, I just can't figure out what.

I'm using Dropbox for publication and backup and then an FTP to my personal domain.

Browser is chrome, OS is windows 10.

Editor is silex.me

[2017-06-28 14:51] singchan opened #623 "css for mobile version"
The CSS editor should have 2 tabs: desktop and mobile

[2017-06-29 12:56] antosilex opened #624 "Google analytics embed code breaks my site"
All the sites i've done with silex since 2 years are broken even the last one done 3 months ago.
I'd like to modify the site http://www.clairiere-epona.com/ but here is what i see on my editor
![capture du 2017-06-29 14 53 59](https://user-images.githubusercontent.com/6757106/27688509-13965e04-5cdb-11e7-8685-1b3f75df3515.png)

[2017-06-29 21:02] nazmifr opened #625 "Why is there that there is no download html button ?"
Hi,
I've started using that awesome tool you created, it seems to fill the need for a wysiwyg web page editor I had. I was a bit surprised, though, when I found out that you are only proposing to save the page in the cloud. Why is it so ?

I had to use an ftp server to get my page and then to download it, modify it and then upload it to my web srerver... it would have been easier if I had been abl

[2017-06-29 21:20] JbIPS commented on #625
Hi @Nazmi

I understand your concern, and you're right, you're not the only one.

The reason behind that is mostly technical: accessing the user filesystem was a big challenge with latest browser. For example, only downloading your website means creating an archive with all your assets, HTML, CSS and js files which could be quite cumbersome. That's  why we opted for cloud storage.

Now, with the t

[2017-06-30 07:44] lexoyo commented on #624
Hello
Does it display the "update warning" when you open the site?
If you click "preview", is the preview broken too?

[2017-06-30 08:49] JbIPS commented on #625
Here's the link to the [download page](https://github.com/silexlabs/Silex/releases). Just so we know where to put our efforts, what's your OS? Right now we only support Linux but we'll get to Windows soon

[2017-06-30 13:08] antosilex commented on #624
Hi
Yes i saw the "update warning" and i saved as a new version but it doesn't change anything.
The preview is broken too
![capture du 2017-06-30 15 05 02](https://user-images.githubusercontent.com/6757106/27736760-db5c739a-5da5-11e7-85fb-cb384551ca30.png)

[2017-06-30 16:18] tariqbenezza opened #626 "Zoom CSS editor without zooming the whole interface"
Working on a responsive design can literally break your eyes !

![image](https://user-images.githubusercontent.com/4911564/27744590-6185ff62-5dc0-11e7-998d-8d7b2f4a3c16.png)

The problem is that when you zoom on the interface you will zoom the whole interface.

What about zooming only the CSS editor ?

[2017-06-30 17:25] lexoyo commented on #622
Could you please share the 2 versions of your html page?

[2017-07-01 22:38] David1platt commented on #608
![context-menu](https://user-images.githubusercontent.com/10900318/27765859-de6e27d6-5e72-11e7-9fe6-def5b4c922f7.png)

new context menu screenshot, updating Editor Ui section

[2017-07-01 23:27] David1platt commented on #608
properties screen shots -

![position-size](https://user-images.githubusercontent.com/10900318/27766092-e8c72618-5e79-11e7-8c63-62fc6aabea33.png)

![alt-tooltip](https://user-images.githubusercontent.com/10900318/27766095-ef30b622-5e79-11e7-91da-86985b35d7e0.png)

![link](https://user-images.githubusercontent.com/10900318/27766097-fe348c7a-5e79-11e7-8e3d-65a6294c14c5.png)

![visible-on](https://us

[2017-07-02 00:01] lexoyo commented on #624
Can you please share the website somewhere?

[2017-07-02 13:03] antosilex commented on #624
You already are the owner of the shared folder
I sent you an email
Tks

[2017-07-03 12:37] singchan commented on #624
There is an [issue with google analytics embed code in this method](https://github.com/silexlabs/Silex/blob/2d95ee981d25b56d4e966642fde21db6ba3b4f0a/src/js/utils/url.js#L217)

1- please remove this code from your sites `(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o

[2017-07-03 18:33] antosilex commented on #624
Tks for your answers
I've tried to remove the Google Analytics JS code  i'm not sure to do it properly  but it doesn't change anything, i really need some help to solve this problem it's urgent to update the website with the new planning for 2017, i don't know what to do all my assets disapeared and all the container are broken, and i really need to give some answers to the website owners, is ther

[2017-07-04 03:19] nazmifr commented on #625
Hi,
Sorry I got really busy and lost the first iteration of my message
Thanks for the precise answer, I understand a bit more now, I hope it will be there soon and wish you good luck in implementing it.

I'm gonna check that desktop version (I'm under GNU/Linux Devuan 8 Jessie) even though it's a bit sad if silex goes the desktop way, because there are already so many desktop wysiwyg web page edit

[2017-07-04 03:46] CrAzhar opened #627 "My Silex website"
Here is a link to a website I did with Silex:

[2017-07-04 08:45] JbIPS commented on #627
Hello @CrAzhar, I think you forgot to paste the link 😃

[2017-07-04 08:47] JbIPS commented on #626
You mean like changing the font size or really zoom in?

[2017-07-04 08:50] JbIPS commented on #625
The idea of the download button made some noise among the team but we can't decide where this should be. Where did you look first? This might be a good insight.

[2017-07-04 08:57] JbIPS commented on #617
They are! Nice job! 👏

[2017-07-04 09:45] tariqbenezza commented on #626
zoom in will change the whole page. Changing the font size sounds good.
What are your thoughts ?

[2017-07-04 09:47] JbIPS commented on #626
Changing the font size 🤣 !

Seriously, maybe catching a key combo like `Ctrl +` and changing the style of the editor with a bigger font.

[2017-07-05 20:37] nazmifr commented on #625
Where did I look for the download button?
I think I checked the file menu and then the code button without success.

[2017-07-11 12:45] tariqbenezza opened #628 "Impossible to access to my github directory"
Since one day I cannot access to my github repo. I just wanted to add a picture and the interface doesn't list the content of my directory anymore.

Here is the message I've got :

[code]

[2017-07-12 05:47] butathermix opened #629 "Impossible d'insérer une fonction javascript précise"
Bonjour,
lorsque je veux insérer ce code en passant par le javascript editor comme par le bloc html
function replaceImage(imgid, source, mapid)
{
  var image = document.getElementById(imgid);
  image.src= source;
  var newmap = document.getElementById(mapid);
  var origin = document.getElementById("mapgeneric");
  origin.innerHTML = newmap.innerHTML;
}

j'obtiens après validation

function replace

[2017-07-12 19:31] tariqbenezza commented on #629
Bonjour @butathermix  !

Avez vous essayé de le faire en jQuery ?

[2017-07-13 07:49] butathermix commented on #629
non, je vais regarder comment on fait et essayer... Merci

[2017-07-13 08:33] tariqbenezza commented on #629
jQuery est supporté par Silex de façon "native".

Pour le changement de source de l'image il vous suffit de faire quelque chose comme suit :

`$('#imgid').attr('src','source');`

N'hésitez pas si vous avez des questions

[2017-07-13 09:52] butathermix commented on #629
Merci :) vous venez juste de répondre à la question que je recherchais sur le net

[2017-07-14 17:54] JbIPS commented on #629
Je ferme ce ticket qui me semble résolu, n'hésitez pas à le rouvrir si besoin.

[2017-07-14 17:54] #629 closed

[2017-07-14 17:57] JbIPS opened #630 "Issues with "Visible on" section"
I added a text box in my website and wanted it to be on every page. First thing I saw, it's not, when I looked closer, it appeared the section might have some problems:
 ![screenshot](https://user-images.githubusercontent.com/2248473/28224151-54760628-68ce-11e7-8f26-46de81910ea4.png)

I'm on Windows 10, FF 54, on preprod.silex.me with the Ipsoom Center template

[2017-07-14 17:59] JbIPS commented on #628
Hello @tariqbenezza, could you point us to your repository? It could be something special with it because I couldn't reproduce with one of my repo.

Thank you for the report

[2017-07-14 18:07] JbIPS commented on #630
Actually, I'm having that too on editor.silex.me

[2017-07-14 20:18] lexoyo commented on #630
I saw that too, but when I refresh it goes away... I suppose you tried already?

[2017-07-14 20:27] tariqbenezza commented on #628
Here is my repo :

https://github.com/tariqbenezza/myCV

[2017-07-16 16:37] lexoyo commented on #628
I can reproduce, and it is probably due to this repo's number of commits :-(
I have squashed all commits into 1 on [my fork](https://github.com/lexoyo/myCV) as you can see in the commits, and now I can use the repo normally
This is strange since it usually displays another error on save only

To do like me and squash all commits into 1 on your fork, you can do this in the terminal

[code]

Note: [

[2017-07-17 11:03] tariqbenezza commented on #628
Great ! It works perfectly !
Thank you @lexoyo !

P.S : maybe you should force this kind of commands after ~100 commit in the same project

[2017-07-17 11:03] #628 closed

[2017-07-17 12:01] lexoyo commented on #628
👍

[2017-07-17 12:01] lexoyo commented on #628
@JbIPS what do you think about this idea?
Will it be the same with unifile 1.0 ?

[2017-07-17 13:08] JbIPS commented on #628
The limitations will be the same but a publication will create less commits, thus reducing the need of this.

Anyway, I'll look a way to squash everything with the API.

[2017-07-18 14:53] butathermix commented on #629
Merci pour vos réponses et désolé de pas avoir répondu plus tôt; malheureusement je n'ai pas réussi à faire tourner cette fonction; mais je suis pas un "cador" je ne fais que recopier ce que je vois sur le net .De toute façon je me suis aperçu après que je ne pouvais pas vraiment m'en servir avec des images "silex" vu qu'il y a un appel à l'ID qui n'est pas référencé dans les propriétés de l'objet

[2017-07-19 10:53] RowRowBoatBoat commented on #258
template non-existant.

[2017-07-19 13:28] lexoyo commented on #258
ok, this is a good way to do it :)
I think templamatic.com is now down permanently?

[2017-07-19 13:28] #258 closed

[2017-07-19 20:56] phaseforth commented on #272
Hi.  I have been trying unsuccessfully for a couple of weeks to get this widget working on a self-hosted website on my Synology Diskstation NAS which is working well for another Silex generated website. I have been through the steps a few times but neither the preview nor the published website work - all I get is the page number in text at top left and some text down the bottom. I have tried my ow

[2017-07-20 09:24] lexoyo commented on #272
it looks like you need to replace
[code]
with
[code]

[2017-07-20 09:40] RowRowBoatBoat commented on #258
I think so, would like to see this theme get updated; it's broken when used with the editor.

[2017-07-20 09:50] RowRowBoatBoat commented on #258
[template_3490.zip](https://github.com/silexlabs/Silex/files/1161878/template_3490.zip)

Here's the files if you want them. Would like to use it honestly.

[2017-07-20 09:50] lexoyo commented on #258
I believe it was removed from the official templates because it was a bit complex... The 1st silex site of @ceubri if I remember correctly

[2017-07-20 09:51] RowRowBoatBoat commented on #258
Ahhh, I can see that. Just been looking for something along the same lines.

[2017-07-20 09:57] lexoyo commented on #258
@antosilex had a bunch of CV too

[2017-07-20 10:15] RowRowBoatBoat commented on #258
I'll just edit the source to make it work, still would be cool to see more templates like this.

[2017-07-20 11:02] phaseforth commented on #272
Thanks lexoyo - that has fixed the problem.

[2017-07-21 15:17] popjoshuabloo commented on #489
I'm trying to create a web site using this template, but every time I try to download it it sends me to "this site cant be reached" is there any help you guys can bring me to be able to use this template.

[2017-07-21 15:42] lexoyo commented on #489
Yes templamatic is down :(
It looks like [this template is also here](https://github.com/singchan/galaxee)
You can fork it (fork button on the top right) to see it appear in Silex (on the dashboard click "import" then choose the github service)

[2017-07-21 15:43] lexoyo commented on #630
bump

[2017-07-21 15:43] #627 closed

[2017-07-21 15:46] lexoyo commented on #625
the download button is meant to let you download your published website? or to download anything from your dropbox/github/ftp? or to share a site with others?
thank you for the feature request, it's a good idea

[2017-07-21 15:47] lexoyo commented on #624
is this issue resolved @antosilex ?

[2017-07-21 17:59] JbIPS commented on #630
I'm sorry I didn't had time to retry that. Do you have any idea of what's causing it?

[2017-07-22 18:03] singchan commented on #630
No hurry this is not a critical issue
I really don't know and I can not reproduce anymore

On Jul 21, 2017 8:00 PM, "Jean-Baptiste Richardet" <notifications@github.com>
wrote:

[2017-07-24 01:49] nazmifr commented on #625
I think the ideal would be that that download button gives an archive containing all the necessary files to be uploaded to a web-server's ftp.

[2017-07-24 05:50] JbIPS commented on #625
Sure! I think that's what @lexoyo meant by "published version "

On July 24, 2017 3:49:34 AM GMT+02:00, Nazmi <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-07-24 09:43] lexoyo commented on #625
ok I see, thank you both :)

[2017-07-24 14:57] zelo-23 opened #631 "how can i add i new font option?"
I'm limited with several different font options and i'm having some difficulties trying to figure out to add a new one of my own.
And this is what it looks like,
![font1](https://user-images.githubusercontent.com/30077613/28529580-34566098-7091-11e7-9068-874b93e1877c.png)

[2017-07-24 15:03] singchan commented on #631
Hello
Here you have some useful info
https://github.com/silexlabs/Silex/issues/46

[2017-07-24 15:03] #631 closed

[2017-07-25 02:15] nazmifr commented on #625
Also the current cloud button would then seem a bit counterintuitive, I think, maybe a combo of the cloud and the usual save/download image would be better. Just suggesting.

[2017-07-25 05:56] JbIPS commented on #625
Could you develop a bit more this one? I don't understand the combo thing.

[2017-07-26 16:50] nazmifr commented on #625
Okay, let me take a couple of screens to illustrate

[2017-08-10 21:09] tommy-qiu opened #632 "User not logged in"
When I try to publish I am getting "error user not logged in yet. You need to call the login service. "

[2017-08-10 22:04] JbIPS commented on #632
Hello,
You should first log in the targeted storage. Just open the explorer (in Silex menu) and click on the storage. Once connected you'll be able to publish.

[2017-08-18 16:33] IOU4something opened #633 "How to make object only show on mobile?"
I need a container or section to only appear when the site is accessed using a mobile device. Is this possible?

[2017-08-19 22:08] nazmifr commented on #625
Sorry I was busy elsewhere, here's what I meant:

This is the actual icon:
![capture d ecran - 20082017 - 00 05 08](https://user-images.githubusercontent.com/9401751/29490419-5a5997e2-853b-11e7-8fc8-e19ee180443a.png)

It is (at least, it was for me) confusing, if you're going to add a local save system, an usual save icon button would be more appropriate, I think, or a combo of a save icon+a cloud

[2017-08-21 09:20] lexoyo commented on #633
hello
someone asked for a dedicated panel to do that, you can support it or ask questions about it in this issue #623
but for now, this is what you can do:
[code]

[2017-08-22 07:47] tradosevic commented on #543
Can reproduce the issue, almost exactly:
- in the beginning, worked perfecty
- now works after hard refresh / browser restart *
- Kubuntu 17.04, Chromium 60, Firefox 55
- although the values in the editor do not change, when you enter new values, they get applied (but not consistently)
- *- looks like it happens after you select a specific element with a custom css class and relative positioning (

[2017-08-22 08:33] tariqbenezza commented on #633
I'm using what @lexoyo described for my websites @IOU4something til the #623 is done.

Do you think we can close the issue @IOU4something ?

[2017-08-22 09:14] lexoyo commented on #543
Nice! I reproduce it now, thx

It seems to be resolved in the next version of silex already
http://preprod.silex.me/

Can you confirm?

[2017-08-22 09:15] #624 closed

[2017-08-22 09:35] tradosevic commented on #543
I can confirm - the issue does not occur, whatever I do with the divs that were problematic before.
Thanks! _(offt: Great project in general, two thumbs up!)_

[2017-08-22 09:52] lexoyo commented on #543
Ok interesting
You can use this version on preprod then, and switch back to editor.silex.me in a month or two when it is live (stay tuned here to be notified when I release the new version)
Thx for the thumbs up! :)

[2017-08-22 09:52] #543 closed

[2017-08-22 13:36] IOU4something commented on #633
That seems to be working for me I do appreciate the help you can close the issue.

[2017-08-23 18:52] tariqbenezza commented on #633
Thank you @IOU4something !

[2017-08-23 18:52] #633 closed

[2017-08-23 22:43] lslochov opened #634 "Linking to anchor tags on the same page"
Hi, I've been having a lot of fun with Silex, but I've come across a feature I want for my website that I haven't been able to fully figure out. I have one page with a lot of text, so I decided to break it up into sections, and have a table of contents at the top of the page with links to those sections (similar to Wikipedia). I've added anchor tags for all the section headings, but when I set up

[2017-08-24 06:59] tariqbenezza commented on #634
Hi there !

Great to hear that you have fun !

Do you have any URL where I can see it ?
In the meantime I'm trying to reproduce it.

Thank you

[2017-08-24 14:58] lslochov commented on #634
Hi, I have the site available at moat.gersteinlab.org

Right now, only the first section in the Table of Contents is linked, but it's sufficient to demonstrate the issue.

Any help you can offer is appreciated.

[2017-08-24 16:19] lexoyo commented on #634
Hi @lslochov
Maybe you should link to `#!page-usage#prereq`
If it does not work, try opening and saving you website with the next version of silex on http://preprod.silex.me

[2017-08-24 16:29] lslochov commented on #634
Hi @lexoyo , I tried using #!page-usage#prereq as well as using the preproduction Silex editor. Neither of those things worked.

[2017-08-24 16:40] lexoyo commented on #634
Oh ok, I see you updated your site and it does not work

I tried and replace the name `prereq` of your anchor with `!page-usage#prereq` and it seems to work...

You can do that for now but the best thing to do is to [change the code here](https://github.com/silexlabs/Silex/blob/35e5480a54d28beebab3f92bc51d9ef0c646c173/static/2.7/pageable.js#L76) and add a call to jquery to [scroll to the anchor, l

[2017-08-24 21:14] lslochov commented on #634
@lexoyo thanks so much, everything's working great now!

[2017-08-24 21:14] #634 closed

[2017-08-28 01:45] wealthyagainorg opened #635 "logo"
![2017-08-27 20_40_59-untitled - paint](https://user-images.githubusercontent.com/31395596/29756336-a0e44788-8b68-11e7-8a13-e4e287d19381.png)
like this or something in the same spirit.

[2017-08-31 12:33] greengoohelps opened #636 "Purchase Herbal Tattoo Lotions for Accelerating Tattoo Healing Process"
Tattooing is one of the oldest and most recognized forms of self-expression. It has been an enduring tradition in cultures dating back to Neolithic times, with the earliest direct evidence coming from around 4900 BC. People get “inked” for many personal reasons such as to pay tribute, to remember events, struggles or other people, to express creativity, to spread a particular belief or message, be

[2017-08-31 12:52] #636 closed

[2017-09-03 05:20] tommy-qiu opened #637 "Cannot open editor online"
![screen shot 2017-09-03 at 1 20 29 am](https://user-images.githubusercontent.com/26195773/30000798-1956e0f4-9046-11e7-96f0-9835160ae62a.png)

[2017-09-03 05:21] #632 closed

[2017-09-03 05:36] lexoyo commented on #637
Hello
Thank you for letting me know
The hosting company said they erased the SSL certificate instead of renew it...
I'll take care of this asap. In the mean time you can use preprod.silex.me

[2017-09-03 16:30] lexoyo commented on #637
I regenerated the certificate, it is fixed now

[2017-09-03 16:30] #637 closed

[2017-09-10 16:56] aswathyachu1996 opened #638 "My Silex website"
Here is a link to a website I did with Silex:

[2017-09-10 16:57] aswathyachu1996 commented on #638
heyy

[2017-09-10 16:58] aswathyachu1996 commented on #638
[silex-templates.zip](https://github.com/silexlabs/Silex/files/1290719/silex-templates.zip)

[2017-09-10 17:30] aswathyachu1996 opened #639 "My Silex website"
[silex-templates.zip](https://github.com/silexlabs/Silex/files/1290745/silex-templates.zip)
Here is a link to a website I did with Silex:

[2017-09-10 17:38] aswathyachu1996 commented on #639
![google](https://user-images.githubusercontent.com/31824490/30251430-da9ebb42-967c-11e7-9e5c-388091888a75.png)
![linkedin](https://user-images.githubusercontent.com/31824490/30251431-dae432d0-967c-11e7-98e2-41b6e703f49c.png)
![pinboard](https://user-images.githubusercontent.com/31824490/30251432-db0c9a40-967c-11e7-85e0-81dfc9171693.png)
![pinterest](https://user-images.githubusercontent.com/31824

[2017-09-10 17:39] aswathyachu1996 commented on #639
[https://editor.silex.me/api/1.0/dropbox/exec/get/designp.silexsite.com.html#!page-design](url)

[2017-09-12 13:28] lexoyo commented on #638
Hi @aswathyachu1996
It is good you did a website
To post it here you need a link. So you need to post your website online, see
https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website
Or for a temp version you can zip your files (not a folder in a folder like you did) and upload it to
https://grrhosting.herokuapp.com/

[2017-09-12 13:28] #638 closed

[2017-09-12 13:29] lexoyo commented on #639
this link is visible only by you

[2017-09-12 13:29] #639 closed

[2017-09-15 16:43] lexoyo opened #640 "Silex next version UI"
Hello
I have changed the dialogs implementation to cleanup the code
While I was at it I made all dialogs "full screen", what do you think about this change?
Test it online here
http://silex-editor.herokuapp.com/

[2017-09-20 21:29] elsoar opened #641 "Move images on the article"
hello all of you. I have an issue, I have a WordPress blog, each post have one image “sometimes more”, All images in the beginning of the post.
Now, I want move all images from the beginning to the end of the post! Is I can do that automatic or with a plugin without edit all posts Manually?

[2017-09-20 21:49] lexoyo commented on #641
hello @elsoar
here it has to be about Silex, not wordpress...
also I don't know how to do this...

[2017-09-20 21:49] #641 closed

[2017-09-23 00:33] AndreaMonzini commented on #640
Hello, i prefer full screen options like in the  website settings and publishing settings !

I have some questions:
-What about GrapesJS implementations? It could be interesting to merge projects.
-What about integrate Silex into an Electron like  desktop app? sometimes i prefer to manage files locally.

Anyway thank you for your work !

[2017-09-23 17:01] lexoyo commented on #640
ok thank you @AndreaMonzini for your support (again 😄)
good to know thx

There was [a discussion here](https://github.com/artf/grapesjs/issues/13) and I also began to split silex into smaller pieces but people would have to integrate them into grapesjs
* the [next version of Cloud Explorer](https://github.com/lexoyo/CloudExplorer2/issues) is separate and made from scratch with cleaner code and com

[2017-09-28 18:47] James62345 opened #642 "Can not Save Website"
I need help. When I tried to save the website but it said Error I can not manage to save the file. So anyone please help me.

[2017-09-28 19:51] James62345 commented on #642
Someone please help me :(

[2017-09-28 19:55] lexoyo commented on #642
Hello
What service do you use? Dropbox? Github?
What is you browser please?

[2017-09-28 20:01] James62345 commented on #642
I am using Dropbox, and Version 60.0.3112.114 (Official Build) (64-bit). I am using a chromebook to do this, and right now I cant log in to dropbox because I accidentally logged out of my dropbox.

[2017-09-28 20:18] James62345 commented on #642
https://drive.google.com/file/d/0B3Y4pzQzpenMWjFhQzQ2NkdHWGs/view

[2017-09-28 20:23] lexoyo commented on #642
Ok I think I understand what is happening. It appears to be a bug in the file browser, it will be fixed soon.

In the meantime here is a workaround:
* open this link https://editor.silex.me/api/1.0/github/logout
* go back to Silex and try again to login to dropbox

[2017-09-28 20:25] lexoyo commented on #642
Oups sorry, the correct link to open is this one:
https://editor.silex.me/api/1.0/dropbox/logout

[2017-09-28 20:44] James62345 commented on #642
I could not login after I accidentally logged out. So when I tried to save with github I could not save it at all.

[2017-09-28 21:01] lexoyo commented on #642
Ok, I am still trying to figure out what is happening

[2017-09-28 21:08] lexoyo commented on #642
Another solution for you is to use the version I am currently working on:
http://silex-editor.herokuapp.com/

It is a different file explorer

[2017-09-28 21:12] lexoyo commented on #642
Which solution?

[2017-09-28 21:12] James62345 commented on #642
http://silex-editor.herokuapp.com/

[2017-09-28 21:14] James62345 commented on #642
nvm xD

[2017-09-28 21:16] James62345 commented on #642
every time I tried to change the code i was working on it stops the file from saving

[2017-09-28 21:33] lexoyo commented on #642
can you give me more details please?

[2017-09-28 21:38] lexoyo commented on #642
or is it working now?

[2017-09-29 05:47] James62345 commented on #642
The details are in the video I am posting right now

[2017-09-29 05:50] James62345 commented on #642
https://drive.google.com/file/d/0B3Y4pzQzpenMT2RiekMwSDRxd0E/view?usp=sharing

[2017-09-29 05:50] James62345 commented on #642
You might have to download the video in order to watch it

[2017-09-29 15:45] lexoyo commented on #642
so, for github I think this is normal
it is a special service, you  have to have 2 levels of folders
you can only put a file when it is in a folder in a folder

[2017-09-29 17:52] James62345 commented on #642
Got it and it works :D

[2017-09-29 18:12] #642 closed

[2017-10-01 12:16] tommy-qiu opened #643 "Unable to connect to Dropbox"
I click connect to dropbox and no popups show me that lead me to sign in to dropbox.
![screen shot 2017-10-01 at 8 14 20 am](https://user-images.githubusercontent.com/26195773/31054453-d478e7d8-a680-11e7-933b-0a39768a8f8c.png)

[2017-10-01 18:45] whitehat91430 commented on #643
Hi, I get the same problem since Thursday...

[2017-10-02 00:10] lexoyo commented on #643
Me too and I don't understand why :(
I'll probably hurry to release the new version which does not have this bug, instead of loosing so much time on this... and nothing changed on my end for months, see the changes here https://github.com/silexlabs/Silex/commits/master

There are things you can do
* help me test the new version when I call for help like this #640
* use @jbips offline version, it c

[2017-10-02 03:43] felixtkn commented on #643
Same problem! Can't connect to Dropbox! What happened?....

[2017-10-02 05:38] lexoyo commented on #643
I don't know dropbox stop working, see my message above

[2017-10-02 06:12] lexoyo commented on #643
Ok I found why, dropbox deprecated something we use from the begining of Silex
https://blogs.dropbox.com/developers/2016/06/api-v1-deprecated/

So the only solution is to release the new version... Working on it. Support welcome

[2017-10-02 13:52] MichalVales91 opened #644 "Predefined namespaces?"
Hello!

My problem is little complicated: I created my own little custom validator and assigned it to its little den at `$app['validator']` where it's being called from many places in my code. Yup, your web claimed I can use any variables/namespaces I want! (And I didn't know about the existence of _Validator_. And even I do now, I'm totally allright with my own!) Why is it problem?

After some ti

[2017-10-02 15:00] lexoyo commented on #644
Hi @MichalVales91
I believe this is the other open source project called Silex
Here this is about Silex website builder, not the php microframework
Sorry about the confusion (and we were there first ;)

[2017-10-02 15:00] #644 closed

[2017-10-02 17:43] MichalVales91 commented on #644
@lexoyo Omg, doublefacepalm, I'm sooo sorry. :-D

[2017-10-02 19:06] lexoyo commented on #644
No, not a problem at all :)

[2017-10-03 19:42] lexoyo opened #645 "feature request: simple analytics in Silex"
The idea would be to have an "analytics" section in the settings, with the site visits statistics

The best technical solution for our use cas is probably
* the go back end https://github.com/GitbookIO/micro-analytics
* nodejs sdk to call it https://www.npmjs.com/package/micro-analytics
* front end to visualize analytics (not enough but a start) http://code.robblewis.me/micro-dashboard/

Other sol

[2017-10-04 15:33] lexoyo opened #646 "Help me test the next version of Silex"
As explained in #643 Dropbox support is broken and it is urgent to release the next version of Silex
It is a big step forward for UX thanks to Unifile and Cloud Eplorer projects which have been rewritten from scratch. Special thanks to @JbIPS, @clemos, @tariqbenezza for this.

Please test the new version on https://preprod.silex.me/ and give comments here

The following issues are already know and

[2017-10-04 21:50] lexoyo commented on #646
I found out that the skill bar component does not work @JbIPS can you confirm?

[2017-10-05 23:51] lindstromscott commented on #643
I have the same problem but cannot wait for a new release because I am applying for job positions and need to be able to update my CV on my page. Does anyone have a work-around where I can take my site from dropbox and somehow edit it offline?

[2017-10-06 01:53] lexoyo commented on #643
Try with the new version (backup everything before)
http://silex-editor.herokuapp.com/

[2017-10-06 10:06] Chnoe1502 commented on #643
Hi Alex!

If i try the new version and load my page they write following
![unbenannt1](https://user-images.githubusercontent.com/32568068/31273406-c5e9e796-aa8e-11e7-9657-ebe585623465.png)

[2017-10-06 10:10] Chnoe1502 commented on #643
@lindstromscott you can edit it with visual studio from Microsoft quick to do the changes and reupload it! please do backups if anything went wrong!

[2017-10-07 07:42] fernandammoutinhobarros commented on #643
Same problem here!! What can I do?

[2017-10-07 07:54] fernandammoutinhobarros commented on #643
The new version show the same error when I open the files...
I don't have visual studio, how can I solve this?

![image](https://user-images.githubusercontent.com/25388113/31305933-0c2f1d76-ab3d-11e7-8a14-a462ee6b244f.png)

[2017-10-07 09:44] fernandammoutinhobarros commented on #643
what hapened to the prepod version, it doesn't work anymore also?
can't load files to the new version with this error... please help!!

[2017-10-07 10:14] fernandammoutinhobarros commented on #646
I know almost nothing about code, but I can try to test ... what can I do?

[2017-10-08 21:51] lexoyo commented on #643
Hi

preprod.silex.me is down because I tried to deploy the new version on it, and the hosting (gandi simple hositng which is free because silex is a "supported project") has an outdate version of some lib that we use in the new version

I'm on it but it  is complicated, sorry about that

[2017-10-08 21:54] Chnoe1502 commented on #643
Working trough the ftp Client is working now!! You and your team have done so a great work!!! I hope the new version online soon :)

[2017-10-08 22:09] lexoyo commented on #643
thx @Chnoe1502 this is greatly appreciated in these time of crisis for silex :)
cc @JbIPS

[2017-10-08 22:33] lexoyo commented on #646
Hi
Here are some ideas
* create a test website from scratch, edit some content and save on dropbox
* create a test website from a template, edit some content and save on dropbox
* edit an existing website of yours
* publish your website to a folder in dropbox
* test all the "components" (form, map, ...)

[2017-10-08 22:42] lexoyo commented on #643
@fernandammoutinhobarros there is a new  "new version" deployed on http://silex-editor.herokuapp.com/
Could you test if you still have this message, and [please report the test results here](https://github.com/silexlabs/Silex/issues/646)

[2017-10-08 23:05] Chnoe1502 commented on #646
Hi i have tested it i can't open any html :/

[2017-10-09 17:35] fernandammoutinhobarros commented on #646
Image insertion from dropbox not working

![image](https://user-images.githubusercontent.com/25388113/31350465-34fdf090-ad1f-11e7-9e04-17fb609b06ed.png)

Live Map doesnt show options to change adress

![image](https://user-images.githubusercontent.com/25388113/31350646-df1e3c24-ad1f-11e7-86a4-aa6ac9ab8800.png)

and share buttons  doesn´t show options

![image](https://user-images.githubusercontent

[2017-10-09 17:40] fernandammoutinhobarros commented on #646
I can save the file, but rhe preview is empty

![image](https://user-images.githubusercontent.com/25388113/31350923-e8618984-ad20-11e7-82c1-367edc98912d.png)

[2017-10-09 17:44] fernandammoutinhobarros commented on #646
After publish, the result is:

{"statusCode":409,"message":"{\"error_summary\": \"path/not_found/...\", \"error\": {\".tag\": \"path\", \"path\": {\".tag\": \"not_found\"}}}"}

![image](https://user-images.githubusercontent.com/25388113/31351145-df0e1216-ad21-11e7-91ba-8afaf093d388.png)

[2017-10-09 17:50] fernandammoutinhobarros commented on #646
Using a template:

Made some changes and saved.
tride to change a foto, but  not working...
![image](https://user-images.githubusercontent.com/25388113/31351324-8f1d6896-ad22-11e7-8ef7-c9d933f3630b.png)

[2017-10-10 07:39] lexoyo commented on #646
Oh not so good
Thank you all
I'll work on it and will ask you more tests after that

[2017-10-10 10:17] ocharbon45 opened #647 "Issue with cloudexplorer to connect on dropbox"
sur/working on: PC linux, Ubuntu 16.04 64bits

Bonjour. Je souhaiterais créer un site internet pour mon association avec l'éditeur Silex. Malheureusement, lorsque je souhaite me connecter à mon compte dropbox, cloud explorer ouvre une fenêtre pour me demander mon autorisation, et lorsque je clique sur "autoriser" rien ne se passe. Comment résoudre ce problème ? Merci par avance pour votre aide.

-

[2017-10-10 10:46] JbIPS commented on #647
A change in Dropbox broke Silex ability to save on it.

You can find workaround in this issue https://github.com/silexlabs/Silex/issues/643

[2017-10-10 10:54] ocharbon45 commented on #647
Thanks for your answer. I just test this workaround, it conenct to Dropbox but there is an issue with downloading pictures. I'll explain it on #643 ;)

[2017-10-10 10:57] ocharbon45 commented on #643
Hi. This "new version" allow me to conenct on my dropbox, but I can't load pictures from it. There is this error message:
![capture du 2017-10-10 12-56-43](https://user-images.githubusercontent.com/32670669/31383247-9bd45688-adba-11e7-9add-0ef13d91d887.jpg)

[2017-10-12 14:55] mambrus commented on #646
After trying to import "editable.html" via Dropbox I get the same message as several others have already reported in #643:

![image](https://user-images.githubusercontent.com/367514/31501771-76587698-af6b-11e7-9d91-87cef4bd190a.png)

I'm sorry for not having followed the problem until now. Is this issue coming and going?

Hints for bypassing this initial hurdle greatly appreciated.

[2017-10-12 15:04] Chnoe1502 commented on #646
Please use ftp there are no problems at the moment! You only have to clear the Browser history and everything is working fine

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Michael Ambrus <notifications@github.com>
Sent: Thursday, October 12, 2017 4:55:20 PM
To: silexlabs/Silex
Cc: Chnoe1502; Comment
Subject: Re: [silexlabs/Silex] Help me test the

[2017-10-12 15:23] fernandammoutinhobarros commented on #646
Well I tride ftp, but it doesn't work  also.
Can't make changes craches and can't preview also...

[2017-10-12 15:24] fernandammoutinhobarros commented on #646
and the images don't load...

![image](https://user-images.githubusercontent.com/25388113/31504247-ce97e64c-af69-11e7-93b2-267e218def7d.png)

[2017-10-12 15:25] fernandammoutinhobarros commented on #646
When i try to preview it shows the folloing error

![image](https://user-images.githubusercontent.com/25388113/31504309-f4bfa116-af69-11e7-9db3-de1ef476417c.png)

[2017-10-12 15:27] Chnoe1502 commented on #646
The images don't load because they have a new data path please put the pictures again in your webpage and for the preview i am using the path of the webpage on server directly in my Browser

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Azulinha <notifications@github.com>
Sent: Thursday, October 12, 2017 5:24:46 PM
To: silexlabs/Silex
Cc: Chnoe150

[2017-10-12 19:04] whitehat91430 commented on #643
Hi,same problem as ocharbon45 got... And I cannot access to main web file cause no scroll down possible in window.
Thanks !

    Le mardi 10 octobre 2017 à 12:57:55 UTC+2, ocharbon45 <notifications@github.com> a écrit :

Hi. This "new version" allow me to conenct on my dropbox, but I can't load pictures from it. There is this error message:

—
You are receiving this because you commented.
Reply to

[2017-10-13 17:38] lexoyo commented on #646
Hi

Thank you all for these useful tests

This is what I add to my list

@fernandammoutinhobarros bugs

* [ ] Image insertion from dropbox not working
* [ ] Live Map doesnt show options to change adress and share buttons doesn´t show options, Skill bars, slideshow and contact form also
* [ ] I can save the file, but rhe preview is empty
* [ ] After publish, the result is: `{"statusCode":409,"messa

[2017-10-14 19:03] Chnoe1502 commented on #646
Here is my personal suggest for everybody who have this problems at the moment!

1. Clear everthing from your browser history passwords, lists, auto fill in almost everthing and do this everytime if you reopen it
2. Put your web page on your ftp filebrowser
3 put all your pictures on your ftp browser and copy it again to your webpage and everthing is working
4 you can watch your preview if you put

[2017-10-15 20:41] stache1draht commented on #607
Moved Slideshow Component to Editor Ui.

[2017-10-16 10:07] singchan commented on #607
thank you
I moved the "components" section below the "elements" section

[2017-10-16 20:45] stache1draht commented on #607
Moved Skill Bar Component to Editor Ui. Put a link to the new page in [the original page](https://github.com/silexlabs/Silex/wiki/Skill-bar-component) similar to the changes made by singchan. As for the other sections where this component is mentioned, I do not know how to find them, so I did not substitute the links there. If anybody could provide instructions that would be great.

[2017-10-18 13:56] lexoyo commented on #647
great thx

[2017-10-18 13:56] #647 closed

[2017-10-18 13:57] lexoyo commented on #643
I'm on it thx

[2017-10-18 19:10] soundservice commented on #643
Hi lexoyo and all:  thank you for your efforts in getting Silex back up!
I managed to connect herokuapp to Dropbox, edit and Save As (although I have to create a new file name each time), publish and preview, however the files are no longer saved to my local Dropbox?

[2017-10-20 16:49] lexoyo opened #648 "cleanup silex paths"
Before being able to cleanup and make a better publication (#616), I need to cleanup the client side code for paths manipulation

The idea to do so:
* all path on the client side will be absolute path like `/github/get/test/image1.png`, `/static/2.7/normalize.css`
* a route to read and write html pages with these absolute paths, which will convert all of them to/from relative paths (relative to th

[2017-10-21 09:43] blueskythinker commented on #238
Is it possible to build a site externally in html, then bring it in and publish through you?

[2017-10-21 09:45] lexoyo commented on #238
Not for the moment no

[2017-10-21 18:40] nayrangnu commented on #646
I was able to import from Github, but cannot publish to FTP. I get an error that says:

    Error message: Can't create directory: File exists

The site exists on the FTP server, created by the current live version. That version is able to publish without error. Not sure if this is a Silex error or something else.

Just found this project and am very impressed by its ease of use.

[2017-10-23 13:27] lexoyo commented on #646
hello all
Please **test all your issues again here: https://preprod.silex.me**
@JbIPS has worked hard so that preprod is back
thx @nayrangnu, thx @JbIPS

[2017-10-23 13:41] fernandammoutinhobarros commented on #646
Hello!

I was able to open the webpage created with the other version. Yes !!
Preview opens perfectly.
Saving works.
Publishing also!!

For now it seems all OK!

I have to test other things, I'll give feed back later.

THANK YOU FOR YOUR HARD WORK!!!

[2017-10-23 13:44] lexoyo commented on #646
The FTP also?
THx

[2017-10-23 14:50] fernandammoutinhobarros commented on #646
Only tested dropbox.

[2017-10-23 15:10] lexoyo commented on #646
do you have a live example of a published site with ftp?

[2017-10-23 15:11] Chnoe1502 commented on #646
This is my Website

http://www.kreativbewegen.at/Winter/Winter.html

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Alex Hoyau<mailto:notifications@github.com>
Gesendet: Montag, 23. Oktober 2017 17:10
An: silexlabs/Silex<mailto:Silex@noreply.github.com>
Cc: Chnoe1502<mailto:christoph.noeckler@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Betreff:

[2017-10-23 15:14] lexoyo commented on #646
on the "editable" version, where is located the image `Logo_LBS_png_schwarz.jpeg` ?
can you share also the unpublished version?

[2017-10-23 15:17] Chnoe1502 commented on #646
http://www.kreativbewegen.at/WinterBearbeitung/Winter.html

It is in the Folder LOGO inside WinterBearbeitung

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Alex Hoyau<mailto:notifications@github.com>
Gesendet: Montag, 23. Oktober 2017 17:14
An: silexlabs/Silex<mailto:Silex@noreply.github.com>
Cc: Chnoe1502<mailto:christoph.noeckler@hotmail.com>; Mention<ma

[2017-10-23 20:09] stache1draht commented on #607
Moved Contact Form Component, Live Map Component, and Share Bar Component to Editor UI page. Updated the Editor UI page and removed the corresponding "Help needed" entry.

[2017-10-23 20:37] stache1draht commented on #607
Moved [How to Host An Instance of Silex](https://github.com/silexlabs/Silex/blob/develop/readme.md) to its own [wiki page](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex). Updated the link in [Tutorials and Guides](https://github.com/silexlabs/Silex/wiki/Tutorials-and-Guides)

[2017-10-24 09:52] lexoyo commented on #607
thank you @stache1draht !!

[2017-10-24 17:30] Chnoe1502 commented on #646
Hi!

Today it is horrible i cannnot save and edit anything
It doesn’t matter if i use Chrome or Firefox woring on ftp

Best regards!

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Alex Hoyau<mailto:notifications@github.com>
Gesendet: Montag, 23. Oktober 2017 17:14
An: silexlabs/Silex<mailto:Silex@noreply.github.com>
Cc: Chnoe1502<mailto:christoph.noeckler@h

[2017-10-24 17:55] lexoyo commented on #646
Oh no :(
Are you working on preprod.silex.me? Please do, the latest version is there again as we have fixed it so it is back to normal

[2017-10-24 17:59] Chnoe1502 commented on #646
If i open it with preprod.silex.me all sections do not load except the first and the last one :/

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Alex Hoyau<mailto:notifications@github.com>
Gesendet: Dienstag, 24. Oktober 2017 19:55
An: silexlabs/Silex<mailto:Silex@noreply.github.com>
Cc: Chnoe1502<mailto:christoph.noeckler@hotmail.com>; Mention<mailto:mentio

[2017-10-24 18:16] Chnoe1502 commented on #646
On opera it is working? Strange Things…

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Alex Hoyau<mailto:notifications@github.com>
Gesendet: Dienstag, 24. Oktober 2017 19:55
An: silexlabs/Silex<mailto:Silex@noreply.github.com>
Cc: Chnoe1502<mailto:christoph.noeckler@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Betreff: Re: [silexlabs/Silex] Help

[2017-10-24 18:38] lexoyo commented on #646
is it? i never tried...

is it still the same website?
when you click on the 1st page in the pages list on the left, does it load?

[2017-10-24 18:47] Chnoe1502 commented on #646
If i ckilck on the first page it is working and i am rather impressed that is working so smooth on opera!

Yes it is still the same page =)

One other question is it possible to make the burger menue srollable?

Thanks! =)

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Alex Hoyau<mailto:notifications@github.com>
Gesendet: Dienstag, 24. Oktober 2017 20:38
An

[2017-10-24 18:49] lexoyo commented on #646
It should be already
Let me check

[2017-10-24 18:51] lexoyo commented on #646
could you share a zip with your website + assets by email or dropbox please? (a.hoyau [at] im-paris.fr)

[2017-10-24 18:55] Chnoe1502 commented on #646
http://www.kreativbewegen.at/Sommer/Sommer.html

On Page with mobile Version i am missing the news Page in the Burger menue

Can i send you tomorrow an Email?
Thanks

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Alex Hoyau <notifications@github.com>
Sent: Tuesday, October 24, 2017 8:51:10 PM
To: silexlabs/Silex
Cc: Chnoe1502; Mention
Subject: Re:

[2017-10-24 18:58] lexoyo commented on #646
sure

[2017-10-24 19:00] Chnoe1502 commented on #646
Wich Email adress i should use?

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Alex Hoyau <notifications@github.com>
Sent: Tuesday, October 24, 2017 8:58:58 PM
To: silexlabs/Silex
Cc: Chnoe1502; Mention
Subject: Re: [silexlabs/Silex] Help me test the next version of Silex (#646)

sure

—
You are receiving this because you were mentioned.
Reply to

[2017-10-24 19:03] lexoyo commented on #646
a.hoyau [at] im-paris.fr

I see, it is a bug in the menu css styles
I will fix it, but in the mean time you can add this to your CSS styles
[code]

[2017-10-24 19:04] lexoyo commented on #646
No wait, this will work better:
[code]

[2017-10-24 19:06] Chnoe1502 commented on #646
Thank you so much!!

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Alex Hoyau <notifications@github.com>
Sent: Tuesday, October 24, 2017 9:04:32 PM
To: silexlabs/Silex
Cc: Chnoe1502; Mention
Subject: Re: [silexlabs/Silex] Help me test the next version of Silex (#646)

No wait, this will work better:

.silex-pages {
    overflow-y: scroll;
    over

[2017-10-24 19:09] lexoyo commented on #646
mit viel spass

[2017-10-27 10:36] AL4You opened #649 "AL4You"

[2017-10-27 10:36] #649 closed

[2017-10-28 13:33] AndreaMonzini commented on #489
@lexoyo i would like to try this template, what is the price and license?
I tried to look` http://www.templamatic.com/templates/4574` but it's down.

[2017-10-28 13:40] AndreaMonzini commented on #646
@lexoyo do you suggest to test `http://silex-editor.herokuapp.com`` or https://preprod.silex.me`?

[2017-10-28 13:44] AndreaMonzini commented on #645
What about `Piwik` integration with Silex?

[2017-10-28 15:07] lexoyo commented on #645
good one!! this already works, you can paste piwik's embed code in the "head editor"

piwik is great (they support Silex by the way and [provide this instance for free, to monitor editor.silex.me](http://lexoyo.piwik.pro/)), but it is expensive to host and requires a bit of learning. The solution I was thinking about would simply give you the number of visits in the settings

[2017-10-28 15:16] lexoyo commented on #489
It used to be 8$, because I wanted to encourage designers and show them that templates could be profitable... But now that templamatic is down, there is no point... Here it is, I have added a creative commons lisence:  https://github.com/singchan/galaxee

[2017-10-28 15:23] lexoyo commented on #646
As of now please test on https://preprod.silex.me

[2017-10-30 13:52] parkadia commented on #646
I can log onto my website in my dropbox but unfortunately, https://preprod.silex.me suffers from other old issues. For example, it does not display page names under links making it impossible to link a container to a page. It is, therefore, unusable for anything other than minor text editing.

[2017-10-30 15:07] lexoyo commented on #646
Hello

I do have the page names in the link dropdown list
![screenshot from 2017-10-30 16-06-59](https://user-images.githubusercontent.com/715377/32178207-76976f86-bd8c-11e7-9179-d625060aa273.png)

What is your browser
Can you help list the other bugs you have please?

[2017-10-30 15:13] Chnoe1502 commented on #646
If i want to publish in Chrome the Index file isn't created but the folders are there!

Best regards

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Alex Hoyau <notifications@github.com>
Sent: Monday, October 30, 2017 4:08:06 PM
To: silexlabs/Silex
Cc: Chnoe1502; Mention
Subject: Re: [silexlabs/Silex] Help me test the next version of Silex (#646)

[2017-10-30 17:23] parkadia commented on #646
My browser is Chrome and this is what my link dropdown list looks like:

![links_error](https://user-images.githubusercontent.com/29164121/32185404-e8779a7c-bd96-11e7-8f9d-c53cc75c7235.jpg)

I have a similar issue with the visible on list which looks like this:

![visible_on_error](https://user-images.githubusercontent.com/29164121/32185447-071a8d5e-bd97-11e7-8c1a-4d5f6b0869c6.jpg)

[2017-10-30 17:45] lexoyo commented on #646
@chnoe1502 are you publishing to and from Dropbox?

@parkadia this happens sometimes, it will probably disappear when you refresh the browser a few times, but I add it to the list thx

[2017-10-30 17:54] Chnoe1502 commented on #646
Yes i have my editable Version and final version on dropbox. I manual save the Page as Index.html and i can publish it as a regular Version but the normal way of distribution are not really working :/

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Alex Hoyau <notifications@github.com>
Sent: Monday, October 30, 2017 6:45:18 PM
To: silexlabs/Silex
C

[2017-10-30 22:47] parkadia commented on #646
What do you mean by 'refresh'? I have used F5 ten times in succession. Each time, I have had to reload the website and each time the problem does not disappear.

I first noticed this issue when you recommended using preprod.silex.me back in June.

I have never experienced this issue in editor.silex.me.

I appreciate that preprod.silex.me has been reconstructed recently BUT it is not EXACTLY the sa

[2017-10-31 14:06] bialyjerozy commented on #646
Hey, i'm getting madness because of this... i've tried http://silex-editor.herokuapp.com`` and https://preprod.silex.me, in none of them i can't make any of my images work.. i tried to put new images from dropbox, it seems like it still got some bad patch, after about 6 hours and 2 nights i'm giving up.. :/ I can't make any changes in site because of this.. could anyone help me?

[2017-11-02 09:46] lexoyo commented on #646
oh ok :(
then could you please open the [developer console in chrome](https://developers.google.com/web/tools/chrome-devtools/console/) and screenshot what it says in the "console" tab please?

Because we had to create the file explorer from scratch, and the integration in Silex was a huge change. The work with @JbIPS and @clemos and @tariqbenezza began more than a year ago

See these changes here

[2017-11-02 16:46] lexoyo commented on #646
Could someone help me test all the templates? Open, change things, save, publish, check the mobile version...

[2017-11-03 00:18] bialyjerozy commented on #646
Lexoyo could you help me with my issue please?

[2017-11-03 08:03] stache1draht commented on #607
As for the other items in the list (those to be moved to Tutorials and Guides and Widget documents), I think, it would be reasonable if they are moved by their authors, since the authors can just copypaste texts of the posts to the new pages while other users will have to do extra work copying and formatting them all over. Meanwhile I can create blank pages for these items on the weekend. What do

[2017-11-03 09:38] lexoyo commented on #646
Oops sorry I did not see your message, thank you for notifying me

On preprod.silex.me, you can authorize dropbox and access your dropbox files, then when you click on an image what does it do?

[2017-11-03 13:22] lexoyo commented on #607
Yes that's a good idea!

[2017-11-03 13:40] bialyjerozy commented on #646
It loads image to the template, i can move, resize etc it.

[2017-11-03 14:10] lexoyo commented on #646
oh ok, so what is the bug exactly?

[2017-11-03 14:15] bialyjerozy commented on #646
It seems like it can't save them, after im trying to save/publish, there's no images in assets folder. In preview everything seems fine, but when i'm trying to upload published site to ftp, every single image is broken like here: https://user-images.githubusercontent.com/25388113/31504247-ce97e64c-af69-11e7-93b2-267e218def7d.png
Even when i put them into folder assets there manually, there's no im

[2017-11-03 14:19] lexoyo commented on #646
oh
can you share the site you put on the ftp please?

[2017-11-03 14:20] bialyjerozy commented on #646
sure: www.fotofun.pro, but now i't old version of the site, should i upload new corrupted one?

[2017-11-03 14:23] bialyjerozy commented on #646
or do You mean files?

[2017-11-03 14:31] AndreaMonzini commented on #489
I'm tying to load the template with `https://editor.silex.me` or `https://preprod.silex.me/#!page-galaxee-home-page` but the load icon is spinning forever:

![screen shot 2017-11-03 at 3 29 20 pm](https://user-images.githubusercontent.com/12413409/32378811-fe9e5260-c0ab-11e7-817b-e8ef92e38a89.png)

[2017-11-03 14:31] lexoyo commented on #646
yes please upload the corrupted one somewhere

[2017-11-03 14:32] bialyjerozy commented on #646
done, on the same address

[2017-11-03 14:34] lexoyo commented on #646
this is not the published site, but the editable version. can you publish your site to a folder and then upload it or publish directly to FTP?

[2017-11-03 14:46] bialyjerozy commented on #646
What do You mean? Last time i edited this site was loong time ago, i could not remember how it was done, but now, when i click publish i got created 3 new folders- assets, css and js, without any html file, so i save site as, and got editable.html file and then i just change name to index.html, am i wrong?

[2017-11-03 14:49] lexoyo commented on #489
Hi
I just tried and it works...
![screenshot from 2017-11-03 15-46-53](https://user-images.githubusercontent.com/715377/32379660-6c85273e-c0ae-11e7-8364-49bf6efe8f38.png)

Could you try again?

If it still does not work, can you tell me:
* your browser
* do you open editable.html?
* where do you open the file from? (if github which repo)

[2017-11-03 14:52] lexoyo commented on #646
When you publish it is supposed to create index.html
Your editable.html references images with a relative path to your cloud storage, so this can not work
When you publish:
* does it end with a message like "success" + a link to the published website?
* where is the editable.html file, dropbox?
* where do you publish to, ftp?

[2017-11-03 14:58] AndreaMonzini commented on #489
Ok, i was using Safari®...
Now it works with Firefox® 56 with `https://editor.silex.me` but with `https://preprod.silex.me/` i cannot see the menu e other elements.
Thank you!

![screen shot 2017-11-03 at 3 54 50 pm](https://user-images.githubusercontent.com/12413409/32380180-bc8b500e-c0af-11e7-84a3-22ec6f9919e6.png)

[2017-11-03 15:06] AndreaMonzini commented on #646
Hello, i'm testing the `https://preprod.silex.me/` and i have problems with the "Galaxee" template.
I cannot see menu and other elements:
Firefox 56.0.2, FTP access.

![screen shot 2017-11-03 at 3 54 50 pm](https://user-images.githubusercontent.com/12413409/32380661-e594a012-c0b0-11e7-8ebe-779540506063.png)

[2017-11-03 15:16] lexoyo commented on #489
Ok, this is a bug on preprod, I will check it out

[2017-11-03 15:18] lexoyo commented on #646
Nice one, thank you andrea
I add it to the list and will get back to you soon
(Also reported here https://github.com/silexlabs/Silex/issues/489#issuecomment-341732994)

[2017-11-03 15:21] bialyjerozy commented on #646
Something changed, 2 days ago i could save it without any error now i got this message:
 "I did not manage to publish the website. You may want to check the publication settings and your internet connection
Error message: Unknown error from dropbox" It seems like error with privileges?

- Before that i could publish it with a link to published site, but when i clicked link there was some kind of e

[2017-11-03 15:37] lexoyo commented on #646
Ok @bialyjerozy very interesting
Let me push some changes I have made yesterday and test again. I'll do that tonight

[2017-11-03 15:41] bialyjerozy commented on #646
Okay, let me know when i should try again, oh and one more, maybe i should have buissness dropbox account instead of personal? I wonder if theres an option to force preprod.silex to ask about dropbox permission, like it was in normal silex editor.

[2017-11-03 15:44] lexoyo commented on #646
you are right, it is a different app, but this should work nonetheless

no it is fine with personal, I believe that this bug is fixed on my local computer, I tell you when I will have pushed the fix on preprod.silex.me

[2017-11-03 16:31] Tyrael84 opened #650 "[Mobile] [Hamburger] Hide pages in the hamburger menu?"
Is it possible to pick and choose which pages are displayed in the 'hamburger' menu on the mobile version of the site. I would assume it would involve some sort of JS or CSS.

[2017-11-03 16:31] Tyrael84 opened #651 "Mobile Hamburger: Hide pages?"
Is it possible to pick and choose which pages are displayed in the 'hamburger' menu on the mobile version of the site. I would assume it would involve some sort of JS or CSS.

[2017-11-03 17:38] lexoyo commented on #650
closing this one as it is a duplicate of #651

[2017-11-03 17:38] #650 closed

[2017-11-03 17:43] AndreaMonzini opened #652 "Preview your published site link"
Hello,
testing `https://editor.silex.me/` publishing with FTP

wen i publish the website and when i click on "Preview your published site here" the link is:

https://editor.silex.me/api/1.0/ftp/exec/get///silex/Pub/index.html

It's very slow and not pointing to the actual website published link.

![screen shot 2017-11-03 at 6 35 52 pm](https://user-images.githubusercontent.com/12413409/32388009-97

[2017-11-03 17:43] lexoyo commented on #651
Hello @Tyrael84
For now this will require CSS, but we should make it easy in the future
Please add this CSS code in the "CSS style editor", but replace `***page name***` by the page name (e.g. `.page-mypagename {`
[code]

[2017-11-03 17:43] lexoyo commented on #651
Hello @Tyrael84
For now this will require CSS, but we should make it easy in the future
Please add this CSS code in the "CSS style editor", but replace `***page name***` by the page name (e.g. `.page-mypagename {`
[code]

[2017-11-03 17:45] lexoyo commented on #651
I tried on the "food and drink" template, and I could hide the "team" page from the mobile menu with this css code:
[code]

[2017-11-03 17:47] lexoyo commented on #652
Yes, it is your FTP via Silex server... This is because we do not know the final URL of your site :-/

[2017-11-03 17:49] lexoyo commented on #646
This is live on https://preprod.silex.me
@bialyjerozy could you try to publish again
* from dropbox to dropbox and then upload to FTP
* from dropbox to FTP directly

[2017-11-03 17:57] bialyjerozy commented on #646
Same error when trying to publish to dropbox, but when trying to publish on ftp, it saved folders, some pictures and then got error message: exceeded number of connections per user... :/

[2017-11-03 18:12] AndreaMonzini commented on #646
Sometimes i'm unable to see files, only directories when i try to load in FTP the Galaxee template:
![screen shot 2017-11-03 at 6 56 03 pm](https://user-images.githubusercontent.com/12413409/32389241-751fcd24-c0ca-11e7-8c69-b343729d61f7.png)
While i receive error message when i try to publish (to FTP)
![screen shot 2017-11-03 at 7 08 00 pm](https://user-images.githubusercontent.com/12413409/323894

[2017-11-03 18:48] AndreaMonzini commented on #652
The FTP access and the FTP publishing path are not enough to know the published website address?
Maybe could be useful to add manually somewhere the final website address.
Can i use one FTP to load assets and another FTP to publish website?

[2017-11-03 19:01] singchan commented on #652
For now silex knows how to read and write with the ftp protocol, e.g. login:pass@ftp.host.com and the publication path you selected, e.g. /vhosts/site1/htdocs/publish1/

But it would require the domain name and the root path of the vhost and the protocol in order to build https://mysite.com/publish1/

Yes that is an idea... One could add the domain, the protocol and the root path and if provided w

[2017-11-03 19:36] AndreaMonzini commented on #568
Hello, i'm testing Silex on Debian based Linux distribution as Electron App and it seems to work.
Can i have access with the desktop app to the local files and assets instead of using FTP? it would be very useful.
Thank you.

[2017-11-04 00:03] JbIPS commented on #568
Hi @AndreaMonzini! Thank you for your feedback, it's a motivation to keep going on!

I'm surprise you cannot use local files since it was designed especially for this... What are your choices when opening a file? If you have nothing like "local" or "fs" it may be a bug and I'll look into it.

[2017-11-04 00:06] JbIPS commented on #652
Actually, with the new version of CloudExplorer (the file explorer in Silex) you could theoretically open 2 different FTP sessions so that could be possible. We'll have to try it out 😉

[2017-11-04 01:06] bialyjerozy commented on #646
I tried creating new page and then publish it in dropbox, same error, i even tried on new dropbox business account, different browsers, still same error
![z](https://user-images.githubusercontent.com/33108613/32400775-c061418e-c104-11e7-8c81-9ec66a7beaa7.JPG)

 on http://silex-editor.herokuapp.com/ i got error too, but different:
![z](https://user-images.githubusercontent.com/33108613/32400746-566

[2017-11-04 01:43] AndreaMonzini commented on #568
I cannot find where to load local files:

![screenshot from 2017-11-04 02-18-59](https://user-images.githubusercontent.com/12413409/32401150-be9e8ee2-c109-11e7-82e5-aeb3341c4731.png)

![screenshot from 2017-11-04 02-21-14](https://user-images.githubusercontent.com/12413409/32401154-c6a7ab28-c109-11e7-8d1c-af246f798e8b.png)

[2017-11-04 07:30] GingerDragon7 opened #653 "Implementing dropdown menu with formspree"
I am trying to Implement dropdown menu with formspree but it's not happening.
If it's possible please reply anyone.

[2017-11-04 10:01] JbIPS commented on #568
I see, there is a mistake in the labels of this version. "Web server" is actually your local disk. We renamed that on the newest version but I didn't published them.

You can use it as-is until we publish the new version (when preprod will go in prod).

[2017-11-04 10:45] lexoyo commented on #646
Ok guys, thank you for your reports, I'll investigate and will get back to you

[2017-11-04 11:59] AndreaMonzini commented on #568
I tried with my user name ( root)  and password but i cannot access:

![screenshot from 2017-11-04 12-43-42](https://user-images.githubusercontent.com/12413409/32405163-e2b1e45e-c15f-11e7-945d-f05facada2a4.png)

[2017-11-04 12:20] JbIPS commented on #568
I'm sorry, it's actually a conf in Silex. Use admin/admin

[2017-11-04 13:11] AndreaMonzini commented on #568
it works! Thank you !
I will test a Website based on a template!
What version of Silex is used with Electron? If possible, i can test last version.

![screenshot from 2017-11-04 14-03-59](https://user-images.githubusercontent.com/12413409/32405642-b2654fde-c169-11e7-8f83-5d058e56ec69.png)

[2017-11-04 13:18] JbIPS commented on #568
@lexoyo will confirm that but I think that's the actual online version. We'll try to keep it in sync with the live version.

Thank you again for beta testing,  we'll warn new when new versions come out.

[2017-11-04 13:36] lexoyo commented on #568
It looks like it. But I don't know how you build it? Is it with `npm run electron`?
Will it be automatically built and deployed when we merge into master?

[2017-11-04 13:40] lexoyo commented on #568
I tried and `npm start:electron` does launch the electron version
Should we publish Silex on npm and let people do `npm install -g silexv2 && npm run start:electron` ?

[2017-11-04 13:52] lexoyo commented on #646
@parkadia could you test again and tell me what is written in the javascript console please?

[2017-11-04 14:15] JbIPS commented on #568
What I add in mind was to add a CI instruction in Silex that would build and publish a new release of the  desktop app every time you merge into master.

But yes, for the beta testers, this command (without the `-g` though) will be great.

[2017-11-04 14:30] lexoyo commented on #646
@AndreaMonzini concerning the galaxee template, could you give it a try again on preprod, I fixed an issue which was reloading the template after the 1st try to open it ([this particular code change](https://github.com/silexlabs/Silex/commit/cc2b70e3de5902d9750522baf8b259cc34ba9666#diff-4c3a6cc936c7ffbf2237f1dff6849c99))

[2017-11-04 15:18] bialyjerozy commented on #646
Alex, are you going to check and try to fix problem with publishing sites or it is impossible?

[2017-11-04 15:27] AndreaMonzini commented on #568
Hello, when i try to publish to the local folder "Pub" ( selected in the publishing settings), the images are saved corrupted and not visible in the published website.
After i overwrite manually the images, they became visible.

![screenshot from 2017-11-04 16-19-16](https://user-images.githubusercontent.com/12413409/32406675-ed6a22c2-c17c-11e7-941d-2bd8458fe409.png)

[2017-11-04 15:33] lexoyo commented on #568
This looks like an old bug, you should test the new version... Give us some time to build it or clone the repo, follow the installation instructions and run the command
$ npm run start:electron

[2017-11-04 15:37] lexoyo commented on #646
Yes I am working on it with @jbips

[2017-11-04 15:40] lexoyo commented on #646
Some things that could help
* open the developper console and tell us what errors you have in the console tab (see the link to a tutorial I shared a few days ago)
* what is your browser?
* could you share your editable site on Dropbox with me ? a.hoyau at im-paris.com

[2017-11-04 15:54] parkadia commented on #646
I did not use the developer console because my issue with the 'link' and 'visible on' menus appeared to be fixed. I added a new page, successfully loaded images and linked to the new page.

However, when I came to publish preprod.silex said no publish directory was selected. I configured this but now I am experiencing the same publishing problems as @bialyjerozy and get the same error message abov

[2017-11-04 16:07] lexoyo commented on #646
ok, this comes and goes :(
if you see it again please open the dev console

ok, i'll check thx

winscp is ssh right? maybe you should try SFTP

[2017-11-04 16:09] lexoyo commented on #646
Oh and please everybody, empty your cache when you start a new test session

[2017-11-04 16:55] AndreaMonzini commented on #646
@lexoyo i retested Galaxee with `https://preprod.silex.me/` template and now the menu  and other element are visible !
I have problem with publishing to FTP, the workaround is to create a new publishing folder for every time i need to publish ( it doesn't work if i just delete manually files inside the publishing folder )

![screen shot 2017-11-04 at 5 42 41 pm](https://user-images.githubuserconte

[2017-11-04 17:08] AndreaMonzini commented on #646
Now i'm blocked for an unknown error when i try to access to FTP

![screen shot 2017-11-04 at 6 01 26 pm](https://user-images.githubusercontent.com/12413409/32407557-19daeb58-c18b-11e7-9e52-9b7689387da9.png)

[2017-11-04 17:13] lexoyo commented on #646
Ok, we are moving forward! 👍

Good catch, thx, I'll use it to debug

:-(
can you try again later and let me know if it was temporary?

[2017-11-04 17:21] AndreaMonzini commented on #646
Now i see only folders, not files like editable.html

I tried to delete cache and reload.

![screen shot 2017-11-04 at 6 19 18 pm](https://user-images.githubusercontent.com/12413409/32407693-e07b4ee6-c18c-11e7-9db7-f056de4bc3cd.png)

[2017-11-04 17:22] lexoyo commented on #646
the files may be hidden if you are asked to select a folder

[2017-11-04 17:22] lexoyo commented on #646
use the file explorer button:
![screenshot from 2017-11-04 18-22-23](https://user-images.githubusercontent.com/715377/32407704-2348fe26-c18d-11e7-9b82-8379a2ccf1f6.png)

[2017-11-04 17:30] AndreaMonzini commented on #646
Ok, used file explorer and files reappeared, then i went to Dashboard to import website and now files are visible! But when i use Dashboard i do not see the option to selected folders only.

[2017-11-04 17:53] AndreaMonzini commented on #568
I wait the new version, thank you!

[2017-11-04 22:46] lexoyo opened #654 "Lorem ipsum is broken"
Lorem ipsum button in the text editor does not work because bakon ipsoom service has a change in its API

[2017-11-05 13:05] AndreaMonzini opened #655 "CSS Grid ( proposal)"
What  about implement a visual CSS Grid Layout in Silex?

https://www.w3.org/TR/css-grid-1/#intro

Now CSS Grid is compatible with almost all browser:

https://caniuse.com/#search=css%20grid

[2017-11-05 15:14] bialyjerozy commented on #646
what is your browser?
could you share your editable site on Dropbox with me ? a.hoyau at im-paris.com

Should i open console on editor, editable version or index.html?
I've tried all browsers, now i'm working on chrome.
I've just shared You editable file via e-mail.

[2017-11-06 10:14] MarcelloCavallo opened #656 "Problem with images on FTP"
Using ftp, silex editor load the site's scripts but not the images, and when i tri to upload new images from the silex editor folder it hangs on "loading" and does notgo to work

[2017-11-06 10:23] lexoyo commented on #656
Hi @MarcelloCavallo
So I understood that you use editor.silex.me which is the stable version of silex
I suppose your website with the "broken" images is online? Can I see it please?

[2017-11-06 20:12] dolson89 opened #657 "Import not functioning"
Is anyone having issues with the import function not working? I am truing to use a project saved on dropbox and it failed to work on safari and chrome.

[2017-11-06 20:13] stache1draht commented on #607
Created three blank pages:

https://github.com/silexlabs/Silex/wiki/Silex-and-HTML
https://github.com/silexlabs/Silex/wiki/Silex-CSS-editor
https://github.com/silexlabs/Silex/wiki/Silex-and-Javascript

[Silex publication process](https://github.com/silexlabs/Silex/issues/238) seems to have been moved already: https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website

So does [C

[2017-11-06 21:04] MarcelloCavallo commented on #656
My site is www.istitutoaden.eu , The problem is not in the online site. The problem is on the copy site I use to update it before I publish it. When I call the site copy with silex editor, silex shows me all the images that are loose in the image folder, but not those that are in other folders divided by topic (you can see "event" menus those photos are divided by topic, each event is a folder) .

[2017-11-07 08:07] lexoyo commented on #656
Ca you share the site with me on Dropbox or a zip file please? (a.hoyau at im-paris.fr)

[2017-11-07 08:09] lexoyo commented on #653
Hello
I'm not sure to understand what you want to do exactly?

[2017-11-07 14:14] MarcelloCavallo commented on #656
ok site share, tank you.

[2017-11-08 10:51] AndreaMonzini commented on #568
Hello, i'm testing silex electron for my website:

http://monzini.art/

The desktop version seems ok with some glitches
But the mobile layout is wrong: very different from the mobile version i see in the edit.

Also with mobile i see problem with redirect, i need to check the server configurations.

I noticed also some problem adding images as i see an offset on the right, while if i use the conta

[2017-11-08 16:44] #617 closed

[2017-11-09 20:31] Tyrael84 commented on #651
Hey Lexoyo,

How do you change the name that displays on the Hamburger menu?

Example:

Page Name: disaster-restoration-services
Display: Services

Currently, it displays the actual 'Page Name'. How do I make it display a different name ('Display')?

[2017-11-09 20:41] singchan commented on #651
You have to rename the page 'Services'
All links will be updated automatically
--
Alex Hoyau
+33(0)676683806
Skype: alex.hoyau

On November 9, 2017 9:31:18 PM GMT+01:00, Tyrael84 <notifications@github.com> wrote:

[2017-11-09 22:53] diogocsc opened #658 "Official silex website is wrong: Wordpress is foss"
On http://www.silex.me/, in the comparison table, Wordpress shows as "oss". It has GPLv2...why you say is oss and not foss? Is it a mistake or something else?

[2017-11-10 00:21] lexoyo commented on #658
Hello
It is indeed a mistake. It comes from the Wikipedia page here
https://en.m.wikipedia.org/wiki/Silex_website_builder
We should fix it thank youso much

[2017-11-10 00:28] lexoyo commented on #657
Hello
Yes there is a problem with Dropbox in Silex, we are working on it. Here is more info and ways to help
https://github.com/silexlabs/Silex/issues/646

[2017-11-10 00:28] #657 closed

[2017-11-10 00:30] lexoyo commented on #655
Very interesting
What do you think the interface should look like?

[2017-11-10 00:32] lexoyo commented on #656
...sorry I have had a hard time working on Silex this week... this week end hopefully will be more productive

[2017-11-11 16:31] lexoyo opened #659 "Side menu widget for Silex"
## About this widget

A dropown menu or hamburger menu is a great way to add a discreet and sober navigation menu to your site. Here is an example of a side menu:

![slidemenu-silex](https://user-images.githubusercontent.com/715377/32691300-c92a2cb6-c705-11e7-8b28-acf5ca113e5e.gif)

## Add it to your site

1. Create an html box, and put it in the background of your site, on the side, in the sectio

[2017-11-11 16:33] lexoyo commented on #653
hello
I did this widget recently, maybe you can use it instead of the default menu
https://github.com/silexlabs/Silex/issues/659
I will close this issue but feel free to reopen it if you still need answers

[2017-11-11 16:33] #653 closed

[2017-11-11 21:12] lexoyo commented on #646
Hello

I have worked on the new version today and I tried to address these issues
*  the publication should work better on FTP (too many clients issue)
* the publication on dropbox and github is still broken but I think that the problem is now only in unifile and @JbIPS will probably help me with this
* color picker issues and text editor issues
* @parkadia and @MarcelloCavallo issues with pages a

[2017-11-12 15:43] lexoyo opened #660 "Visible en desktop"
This is a feature request and a good first issue
Add a chekcbox before the existing "visible on mobile" checkbox with the label "visible on desktop", and make it so:
* if checked, make the selected element visible on desktop
* unchecked, make the selected element hidden on desktop
* if visible on mobile and visible on desktop are both unchecked then the element is visible on both mobile and deskto

[2017-11-13 11:20] lexoyo commented on #646
Ok thank you @fernandammoutinhobarros
You can do more tests on the edition if you have time
@JbIPS and me are working on the publication, it will work soon

[2017-11-13 12:25] fernandammoutinhobarros commented on #646
ok thanks

[2017-11-13 17:29] lexoyo commented on #646
what i did yesterday and today
* html editor let you edit html of non-html box
* fixed dock button disappears in docked mode
* fixed dropbox logo do not show up in recent files icons anymore
* fixed "it should not be possible to 'hide on mobile' the container of a section"

and @JbIPS is working on uploads and github and dropbox and ftp issues (poor him ;) )

[2017-11-14 11:46] lexoyo commented on #277
@budislav did you see that this is live for a while now
Waiting for developers to add more components, see editor.silex.me

[2017-11-14 11:57] lexoyo commented on #477
I had another thought about this

Just like we did with cloud explorer, a separate project to manage files from cloud storage, for silex or other uses, we should create a separate project to import media from
* unsplash or alternatives (flicker, wikimedia...)
* Youtube or alternatives (vimeo, framatube...)
* slideshare or alternatives

This would be a dialog you can import in any app, to find and

[2017-11-14 12:16] lexoyo commented on #568
Hi @AndreaMonzini

Please open separate issues for each "glitch"

While with Android ® the layout is similar to the mobile edit ( some problems but usable)

it looks like the css are not loaded at all... is it a published website?

i can not reproduce, would you share the website with me please?
also you can try the https://preprod.silex.me version, it has bug fixes (only the publication does not

[2017-11-14 16:36] budislav commented on #277
@lexoyo I now this for a while now, but on editor.silex.me I see only five components but on image above form inputs ect. Is that some bug or you removed all of that? It would be very good to have all html elements like input and button so we can make our contact form with more freedom, so everything can be editable. Drag and drop would be very handy like in grapejs http://grapesjs.com/demo.html

[2017-11-14 16:51] budislav commented on #655
I just wanted to post about CSS grid :) That is really awesome feature in css, we don't need bootstrap grid we have clean css grid.
I don't now is this a good for help but maybe just to give us some idea how it can look. https://www.cssgrid.cc/css-grid-builder.html
Every page can have one tab beside style and component settings for css grid and all settings for that thing there.

[2017-11-14 17:01] budislav opened #661 "Layer manager"
I think Silex need a layer manager like grapejs.
![screenshot-2017-11-14 grapesjs demo - open source website page builder](https://user-images.githubusercontent.com/3619927/32793261-ac80e53e-c965-11e7-8e2d-0a84e8c3c4e8.png)

[2017-11-14 21:52] AndreaMonzini commented on #568
Hello,
i had to redirect the website.
Silex website link:

http://monzini.art/silex/

[2017-11-14 22:11] AndreaMonzini commented on #655
@lexoyo I was thinking to a visual sliders on the properties panel on the right.

[2017-11-15 16:50] lexoyo commented on #655
I just teached myself css grid and .... wow!!!
And great video @budislav, we should use [the idea he has for the next gen wordpress editor](https://youtu.be/txZq7Laz7_4?t=33m35s) and  [he talks about website builder here](https://youtu.be/txZq7Laz7_4?t=31m10s)

Thank you guys!

I'm not 100% sure to see what you mean... @budislav do you? (Budislav is a UI/UX designer)

We should be able to find a w

[2017-11-15 17:04] lexoyo commented on #334
Done
Please test it here and give feedback
https://preprod.silex.me/

[2017-11-15 17:10] lexoyo commented on #660
@budislav made a great proposal for the buttons (visible on mobile and/or desktop) here
https://github.com/silexlabs/Silex/issues/387

[2017-11-15 17:17] lexoyo opened #662 "Feature request: new text editor"
The current text editor is bad: it has bugs (select text, change color, sometimes it changes the whole line) and lacks (insertion of images, css styles which can be customized in Silex CSS editor...) and it creates bad HTML markup

Here are some better text editors, we should choose one which has a GPL license a replace the current text editor
* https://draftjs.org/
* http://getcontenttools.com/de