[2018-08-03 00:27] godzone commented on #769
OK, then maybe I am approaching this from the wrong angle all together.

I have been trying to find a tool set that would allow us to offer a relatively simple website builder as a component of our hosting solution.  We are loosing customers to the likes of Squarespace, Weebly and WIX because we have nothing to offer.  Silex seemed to offer the features needed to allow me to do that.  We offer FTP

[2018-08-03 06:59] JbIPS commented on #769
I understand and I may have a solution 😃.

All of the user information are in the session (credentials, service URL and so on). So, when a client of yours connects to your instance of Silex, you could automatically sets his session with credentials for his FTP or WebDAV dedicated space on your servers. This way, the integration would be seamless.

If I remember right, @lexoyo worked on something s

[2018-08-03 09:59] godzone commented on #769
Can you point me at anywhere in the code where there is an example of setting the session variable.  I have a mechanism for feeding user data in as part of the initial client connection but am not sure what I need to set up in the session for this approach to work.

Thanks.

Glen.

[2018-08-03 14:56] BaguetteAgile commented on #773
Salut @lexoyo ,

`C'est pour le site de ton groupe ou bien un nouveau?
c'est un nouveau site pour moi, je fais également de la vidéo ;)

`Je ne vois pas la barre youtube sur l'exemple`

c'est la barre ou c'est marqué "plus de vidéos"

`tu peux mettre en ligne quelque chose que je puisse comparer?`

quand je publie et mets en ligne, le fond vidéo ne fonctionne pas. J'ai mis le fichier `jquery.tubul

[2018-08-03 16:10] lexoyo commented on #773
Ok mets en ligne une version buguée et je la debuguerai

Tu sais mettre en ligne avec Github pages? C'est très pratique

Le 3 août 2018 16:58, à 16:58, BaguetteAgile <notifications@github.com> a écrit:

[2018-08-03 16:27] lexoyo commented on #662
cc @JbIPS @budislav @clemos @ondrejec @SouroucheB @TheCause @jennparker @tariqbenezza @camcrock @zabojad @pierreozoux

[2018-08-03 17:52] budislav commented on #662
@lexoyo sorry for delay.
So I really think we need to make this like webflow work flow. I will show you how that should be. I think ul, ol, img and other html elements should be added like a separate elements, that would allow user much more flexibility and options.

1. On the very beginning you have to choose what do you want to insert, you have:
- heading (html element)
- paragraph (html element

[2018-08-03 19:17] lexoyo commented on #662
I see, thank you @budislav very interesting discussion!

Since Silex has no "positioned" mode, only "absolute", it is not possible for now to have separate elements for heading, link, ... We can only have a rich text for now. How does webflow rich text behave?

[2018-08-04 01:25] budislav commented on #662
I  know we need css grid desperately, actually webflow team just sent an email they are working on css grid, it will be finished this month:
"We’re nearing the end of our development cycle on a grid layout system in Webflow that is powered by CSS grid. In short, grid in Webflow will introduce an entirely new way to build layouts — the largest change to the styles panel since our introduction of fl

[2018-08-04 12:28] lexoyo commented on #662
Thank you @budislav for all this technology watch! As usual you have all the latest info. Very logical choice for webflow... We'll have to follow at one point, I know that :) It's a lot of work though

I took a shot at the inline text editor, and wysihtml it is very interesting, not too painful integration in silex. You can play with bold, italic, underline, h1-h3 and lists here:
https://silex-tes

[2018-08-05 15:38] budislav commented on #662
No because there are also settings for bold and italic already under the font style label and they are on the right place and there are same group of buttons already (p a b u i h1 h2 h3 ul ol) so it is confusing what to use.
I just mean when using bold, italic, insert link, wrap with span, and clear formating should be easily accessible just right under or above the word you select. Those settings

[2018-08-07 08:17] lexoyo commented on #662
Good morning

I am working on the links today

Here are the [possible attributes I found here](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-a-element)

The ones I think we should keep - but I'm not sure

    href — Address of the hyperlink
    target — Browsing context for hyperlink navigation
    download — Whether to download the resource instead of navigating to it, and

[2018-08-07 11:22] lexoyo opened #774 "Tooltips to help discover the UI"
http://eragonj.github.io/Trip.js/demo/basic/#change-theme

[2018-08-07 14:24] budislav commented on #662
I see ping — URLs to ping is not supported in edge and safari but I would not say I like those browsers, for me they are not existing :) https://www.w3schools.com/TAGs/att_a_ping.asp

It would be good if Silex can support all html  and css  tags no matter if they are existing in some browser or not, we can have text beside those option (not supported in "browser names", or just icons of five main

[2018-08-07 14:45] lexoyo commented on #662
Thank you for your feedback @budislav
I have several bugs but the link editor is in its first version, [you can try it here](https://silex-test-tmp.herokuapp.com/)
![screenshot from 2018-08-07 16-41-51](https://user-images.githubusercontent.com/715377/43782957-cf5eec78-9a60-11e8-9f8f-06a22859d5e9.png)

[2018-08-07 15:12] budislav commented on #662
Very nice!
But we need to have this under the settings tab, that's why we have it :) Style tab is for css styles and settings tab is for html attributes settings.
So when user click on "a" button it should open settings tab with these settings.

[2018-08-07 16:14] fernandammoutinhobarros commented on #751
Hi Lexoyo,
Still not working on Internet Explorer....

And when I publish I still get this error

![image](https://user-images.githubusercontent.com/25388113/43788413-3d70beea-9a65-11e8-85af-501847d0fcb6.png)

[2018-08-07 16:17] fernandammoutinhobarros commented on #751
On IE

Blank page...

![image](https://user-images.githubusercontent.com/25388113/43788593-b8309b64-9a65-11e8-9533-f57308604d64.png)

[2018-08-07 17:01] lexoyo commented on #751
I can see that you're opening the website with the protocol file://

Is in the same when you roasted online?

Le 7 août 2018 18:17, à 18:17, Azulinha <notifications@github.com> a écrit:

[2018-08-07 17:09] fernandammoutinhobarros commented on #751
Yes

![image](https://user-images.githubusercontent.com/25388113/43791269-0ba3f6a4-9a6d-11e8-8c5d-9d40fd597f78.png)

[2018-08-08 11:19] lexoyo commented on #751
I'll try to look at it this afternoon

[2018-08-08 13:26] BaguetteAgile commented on #773
`Tu sais mettre en ligne avec Github pages? C'est très pratique`
j'ai regardé des tutos sur le net mais beaucoup en anglais, pas évident pour moi :(
peut-être quelques explications et se serait bon pour moi .

voici un lien à copier coller dans le navigateur, car le clic ne fonctionne pas ...
[https://blissful-noether-0f20ef.netlify.com/](url)

le site est loin d’être terminer.
Merci ;)

[2018-08-08 17:25] lexoyo commented on #751
Luckily I was working for a client today with windows! I could reproduce and fix
https://github.com/silexlabs/Silex/pull/775

It will be live on editor.silex.me in 10 min. I'm in a hurry so if it is not the case let me know, I would reboot the server

Thank you so much @fernandammoutinhobarros all the silex websites which have been published with the current version of Silex were broken in IE11, @

[2018-08-08 17:25] #751 closed

[2018-08-09 08:31] lexoyo commented on #662
That is interesting... Let's discuss that please

Untill now I see  the tab with the "A" as a tab for text styles, not all css styles.
The problem I see in your solution is that params tab is dependent on the selection on stage, where the format section is dependent on the text selection in the text box. also the format section has the same tags which you can style in the style editor...

Also tec

[2018-08-09 08:32] lexoyo commented on #751
Hello
I had to reboot the server, it is live now

[2018-08-09 08:32] lexoyo commented on #770
@JbIPS did you have time to test?

[2018-08-09 08:39] lexoyo commented on #773
yes il y a cette video en FR que j'ai faite
https://www.youtube.com/watch?v=zVKmULxSO3k&feature=youtu.be

elle est listé avec d'autres ici https://github.com/silexlabs/Silex/wiki/tutorials-and-guides

il y a aussi un tuto écrit ici (je ne m'en souvenais plus, je l'ai trouvé sur google :man_facepalming: )

je regarde le site

[2018-08-09 08:42] lexoyo commented on #773
dans la démo que tu as mis en ligne il manque le fichier `/jquery.tubular.1.0.js`
tu peux l'ajouter dans le repertoire ou tu as publier avec cloud explorer stp?

[2018-08-09 09:09] #761 closed

[2018-08-09 09:39] fernandammoutinhobarros commented on #751
Hello,

Working very good!!

Thank you Lexoyo!!

![image](https://user-images.githubusercontent.com/25388113/43891067-5b7fa99e-9bc0-11e8-87f5-b8e3cc14f455.png)

[2018-08-09 10:51] BaguetteAgile commented on #773
`dans la démo que tu as mis en ligne il manque le fichier /jquery.tubular.1.0.js`

le fichier `/jquery.tubular.1.0.js` se trouve dans le dossier `js` de `publication` depuis la mise en ligne du site.

[2018-08-09 12:51] BaguetteAgile commented on #773
voici un lien avec github pages
https://baguetteagile.github.io/rvmproduction/

bizarrement le fichier  `jquery.tubular.1.0.js` se trouve bien dans le publication mais sa ne fonctionne pas .
PS: la vidéo de fond est toujours visible, ou se serai un problème de `z-index` dans le css ?
car mes autres éléments j'ai dû mettre un `z-index` positif car sinon pas vivible lors du Preview.

[2018-08-09 15:09] budislav commented on #761
yeah this is the old problem I noticed long time ago. This is really important to be fixed, otherwise you can loose your whole work each time.

[2018-08-10 03:34] NjlsShade opened #776 "WebDAV Login Issues"
Hey there,

Loving the Silex editor, however, I have run into an issue recently when moving from an FTP server to WebDAV. When I try to connect to a WebDAV service the oauth_callback post just returns what looks like a blank JSON request (the same output SFTP supplies when no login info is specified).

![blank](https://user-images.githubusercontent.com/15788214/43936223-a67725f2-9c25-11e8-9c67-951

[2018-08-10 09:08] lexoyo opened #777 "feature: check website against w3c validator"
After publication, display links to [w3c validator](https://validator.w3.org) or check the published HTML against the w3c

When we have a way to know where the URL where the website is published, display links to the website's tests, and use the APIs / npm modules to have an overview in the published panel

Related to

* #430
* #941

[2018-08-10 09:17] lexoyo opened #778 "robot.txt"
When the user publishes a website we should generate a robot.txt file (site is searchable but not js and css folders

Questions

1. do we need an option to prevent the generation of a robot.txt file?
2. do we need an option to make the website not indexed by search engines? or just the image folder...
3. if yes, where do this options go? in publication settings or seo tab or somewhere else?

[2018-08-10 09:19] lexoyo opened #779 "sitemap.xml"
When the user publishes a website we should generate a sitemap.xml file

Questions
* is it still useful today?
* any options to add?

[2018-08-10 09:27] lexoyo opened #780 "feature: publication and images"
When the user publishes a website we should

* [ ] resize images, optimize or at least warn if an image is bigger than 30% of its diplayed size
* [ ] add retina support for images (see wordpress plugins)
* [ ] allow several images with the same name from different folder

So we probably need to
* [ ] publish images with names containing the size of the image
* [ ] check if an image has the same na

[2018-08-10 09:30] lexoyo opened #781 "Feature: optimize websites speed"
See these suggestions by google page speed
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.silex.me

[2018-08-10 09:33] lexoyo opened #782 "Feature: automatic screenshots"
It would be interesting to have screenshots for
* default social image (at publication)
* for templates (at publication)
* page thulbnails (at save?)

[2018-08-10 09:35] lexoyo opened #783 "Feature: cleanup server API"
why /website/libs/templates/ ?

[2018-08-13 14:38] lexoyo commented on #735
Hello @budislav
I finally took the time to fix this bug (took me 45 min)
Here is what I did: https://github.com/silexlabs/Silex/pull/784/files
Thank you for your contributions!

[2018-08-13 14:38] #735 closed

[2018-08-13 14:39] lexoyo commented on #735
Oh, and it might be better if you can test it so that I am sure that I covered your use case
Thx

[2018-08-13 15:40] lexoyo opened #785 "Feature: better link editor"
after issue #662 we need to make the link editor more like [webflow link editor](https://university.webflow.com/article/link-settings), with support for

* mailto with a title
* phone number
* link to a file (use cloud explorer to choose it)

[2018-08-13 16:49] budislav commented on #735
@lexoyo  that's awesome! but can you send me a link to that version to test it, because https://silex-test-tmp.herokuapp.com/ is not fixed..
45min sounds a lot :D

[2018-08-13 19:01] lexoyo commented on #735
Oh yes it's live on preprod and prod

Le 13 août 2018 18:49, à 18:49, Budislav <notifications@github.com> a écrit:

[2018-08-14 05:57] budislav commented on #735
@lexoyo Yes it's working! Thanks! :)

[2018-08-19 22:18] godzone opened #786 "Need a link or button to get back from CE to Editor or Dashboard"
In some contexts, after having worked in CE, i.e. renaming files etc, there isn't a means to exit and go back to the editor.  The OK button is inactive and I not sure what the Cancel button does but it doesn't return to the editor.

![image](https://user-images.githubusercontent.com/8399384/44313785-41a6c980-a462-11e8-9da8-0bd3bdfbd054.png)

[2018-08-19 22:25] lexoyo commented on #786
Oh ok
Are you familiar with git?
With stash or just commit the work in progress and then git pull --rebase upstream master

[2018-08-19 22:34] godzone commented on #786
Im working on a clone of 'develop', which I then created a new branch 'godzone', I have commited my chnages and checked out 'develop' again. So do I rebase to upstream master or upstream develop?

[2018-08-19 22:36] lexoyo commented on #786
Upstream develop then

[2018-08-19 22:37] lexoyo commented on #786
You can stay on your branch batterie baisse upstream develop

You can work on your clone's develop branch otherwise name your branch with a feature name :)

[2018-08-19 22:39] godzone commented on #786
Just worked that out :-)  I have just merged in my changes, not actually very much.  Most of my work has been in a new module which isnt in the tree i.e. userdir.

[2018-08-19 22:40] lexoyo commented on #786
Can I have a look at it maybe?
Would you do a pull request with "WIP" in the title so that I don't merge it ?

[2018-08-19 22:41] godzone commented on #786
OK, after rename I now jump straight back to the editor so that looks to be fixed. Thanks.

[2018-08-19 22:44] godzone commented on #786
Possibly not.  After encountering an error in CE, I can't get back to the editor still.

[2018-08-19 22:45] godzone commented on #786
OK, I need so help here, I have never done a pull request.  Do I first push my changes up to github?

[2018-08-19 22:46] godzone commented on #786
Also as my module isn't part of the tree, its currently in node_modules/unifile-userdir, how can I get that to you?

[2018-08-19 22:54] lexoyo commented on #786
Oh ok, I forgot about this. What you do is

* A unifile service, which you will be in charge of, so you will need to keep it in a new repo of yours
* Add it to Silex so that it is loaded like the other services... This means change dist/server/index.js, package.json (your service as a dependency) and the readme (env vars). For this you can do a PR

Then in Silex, npm install will download your ser

[2018-08-19 22:55] lexoyo commented on #786
If it is too early for that no problem

[2018-08-19 22:58] lexoyo commented on #786
Edit: the unifile services are a dependency of CloudExplorer, not Silex
It's a bit complicated but not as hard as what you did until now. You just need to mimic the other services in CloudExplorer

[2018-08-19 23:05] lexoyo commented on #786
You might find the command "npm link" useful at this stage. So that your local Silex clone uses your local CloudExplorer and unifile modified clones

[2018-08-20 00:01] godzone commented on #786
This is proving to be a pretty steep learning curve :-)  But I think I am slowly getting the hang of things.

[2018-08-20 02:31] godzone commented on #786
After re-basing the main Silex clone, do I need to do a rebuild or anything similar.

[2018-08-20 04:10] lexoyo commented on #786
Yes, please run npm install again, it will update dependencies and trigger a npm run build

If you had only changes in node_modules, please save them somewhere before, just in case

[2018-08-21 08:08] godzone commented on #786
Still having issues with CE not exiting back to editor.  Cancel seems to just blank out the panel. I am not sure if I have your latest patch as I have had to re-clone silex and I think I rebased after that but not sure if that worked or not :-(

[2018-08-21 11:49] lexoyo commented on #786
Can you test on editor.silex.me and see if you can reproduce the bug?

[2018-08-21 11:56] lexoyo commented on #662
I understand your point about webflow and I am currently watching their videos to get inspired, thank you
Please consider

* webflow probably has more than 50 developers and QA egineers full time on their editor
* we are creating our tool for ourselves, so Silex should be developed based on a "I develop what I need when I need it"
* the vision / direction we took since the beginning (2002) was the

[2018-08-21 11:59] lexoyo commented on #786
Concerning the update of your clone, [here is a good doc](https://robots.thoughtbot.com/keeping-a-github-fork-updated) and here is what I do
[code]
Then to update
[code]

[2018-08-21 18:42] budislav commented on #662
I think there is no point going on without any right goal, direction. If that statement "I develop what I need when I need it" describing foundation of Silex than I can't tell I see a bright future of it.

We have Webflow for inspiration, but we can't use any model because Silex is not intended to be like that on the first place, so it can't adopt many essential things, because of Silex wrong foun

[2018-08-21 19:47] godzone commented on #786
Thank you, I was trying to start from the clone I forked on GitHub, which obviously was not the right place.  I’ll rebuild now and see how I go.

Glen

[2018-08-21 20:08] godzone commented on #786
Not sure what I am doing wrong, I am not a git expert

$ git pull --rebase upstream develop
The authenticity of host 'github.com (192.30.255.113)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
RSA key fingerprint is MD5:16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently

[2018-08-21 22:17] lexoyo commented on #786
I think this is a git configuration issue
You need to have an ssh key which is added to GitHub, did you do this step?

Le 21 août 2018 à 22:08, à 22:08, Glen Eustace <notifications@github.com> a écrit:

[2018-08-21 22:29] godzone commented on #786
Not as the silex user, it works if I do it as root, I do have a key for that, then I need to use the silex user to do the install/build.  This is two steps forward one step backwards for me.  Learning a new technology can be very frustrating.

Glen

[2018-08-21 22:59] lexoyo commented on #786
I'm not sure I understand :-/ But I know how it feels :-)

Git and npm can be used are supposed to be used as you (no sudo, no su..)

Then you can run Silex with the user you want... Usually the same user on localhost or another user on the production server

Le 22 août 2018 à 00:29, à 00:29, Glen Eustace <notifications@github.com> a écrit:

[2018-08-22 05:13] lexoyo commented on #786
Can you confirm that the bug is fixed? Should I close this issue?

[2018-08-22 05:30] godzone commented on #786
I need to play around some more to be sure, but I think so.  I’ll get back to you tomorrow

[2018-08-22 18:49] bright-ic opened #787 "Local installation on windows not working"
I tried installing Silex as instructed on the installation page for windows, but i get this error and the app does not work on localhost:6805

This is the error displayed:

C:\page-designer\designer\Silex\node_modules\iconv>if not defined npm_config_nod
e_gyp (node "C:\Users\ACER\AppData\Roaming\npm\node_modules\npm\node_modules\npm
-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp

[2018-08-22 19:00] lexoyo commented on #787
It looks like the python executable can not be found. Do you have python installed?

Please type "python" and see if it can be found

[2018-08-22 20:12] bright-ic commented on #787
Please any help here would be really appreciated.
Thanks.

[2018-08-22 20:14] dvoraksensei commented on #238
Greetings, I am trying to save my silex site to ftp. I can get logged into my ftp folder and see sub folders, but when I try to save into a sub folder I get a 500 error "access denied". I know I have access because it works in filezilla. Any ideas?

[2018-08-22 21:48] lexoyo commented on #787
In the error it says python can not be found
Did you try the command as I requested?

[2018-08-22 21:50] lexoyo commented on #787
Oh sorry I just saw your previous message... Very odd

Maybe @jbIPS can confirm it works with Windows?

[2018-08-22 21:52] lexoyo commented on #787
Alternatively you can use Docker, would it be an option?

Why are you willing to build Silex locally?

[2018-08-22 21:57] lexoyo commented on #787
I read on the web that this dependency requires python 2 maybe, could you try?
Also what's your nodejs version ?

[2018-08-22 23:13] godzone commented on #786
OK, I think tis fixed.  I would like to work out how to give the user more meaningful messages rather than just 'Unknown error' has occured. But at least the CANCEL button returns you to the editor.  An example of an error is attempting to delete a folder that is not empty or creating a folder that already exists.

[2018-08-23 01:06] bright-ic commented on #787
I will try using Python 2 and see what happens.

My node version is 9.11.1.

Do I need to lower version of node too?

[2018-08-23 01:52] lexoyo commented on #787
You can see what version it is tested with in the file .nvmrc
Use nvm to switch (nvm i)

Le 23 août 2018 à 03:06, à 03:06, bright-ic <notifications@github.com> a écrit:

[2018-08-23 03:16] lexoyo commented on #786
Oh that's a good idea... You see where to start?

Le 23 août 2018 à 01:13, à 01:13, Glen Eustace <notifications@github.com> a écrit:

[2018-08-23 03:17] lexoyo commented on #786
I'll close this issue, feel free to open a new one concerning the error messages

[2018-08-23 03:17] #786 closed

[2018-08-23 03:18] godzone commented on #786
I haven’t looked at it yet.  Have spent my day trying to get IPv6 running on two AWS EC2 instances :-)

I might have a look later.

[2018-08-23 03:31] lexoyo commented on #786
Oh that's another skillset ;)

[2018-08-23 04:11] godzone opened #788 "Return the UniFile error messages to the user in the Silex UI"
When an error is encountered, actually present a meaningful message to the user rather than 'Unknown Error'.
e.g.
an attempt to create a directory that already existed returned Code: 400,
cause: {errno: -17, code: "EEXIST", syscall: "mkdir", path: "/home25/testapps/assets"}

an attempt to delete a folder that is not empty returned Code: 400,
{errno: -39, code: "ENOTEMPTY", syscall: "rmdir", path:

[2018-08-23 20:39] bright-ic commented on #787
After installing python 2, this is the new error i am getting.

ACER@ACER-PC MINGW32 /c/page-designer/Silex (develop)
$ npm install
npm WARN deprecated babel-preset-es2015@6.24.1: ?  Thanks for using Babel: we re
commend using babel-preset-env now: please read babeljs.io/env to update!

C:\page-designer\Silex\node_modules\iconv>if not defined npm_config_node_gyp (no
de "C:\Program Files\nodejs\nod

[2018-08-23 21:35] lexoyo commented on #662
I know, it's not perfect :-/ But it's there for a decade and the only free alternative to wix for DIY, so we have to continue ;)

Almost done with a 1st version of the text editor and styles
https://silex-test-tmp.herokuapp.com/

[2018-08-23 22:00] lexoyo commented on #662
after some tests, here is what I think is missing, what do you think?

* [ ] float left/right for images in text boxes (where? how?)
* [ ] link editor should be also used outside the text, when attaching a link to an element (currently there is a dropdown list)

Also maybe make the UX better?

* [ ] tool tips or something to make it obvious that the styles button bar is for formatting selected tex

[2018-08-23 22:26] lexoyo commented on #787
Wow I never saw this one either

* Do you use the node version as defined in the .nvmrc file?
* Would you consider using Docker to run Silex ? (Depends on what you use it for locally)

Le 23 août 2018 à 22:39, à 22:39, bright-ic <notifications@github.com> a écrit:

[2018-08-24 13:26] bright-ic commented on #787
I haven't used docker before, but i will give it a try. Any useful hint on how to use docker would be appreciated.

I want to create an online flyer, banner etc editor using html tags [elements] (just like how silex edits html pages) and silex provides a platform to do that.
Silex is a powerful tool to be limited to just web page creation. It can do much more.

A client of mine needs it and am kin

[2018-08-24 16:14] lexoyo commented on #662
float left/right for images is added

I pushed it on preprod, here are the code changes: https://github.com/silexlabs/Silex/pull/789

could someone test the new text editor and style manager please?
https://preprod.silex.me/

[2018-08-24 16:38] lexoyo commented on #787
Ok then maybe you can use docker
You should follow these instructions: https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#recommended-with-docker
If you wat to talk about how you would tweek silex and how much work that represents, feel free to contact me by email and we can schedule a call maybe (a.hoyau at silexlabs.org)

[2018-08-24 20:57] bright-ic commented on #787
Ok. Thanks.
I will sure contact you.

[2018-08-25 05:36] clemos commented on #662
I had a quick look yesterday.

I find it weird that the style editor is not in sync with the text editor, ie when you format your text to H1, I think H1 should also be the selected style ?

Also, selected text is lost when you work on the style editor, which is very inconvenient.

The "Style name" part is quite confusing:
* is the class applied to the whole text block ?
* what is the "phone" butto

[2018-08-25 15:43] lexoyo commented on #662
Wow great comments @clemos thx
I'll answer each question but the general idea was

* Format block is in sync with the selection and used to change text box content's markup
* Style manager makes it possible to define and apply css styles to text boxes, with a context - mobile or desktop, and a state - normal, hover, other css pseudo classes

The idea of syncing the style editor and the selection i

[2018-08-25 15:45] lexoyo commented on #770
Hi guys
@NaomiSangui are you still experiencing the bug?
@JbIPS do you know when you'll have time for this? can I help?

[2018-08-25 15:46] lexoyo commented on #773
Hello @BaguetteAgile
J'ai l'impression que le probleme est résolu, comment as tu fait?

[2018-08-25 15:55] lexoyo commented on #776
Help seems to be needed here too @JbIPS
Do you still experience the problem @NjlsShade ?

[2018-08-25 16:04] lexoyo commented on #662
Here are ideas of what could be done to address these issues, let me know if you have other ideas @clemos and what you think about the list of ideas bellow @clemos @budislav @ceubri @BaguetteAgile @JbIPS

1- sync the selection in the text box with the style manager, so the 2 button bars would be always showing the same thing and we should remove the 2nd one?
  ![screenshot from 2018-08-25 17-54-35

[2018-08-25 17:57] JbIPS commented on #788
Hello @godzone,

I totally agree with you. What could help is a proposal for error message that seems understandable to you, so @lexoyo could set them up in Silex.

Here are the error Unifile might return:

- [ ] `ENOTSUP`: Operation is not supported
- [ ] `EISDIR`: Target is a directory (useful for read/write operations)
- [ ] `EACCES`: Forbidden
- [ ] `EINVAL`: Invalid operation (wrong parameter

[2018-08-25 20:09] godzone commented on #788
The two I have already struck were

EEXIST: The folder or file you have entered already exists
ENOTEMPTY: The folder selected cannot be deleted as it is not empty.

some wording for the others might be, I think the messages need to be a little more verbose than typically returned from an OS as the user needs to know what they did wrong.  I also appreciate that translation will probably be necessar

[2018-08-25 20:11] JbIPS commented on #770
Sorry for the delay, I'm deploying a NC 13.0.5 VM right now, trying to figure this out :wink:

[2018-08-25 22:43] lexoyo opened #790 "Default fonts in Silex, your opinion wanted"
Hello
Here is a question: what fonts should I allow in Silex UI by default?
In Silex the fonts need to be pixel perfect on all browsers because the users give precise size to text boxes

I am not sure what fonts I should include... For now on preprod.silex.me I've included
* Arial
* Courier New
* Georgia
* Times New Roman
* Trebuchet MS
* Verdana

They all behave differently in chrome and firefox.

[2018-08-25 23:34] JbIPS commented on #788
That's a good start, thank you!

For a start, I fix CE Router so it will return the error message and not an empty JSON :smile:

[2018-08-26 05:11] godzone commented on #788
Using spawn for my userdir module has another possible benefit.  I get a really good error message but I can’t work out how to feed this to the Promise.reject() call to get it back to the UI.

e.g.

Aug 26 17:06:06 agree-38 node: stderr: mkdir: cannot create directory ‘/home25/testapps/learn’: File exists

[2018-08-27 07:49] clemos commented on #662
I looked into it again:
Opening cleansquare template, double-clicking on a text box, the style of the text changes significantly, effectively breaking the template.

I think it's already quite difficult to apprehend because it mixes box-level settings with selected text formatting.
I think box level (including style editor ?) should be in the first tab (box tab?), and thus replace / enhance the cu

[2018-08-27 09:01] lexoyo commented on #662
Great @clemos thx

The template being broken is because the template was made with the old text editor and has non-standard markup (<font> tags). We will need to change all the templates before putting this on editor.silex.me

To summarize what you advise

* [ ] The text style editor in a separate tab is a bad idea, let's have all the styles in 1 tab like in webflow - in the long run, I would like

[2018-08-27 10:05] clemos commented on #662
It's not necessarily a bad idea to have text formatting in a separate tab,
my point was rather that all things relative to the box should be in the same tab for consistency.
Text formatting in a separate tab makes sense, it's really the "Style name" dialog that feels weird.

The rest is correct.

[2018-08-28 13:50] lexoyo commented on #776
I have updated Silex in production, this should be live on editor.silex.me

[2018-08-28 16:06] lexoyo commented on #788
Hi
I had a look at this error display problem, it appears that only fs has this problems as it "rejects" the nodejs fs errors directly:
[code]

So we should add a `.catch` somewhere and handle each nodejs error? @godzone would you consider working on this?

[2018-08-30 19:44] BaguetteAgile commented on #790
Hi Alex,

the first solution seems good to allow Silex to stand out compared to other web font.

the second solution is certainly a way to view the font used on the browsers of our visitors.

As you say that Silex needs precise font, certainly the 1st solution is the best ...

[2018-08-31 19:13] lexoyo commented on #691
Hello
Here is a WIP for a POC of this feature, it doesn't work yet, just some code to illustrate what I think we should do
https://github.com/lexoyo/Silex/pull/11/files
cc @godzone

[2018-08-31 19:18] lexoyo commented on #691
The idea is to have a route which serves a list of available hosting providers for the Silex instance
When the user start to publish a website, then he should first choose a hosting provider (automatic if there is only one), then a "vhost" (the folder where to publish, automatic if there is only one)

[2018-09-01 13:38] BaguetteAgile opened #794 "Favicon"
Salut Alex,

Il y a un problème avec le Favicon, lors de la "Preview" c'est ok l'image apparaît bien, par contre lors de la publication le fichier semble ne pas être pris en compte.
Mon image fait 2,8 ko et un carré de 32Px.

Cela fait déjà un bon moment que le problème persiste.

[2018-09-02 09:11] swakarm commented on #741
Here is an example of 'app.json'
https://devcenter.heroku.com/articles/app-json-schema#example-app-json

[2018-09-02 11:01] NaomiSangui opened #795 "Failing to publish site to webdav connection."
I have a webdav connection to my nextcloud server. I can save my site to the server but when ever I try to publish I always get this error: Error message: Cannot read property 'Symbol(Symbol.iterator)' of undefined

Any help on this would be appreciated.
Also as a side note I can publish my site to dropbox.

![chrome_2018-09-02_03-59-53](https://user-images.githubusercontent.com/41605707/44955217-

[2018-09-03 07:36] lexoyo commented on #741
Hi @swakarm
Would like me to guide you to add it yourself to Silex code?

[2018-09-04 02:43] lindstromscott opened #796 "Cancel button on file explorer does not work - causes you to lose your work"
If you are editing a website and accidentally click on "file explorer," you lose all of your work, because the file explorer menu comes up and cannot be dismissed with the "cancel" button. The cancel button has no effect, and you cannot get out of the file explorer menu without reloading the page. As a result, you cannot save your work and lose all work.

[2018-09-04 07:36] lexoyo commented on #796
Hi @lindstromscott
Thank you for taking the time to report the bug
I have fixed this bug a week ago, what version of Silex are you using? Are you on editor.silex.me ?

[2018-09-04 07:41] lindstromscott commented on #796
Yes; the editor I am using is editor.silex.me. Has this been deprecated?

On Tue, Sep 4, 2018 at 5:36 PM, Alex Hoyau <notifications@github.com> wrote:

[2018-09-04 07:43] lexoyo commented on #796
No it's still the correct address
But the bug is fixed there... Can you try to emty your browser's cache, reload Silex and check if it is fixed please?
What is your browser?

[2018-09-04 07:55] lindstromscott commented on #796
Browser is chrome. Just cleared the cache; it's still broken.

On Tue, Sep 4, 2018 at 5:43 PM, Alex Hoyau <notifications@github.com> wrote:

[2018-09-04 07:59] lexoyo commented on #796
oh ok i can reproduce it
if you press "ESC" on your keyboard it closes cloud explorer but if you click cancel it "freezes"
thank you for the report !

[2018-09-04 08:04] lindstromscott commented on #796
No problem. Also, if you press "ESC" after first clicking "cancel," it
stays stuck. You must press "ESC" without clicking "cancel" in order to get
out successfully.

On Tue, Sep 4, 2018 at 5:59 PM, Alex Hoyau <notifications@github.com> wrote:

[2018-09-04 08:20] lexoyo opened #797 "Silex desktop version"
I published the 1st release of Silex desktop app, does it look good to you?
https://github.com/silexlabs/Silex/releases

You can install the app on your computer to work offline and save your work on your local computer.
This is mainly the work of @JbIPS

Help is needed for the tests, please give us feedback in this issue
* Test silex-2.2.7.dmg on mac
* Test silex-2.2.7-x86_64.AppImage on linux
*

[2018-09-04 09:02] lexoyo opened #798 "Silex desktop version, testers wanted"
We need your help to test the new Silex desktop app. It makes it possible to work offline! Please [tell us what you think here](https://github.com/silexlabs/Silex/issues/797) !

[2018-09-04 09:30] lexoyo commented on #794
c'est fix et en ligne sur editor.silex.me
https://github.com/silexlabs/Silex/pull/799

Merci @BaguetteAgile !!!

[2018-09-04 09:30] #794 closed

[2018-09-04 10:01] lexoyo commented on #797
I have tested `silex-2.2.7-x86_64.AppImage`. It starts Silex server but there are several problems

* it does not open the electron app in a widow
* there seem to be no unifile service, not even fs

This is what I did and what I got:

[code]

[2018-09-04 10:38] lexoyo commented on #796
Ok, it looks like the fix has been removed from master somehow... It is still on develop though
Could you please confirm that you don't have the bug there?
https://preprod.silex.me/

[2018-09-04 10:41] lindstromscott commented on #796
On prepod, I don't have the bug.

On Tue, Sep 4, 2018 at 8:38 PM, Alex Hoyau <notifications@github.com> wrote:

[2018-09-04 11:41] tariqbenezza commented on #797
First tests on macOS High Sierra
Version 10.13.5

1- Is it Silex logo ?

<img width="329" alt="screen shot 2018-09-04 at 13 34 15" src="https://user-images.githubusercontent.com/4911564/45028977-5630b780-b047-11e8-8a88-c36ba38d896a.png">

2- The install ran successfully but now impossible to open it

<img width="1126" alt="screen shot 2018-09-04 at 13 38 35" src="https://user-images.githubusercont

[2018-09-04 12:15] lexoyo commented on #797
Hmm ...
You don't have Silex in your apps?

[2018-09-04 12:17] lexoyo commented on #796
Ok good then
This should be fixed on editor.silex.me too now

[2018-09-04 12:17] #796 closed

[2018-09-04 12:46] swakarm commented on #741
I have submitted a pull request.
for app.json

[2018-09-04 16:12] JbIPS commented on #797
That's the lite version, please give Apple 20 dollars to get the full app :stuck_out_tongue_winking_eye:

[2018-09-04 16:35] tariqbenezza commented on #797
Got a Silex app but nothing in the menu as you can see in my screenshot, and most important it seems that the app is not running properly

[2018-09-05 07:27] BaguetteAgile commented on #797
Je test `Test silex-2.2.7-amd64.deb on linux`, voici les messages d'erreurs de la console

Gtk-Message: 09:13:33.380: Failed to load module "canberra-gtk-module"
Silex starts with version [ '2', '2', '7' ]
FTP service: looking for env vars ENABLE_FTP
SFTP service: looking for env vars ENABLE_SFTP
Webdav service: looking for env vars ENABLE_WEBDAV
Github service: looking for env vars GITHUB_CLIENT_

[2018-09-05 09:27] lexoyo commented on #797
Baguette and @gustavklopp it looks like you have another Silex running on your local computer? It says the port is busy :-/

Tariq, let's debug on Linux first then...

[2018-09-05 10:01] gustavklopp commented on #797
Okay, thanks.
Here's the error when I try to save a webpage:
Error: I did not manage to save the file.

[code]

And here is the error when I try to import any `html` file:
[code]
I'm on Manjaro (Arch Linux based)

[2018-09-05 10:03] BaguetteAgile commented on #797
En effet @lexoyo , après arrêt des processus 'Silex' et redémarrage du logiciel, voici le résultat de la console:

Gtk-Message: 11:44:49.745: Failed to load module "canberra-gtk-module"
Silex starts with version [ '2', '2', '7' ]
FTP service: looking for env vars ENABLE_FTP
SFTP service: looking for env vars ENABLE_SFTP
Webdav service: looking for env vars ENABLE_WEBDAV
Github service: looking for

[2018-09-05 10:05] gustavklopp commented on #797
@BaguetteAgile  It's not launching...  you must open `localhost:6805` in your browser!

[2018-09-05 10:36] lexoyo commented on #797
It looks like it starts with `npm start` and no env vars @JbIPS

[2018-09-05 10:48] lexoyo commented on #741
It works great !

![screenshot from 2018-09-05 12-44-39](https://user-images.githubusercontent.com/715377/45088540-90fb2400-b109-11e8-9f6e-7af5316e546d.png)

There is still something to do for it to be perfect: [as stated in Silex wiki here, we need to define some environment variables for Silex to work properly](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#environment-

[2018-09-05 13:50] lexoyo commented on #741
Also the build on heroku fails: `java: not found`
We need to add the java "toolbelt" if I remembeer correctly
@swakarm could you look into it?
The link to try it out is `https://heroku.com/deploy?template=https://github.com/silexlabs/Silex/tree/develop`

[2018-09-05 13:51] lexoyo commented on #794
can you confitm @BaguetteAgile ?

[2018-09-05 17:47] lexoyo commented on #662
Hello
I finished the "Make the format editor a floating bar" task
This was quite a lot of work but it looks good: https://preprod.silex.me/
What do you think @clemos @budislav @ceubri @BaguetteAgile @tariqbenezza ?
1- is the floating mode ok? you see bugs or unexpected things?
2- please test the text style editor and tell me how it works together?
3- what do you think about the idea of "keep the s

[2018-09-05 19:26] BaguetteAgile commented on #794
J'ai fait un test sur editor.silex.me ET sur preprod.silex.me et voici le message d'erreur pour le Favicon.

![capture du 2018-09-05 21-19-29](https://user-images.githubusercontent.com/35597855/45116141-2d491900-b152-11e8-8ad0-b1b42299fbcf.png)

[2018-09-05 21:19] BaguetteAgile commented on #662
Hi, I just tested the text editor with the floating bar, great job,
 really good and make the text easier to edit.

I have not noticed any bug yet.

By cons, I have trouble understanding the operation of the link editor and advanced settings ...

[2018-09-06 03:06] budislav commented on #662
Good job! style editor doesn't seems to work. Still think link settings and heading settings should be inside settings tab.

[2018-09-06 05:30] sfkazmi opened #801 "Saving Templates in database"
I have templates html and css stored in my database, can i integrate silex with my website for my clients to edit, update and create new template and save it in my website database?? If yes then what is proper whay to do this??

[2018-09-06 07:40] lexoyo commented on #801
Hi @sfkazmi

Thank you for your interest in Silex project
With Silex your users can edit templates made with Silex only, not any HTML template

For Silex to store in a database instead of a file or cloud storage, you need to create a unifile service, we can guide you

[2018-09-06 07:48] sfkazmi commented on #801
@lexoyo Thank you for your response, I need your guide line how i can integrate in my web application. I allow users to add blank templates and edit already added templates. I am using grapesJs but it do not allow absolute positioning and to freely move elements in canvas, So I need an editor like silex to integrate in my website,

User create or edit templates and save in database, then website g

[2018-09-06 09:06] lexoyo commented on #662
ok thank you for the feedback
i'll wait the one of @clemos too
here is mine after some experiments

1- I would like to add a style named "All style" which would be in all websites
  * display in style manager when the body is selected
  * in the website CSS, the selector should be `.silex-element-content > *` without a style name

2- the `P` selector in the style manager
  * should create a CSS st

[2018-09-06 09:07] lexoyo commented on #662
Do you mean this?

![screenshot from 2018-09-06 11-07-44](https://user-images.githubusercontent.com/715377/45147392-1a236100-b1c5-11e8-910c-e59e165d0bc9.png)

[2018-09-06 09:32] swakarm commented on #741
I am still getting an error ,'No app.json located in the repo URL provided.'
Make sure that repo URL is true or not.
![capture](https://user-images.githubusercontent.com/22835653/45148648-62527b80-b1e5-11e8-979a-8d61ee894652.JPG)

[2018-09-06 09:44] swakarm commented on #741
I am new to Silex . So I am observing your source code. My schedule is also too busy. So I will try to solve problems whenever I will be free. So do not expect from me for more support. I am sorry for that. Thanks for making Silex builder  opensource. Science is depended on selfless people like You, Who works without expecting  profit.

[2018-09-06 10:03] clemos commented on #662
It's nice, though not immediately noticeable, but I have no suggestion as to how to deal with that...

(The second tab on the right ?)
It works well, once you understand that it's a style editor and not a text editor :S
I think it's a bit clearer now that in the previous version

I think it would make sense.

I noticed a small bug: when you add a new text style (+), the tab becomes blank, like the

[2018-09-06 10:29] BaguetteAgile commented on #662
yes that's it Alex,

in fact I do not understand all the possible options in the drop-down menu and in the advanced settings.

But that may be due to my computer level? (or my english)

maybe insert a bubble info for each choice?
but it's not a priority at the moment.

Great job.

[2018-09-06 12:38] lexoyo commented on #741
Did you use this URL?
It is the one for develop branch
https://heroku.com/deploy?template=https://github.com/silexlabs/Silex/tree/develop

[2018-09-06 12:47] lexoyo commented on #662
Great, thx a lot @budislav @clemos @BaguetteAgile

You did not react to my proposal:

Concerning your feedback:

You mean that you did not notice the floating bar immediately after double clicking the tex box?

I can do this maybe

* [ ] add a link to the wiki in the style editor

* [ ] add a link to the wiki in the link editor

Do you think that a help link in the floating bar would be helpful ?

[2018-09-06 14:10] swakarm commented on #741
oh, I clicked button for one click deploy. Now I have tried 'develop' branch. It works.

[2018-09-06 15:35] lexoyo opened #803 "add custom unifile services"
@JbIPS @godzone what do you think?
This is where you would add custom services
https://github.com/silexlabs/Silex/pull/802/files#diff-f4e33cb9922134499ac778b8b3566937

I did not test this with a service, but it should work even if unifile and express are started already when you add services and routes for callbacks

[2018-09-06 17:50] lexoyo commented on #803
Oh and I forgot to say that the use case is for a hosting company to have a separate repository, with Silex as a npm dependency

package.json
[code]

index.js file:

[code]

[2018-09-06 20:42] godzone commented on #803
I like the way you have re-worked silex, to my mind it would make it much less invasive to extend.

It is a fairly major change but I think would make it easier for people like me to work with.

Glen

[2018-09-07 07:35] #798 closed

[2018-09-07 07:39] lexoyo commented on #801
How are your users authenticated, do they sign up to your platform? What is your platform, does it provide a route for Silex to read/write in the database?

[2018-09-07 10:26] BaguetteAgile commented on #794
@lexoyo

Malgré le message d'erreur ci-dessus, je te confirme que le Favicon fonctionne lors de la publication du site.Tester avec Firefox et Chromium.

[2018-09-07 10:27] sfkazmi commented on #801
I am using laravel authentication and my project is in laravel, and every user use it with login, My platform is masmenus, it is a digital menus platform where users can add html templates and thoese templates will load on android by using specific generated urls. I can provide a url for read write by silex

[2018-09-07 11:54] swakarm commented on #741
**Observing package.json**

"Java not found" error is because of heroku could not find files in directory, which are described in script- 'build:js:release' and 'build:js:debug'

Also check at "dependency"
"google-closure-compiler": "20170218.0.0",
"google-closure-library": "20170218.0.1",

I think there is a problem with Google closure complier at heroku.
We have two options to solve this problem

[2018-09-07 14:41] lexoyo commented on #741
It is possible to add Java to heroku
I don't know how but I know it is what we need

Le 7 sept. 2018 à 13:54, à 13:54, Jayesh Sindhav <notifications@github.com> a écrit:

[2018-09-07 18:55] lexoyo commented on #691
My proof of concept seems to work, could you try and tell me what you think @pierreozoux @clemos @godzone ?
https://silex-test-tmp.herokuapp.com/

Here is a test you can do:
* open a template
* save the template in a github repo
* publish the template on github pages, in the same repo or another one

![publish-to-hosting](https://user-images.githubusercontent.com/715377/45237785-f9036300-b2df-11e8

[2018-09-07 20:06] godzone commented on #691
As a POC this is looking good.

I had a play around using FTP and seemed to strike the same issue I had some time ago with the various folders not being created.  The UI said it was creating testsite4/assets etc but the were not

Will the message surrounding the Website URL be configurable, I would not want to send a customer else where when we sell domains.  In fact I would rather pre-fill the UR

[2018-09-07 20:15] lexoyo commented on #801
Ok, this is interesting as we have a beta version of Silex coming soon, dedicated to hosting providers. You have probably seen issues talking about features which make it possible to add "unofficial" services to store users data, or to provide custom ways to publish websites online...

You will have to create small nodejs scripts for that and use npm. Are you ok with that? We can help you here

St

[2018-09-07 20:44] lexoyo commented on #790
Back to this subject as it is blocking for the release of the new text editor and style manager. Let's adopt the solution 1 as suggested by Baguette

The solution I have in mind is

* Step 1: select a set of fonts and hard code it, which means the "font family" drop-down list will have these fonts and a font will be embedded in the website if the user selects it in a style somewhere
* Step 2: add

[2018-09-07 21:27] godzone commented on #691
Yes, they are but in our context, I am not sure they would be useful.   When we setup a site it gets its own folder and corresponding user and is configured as a vHost on our Apache web servers.  Whilst we have several people who have created websites in subfolders, they are accesses via a parent domains URL e.g. http://www.domain/webste1/ etc.

In order to see how we might use it, I’d have to set

[2018-09-07 21:34] Rom25 opened #804 "Cookies using"
is Silex using cookies ? shall I inform the visitors of my website for that?
French law is very strict for that
By advance thank you for you answer
kind regards

[2018-09-07 23:17] lexoyo commented on #804
Hello
Who's Bob?! :))
Silex editor uses cookies
Website made with Silex do not use cookies for your visitors

[2018-09-08 13:55] lexoyo commented on #773
Je ne me souviens pas avoir fait qq ch...

Est ce que la vidéo du plugin d'origine fonctionne dans chromium?

Le 7 sept. 2018 à 11:25, à 11:25, BaguetteAgile <notifications@github.com> a écrit:

[2018-09-10 07:10] sfkazmi commented on #801
That's Great. I am waiting for that and always available if you need anything,

[2018-09-10 11:30] lexoyo commented on #691
ok, so this is also covered in my opinion but I would consider it an advanced option, one would have to select "use website settings", which would open the publish settings where the user can select a folder with cloud explorer. What do you think?

![screenshot from 2018-09-10 13-29-54](https://user-images.githubusercontent.com/715377/45295048-ae5f3200-b4fd-11e8-8df9-3afae3210afe.png)

[2018-09-10 13:02] lexoyo commented on #662
What I still want to change (thx @clemos)
* [ ] B should be bold
* [ ] A blue and underlined or a link icon
* [ ] U underlined
* [ ] remove the "list-style-image" property

And one thing I have yet to choose: there is a problem if someone want to change the font familly for all the text in a text box, because all the styles (p, h1-h3, a ,ul...) have to be changed. So I can
* add a "default" font f

[2018-09-10 15:58] lexoyo commented on #662
here is what I did today
* changed the design
* [added doc to the wiki](https://github.com/silexlabs/Silex/wiki/Editor-UI#6-text-fonts-and-styles-1)
* links in the text editor and link editor to the wiki
* the "P" style changes also the h1-h3 styles as if they were inside a p tag

Some documentation is still missing, I have written "help wanted" in the wiki where it is the case

I think it is read

[2018-09-11 09:35] lexoyo commented on #691
@godzone I think I will replace "use website settings" by "Choose a folder", and then when the user presses "next" i will display a "browse" button which will open CE

[2018-09-11 09:40] godzone commented on #691
How can I get what you have so far, I’d like to play around more in our environment

[2018-09-11 09:50] lexoyo commented on #691
There are 2 different branches which concern your use case, I will soon merge them to continue on one of them

Publish to a hosting directly:
* this is the solution with hosting providers, I started with the more complex case of github pages
* let the user choose a provider, a vhost and attach a domain name (all this is can be done automatically with config)
* it is on the branch `publish_to_hosti

[2018-09-11 10:06] lexoyo opened #806 "feature request: publication as a Jekyll website"
Silex could be a very cool Jekyll site editor, an alternative to [CloudCannon](https://cloudcannon.com/). Here is what needs to be done to make it so.

The basic concept is to make Jekyll layouts (page templates) with Silex. Each Silex page would be a Jekyll layout. A content editor would let the non-designer user to edit content, manage pages, and select which Silex layout to apply to which page.

[2018-09-11 20:43] BaguetteAgile commented on #662
Hi @lexoyo ,

I just tested (on my site)  the new text editor,
 frankly it's really great and editing is simple.
the link to wiki is cool as well as the explanations for the links editor!

I did not notice any bug

the wiki will be completed of course.

**For me the text editor is ready to go online.**

Very good work.

PS: where are we with text fonts?

[2018-09-12 10:08] lexoyo commented on #691
here is an [example of a custom Silex integration](https://github.com/lexoyo/silex-for-hosting-company)
it works with my `silex_as_a_dependency` branch only (so either change package.json or use npm link to test it for now)

[2018-09-12 10:19] lexoyo commented on #662
Great thank you for the test Baguette
The fonts are nowhere for now :-/
I have not even found a website with open source fonts :-/

Le 11 sept. 2018 à 22:44, à 22:44, BaguetteAgile <notifications@github.com> a écrit:

[2018-09-12 10:20] lexoyo commented on #662
Fixed, thx @clemos

Le 6 sept. 2018 à 12:03, à 12:03, "Clément Charmet" <notifications@github.com> a écrit:

[2018-09-12 10:59] clemos commented on #662
https://github.com/phax/ph-fonts for example
also, most fonts on fonts.google.com are either under Apache or Open Font licences

[2018-09-12 13:58] lexoyo commented on #662
Thx @clemos !
The ph-fonts seems to be a Java project and fonts for PDF? I'm not sure how I can use it with Silex? You think I should host an instance of it somewhere and use the API?
For Google fonts, I'm worried about user privacy, what do you think?

Le 12 sept. 2018 à 12:59, à 12:59, "Clément Charmet" <notifications@github.com> a écrit:

[2018-09-12 14:01] clemos commented on #662
I think you should just download fonts from google or ph-fonts, then host them somewhere on silex.me ?

[2018-09-12 14:13] BaguetteAgile commented on #662
Hello , look at this link .
I don't know,  if it's ok for  Silex.

http://typotheque.interstices.io

[2018-09-13 10:09] lexoyo commented on #662
Oh ok I'll do that for now
And probably offer a way to add any font

Yes this is good!!

Now we need to select a few fonts

[2018-09-13 19:04] BaguetteAgile commented on #662
Hello everyone, here is my list of favorite fonts chosen on the site http://typotheque.interstices.io

Averia
Inknut Antiqua
Playfair Display
Autopia
Open Sans

I am waiting for your comments.

[2018-09-13 20:13] BaguetteAgile opened #807 "Slideshow bug (Fr)"
Bonjour @lexoyo

je viens de m’apercevoir que le menu `paramètre` du Slideshow n'est plus accessible en utilisant un site déjà créer.

En fait je voulais changer quelques photos de mon site sur lequel j'utilise le `Slideshow` et impossible d'ouvrir l'onglet `paramètre` aussi bien sur `preprod` que sur `editor`

Par contre si je crée un nouveau site vierge sur lequel j'insert un `Slideshow` vierge,

[2018-09-14 08:53] mathieumassage commented on #795
Hello,
I have the same problem...

[2018-09-14 10:19] NaomiSangui commented on #770
@lexoyo I can connect to my webdav server now but not through the link you provided. Works fine here https://editor.silex.me/ though. My new issue is that I can save my website to my webdav server but I can't publish it. I always get this error. Error message: Cannot read property 'Symbol(Symbol.iterator)' of undefined

[2018-09-14 17:54] Rom25 commented on #804
Hello,
I have used "Bob" to be sure about my translation and I have made a to quick copy/paste :-)
Thank you for your answer.

[2018-09-14 17:54] #804 closed

[2018-09-14 18:41] lexoyo commented on #795
Hello
@JbIPS [fixes](https://github.com/JbIPS/CloudExplorer2/commit/a82cbf304be0f1034a93167248f796c4cc660d31) are now live on https://preprod.silex.me
Could you test and report if it fixes the issue please?

[2018-09-14 19:40] lexoyo commented on #770
Oh really?! Ok
Can you try again on preprod please?

[2018-09-14 22:26] NjlsShade opened #808 "Adding a div to Silex's HTML HEAD Editor breaks things"
Hey there!

Did not see this brought up yet so wanted to reach out. Though it's not an everyday thing to do, If you add a div tag (may affect other tags) in the Silex "HTML HEAD Editor" and save the page, then reload that saved page in Silex the page editor is unable to function correctly due to some of Silex's own code getting mixed with the div added in the HTML HEAD Editor.

For example, if I a

[2018-09-14 23:07] lexoyo commented on #808
Hello
Good catch thx!
You're not supposed to put divs in head but Silex is not supposed to bug like that:)
I'll take a look soon

[2018-09-14 23:14] lexoyo commented on #808
The content is inserted/extracted here
https://github.com/silexlabs/Silex/blob/develop/src/js/model/head.js#L136

I guess it is interpreted by the browser at one point... We should move that to the server side.

What is the browser you used for this test?

[2018-09-15 00:53] NaomiSangui commented on #770
Just tried can't connect to my nextcloud through webdav. I get this error. Cannot access server. Please check your credentials. Error: getaddrinfo ENOTFOUND https https:443. It is the right credentials cause I can log into it on the normal Silex editor.

[2018-09-15 02:15] NjlsShade commented on #808
Hey there,

I was using Chrome 69 to test, I also replicated the issue in Firefox 63.

[2018-09-15 07:14] mathieumassage commented on #795
Hello,
No sir because i don't understand ! I observe that i'm connected to my ftp server but i can't publish.
Sorry

[2018-09-15 10:49] NaomiSangui commented on #795
I tried to log in to my nextcloud using webdav but i get this error. Cannot access server. Please check your credentials. Error: getaddrinfo ENOTFOUND https https:443. I am using the right credentials cause I can log in on the normal Silex editor here. https://editor.silex.me/

[2018-09-16 18:14] cdlm commented on #699
I get the same…

[2018-09-17 13:37] lexoyo commented on #662
What I'm doing before releasing this live

* [ ] default links style is bad (at least leave the underline)
* [ ] impossible to style active links
* [ ] it still needs good fonts
* [x] link editor looks strange
* [ ] all templates need to be adapted to use the new style editor

[2018-09-17 13:38] lexoyo commented on #807
Hi baguette
merci pour le bug report
tu peux me partager un site qui bug stp?

[2018-09-17 13:39] lexoyo commented on #801
hi @sfkazmi
i did this sample, do you feel like it is addressing your use case?
https://github.com/lexoyo/silex-for-hosting-company

[2018-09-17 13:43] lexoyo commented on #801
you can deploy it for free on heroku with this link:
https://heroku.com/deploy?template=https://github.com/lexoyo/silex-for-hosting-company/tree/master

[2018-09-17 13:44] lexoyo commented on #801
here is what it does:
* do not ask any info to the user
* the user has to be logged in with github or the provider will ask him to login
* publish to a hard coded repo in the user github

[2018-09-17 14:05] BaguetteAgile commented on #807
Salut Alex,
tu as toujours accès à ma Dropbox, pour le site Just-Friends.
justfriendsmars2018.html page " presentation des musiciens"

[2018-09-18 05:49] sfkazmi commented on #801
How can i load and save templates in database?? did you find anyway to load and save template in mysql database??

[2018-09-18 05:51] sfkazmi commented on #801
i have deployed it on heroku but it is not working properly

[2018-09-18 09:17] lexoyo opened #809 "silex logo in the UI"
Hello
What do you think of how the logo looks when I put it in the UI?

![screenshot from 2018-09-18 11-16-56](https://user-images.githubusercontent.com/715377/45677406-64e19900-bb34-11e8-9315-8a3d6490bf6f.png)

cc @ceubri @clemos @budislav @baguette

[2018-09-18 10:01] lexoyo commented on #809
![screenshot from 2018-09-18 11-56-15](https://user-images.githubusercontent.com/715377/45680136-6f9f2c80-bb3a-11e8-814d-83db3b27c93f.png)

Oh yes it look better? then maybe the favivon should stay black?

[2018-09-18 10:28] lexoyo commented on #801
I see it working on https://masmenus.herokuapp.com/
What is the problem?

[2018-09-18 10:30] sfkazmi commented on #801
I cannot move elements

[2018-09-18 11:00] lexoyo commented on #801
Oh ok, the env vars were missing in heroku's app.json file
It is fixed, please try again: https://heroku.com/deploy?template=https://github.com/lexoyo/silex-for-hosting-company/tree/master

You will need to create a github app, follow the instructions please

[2018-09-18 11:05] lexoyo commented on #801
i just deployed it here: https://test09876aaaa.herokuapp.com/

[2018-09-18 12:31] sfkazmi commented on #801
Now it's working fine, but how i can fetch templates stored in database, and save the templates in database?? because according to my requirements, i have to save templates in database not on github repo. For a hosting company every one wants to save and secure data, so find a way to save data in database. I can provide api to post data

[2018-09-18 12:32] sfkazmi commented on #801
there should be another options for optional params like posting userId and other values

[2018-09-18 12:37] budislav commented on #809
It's nice, but I already hinted the problem with color order, especially green and blue.

[2018-09-18 12:44] ceubri commented on #809
I prefer the first.
But without the title "Silex" it's look like a button.
Maybe try a different position ?
![screen](https://user-images.githubusercontent.com/7302680/45688274-3aea9f80-bb51-11e8-9cef-df9a4023b404.jpg)
[silex-logo-2018-alternative-white.pdf](https://github.com/silexlabs/Silex/files/2392677/silex-logo-2018-alternative-white.pdf)

[2018-09-18 13:02] lexoyo commented on #741
Hi
@pseudozach and @swakarm
I have added the env vars and buildpacks to app.json, it should work properly now
https://github.com/silexlabs/Silex/commit/8d6254864d0f907328e0ce9e660111a995c70965
Let me know if you find any bug
Thank you for your contributions!

[2018-09-18 13:02] #741 closed

[2018-09-18 13:19] lexoyo commented on #809
For now it opens the "about menu", the same as the "?" in the menu bar

![screenshot from 2018-09-18 15-18-37](https://user-images.githubusercontent.com/715377/45690228-252ba900-bb56-11e8-86ac-df7f09206114.png)

Yes why not
What should we do?

I did not understand :-/

[2018-09-18 14:32] lexoyo commented on #801
This I did not understand

Now you are supposed to create your "unifile service", like this one: https://github.com/silexlabs/unifile-webdav/blob/master/lib/unifile-webdav.js

Would you consider using a mounted file system to store the data? Or access a distant SFTP server? It could be transparent for your users, but you could use one of the existing unifile services

[2018-09-18 17:07] budislav commented on #809
Well look at the contrast between blue and orange, also green and blue together looks like the same color on that size, orange is dominating like crazy.

[2018-09-18 20:57] budislav commented on #809
Definitely, if you don't want distracting attention with that rainbow.

[2018-09-18 21:00] budislav commented on #655
A sneak peek at Grid in Webflow
https://www.youtube.com/watch?v=jpJE25aq7tA&t=2421s

[2018-09-19 03:43] lexoyo commented on #655
Wow that's a great demo

[2018-09-19 14:07] BaguetteAgile commented on #809
GREAT, the color logo looks attractive to me, but that's the first thing I saw when opening SILEX.

The logo attracts the attention of the user, which is a good thing in my opinion,
because the user discovers the part "About Silex" and can bring him to contribute with us and discover the WIKI ...

the explanation part of new software is important for a new user.

[2018-09-19 14:43] lexoyo commented on #801
hi @sfkazmi what do you think?

[2018-09-19 14:49] lexoyo commented on #699
hi @cdlm
thx for the bug report
I finally managed to [fix this with this commit](https://github.com/lexoyo/Silex/commit/aaa407111512255185d91cecdb15fb812a6a0a82), but it is on a branch I'm working on, so for now you need to do this to test:
[code]
It will take a while and it should run Silex on `http://localhost:6805/`
Let me know if you have a chance to test this, that would be helpful

[2018-09-19 16:32] lexoyo commented on #699
argh it works for me :-/
thanks a lot for trying
are you on linux?
just to be sure: you did try on my fork and the branch publish_to_hosting right?

[2018-09-19 16:34] jotakar opened #810 "CERT_UNTRUSTED"
I'm having install problems wit error message, In log I have several lines like:
`391 info trying registry request attempt 1 at 18:23:33
392 http GET https://registry.npmjs.org/cloud-explorer
393 info retry will retry, error on last attempt: Error: CERT_UNTRUSTED
394 info retry will retry, error on last attempt: Error: CERT_UNTRUSTED`

Install process is too hard in my opinion
Is ther any kind of

[2018-09-19 16:35] jotakar commented on #662
I would like an easier installing process. So, we could have the option to download the full code in a zip file and then upload to server (external or  local server), config it and run. I man some way to install by hand.

[2018-09-19 16:39] lexoyo commented on #662
Hey all

I have added a column style for texts, it is quite powerful and took me only an hour to add

![screenshot from 2018-09-19 18-04-13](https://user-images.githubusercontent.com/715377/45765894-82972700-bc36-11e8-89cd-8ab2106b54a3.png)

And also a new "tag" to style the links which lead to the current page, which is very useful to tell visitors which page they are in... In the nav bar for exa

[2018-09-19 16:49] lexoyo commented on #810
I agree for the install process, many sub-projects with too many different technologies... As always in free software :-/

What is your version of nodejs and npm please?

Le 19 sept. 2018 à 18:34, à 18:34, jotakar <notifications@github.com> a écrit:

[2018-09-19 16:55] jotakar commented on #810
I've used skip cert and now
silex-blank-templates is not a valid repository name
github:silexlabs/silex-templates is not a valid repository name

????

[2018-09-19 16:57] jotakar commented on #810
Versions (on Ubunto 14)
nodejs v0.10.25
npm  1.3.10

[2018-09-19 17:07] cdlm commented on #699
No: macOS, Docker 18.06.1-ce

I did what you said, the differences shouldn't be meaningful (changed image name to `silex` not `silex-image` and killed/restarted the docker build (npm seemed to take a really long time and didn't use any resources so I suspected some kind of network fail…)

[2018-09-19 17:12] lexoyo commented on #810
Oh these are very old versions not even supported by the nodejs community anymore ;)
Please see the file .nvmrc which tells you which nodejs version is needed

Le 19 sept. 2018 à 18:57, à 18:57, jotakar <notifications@github.com> a écrit:

[2018-09-19 17:46] budislav commented on #809
Yes, for the first time you open it, but not each time.

[2018-09-19 18:59] lexoyo commented on #809
Let's try the black and white too and we talk about it then
I talked to @ceubri and he will provide a black and white logo for me to try
... To be continued ....
Thank you for helping me out one more time, we will manage to release this and Silex will be awesome again ;)

[2018-09-19 19:02] lexoyo commented on #810
No problemo

[2018-09-19 19:02] #810 closed

[2018-09-19 21:47] jotakar opened #811 "Error on windows install"
After updated versions
node 8.12
npm 6.4
Python 3.7

Indeed I can not install  in a Windows enviroment. Now errors are

`gyp ERR! configure error
gyp ERR! stack Error: Command failed: C:\website\server\python\python.EXE -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! st

[2018-09-19 21:59] lexoyo commented on #811
Windows... It's a server so it is not well rested on Windows

The solutions are simple
* You help me debug on Windows and I'll be happy but it will take months
* You help me build a Windows version of @JbIPS desktop app (https://github.com/silexlabs/Silex/releases)
* You use the docket version which was broken since a week or two, help us here https://github.com/silexlabs/Silex/issues/699
* You us

[2018-09-19 23:00] JbIPS commented on #811
Hello ! What's your Python version?

[2018-09-20 00:30] jotakar commented on #811
Well I finally installed on a linux server, but now my problem is localhost.
I access this server via net and after install I can see the first page but any templata I want to use look for images an resources in localhost, but this server is 192.168.1.3 (localhost is my main desktop: Windows)
So what can I do to get the app installed as a web in a IP not a localhost?
Thanks

[2018-09-20 10:02] lexoyo commented on #662
Hello
I have created a "All" tab to style all texts at once.
Also I reorganized and put a help link
What do you think?
![screenshot from 2018-09-20 12-01-30](https://user-images.githubusercontent.com/715377/45811261-eec46a00-bccc-11e8-9519-3cc47eb71bdf.png)

[2018-09-20 10:02] lexoyo commented on #662
(it's live on https://preprod.silex.me/ )

[2018-09-20 10:08] fernandammoutinhobarros commented on #662
This is very good!

[2018-09-20 10:18] budislav commented on #662
On Firefox 62.0 (64bit), win10
![bug](https://user-images.githubusercontent.com/3619927/45812122-2d5b2400-bccf-11e8-98f4-ec160ddd11e1.png)

[2018-09-20 10:50] lexoyo commented on #662
@budislav you need to empty your cache

[2018-09-20 10:51] lexoyo commented on #662
Haha thx @fernandammoutinhobarros

Working on embedded fonts now

[2018-09-20 12:02] ceubri commented on #809
![screen](https://user-images.githubusercontent.com/7302680/45817033-c133ec80-bcdd-11e8-8b14-a64cb51bbe28.jpg)
[silex-logo-2018.zip](https://github.com/silexlabs/Silex/files/2401154/silex-logo-2018.zip)
like this ?

[2018-09-20 14:03] jotakar commented on #811
Eureka!!!
My experience as a help for other users:
After install using **npm install** and **npm build**, I get errors because some files had not been copied into dist  folders. These files are those in folder: templates and  wysihtml
I noticed it because of errors messages in developer panel of browser.
I see in **package.json** a buid script **postinstall** that looks like it copies all these fi

[2018-09-20 19:41] jotakar opened #812 "Not possible to install on windows"
Node-expat cannot be installed on Windows 10, so Silex cannot be installed on Windows. Thats my experience nowday. :(
Does anybode know any workaround or so?

[2018-09-20 21:06] JbIPS commented on #812
Windows 10 supports Docker engine, safest solution is to install it and run Silex in a Linux container

[2018-09-20 21:43] jotakar commented on #812
Indeed I didn't try Docker. Sorry. But I supose Docker has to install node-expat too and this package (node-expat) doesn't work with Windows.  Or am I wrong?
Finally I've installed  it in my local linux server, to study and check it.
My first idea is get a way to local store for preview and a way to download the source straight.
Thanks

[2018-09-20 22:11] JbIPS commented on #812
Actually Docker will do the mapping between the Linux container and the Windows host. As far as Silex is concerned, you're running Linux so everything will be fine.

I'll close this since it looks like you found a solution but feel free to open another issue if you experience issues with Docker.

Thank you for using Silex

[2018-09-20 22:12] #812 closed

[2018-09-21 08:10] lexoyo commented on #811
:+1:

[2018-09-21 08:10] #811 closed

[2018-09-21 11:46] lexoyo commented on #662
I did one last thing: a new font manager
![screenshot from 2018-09-21 13-45-41](https://user-images.githubusercontent.com/715377/45879397-a6787b00-bda4-11e8-9c9b-936d337fff24.png)

I need testers! And I need to know if you can understand how it works easily?

[2018-09-21 11:46] lexoyo commented on #790
Hi
I went straight to step 2
![screenshot from 2018-09-21 13-45-41](https://user-images.githubusercontent.com/715377/45879432-c14aef80-bda4-11e8-8dfe-93273fe222b9.png)

[2018-09-21 13:08] budislav commented on #809
I think it should be placed in top left corner.

[2018-09-24 14:58] lexoyo opened #813 "New Silex templates, your opinion wanted"
These are templates which I have made to test silex and never released yet. Which one(s) do you want to keep?

* [agency](http://lexoyo.me/GrrHost/21924/agency/)
* [air](http://lexoyo.me/GrrHost/21924/air/)
* [creative](http://lexoyo.me/GrrHost/21924/creative/)
* [perso3](http://lexoyo.me/GrrHost/21924/photo/editable.html)

[2018-09-25 15:49] lexoyo commented on #807
ok j'ai mis le temps mais j'ai fini par trouver
c'est assez proche de cette issue: #808
il semble qu'on peut "casser" son site avec certaines balises html
dans ton site, il manque une balise </script> ici
![screenshot from 2018-09-25 17-43-45](https://user-images.githubusercontent.com/715377/46026160-f039cc00-c0ea-11e8-99e3-855b62e747f8.png)
![screenshot from 2018-09-25 17-43-22](https://user-imag

[2018-09-25 22:53] BaguetteAgile commented on #807
Salut Alex,
j'ai beau chercher après ce fichier JS, mais je ne trouve pas, ( enfin, je ne sais pas ou chercher exactement, dans Silex, dans ma Dropbox ou avec le débogueur du navigateur ???)

Tu peux toujours fixer le problème pour moi, mais j'aimerai bien savoir ou trouver ce fichier, comme cela j'apprends encore des choses en informatique.

Merci d'avance.

[2018-09-26 10:10] lexoyo commented on #807
c'est dans le html, le seul fichier que tu édites avec Silex :)

je peux mais dis moi sur quel fichier le faire

[2018-09-26 11:07] lexoyo commented on #809
@ceubri ok for you? top left corner?

@ all and what about the favicon? in black and white or in color?

![screenshot from 2018-09-26 12-58-51](https://user-images.githubusercontent.com/715377/46076187-19ab3400-c18d-11e8-99fb-d25460be79c5.png)

[2018-09-26 11:37] budislav commented on #809
favicon should be in color, but with rearrange of colors and some pixel perfect improvement.

[2018-09-26 12:32] ceubri commented on #809
i prefer the top centred versions (the top left version looks like a tool).

[2018-09-26 12:34] lexoyo commented on #809
Ok :))
@clemos ? @bagueteagile ?

[2018-09-26 12:40] budislav commented on #809
@ceubri if there is a text "silex" next to the icon it would look much better.

[2018-09-26 12:42] lexoyo commented on #809
Oh so you are proposing a b&w logo with text but on the left?

[2018-09-26 15:28] BaguetteAgile commented on #809
Hi
i prefer Centred version.

[2018-09-26 21:35] budislav commented on #809
@lexoyo exactly.

[2018-09-26 21:38] BaguetteAgile commented on #807
Merci pour ta réponse, j'ai bien trouvé le fichier mais pas réussi à trouver les quelques lignes à supprimer,

![46026295-51fa3600-c0eb-11e8-94f4-515c746a0ede](https://user-images.githubusercontent.com/35597855/46110819-252a4980-c1e5-11e8-9bbc-6c0a88597750.png)

 donc pour ne pas faire de boulette, je te laisse faire la correction.

Le fichier à corriger est le suivant: `Dropbox/nouveausitejustfri

[2018-09-26 21:55] BaguetteAgile commented on #813
The most successful site is AIR without any doubt;)

for the other 3, I am of the same opinion that @jotakar  good job.

[2018-09-27 13:44] lexoyo commented on #813
ok thank you for your feedback

[2018-09-27 13:44] #813 closed

[2018-09-27 13:45] lexoyo commented on #809
![screenshot from 2018-09-27 15-43-52](https://user-images.githubusercontent.com/715377/46150179-4a15cf80-c26c-11e8-978f-ff50424b7bfb.png)

This looks good ?

[2018-09-27 13:49] ceubri commented on #809
great !

[2018-09-27 14:16] BaguetteAgile commented on #809
Yes !!  Very Good 😉

[2018-09-27 14:45] lexoyo commented on #809
Haha ok cool!!!!!
Thank you very much guys

[2018-09-27 21:04] BaguetteAgile commented on #807
Je pense t'avoir indiqué un mauvais fichier, le fichier que Silex ouvre pour faire le site est le suivant:

`Dropbox/nouveausitejustfriends/justfriendsmars2018.html`

[2018-09-28 09:54] rijschoolthomas opened #814 "Mobile menu making"
Hi there, my name is Michael and am a beginner in Silex and no experience in CSS or Java.

So this is what I've fabricated so far with Silex : [My website](https://rijschoolthomas.github.io/website/)

But i have 2 questions:

First:
In the desktop editor I've placed a section. Now i would like for this section to only be seen in the mobiel editor, but in such a way that it doen't take up any line-

[2018-09-29 09:59] jotakar opened #815 "Run from folder"
Hello
I've installed Silex in my local linux server and it works fine if running from my ip:6805 (192.168.1.90:6805).
Even if I use an Apache server and create a local host it runs ok: mysite.local.loc:8000 if I set SERVER_URL="http://mysite.local.loc:6805". Even with proxy I can run it from http://mysite.local.loc
Thats fine, I don't have to edit any code, just env vars.
But if I  try to use it i

[2018-09-29 13:10] lexoyo commented on #815
Hello
It's an interesting use case!
You should not need Apache, just Silex
Could you try with the branch "Silex as a dependency" from my fork here? I'm working on similar issues on this branch, it would be great to collaborate on that and address your issues one by one
https://github.com/lexoyo/Silex/tree/silex_as_a_dependency?files=1

[2018-09-29 13:30] lexoyo commented on #814
Hi Michael and welcome in the web design world ;)

First question: if your section is empty (no element in it, just make it as small as possible, it will still be visible and take some space in the editor but will disappear in the live website and preview

Otherwise you will need a little piece of code I can provide. It is a common feature request, we should add a button somewhere to do that one d

[2018-09-29 13:33] lexoyo commented on #814
Second : you will need to create your own hamburger menu. Here is a widget which is a bit tricky but does this
https://github.com/silexlabs/Silex/issues/659
Leave a comment there if you find it too complex we'll help you

[2018-09-29 13:54] rijschoolthomas commented on #814
Thanks Alex.

Cheers,

Michael

Op za 29 sep. 2018 15:33 schreef Alex Hoyau <notifications@github.com>:

[2018-09-29 14:49] rijschoolthomas commented on #814
Hi Alex, won't #659 <https://github.com/silexlabs/Silex/issues/659> only
make a hamburger menu in the desktop editor and NOT in the mobiel editor?

Is there any way to edit the existing hamburger menu of the mobiel editor?

As i have a lot of menu items in the desktop editor, the hamburger menu in
the mobiel editor doesn't show all of my menu items. So I would like to be
able to create a categoris

[2018-09-29 18:27] jotakar commented on #815
I'll study if I can help.
I need Apache if I want to have a web in port 80 and silex under folder.
Thanks.

[2018-09-29 19:44] lexoyo commented on #815
Ok
But if Apache takes the port 80 then Silex will not be able to listen to it anymore
You want to serve static files or PHP?

Le 29 sept. 2018 à 20:27, à 20:27, jotakar <notifications@github.com> a écrit:

[2018-09-29 20:18] jotakar commented on #815
I didn't explain my idea well, sorry.
My objetive is to host Silex in a dinamic website (html/php). It runs in port 80 and is served by Apache.
Say:  http://main.server.com/, containing the html and php of the site.
Now I want to have Sliex builder  as a tool served in a folder of a subdomain, for example
http://main.server.com/editor/   (this must launch silex app)
In Apache, I can proxy  http://

[2018-09-29 21:44] JbIPS commented on #815
Hello @jotakar! That's the first time someone's trying such a thing but the could actually be great for Silex.

How I see it, in Silex code, it should look at the 'root URL', that would be the URL of the home, and prefix all the URL with it.

This way, you'll have /editor/assets and so on. Would this work with you? If so, @lexoyo and I could point you to the URL in the codebase and you could try y

[2018-09-29 23:16] lexoyo commented on #815
Absolutely :)
We're here to help

[2018-09-30 08:58] rijschoolthomas commented on #814
Hi Alex,
Yes could you please send me or point me to the code to make the menu
catagories as mention befor.

I have made a test site for the menu (
https://rijschoolthomas.github.io/test1/   ) so ik can play with the code
befor i implement it on my website:
https://rijschoolthomas.github.io/website/

Cheers,
Michael

Op zo 30 sep. 2018 02:26 schreef Alex Hoyau <notifications@github.com>:

[2018-09-30 10:32] jotakar commented on #795
I get same error, but I can publish using a "fs" service.

[2018-10-01 01:32] jotakar commented on #795
I've been working with publish code and I've senn these lines in readOperations (PublishJobs.js)
`      if(err.code != 'ENOENT') {
        throw err;
      }`
Working in local (fs service) it's fine, but using FTP I got an err.code 'EIO' so the error message appears and publish is cancealed.
I've put this
      if(err.code != 'ENOENT' && err.code != 'EIO') {
        throw err;
      }
And now it w

[2018-10-01 07:11] JbIPS commented on #795
Do you see your files on the server when the error occurs? That would be super weird

[2018-10-01 11:15] jotakar commented on #795
Which files? Let's see: when the error appears the files are not sent through the FTP.  Perhaps it's a fault in FTP socket? ??

[2018-10-01 12:02] JbIPS commented on #795
Clearly something is wrong with a connection. Dumb question: are you sure about the URL, the port and the credentials?

[2018-10-01 14:18] jotakar commented on #795
of course. I repeat: if I made this change
if(err.code != 'ENOENT') { throw err; }
Working in local (fs service) it's fine, but using FTP I got an err.code 'EIO' so the error message appears and publish is cancealed.
I've put this
`if(err.code != 'ENOENT' && err.code != 'EIO') {
throw err;
}`
All works fine.

[2018-10-01 18:50] rijschoolthomas commented on #814
Hi Alex,

I've found a mobiel menu that i would like to implement on my site. This is
were the code and the tutorial is:
http://mmenu.frebsite.nl/tutorials/mhead-plugin/
It's supposed to be easy, but i just don't understand what to do; were to
put the code or the plugins.

Could you please guide me through this proces?

Op zo 30 sep. 2018 om 10:58 schreef Michael Thomas <mtmail007@gmail.com>:

[2018-10-01 19:09] jotakar commented on #815
Well, I got it.
I'm tring to understand all the @lexoyo request (https://github.com/lexoyo/Silex/tree/silex_as_a_dependency?files=1) but it's very dificult for me, it's too slow without any documented code. I understand something of the overall idea (or I think so) and yess it looks like is related wiht my idea, although it's deeper.
At this moment I got my objetive to run silex in any domain fold

[2018-10-01 19:40] lexoyo commented on #815
Hi
Yes that's very useful thx
If you do a pull request I will see where it need changes and I can try to make it use an env var instead of your hardcoded folder (is it hardcoded?)

[2018-10-01 21:02] jotakar opened #816 "SessionId undefinde"
Hello
In PublishRouter.js I see this code
`  router.post('/tasks/:task', (req, res, next) => {
    switch(req.params.task) {
      case 'publish':
        PublishJob.create(req.session.sessionID, req.body, unifile, req.session, req.cookies, req.protocol + '://' + req.get('host'));
        res.end();
        break;
      default:
        res.status(400).send({
          message: 'Silex task "' + re

[2018-10-01 21:09] jotakar commented on #815
No, it's not hardcoded. It's is read in index.html in a script from window.location.href.
I'll try a pull request.

[2018-10-01 21:41] JbIPS commented on #816
Hello,

From what I recall, the sessionID is set by Express when a user first connect to Silex.

I don't know how it is generated but it is supposed to guarantee unicity.

What is your purpose exactly?

[2018-10-02 10:31] lexoyo commented on #814
oh nice menu! but you need to pay if you activity is for profit :-/
so maybe this (free) one could be better ? https://mm.onokumus.com/mm-vertical.html

nevertheless i played with this menu you found and here is how i got it to work in silex:

1. in the "html head editor" from the code menu (</>)
[code]

2. in the "javascript editor"
[code]
3. create a button to open the menu and put the css class

[2018-10-03 10:06] rijschoolthomas commented on #814
Hi Alex,
I tried the frebsite menu, but I can't get it to work. I am also not able
to hide the menu on the desktop. See
https://rijschoolthomas.github.io/test1/

I'm going to now try to do the menu you advised:
https://mm.onokumus.com/mm-vertical.html

Op di 2 okt. 2018 om 12:31 schreef Alex Hoyau <notifications@github.com>:

[2018-10-03 13:13] lexoyo commented on #815
why not?

[2018-10-03 13:19] lexoyo opened #817 "nextcloud connection error"
On editor.silex.me I manage to connect to my nextcloud on framadrive.org
But with the same credentials on preprod.silex.me it fails: `Cannot access server. Please check your credentials. Error: getaddrinfo ENOTFOUND https https:443`

![screenshot from 2018-10-03 15-18-55](https://user-images.githubusercontent.com/715377/46412754-aa4eba80-c71f-11e8-9a81-f2fa08d0ac5a.png)

[2018-10-04 09:31] lexoyo opened #818 "feature request: use cockpit to edit content"
Just like jekyll uses flat files and replaces dynamic content in templates which can be edited with silex
https://getcockpit.com/

I've [forked cockpit](https://github.com/lexoyo/cockpit) and added a file for deployment on heroku but
1- it doesn't work well [on heroku](https://test-cockpit.herokuapp.com/)
2- it doesn't seem to handle multiple users and "self serve"... how to integrate it in silex?

[2018-10-04 09:56] lexoyo commented on #814
@rijschoolthomas in https://rijschoolthomas.github.io/test1/ i don't see the javascript code (step 2)

[2018-10-04 09:57] lexoyo commented on #815
you need to fork the project, I see you didn't do it yet
https://github.com/jotakar?tab=repositories

[2018-10-04 11:02] rijschoolthomas commented on #814
The javascript is in there. see png

Op do 4 okt. 2018 om 11:56 schreef Alex Hoyau <notifications@github.com>:

[2018-10-04 12:37] lexoyo commented on #814
What PNG?

[2018-10-04 13:08] jotakar commented on #815
Ok, it was a mistake of mine
I made the fork. When I¡ve a bit of time I upload my suggestions.
Anyway I've got install and run the app in a real server managed with Plesk. And now it works fine in a folder without modify any source. It looks like Plesk uses a proper server that discrimine port 80 site and port node apps.  You can see it in [https://creatuweb.espaciolatino.com/editor/](url), althou

[2018-10-04 13:33] jotakar commented on #815
Ok, it was a mistake form mine.
I'll upload my suggestion when I've a bit of time

[2018-10-04 13:57] rijschoolthomas commented on #814
In the my reply email.

Op do 4 okt. 2018 14:37 schreef Alex Hoyau <notifications@github.com>:

[2018-10-04 13:58] rijschoolthomas commented on #814
![javascript code](https://user-images.githubusercontent.com/43305374/46478950-48a95180-c7ee-11e8-8bd0-6325ff5444f6.png)

[2018-10-05 08:04] Tomygg opened #819 "Payload too large - anyone?"
I have crated a website with Silex and sometimes, when I want to savo additional data, I get an error message: "Payload too large". What does it mean? I use Dropbox and Silex cloud. Not desktop version.

[2018-10-05 09:28] lexoyo commented on #819
Is it when you save your website?
Can you share the HTML page please?
And try saving it to github
Also check your quota on Dropbox

[2018-10-05 18:39] jotakar opened #820 "New issue on installing"
Today I've cloned and install a new instance of Silex and I've found that when I visit the local page this error
[code]
In the installation process I've get
[code]
It looks llike a problem with cloud-explorer,  and I suppose with node-sass
I've installed node-sass (npm install node-sass) and then installed the package again, But the results are the same: it doesn't work.
Older installation (from a

[2018-10-05 22:44] JbIPS commented on #820
The problem is with CloudExplorer and I don't think it has something to do with SASS or the installation.

I suppose something change in the source since your last install, presumably in the KeyboardNav class if I read the error.

Any idea of what this could be @lexoyo?

[2018-10-05 22:48] lexoyo commented on #820
I didn't touch this one class recently, maybe the last merge?

Le 6 oct. 2018 à 00:44, à 00:44, Jean-Baptiste Richardet <notifications@github.com> a écrit:

[2018-10-05 22:58] jotakar commented on #820
Then there are four issues, at least:  debug.js module, CloudExplorer, KeyboardNav and the 404 error downloading SASS
??

[2018-10-05 23:13] JbIPS commented on #820
Actually, I think there is only one :
* the debug one is not an error, more like a debuging warning for the next error
* KeyNav, and thus CloudExplorer, is the real deal. To be sure, we just need to look at the line pointed by the stack trace
* the 404 is not an error. SASS is a bit to verbose-ish. I'm sure if you look couple lines under this error you'll see SASS compiling itself. The 404 just me

[2018-10-06 11:00] lexoyo commented on #820
Absolutely @JbIPS
I can't take a look at this now. I would probably start by compiling cloud explorer on its own first

[2018-10-06 19:09] jotakar commented on #820
I've found two possibles errors
KeyboardNav now declare render as static but is not called properly, i fdeclared no sttic this error dissapears
getServices in App.jsx is now declared as static but is not called propery, so throw an error getServices not declared.
I've stopped here. I hope this could be a bit of help.

[2018-10-07 21:16] rijschoolthomas commented on #814
Hi Alex,
I've fabricated a hamburger menu (  https://rijschoolthomas.github.io/test2/  )by using Bootstrap: http://getbootstrap.com/docs/4.1/components/navbar/

Question:
1 - How can I remove the silex hamburger menu so only the bootstrap menu remains?
2 - How do I hide the bootstrap hamburger menu from the desktop?

[2018-10-07 22:44] jotakar opened #821 "Some questions"
Hi,
I would like to know how to add elements and components to the web builder
I mean, for example,to add a video component, so we can insert a video as we insert an image.
That is: how to install widgets in siles editor?
When I visited the link downoad widgets in Silex builder, what I see is posts with HTML code, but I can't found any way to insert this widgets as utils or elements.
Bye.

[2018-10-08 10:40] lexoyo commented on #821
hi @jotakar

interesting question really! first time that such things are discussed here

here are info about silex components:
* they appear in the "+" menu with the base elements (text, image, html, section and container)
* they have the same properties as the base elements which are editable in the property panel on the right, but components also have parameters, editable in the tab which opens

[2018-10-08 10:43] lexoyo commented on #820
good catch thx
i believe it comes from this PR
https://github.com/silexlabs/CloudExplorer2/pull/75

[2018-10-08 12:16] rijschoolthomas commented on #814
Hi Alex played around with it for a bit and got it to work. A bit
differently than you suggested. I needed to put al the code (the script
included) in a html container. I've hid the menu on the desktop and it stil
appears on the mobiel. Hoera!!!
I got rid of the silex menu. Hoera!!

But I can't get the Bootstrap menu to go top left hand corner as it did
when i put the code in the HTML head editor.

[2018-10-08 12:36] rijschoolthomas commented on #814
Here it is: https://rijschoolthomas.github.io/test2/

Op ma 8 okt. 2018 om 14:25 schreef Alex Hoyau <notifications@github.com>:

[2018-10-08 17:43] JbIPS commented on #817
I saw that on preprod but I can't reproduce it with the following version:
* Silex: develop
* CloudExplorer2: master
* Unifile: master
* Unifile-WebDAV: master

Maybe you just need to upgrade the version on preprod?

[2018-10-09 12:39] BaguetteAgile commented on #807
Salut @lexoyo

Je viens de m'apercevoir de ceci:

quand j'ouvre Silex et le site de JustFriends, quand je sélectionne un élément il y a ceci dans la barre en bas de Silex, ce qui est normal:

![capture du 2018-10-09 14-18-04](https://user-images.githubusercontent.com/35597855/46669020-774c7100-cbce-11e8-990b-fa173d6e1cf8.png)

je me rend sur la page ou il y a le "Slideshow" je double clic dessus a

[2018-10-09 13:20] lexoyo commented on #807
hmm :-/
ca doit etre une erreur JS qui fait tout planter... tu peux ouvrir ta console de debug et vérifier stp?

[2018-10-09 13:54] lexoyo commented on #820
+1 for more documented code
for the popup / popin thing, it is a good idea for ftp and webdav but for third party services like github or dropbox we should keep a popup, so that the user can see that he is entering his creds on the third party website and not on our website

[2018-10-09 13:59] lexoyo commented on #817
On preprod.silex.me we have exactly these branches :(

I just re-deployed everything and still have the problem and it builds fine
The thing is preprod.silex.me uses the package-lock.json versions, you should too when testing this issue

I can reproduce it locally, can't you?

[2018-10-09 14:09] lexoyo commented on #814
I see that it works in your example now, did you figure out how to do it?

Here are more tips:
1- this should be removed completely as silex inserts it already:
[code]

2- this should be moved to the html head:

[code]

[2018-10-09 16:00] jotakar commented on #820
Then th program must choose among two options, it'll depend on the service used: ftp/github, dropbox...
Anyway there is a post open about this question in CloudExplorer, (posted on Dec'17). O'll try to find a solution.

[2018-10-09 17:10] lexoyo commented on #820
I think that you should add a property like "isOauth" in the unifile services, so that the front end knows if it should open a popup or a popin

[2018-10-09 22:10] rijschoolthomas commented on #814
Hi Alex, thanks for the adjustments.
Yes I worked it out myself but my solution was to dump everything in a html
element. And that's how I got the menu to work.

I have now applied your adjustments

But I'm afraid your adjustments didn't quit work. I had to tweak a bit to
get the menu to work. See the following remarks:

I could not remove the following script from the html element or else the
men

[2018-10-09 23:09] InfinityPhase commented on #699
On Arch Linux, Docker version 18.06.1-ce, this was successful in building and executing for branch publish_to_hosting. However, whenever opening a file explorer dialog, such as the import project dialog, it is completely blank aside from the background grey colour.

[2018-10-10 10:18] lexoyo commented on #699
hi
glad it works now :)
this is a new bug due to us merging something without enough tests in CloudExplorer
@JbIPS should take care of this very soon
to make it work now, you can simply fix the cloud explorer version [here in your package.json file](https://github.com/silexlabs/Silex/blob/develop/package.json#L45). just replace `github:silexlabs/CloudExplorer2#master` with `github:silexlabs/CloudE

[2018-10-10 12:50] rijschoolthomas commented on #814
Hi Alex,
Again I've tried putting the menu code in my website, but it doen't work. I also tried copying the mobiel menu code 1 to 1 from the https://rijschoolthomas.github.io/test2/ site to my website. It's just not working and it's also messing up the websit. I think there must be some code that is conflicting with the code already on my website. Any ideas?

This is the website i'm trying to put

[2018-10-10 13:21] lexoyo commented on #814
@rijschoolthomas i have looked into it and it appears that you are including another version of jquery in the page: Silex has v2.2.4 and you include v3.3.1

silex should be compatible with v3.3.1, but the menu seems to require the v3.3.1

so could you please do this:
* remove the tag `<script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abt

[2018-10-10 15:33] fernandammoutinhobarros commented on #272
Hi @lexoyo

Can you help me, I've tried to use this widget, followed every step here, but I can't make this work.
I've added all files to corresponding directories.

html box:
![image](https://user-images.githubusercontent.com/25388113/46747058-493b5f80-cca8-11e8-97ba-7be88a3f98d9.png)

html editor:
![image](https://user-images.githubusercontent.com/25388113/46747085-56f0e500-cca8-11e8-81be-41effd

[2018-10-10 16:05] lexoyo commented on #272
Sure I can help
Could you put your website online somewhere so that I can check JavaScript errors?

[2018-10-10 16:12] BaguetteAgile opened #822 "Acces cloud impossible via preprod"
Salut@lexoyo

Impossible d'avoir accès a ma Dropbox via "preprod"

`import`= ne fonctionne pas
`file explorer`=ne fonctionne pas
`open website`=ne fonctionne pas

sur `editor.silex.me= OK`

[2018-10-10 16:32] fernandammoutinhobarros commented on #272
http://www.consulpav.com/rar2018/#!page-72157701933337865

[2018-10-10 21:11] rijschoolthomas commented on #814
Hi Alex,

Made your changes to the "test2" site first and it worked. But then again it was working before I made the changes. I've also made the same changes to the "website" site and the menu worked. HOERA!
Thanks :-)

A question: will I have to change any of my code when you upgrade silex to v3.3.1?

But now I have the following problem since I made your last changes. I'm not able to hide anythi

[2018-10-11 06:42] Tomygg commented on #819
Yes, when I try to save the website.
The html I cannot share, it's still unpublished.

[2018-10-11 06:46] Tomygg commented on #819
The html: http://www.tb.lt/tb_naujas/index.html
Sometimes it happens, when I try to save a new page, but right now it always happens when I try inserting slideshow. If I delete the slideshow, then I can save the progress, but just when I add slideshow and try saving the website, the error pops up. What's wrong with it? Is this Silex platform limited to how large is the website or how many pages th

[2018-10-11 06:47] Tomygg commented on #819
And by the way, my quota on Dropbox is OK, there is bunch of free space there.

[2018-10-15 14:39] rijschoolthomas commented on #814
Hi Alex, have you seen my reply/questions here above. Or are you a bit too busy at the moment to look in to the issue?

Michael

[2018-10-15 14:48] lexoyo commented on #819
Thank you for the bug report, I found that the max allowed weight for the files to be saved was 1Mo, and yours reached it. This is a recent limit. I pushed it to 10Mo as you can see here
https://github.com/silexlabs/Silex/pull/823/commits/6b1cd9e447f3bc6856f07ddc138a072948d74592

The fix should be live soon on editor.silex.me

However the fact that your page is so heavy is not normal, I looked at

[2018-10-15 15:03] lexoyo commented on #814
Hi @rijschoolthomas
Yes I did see your reply
I'll look into it very very soon ;)

[2018-10-18 11:31] #819 closed

[2018-10-18 11:38] lexoyo opened #824 "alt property of images bug"
As reported by @rijschoolthomas here
https://github.com/silexlabs/Silex/issues/814#issuecomment-428733585

The alt property keeps disappearing, both while you type and when selection changes

[2018-10-18 11:40] lexoyo commented on #814
It should not need any change

I don't understand what you can not hide?
Change page you mean?

Oh that's a bug, good catch thx!
I'll fix this soon

[2018-10-18 13:28] Tomygg commented on #662
I can't connect my website with https://preprod.silex.me. When I click on "Import",  it's just blanc, nothing happens. One more thing - current text editor is very bad. I had one issue, where the text copied from word to text editor had bunch of unnecessary code left in published index file, which filled up my quota. I had to redo all my pages with text simply copying text from word to Notepad and

[2018-10-18 13:30] Tomygg commented on #662
Big thanks to lexoyo who spotted the bug and helped me fix the problem. I don't know how I would have gone around this without him.

[2018-10-18 13:31] Tomygg commented on #819
Thanx! It's all good now, and I cleaned up my pages. Thank you, Lexoyo.

[2018-10-21 10:49] jotakar commented on #808
There is a problem with the HEAD editor. It inserts the code after body label and destory all the structure of the webpage.
Why html editor open wit a error mark telling "unexpected end of fil. Expect DOCtype?
I suppose this editor is just for HEAD. Then why it says "select an HTML box or press ESC" If I select a box doesn't happen anything, and If ESC editor close.
And when select a box, beside n

[2018-10-21 10:59] rijschoolthomas commented on #814
Hi Alex, I got the mobiel menu working now: https://rijschoolthomas.github.io/website/

Next question.

I need to be able to put metadata on each page with the specific words I need google to find and a description of the page. Can you tell me how to accomplish this?

[2018-10-21 22:35] jotakar opened #825 "Feature: templates organized"
I think it would be a good idea to get a page with templates, organized by categories and so.
Then a user look for a template, select it and go to the builder.
This could be built in the actual dashboard that became a multipage dashboard wit filter for templates, a select field....
It's just an idea.
Bye.

[2018-10-22 10:46] rijschoolthomas commented on #814
I haven't seen any mention of it but I'm not able to use Silex today. Silex is not able to logging in to Github. And now i'm getting the following message:

Application error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command
heroku logs --tail

[2018-10-22 16:54] lexoyo commented on #814
Hi
Sorry about that I had to reboot the server

Le 22 oct. 2018 à 13:16, à 13:16, Michael Thomas <notifications@github.com> a écrit:

[2018-10-22 18:40] jotakar opened #826 "Issue: font family"
The font family select are empty in my last installation!!!
Embed fonts by hand appears, but not the default one, like in previous versions of silex.
And more about fonts:
When I load a template the embed fonts are not loaded so when we edit text his appearence change if it has a embeb font.
I cannot find the component that controls this. I supposes it's a propopotype component but I cannot find n

[2018-10-22 18:47] jotakar opened #827 "Issue: install fails"
How is it possible if silex is installed as root?
gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/8.12.0"
:(
It happend when I try to install the very last version

Ah! and it keeps the sass http not found
Cannot download "https://github.com/sass/node-sass/releases/download/v3.13.1/linux-ia32-57_binding.node"
and then in try to installa sass and give err

[2018-10-22 19:02] rijschoolthomas commented on #814
Hi Alex, I got the mobiel menu working now: https://rijschoolthomas.github.io/website/

Next question:
I need to be able to put metadata on each page with specific words I need google to find and a description of the page. Can you tell me how to accomplish this in silex.
Your documentation states: "The websites created on silex.me are search engine friendly, and Silex has all the options you need

[2018-10-22 20:49] jotakar commented on #827
First solution: dont install as root

[2018-10-23 12:07] #809 closed

[2018-10-23 12:15] lexoyo commented on #662
thx @Tomygg for the bug report
the issue was in cloud explorer and it is now fixed, you can use preprod.silex.me

In fact it is not really a bug, but a feature which has the new text editor: it detects paste actions and filters the input. So you do not need notepad anymore :v:

FYI I'm still trying to release the new text editor version. Right now I have to go through all the templates and remove

[2018-10-23 12:18] lexoyo commented on #827
hi
did you manage to do it?
did you try with the version of nodejs specified in .nvm file?

[2018-10-23 12:20] lexoyo commented on #825
Hi
+1 good idea
but we have only 10 templates for now so maybe we try to have more before we organize them ? ;)

[2018-10-23 12:20] #825 closed

[2018-10-23 12:21] lexoyo commented on #826
i don't see what you mean, are you on localhost develop or master, or on editor.silex.me or preprod.silex.me?

[2018-10-23 12:35] lexoyo commented on #814
Yeah, I tried it on mobile and desktop, that's really cool!!

Can you tell me where I can find this information on Silex and SEO. So I know what to do and what not to do

The current state of silex is
* options in the "SEO" section of the website settings, which are at a website level / for the whole website
* the title of each page is the website the name, so this is at a website level too
* imag

[2018-10-23 14:13] jotakar commented on #826
I'm cloning from develop. It's the default branch (whats difference between this two branches?).
Previous versions doens't have this problem.
I see that in September 21 there was a change in fonts manager. Now fon-family is a component and it isn't init with any value by popdotype. (see src/prodotype/text.yml ), then I suppose thar silex manage its values now. If I use old text.yml then the font-f

[2018-10-23 22:56] rijschoolthomas commented on #814
Okay Alex,
I'm not really into code. It to complex for me. But I would like to
troubleschoot new elements in the in development of Silex. And maybe write
a help tekst for the tekst editor.

I have a question: I used to be able (a few days ago) to select tekst or
numbers by sliding the mouse over the tekst with my right mouse button
pressed. But now I can only select tekst by using the keyboard Shi

[2018-10-24 09:16] rijschoolthomas commented on #814
Hi Alex, another problem/issue.

If i now ad a section element in both production an normal silex, i am not
able to select the section when it has been put on the page. As a matter of
fact I can't select any div container elements at all.

Did you see my earlier issue?

Op wo 24 okt. 2018 om 00:56 schreef Michael Thomas <mtmail007@gmail.com>:

[2018-10-24 10:34] rijschoolthomas commented on #814
It's only on my website. So I'll wil have to put back a back-up again to
get it right again.

Met vriendelijke groet,

*Michael Thomas*

Op wo 24 okt. 2018 om 11:15 schreef Michael Thomas <mtmail007@gmail.com>:

[2018-10-24 23:16] jotakar commented on #827
Node version: 8.12.0
I got installed previous version of Silex without these problems. In this versión I had troubles even with post install scripts.
Why try to download this version if in silex package-lock apears 4.9.4? I can't find the package that ask for node-sass 3.13.1.
Anyway I got this version of silex installed. :)

[2018-10-24 23:32] jotakar commented on #826
I've found a posible fix, but I don't like it very much.
I see that property.js contains a sentence
silex.model.Property.prototype.fonts = []
If I init this property with default fonts family,  and modify in loadProperties to
this.fonts = styles['fonts'] ? this.fonts.concat(styles['fonts']) : this.fonts;

The fonts-family is not empty, but all fonts-family appear as embed fonts, so I dont like thi

[2018-10-25 11:33] jotakar commented on #826
Don't know if it's a good (and elegant) solution, but it looks like it works....
In property.js I've created a new property for **default fonts family** (array), then, when a page is loaded, this array is added to the embed fonts read from page and save into the actual fonts property.
The default fonts has not href property so I filter it in the fonts page of settins dialog.
When the page is to be

[2018-10-25 14:33] fernandammoutinhobarros commented on #662
Dear @lexoyo ,
Wen I open my editable file, I can't see my website pages.
I there a problem with silex?

![image](https://user-images.githubusercontent.com/25388113/47507993-2a71c700-d86b-11e8-89bd-3b184a42233d.png)

[2018-10-25 19:36] BaguetteAgile commented on #807
Salut Alex,

je ne sais pas si cela peux t'aider, mais je n'ai trouver que cela comme erreur dans la console de degug

4 fois la meme erreur, il y a que ceci `3fdf4366-b2f0-4508-bc00-727c9b06795e` qui change dans le message de la console.

![capture du 2018-10-25 21-32-37](https://user-images.githubusercontent.com/35597855/47525504-b7ce0f00-d89d-11e8-9b4b-ef0471948db4.png)

`Erreur lors du chargem

[2018-10-25 19:42] BaguetteAgile commented on #807
![capture du 2018-10-25 21-41-55](https://user-images.githubusercontent.com/35597855/47526024-ded91080-d89e-11e8-9367-27e1d8017803.png)

[2018-10-25 20:51] jotakar opened #830 "General problems"
I've found new problems when I try to use this app. All about the edit process:
- The text editor, a good attempt to get a confortable editor, but ... when you edit a text all the styles dissapear and it's necesary to begin again and recreate the original style.
- Cannot assign class to boxes or texts or images. Great: you can create classes with css editor, but you can not use them. Class box for

[2018-10-26 09:29] lexoyo commented on #814
Hi Michael
So the selection of text problem is only on your website?
This is very strange... I will try to investigate if you tell me which website has that problem (link to html page in github)

[2018-10-26 09:38] lexoyo commented on #808
Hi @jotakar

yes this is when the user enters invalid HTML or tags which can not be put in the head tag

this is the code editor (ace) which is used to edit html, i don't know why it expects a full html tree
could you open an issue about this, with a screenshot for example?

oh that is a new bug too, it is supposed to close the editor
instead it switches into the mode to edit html boxes :-/
it wou

[2018-10-26 10:08] rijschoolthomas commented on #814
Hi Alex,

I've sorted the problem out already. I put back a backup of the of
editable.html file and that fixed the problem.
I see you have been having quit a few problems yourself over the last
couple of days with your server. And I think that that was the problem that
caused me not to be able to select Element sections any more on my website.
As I was saving my website: https://rijschoolthomas.gi

[2018-10-26 10:15] lexoyo commented on #830
Thank you for the feedback
I assume you are testing preprod.silex.me ?

What do you mean? Is this a bug or the UX?

I'm not sure to understand... Are you talking about [the css editor in the property panel](https://github.com/silexlabs/Silex/wiki/Silex-CSS-editor#custom-css-classes)?

The `.element` is there to indicate this is the css styles of the element. You are supposed to create a css class

[2018-10-26 12:18] jotakar commented on #830
After read your post I understand that preprod is the develop branch (that's a beta?), and the old version is master branch (that's alfa). Well I'm working with develop branche (the defaul branch I see here in github).
I begin with the last :) I like this document. A project like that his a good documentation. It needs to grow up but it's a good begining
Take foods & drinks templates as an example

[2018-10-26 13:17] lexoyo commented on #814
You are right, I switched Silex Labs server to heroku and it stops working from time to time until I reboot the server... I've setup alerts in order to find out what is happening. I'll let you know how goes, please let me know if something changes

Nice!
We have many needs I think... You can edit the wiki pages here: https://github.com/silexlabs/Silex/wiki/
If it is important changes we should dis

[2018-10-26 13:19] lexoyo commented on #662
Hi @fernandammoutinhobarros
Can you try again?
Because as I said to @rijschoolthomas [here](https://github.com/silexlabs/Silex/issues/814#issuecomment-433404039)

Thank you!

[2018-10-26 13:40] lexoyo commented on #830
Ok cool, so to start collaborating on the document, I have added this to [the developer guide in Silex wiki here](https://github.com/silexlabs/Silex/wiki/Silex-Developer-Guide#working-with-git):

[Silex source code repository](https://github.com/silexlabs/Silex/) is organized with 2 git branches:
* master is the stable version in production, for example on [editor.silex.me](https://editor.silex.me

[2018-10-26 13:44] lexoyo commented on #826
Oh ok
I think this is what I'm working on, update all templates with these fonts
I like it better to have no default fonts because they are heavy and sometimes it may be good to have no embed fonts
In order to have my work in progress on the templates, you can change package.json, replace `github:silexlabs/silex-templates#f9c2dcb` with `github:lexoyo/silex-templates#gh-pages` which is[ this repo](

[2018-10-26 13:46] fernandammoutinhobarros commented on #662
Hi @lexoyo

Still the same, and I have tried to use older file, and they are all the same.

[2018-10-26 14:28] jotakar commented on #826
Ok, thanks, I'll try it.
About default fonts, I'm not agree with you. There are several almost universal fonts family that are a minimal collection (you like arial, times. courier) present in any device and they don't need to be embed. It could be optional for every instance of Silex.
Bye.

[2018-10-26 15:17] lexoyo commented on #826
Yes you are right about these fonts, but the problem is that they are not displayed exactly the same by all browsers

They only differ by 1 or 2 pixels, but for silex websites it may break your site like this bug: #548

![64452b46-edf0-11e6-9a53-bbd5f14c4607](https://user-images.githubusercontent.com/715377/47575524-9410d480-d942-11e8-8740-05f6c1ce48cc.png)
![5485a492-edf0-11e6-869c-a417e4519123](

[2018-10-26 15:18] lexoyo commented on #662
is it in your dropbox? which files?

[2018-10-26 15:20] lexoyo commented on #807
baguette tu as toujours ce bug de slideshow?

[2018-10-26 15:21] lexoyo commented on #827
maybe you should delete package-lock.json and run npm i again

[2018-10-26 16:34] fernandammoutinhobarros commented on #662
I've placed a copy a them on the folder editable

[2018-10-26 22:03] rijschoolthomas commented on #814
Alex the
I have a issue/question: I used to be able (a few days ago) to select tekst or numbers by sliding the mouse pointer over the tekst with my right mouse button pressed. But now I can only select tekst by using the keyboard Shift and arrows. This issue is not just in the tekst editor but also in the right-hand side menu options and everywhere else were you are able to type. This "problem" se

[2018-10-26 22:54] BaguetteAgile commented on #807
Oui, j'ai toujours le même bug :(

[2018-10-27 14:28] lexoyo commented on #808
Hi
I just pushed on preprod several fixes, including a fix for the HTML editor behavior:

* [focus and "esc key" behavior](https://github.com/silexlabs/Silex/pull/805/commits/3aad35358767dc9fdcde641dfa30184e7dbc2043)
* [error and warnings](https://github.com/silexlabs/Silex/pull/805/commits/f81a195d6e1ca4b77cc277f5992a280c2713ba18)

[2018-10-27 14:29] lexoyo commented on #808
I guess I'll close this
@jotakar please open individual issues for the feature requests or bugs ok?

[2018-10-27 14:29] lexoyo commented on #808
Oh wait no, there is still the initial issue of @NjlsShade (head editor can break the website)

[2018-10-27 15:41] jotakar commented on #808
Ok, @lexoyo . I'll make several tests and will open individual cases, one every time is better :)

[2018-10-27 16:41] jotakar opened #831 "Bug: classes"
I've seen some problems or things that can be improved. I'll write a post for every one, although several of them can be related.
First: Dom elements and styles:
When you select a dom element:
- You don't see its class or style, or fonts if it contains text
- In some elements you see its class but the style shown in style box (right panel) is different of that defined in class editor.
- When you t

[2018-10-27 21:56] jotakar commented on #831
Of course. I'll wait to see the new version. I'm sure you are doing a good work.
Thanks

[2018-10-28 15:09] lexoyo commented on #662
@fernandammoutinhobarros I'll need more details, I tried them all and it works for me

![screenshot from 2018-10-28 16-08-30](https://user-images.githubusercontent.com/715377/47617826-ce59ad80-dacb-11e8-91d8-b63347fb898d.png)

can you tell me which browser or files or any more details? maybe open the javascript console of your browser and make a screenshot?

[2018-10-28 15:14] lexoyo commented on #814
hi @rijschoolthomas

### selection of text in text fields

I can not reproduce this bug, I'll need more details
can you tell me which browser and any more details? maybe open the javascript console of your browser and make a screenshot?
or even better a gif or video to show me the problem, maybe i did not understand

I see nothing strange in this website
sometimes it happens when the server is slo

[2018-10-28 15:15] lexoyo commented on #807
ok ca aide merci

[2018-10-28 15:17] rijschoolthomas commented on #662
Hi Alex, i think you may have sent this to the wrong person. I'm Michael
from @rijschoolthomas

Op zo 28 okt. 2018 16:09 schreef Alex Hoyau <notifications@github.com>:

[2018-10-28 15:47] lexoyo commented on #807
en fait je ne comprends pas, il y a encore le bug que j'avais corrigé
je peux re-corriger mais dis moi précisément quel fichier stp

[2018-10-28 15:48] #831 closed

[2018-10-28 18:54] rijschoolthomas commented on #814
Hi Alex
Extra information on the disappearance of the div containers
https://github.com/silexlabs/Silex/issues/814#issuecomment-433555522

[2018-10-29 11:43] fernandammoutinhobarros commented on #662
Ok, didn't think it could be the browser.
On Chrome it's not showing the pages.
On Mozzilla it's ok!

![image](https://user-images.githubusercontent.com/25388113/47647724-c05d6880-db6f-11e8-801a-c94f0649ec45.png)

[2018-10-29 11:51] fernandammoutinhobarros commented on #662
Image of the javascript console, with the editable open on silex editor

![image](https://user-images.githubusercontent.com/25388113/47648112-efc0a500-db70-11e8-9ec9-1f189699dfeb.png)

[2018-10-29 12:14] lexoyo commented on #662
oh ok, i'll try with chrome then

[2018-10-29 12:37] lexoyo commented on #662
@fernandammoutinhobarros I still can not reproduce the bug... Even on chrome
Which file is it exactly?

[2018-10-29 14:05] fernandammoutinhobarros commented on #662
I restarted chrome, updated, but the problem still exists.

On the editable folder, all the files give the same problem.

Tested on Opera and the same happens.

In Mozzilla is working fine.

Opera Browser
![image](https://user-images.githubusercontent.com/25388113/47654822-9150f200-db83-11e8-8a19-f959ea003ae2.png)

[2018-10-29 15:40] rijschoolthomas commented on #814
Hi Alex, i've made a video for you about the issue in the link here below:
https://github.com/silexlabs/Silex/issues/814#issuecomment-433555522

The video was 129mb so i put a link to it instead of placing the video file here:
https://photos.app.goo.gl/3wXLBT3UDnkpHsg96

I hope it clarifies the issue.
Cheers,
Michael

[2018-10-29 22:20] BaguetteAgile commented on #807
Voici l'adresse du fichier à rectifier.
`Dropbox/nouveausitejustfriends/justfriendsmars2018.html`

[2018-10-31 16:39] rijschoolthomas commented on #814
Hi Alex,

Next problem....
I would like the page, when i click an **internal** link, to go to the top of the page without making a new tab in browser like a external link does?
Do you know a fix for this?

Idea for new Silex:
Maby this could be implemented by placing a button so you can choose if you want the link to go to the top of the page or not.

Cheers, Michael

[2018-11-06 02:02] uche40 opened #833 "How to Enable template for users to select from, just like in demo"
How do i enable or get the same template selection feature as in the demo https://editor.silex.me/ on my own install. Just like the demo i want my users to be abler to select a template to start.  I installed silex but did not find that feature by default. Thanks

e.g
https://1ce.org/1#S1o7IuChm

[2018-11-06 14:50] uche40 commented on #833
Any Response?

[2018-11-06 15:07] lexoyo commented on #833
Hi
It is supposed to be the case, what do you see?
Do you have errors in the js debug console?

[2018-11-06 16:43] lexoyo commented on #814
hi @rijschoolthomas
the new link editor lets you choose if the link opens in a new tab or not (in beta, only on preprod.silex.me for now)
soon I will change the publication mechanism and the internal links will scroll to the top of the page by default

[2018-11-06 16:45] lexoyo commented on #453
hi
I just pushed a new feature to make it possible to hide elements from the desktop version
see on https://preprod.silex.me

[2018-11-06 16:45] #453 closed

[2018-11-07 17:23] lexoyo commented on #790
Hi
Did someone test the new font manager?

[2018-11-07 17:23] #790 closed

[2018-11-07 17:33] lexoyo commented on #662
@fernandammoutinhobarros I still need to sort that out, thank you very very much for testing on preprod.silex.me

@all there is a new version to test with firefox only
It has the new templates and the style editor should work on all of them now (cc @jotakar you can test now :))

Please test as this is a major new release coming soon :1st_place_medal:
https://preprod.silex.me/

![screenshot from 20

[2018-11-07 21:52] BaguetteAgile commented on #790
Hi, I tested on my site with these fonts

http://typotheque.interstices.io/

and everything works fine.

Only, it is necessary to reload the web page of Silex with each addition of font.

Good job ;)

[2018-11-08 09:45] lexoyo commented on #814
i close this issue
feel free to open another issue for the links

[2018-11-08 09:45] #814 closed

[2018-11-08 09:49] lexoyo opened #835 "feature request: Mobile menu as a component"
As asked [here](https://github.com/silexlabs/Silex/issues/814) the mobile menu should be a component with sub menus and only the desired pages as asked [here](https://github.com/silexlabs/Silex/issues/650) and [here](https://github.com/silexlabs/Silex/issues/651)

[2018-11-08 11:10] fernandammoutinhobarros commented on #662
Ok.
Thank you for your hard work!

[2018-11-09 09:51] BaguetteAgile commented on #807
@lexoyo
Salut Alex,
je pense que tu peux fermer ce post, car j'ai supprimer mon ancien Slideshow et remplacer par un nouveau dans ma page.
Tout fonctionne parfaitement.

[2018-11-11 21:39] arafatalamerri opened #836 "https://sawtaljumhuria.sitey.me/"
Here is a link to a website I did with Silex:

[2018-11-12 01:50] arafatalamerri commented on #836
![22222 -](https://user-images.githubusercontent.com/44443877/48322009-614f2780-e636-11e8-9ce9-01cb2d226df3.jpg)

[2018-11-12 01:50] arafatalamerri commented on #836
http://demo-1.mwordpress.net/amnews/

[2018-11-12 01:52] arafatalamerri commented on #836
http://demo-1.mwordpress.net/amnews

[2018-11-12 01:52] #836 closed

[2018-11-12 01:53] arafatalamerri opened #837 "http://demo-1.mwordpress.net/amnews"

[2018-11-12 01:55] arafatalamerri commented on #837
[Uploading wordpress-4.9.8.tar.gz…]()

[2018-11-12 01:55] #837 closed

[2018-11-12 12:06] lexoyo commented on #833
hi @uche40
I am closing this issue, feel free to reopen it if you are still here

[2018-11-12 12:06] #833 closed

[2018-11-12 12:07] lexoyo commented on #826
hi @jotakar
I am closing this issue, feel free to reopen it if you still have the problem

[2018-11-12 12:07] #826 closed

[2018-11-18 23:30] uche40 commented on #833
I tried runing it vai a normal install and via the docker image as well. but when silex comes up i do not see the select template screen or section. i must be missing something. here is my docker instance
http://173.193.125.11:32768

do i need to do something, to enable the template selection option?

[2018-11-18 23:35] uche40 opened #838 "How to Enable template for users to select from, just like in demo"
How do i enable or get the same template selection feature as in the demo https://editor.silex.me/ on my own install. Just like the demo i want my users to be abler to select a template to start. I installed silex but did not find that feature by default. Thanks

e.g
https://1ce.org/1#S1o7IuChm

I tried it via a normal install and via the docker image as well. but when silex comes up i do not see

[2018-11-19 00:09] uche40 commented on #838
And It seems i don't have the dashboard enabled by default, how do i do enable it?

[2018-11-20 02:53] uche40 commented on #838
I tried it on all the major browser same thing. i guess its the docker master build that's the issue.

So i'm gonna try to do a fresh install on my centos 7 server
i have found the following instructions

https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex
local installation on linux or macos or cloud9
 but i want to know how to install it on a centos using yum and how to tell

[2018-11-20 07:32] lexoyo commented on #838
After the git clone, do this : `git checkout develop`

And then either the npm things or the docker things

[2018-11-20 15:36] uche40 commented on #838
i tried that but it is not working , the error is too many arguments. i must be doing it wrong.

can you give me a clearer instructions something like

Clone this repo with git clone https://github.com/silexlabs/Silex.git and then cd Silex

Build the docker image for Silex

$ docker build -t silex-image .
$ docker run -p 6805:6805 -t silex-image

[2018-11-20 19:20] lexoyo commented on #838
You need to do the git checkout develop after cd Silex

[2018-11-21 00:13] uche40 commented on #838
Ok got past that part. i was able to finish the install and when i go to my  url http://ip:6805/
i get a connection refused error

[2018-11-21 01:36] lexoyo commented on #838
@jbIPS would you give it a try?

[2018-11-21 13:34] uche40 commented on #838
Any help or clear instructions would be helpful

[2018-11-22 00:16] uche40 commented on #838
Or maybe it would just be easier if the "dashboard and template feature were included in the stable master" branch or an updated working docker image provided.

[2018-11-23 07:51] Tomygg opened #839 "Mobile Hamburger"
Hello,

Thanks for super help that we get on here. One issue though - when I open Silex mobile hamburger of my website on my mobile phone, it only shows few pages, not all pages. Why is that? There is no ability to scroll to see all the pages in the hamburger menu. I didn't play with css so far.

[2018-11-27 13:39] rijschoolthomas opened #840 "My driving school website made with silex"
Here is a link to a website I did with Silex:
[![rijschoolthomas.com](https://user-images.githubusercontent.com/715377/49097957-2243e780-f26e-11e8-9952-76927730c3e7.png)](https://rijschoolthomas.com/)

[2018-11-27 17:01] lexoyo commented on #840
Thx @rijschoolthomas
It is now on the front page of https://www.silex.me/

[2018-11-27 17:43] #839 closed

[2018-11-27 17:43] lexoyo commented on #839
hi @Tomygg
sorry for the delay
it looks like you are the first to notice, i just checked and you are right, there is no scroll :(
here is the fix i did: https://github.com/silexlabs/Silex/commit/bd0c5cfa2db0b8bcb2303f39fb0cbe2d3c6ddbdb
now live on https://preprod.silex.me
please backup your site before you open it on preprod (this is the next beta version of silex)
then open your website and save

[2018-11-27 17:46] lexoyo commented on #838
did you manage to install silex properly?

[2018-11-28 08:18] rijschoolthomas commented on #840
Thanks Alex,

It looks great!!!

Met vriendelijke groet,

*Michael Thomas*

Op di 27 nov. 2018 om 18:01 schreef Alex Hoyau <notifications@github.com>:

[2018-11-28 12:09] gravinyl opened #841 ""Error: I did not manage to open this file. Cannot set property 'type' of null""
Hello,

Before anything else, I want to show full appreciation for the great job being done with the development of this most valuable tool. Stuff of legends!

The subject of this submitted issue is the message I'm getting most of the time (if not every time..) I try to open a published website.

So, I make, I save, I publish... All good.
I upload it to my web host... Working fine.
Next day when I

[2018-11-28 16:23] lexoyo commented on #841
New name your editable file "index.html"?

The publication process creates a file named index.html so it would overwrite it with file which is not editable anymore

[2018-11-29 12:58] chaosmosis opened #842 "Latex and Silex"
Hello,
Bonjour,

Déjà, merci beaucoup pour votre travail, c'est juste génial.
already thanks for your work, that's amazing !

Je souhaiterais ajouter aux pages crées par silex un article que j'ai écrit avec Latex et mis au format HTML via htlatex.
I would like to add to my website-made with the silex editor- an html file i have made with htlatex ?

Could you tell me what is the easiest way to do i

[2018-11-29 14:18] lexoyo commented on #842
hi @chaosmosis
French or english are both fine
With the title I thought it is spam!!! so funny
Are the generated HTML pages self contained, i.e. with all the css and html inside the page? If they are you can copy paste the HTML into an HTML box
Or you could use an iframe in an HTML box... Do you need help for that?

[2018-11-29 16:17] gravinyl commented on #841
Ok, I was messing it up then... Thank you!

[2018-11-29 22:43] rijschoolthomas opened #843 "Mobile usability"
Hi guys and of course Dolls,

Google is badgering me about Mobile usability.

Google has told me that:
1 - my Viewport is not set to the "device-width"
2 - the content is wider than the screen

Can anybody see what seems to be the problem and tell me how to fix it please? I need for google to index my site without penalizing me because it finds something wrong. I'm dependent on customers finding m

[2018-11-30 14:49] #841 closed

[2018-11-30 14:53] lexoyo commented on #843
Hi
I checked and
1- there is a viewport tag like this: `<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.2">` do you think it is wrong?
2- on mobile the content is not wider than the screen
How did google warn you? by email?

[2018-11-30 16:11] #838 closed

[2018-11-30 16:15] lexoyo commented on #662
Ok, I will release the new version very soon
Last chance to test on preprod.silex.me ;)

[2018-11-30 16:35] jotakar commented on #662
Mmmm... it looks cool, thanks you are a hard worker ;)

[2018-12-01 18:40] jotakar commented on #662
As a contribution: I've found the same problem in th install process as in previous versions: node-sass and access error (write permissions). (Linux, node 8.12, npm 6.41)
If ti's a general problem, and not just a problem for my system, I would modify documentation about install process in a linux server:
Prerequisites:
Node
Npm
Python
Java
gcc (c++) compiler

Install as a **non root user** with wr

[2018-12-02 19:31] rijschoolthomas commented on #843
Hi Alex,
In answer to your 2de question; Google warned me via my Google Search
Console.

The warning message was ( and this is a translation from the Dutch
language):
--------------Message------------------------
New (Mobile) mobile usability issues detected for site
https://rijschoolthomas.com/28 November 2018
To: Owner of https://rijschoolthomas.com/,

Search Console has determined that your sit

[2018-12-04 09:43] lexoyo commented on #662
thx a lot @jokatar for the bug report and cheering me up :)

I have added these warnings to [the documentation here](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#local-installation-on-linux-or-macos-or-cloud9) ([diff](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex/_compare/5f53576a556856645ee465234e370f5e628851ad))

And I have also deployed the

[2018-12-04 09:43] #662 closed

[2018-12-04 09:55] lexoyo commented on #699
Hi @InfinityPhase @fresnizky and  @cdlm
We marged several long term dev branches, could you give it a try again with the master branch?
I tried it on fedora and it works fine

[2018-12-04 09:55] #699 closed

[2018-12-04 10:48] lexoyo commented on #843
hi @rijschoolthomas
I can reproduce that on 1 of my website (not all just 1)
I'm on it

[2018-12-04 10:54] lexoyo commented on #842
I'll close this issue @chaosmosis if you are still there please reopen it

[2018-12-04 10:54] #842 closed

[2018-12-04 12:36] lexoyo commented on #662
This is live on https://editor.silex.me
Please test on your websites and open new issues when you find bugs
Also [have a look at the docs here](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor) and add it if something is missing

Thx team! It is a 4 month-big development!!!
:fireworks:

[2018-12-04 12:37] lexoyo commented on #795
hi
is this issue solved? should we close it?

[2018-12-04 12:39] lexoyo commented on #111
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:39] lexoyo commented on #333
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:39] #333 closed

[2018-12-04 12:39] #111 closed

[2018-12-04 12:40] lexoyo commented on #25
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:40] #25 closed

[2018-12-04 12:40] lexoyo commented on #154
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:40] #154 closed

[2018-12-04 12:40] lexoyo commented on #46
this is replaced by the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:40] #46 closed

[2018-12-04 12:40] lexoyo commented on #654
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:40] #654 closed

[2018-12-04 12:41] lexoyo commented on #600
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:41] #600 closed

[2018-12-04 12:41] lexoyo commented on #411
this is solved by today's release
see the new inline text editor, the style editor, the font manager
and the [related docs](https://github.com/silexlabs/Silex/wiki/editor-ui#text-editor)

[2018-12-04 12:41] #411 closed

[2018-12-04 12:45] lexoyo commented on #691
Hi!
Is there someone who could test the first step of this development?
It is [available on preprod now](https://preprod.silex.me/)
You need to open a website or a template, save it somewhere and then click publish in the "cloud" menu

[2018-12-04 12:46] lexoyo commented on #691
It looks like this, there are several steps and options
![screenshot from 2018-12-04 13-43-41](https://user-images.githubusercontent.com/715377/49442809-e8716480-f7ca-11e8-9906-399c066f0742.png)

[2018-12-04 12:47] lexoyo commented on #803
Silex is now an npm dependency, one can add it to a project and set the config and add custom services or hosting providers

would someone test this with me?

[2018-12-04 12:48] lexoyo commented on #768
I am ready to work on that again, now that things are clear on how to add custom services in Silex
Let me know @godzone if we can take another shot at it

[2018-12-04 14:06] jotakar commented on #795
The FTP connection works fine at this moment, so you can close.

[2018-12-04 14:46] fernandammoutinhobarros commented on #662
Hi @lexoyo ,
 I'm testing... starting to understand :+1:

[2018-12-04 15:33] #795 closed

[2018-12-04 18:03] godzone commented on #768
Yes, I am still wanting to get this working.  Unfortunately, I am very busy with other stuff at the moment and we are going on holiday on Friday for 10 days so I am unlikely to get a chance to look at it again until around the 19th of December.

Glen.

[2018-12-05 11:27] rijschoolthomas opened #849 "New silex"
Hi Alex,
I'm afraid the new silex seems to be messing up, luckely only, my test2 webpage as I'm working on it.
Test2 is a copy of my rijschoolthomas.com to be able to play with it.
See picture.
1 - I've lost all my pages (they do come back into sight after i add a new page.
2 - Its showing my Home page
3 - But it's telling me I'm on my Proefles page.

![silex](https://user-images.githubusercontent

[2018-12-05 14:10] lexoyo commented on #849
hi
thx for the bug report
what is your browser please? you are on editor.silex.me right?

[2018-12-05 14:41] lexoyo commented on #797
Hello
The release of a desktop / offline version for linux and macos is now automatic, thx @JbIPS
Please test the beta version here
https://github.com/silexlabs/Silex/releases/tag/v2.3.0

[2018-12-05 19:43] rijschoolthomas commented on #849
My browser is Google Chrome
Version 71.0.3578.80 (Officiële build) (64-bits)

Yes editor.silex.me

Op wo 5 dec. 2018 om 15:10 schreef Alex Hoyau <notifications@github.com>:

[2018-12-07 11:48] rijschoolthomas commented on #849
My website including my test sites are on github. There's a copy of my
rijschoolthomas.com website at: https://rijschoolthomas.github.io/test2/ to
play around with.

I'll have to get back to you on firefox. I'm quite busy at the moment.

Op vr 7 dec. 2018 12:25 schreef Alex Hoyau <notifications@github.com:

[2018-12-07 16:13] lexoyo commented on #849
I don't manage to reproduce the bug :-/
![peek 2018-12-07 17-12](https://user-images.githubusercontent.com/715377/49658882-52943e80-fa43-11e8-9a23-6f7317c481c9.gif)

[2018-12-08 16:38] lexoyo commented on #843
i tried hard today to understand what googlebot mobile does...

I could fix the "Viewport is not set to "device-width"" by replacing silex's viewport tag with `<meta name=viewport content="width=device-width, initial-scale=1">`

But I still have strange results when I test the site on which I can reproduce your bug with google tool:
https://search.google.com/test/mobile-friendly?url=http%3A%2F%2Fl

[2018-12-09 15:36] rijschoolthomas commented on #849
Hi Alex,
I'm using silex now in Firefox and that seems to have done the trick for the first issue I had a the top of this page. But it it is still messing up other things. Most of I was able to sort out myself. My slideshow has stopped working on the mobile. I'll probably have to take it out and put it back. I've had that problem before with the old silex.
But the issue I have now is that a link i

[2018-12-10 16:07] lexoyo commented on #849
yes for now this is still the case, please use external links then (for now)

concerning the bug of the links, i need to be sure that you use the new text style editor: did you double click on the text field (which is supposed to remove any inline formatting. Then delete any css to syle links in your css editor. And then design the links with the style editor, this should work better

![screenshot

[2018-12-10 16:10] lexoyo commented on #768
@godzone thx for your reply
let me know when you are avail

[2018-12-10 16:11] #748 closed

[2018-12-14 23:46] rijschoolthomas commented on #849
Hi Alex,
I'm now using the new Silex to finish off my rijschoolthomas/website <-- rijschoolthomas.com

Issue
I've got 2 arrows in a circle on my site that I can't find so I can't remove them. See jpg. I think they are a hidden leftover from a earlier slide element.
![screenshot_20181214-235453](https://user-images.githubusercontent.com/43305374/50035158-dda3a480-0000-11e9-82d0-f053c7d58b00.jpg)

Y

[2018-12-15 10:29] jacobtheunisz opened #850 "Hyperlink disappears"
Is there a known issue with hyperlinks? I keep adding a hyperlink of type "file:///...", save the site, then when I return the hyperlink is gone. By the way, this is not about the link not working. I have figured out that the link will work when both the site and the folder I try to open with this link, are stored on the same host. So this is purely about the link disappearing altogether. How can

[2018-12-15 13:33] lexoyo commented on #779
Salut Baguette! Noyeux Joël!!!!
C'est normal tant que je n'ai pas fait cette issue
 #187

no no :(

[2018-12-15 15:08] jacobtheunisz commented on #850
Hi, Lexojo. Thanks in advance. I have used Silex to create a simple intranet page. All my users have access to a Q: drive with documentation (Word, Excel and PDF files), so I want to open a file folder from that webpage, to display a bunch of files with documentation. This works quite well in Chrome, as long as the webpage is on the same server. Will try to use a relative path as you suggested. Fo

[2018-12-15 19:01] Skybred opened #851 "SSL not working correctly on Centos 6 with Apache"
I installed a copy of Silex on my Centos 6 server with Apache and when accessing via http using ProxyPass it works, but when I force SSL I get redirected to the html folder of Apache instead of Silex. I get the following message when I use curl:

curl localhost:6805 -k
Moved Permanently. Redirecting to https://localhost/[root@... Silex]#

How can I redirect to the correct folder? Changing the SSL

[2018-12-16 19:46] lexoyo commented on #843
@rijschoolthomas could you open your website in editor.silex.me again and publish it live?
i tried to fix the 2 most anoying issues (content wider than screen and viewport)

[2018-12-16 19:48] lexoyo commented on #851
hi @Skybred
1- how did you "force SSL"?
2- do you use [silex env vars](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#environment-variables) to serve the certificate?

[2018-12-16 20:01] lexoyo commented on #850
Oh ok I see
As an educated guess, maybe silex messes up this kind of links when it prepares the html for editing. this is made on the server side here
https://github.com/silexlabs/Silex/blob/develop/dist/server/WebsiteRouter.js#L146

[2018-12-16 20:04] lexoyo commented on #849
ok i see them yes
they are slideshows, and they are hidden on desktop
so you need to enter mobile editor and delete them from there
ok?

[2018-12-16 20:08] lexoyo opened #853 "Silex website, your opinion wanted"
Hi!!

I updated silex website
https://www.silex.me/

Any feedback for the design or ideas for the content?

[2018-12-16 21:00] rijschoolthomas commented on #843
HELP!!!, my pictures are now not loading into the website.
I saved and then published but no pictures anymore.

rijschoolthomas <https://github.com/rijschoolthomas>/website
<https://github.com/rijschoolthomas/website>
https://rijschoolthomas.com/

Met vriendelijke groet,

*Michael Thomas*

Op zo 16 dec. 2018 om 20:46 schreef Alex Hoyau <notifications@github.com>:

[2018-12-16 23:13] lexoyo commented on #851
Oh and I forgot to mention that Silex creates a webserver with nodejs, so Apache is not needed

[2018-12-16 23:19] lexoyo commented on #843
oh something went wrong
silex is looking for the images in /test2/master/assets/Dakbord-achter.jpg
did you move the website from a folder to another?
i will look into it now

[2018-12-17 03:11] David1platt commented on #853
The animation and GIF are nice. Sorry I haven't been around much to help. I'll try to start contributing to documentation more over the next couple of weeks.

[2018-12-17 05:33] lexoyo commented on #843
Ok good :)
If you used editor.silex.me to publish the issues should be resolved (did you refresh your browser window to update silex?

Le 17 déc. 2018 à 06:29, à 06:29, Michael Thomas <notifications@github.com> a écrit:

[2018-12-17 05:54] #268 closed

[2018-12-17 06:43] rijschoolthomas commented on #843
Update browser window? Don't think so.

Op ma 17 dec. 2018 06:33 schreef Alex Hoyau <notifications@github.com:

[2018-12-17 09:46] scemail commented on #853
you should add
	max-height: 7689px;
to your mobile's body in your CSS, to avoid blank space under your footer in mobile view.
Your "fork me on GitHub" rubber partially hides the under content on mobile in landscape mode.

[2018-12-17 11:10] lexoyo commented on #843
You should at least refresh the page to have the latest changes

Le 17 déc. 2018 à 07:43, à 07:43, Michael Thomas <notifications@github.com> a écrit:

[2018-12-17 11:54] rijschoolthomas commented on #843
Thanks Alex,
It's working. Rijschoolthomas.com . I can now zoom in and out on my mobile.
And google has stopt complaining about those 2 issues.

I still can't find the slider element that is causing those arrows and also
there's now a large white space at the underside on the mobile that i can't
seem to get rid of.

Op ma 17 dec. 2018 12:10 schreef Alex Hoyau <notifications@github.com:

[2018-12-18 15:30] lexoyo commented on #815
hi
should i close this issue?

[2018-12-18 15:34] lexoyo commented on #843
yeah :D

in mobile editor, you don't see it?

yes I know, it is a side effect of my bug fix :-/
I'll try to figure something out

I'll close this issue, feel free to open new ones for other problems you may have

[2018-12-18 15:34] #843 closed

[2018-12-18 15:35] #849 closed

[2018-12-18 16:55] rijschoolthomas commented on #843
in mobile editor, you don't see it?

No i can't find it. I've gone through the site page by page.

Op di 18 dec. 2018 16:35 schreef Alex Hoyau <notifications@github.com:

[2018-12-18 16:56] jotakar commented on #815
Oh, yes.

[2018-12-18 18:18] #815 closed

[2018-12-19 12:05] rijschoolthomas opened #856 "H2 in text editor goes blank"
Hi Alex,

See bug report on following video link: https://photos.app.goo.gl/GbQUL6tgs5dsEhoB9  <-- this is of course with the new silex.
Cheers,
Michael

[2018-12-20 16:51] lexoyo commented on #691
Hi
Did anyone test how it works? https://preprod.silex.me/
Publication to a folder is the same as publication used to be
Publication to github pages is the first hosting provider, and it handles the build phase by github pages, and custom domains
cc @ceubri @godzone @BaguetteAgile @David1platt

[2018-12-20 16:53] lexoyo commented on #853
thx @scemail and @David1platt

the problem is the blank space size depends on the viewport width, i am looking for a solution

ok thx, i'll probably remove the rubber

[2018-12-20 17:32] lexoyo commented on #856
about the h2 going blank, please delete all styles from css editor and try again, does it do the same thing?

this is due to my changes for google bot
the position: fixed does not work because the body has a css transform
i'm looking into a javascript solution and a soultion based on position: sticky

ok, this is not blocking, i'll let you try again

I see that, it is hard to reproduce, i'll get t

[2018-12-21 00:49] godzone commented on #691
Sorry, I simply haven’t had time.  Things have gotten very chaotic around here and will probably not settle down until mid January.

Glen.

[2018-12-21 08:53] Tomygg opened #857 "Internet Explorer 11 issue"
Hello,

I have a bug in IE 11. Everything works on Chrome, Firefox, Edge, Safari, but the bloody IE 11 just won't budge. It displays just half of my index page. The page is www.tb.lt

[2018-12-21 09:11] BaguetteAgile commented on #691
Hi all, I just tested the version with gh-pages, everything works perfectly.

 It's much easier to use.

How to use Netlify?

@lexoyo

[2018-12-21 09:14] lexoyo commented on #857
Aouch I did not test that :-/
I'll try with browserstack and will get back to you in a week or so

Le 21 déc. 2018 à 09:53, à 09:53, Tomas <notifications@github.com> a écrit:

[2018-12-21 13:51] lexoyo commented on #578
done

[2018-12-21 13:51] #578 closed

[2018-12-22 06:07] Max84 opened #858 "How to add an id to a html tag ?"
Hi,

It could be a great feature id we're able to add an id (or automaticly) to an html tag.
This is useful in order to add an internal anchor link/

Best regards,

[2018-12-22 18:21] lexoyo commented on #858
Hello

Yes I was thinking about it..

And the IDs could appear in the "link dialog" to create links to anchors...

And I wonder where to put this "id" field?

[2018-12-23 17:37] Max84 commented on #858
If we want to add an anchor link, i think a div is the best way because into a onepage website, or page with paralax, a div is always really near the anchor target.

[2018-12-23 17:58] lexoyo commented on #858
Interesting I didn't think about that but that makes sense

I was asking about the UI, where should we put the text input or button to edit the id

[2018-12-26 07:57] Max84 commented on #858
Why not here :

![image](https://user-images.githubusercontent.com/6622400/50437964-3b32cd80-08ec-11e9-9a21-deb24906ac94.png)

[2018-12-26 13:53] lexoyo commented on #691
Thx @BaguetteAgile ! No problem @godzone, see you in a few weeks then

I am thinking of making a hosting provider for netlify (and one for grrrhost and one to download the website as a zip file)

For now just do as you used to do before ("choose a folder" option)

[2018-12-27 18:04] lexoyo commented on #856
hello
should i close this issue?

[2018-12-27 18:07] lexoyo commented on #853
what do you think of these videos?
https://www.youtube.com/playlist?list=PL1YPyEPU8dDN2kjXCCFdDU5VI3NkW8ztq

1- should I publish it on the website?
2- would you have time to contriubte translations? (in the video player you can do settings > subtitles > contribute a translation)
3- what is missing? I talk mostly about style manager and text
4- would someone be able to contribute videos?

Thank you

[2018-12-27 18:17] lexoyo opened #860 "Feature: page transitions, load time optimization"
Now that #187 issue is done, the publication generates 1 HTML page per Silex page.

In order to reduce the loading time and alow page transitions, we should use [smoothState.js](https://github.com/miguel-perez/smoothState.js/) for prefetch and transitions.

It will also make it possible to have a loader only the 1st time - also take a look at [barbajs.org](http://barbajs.org/)

[2018-12-27 18:17] lexoyo commented on #187
This is now live on preprod.silex.me please test!!!

[2018-12-27 18:17] #187 closed

[2018-12-27 18:20] lexoyo opened #861 "Feature: prevent overwrite editable html file at publication"
When the user named his website (editable html page) with the name of a page in Silex, the publication should fail or warn the user to prevent overwriting the editable website, e.g. #841

[2018-12-27 18:39] rijschoolthomas commented on #856
No leave it open please. I haven't had time to play with it. I'll let you
know when I've got arround to it.

Op do 27 dec. 2018 19:04 schreef Alex Hoyau <notifications@github.com:

[2018-12-27 20:51] rijschoolthomas commented on #856
Your reaction was:
about the h2 going blank, please delete all styles from css editor and try again, does it do the same thing?

As far a I can see I deleted all the roboto lettertype from the CSS editor but all text begins white and the h2 still goes blanc.

[2018-12-28 10:09] RazzleDazzleBrest commented on #224
Hi,

I had the occasion to see Richard S. on stage, and when he starts his speech, he says that he doesn't want to be present on Facebook/Youtube/etc, so it is very strange to see the picture of Richard associated with a Facebook/Youtube/etc "follow me Further" logos !!!

He could be better to see Richard S. picture with a GNU/Linux logo on this example :-).

Otherwise silex.me is a very good and

[2018-12-28 10:15] RazzleDazzleBrest opened #862 "My Silex website"
Here is a link to a website we did with Silex:

http://razzledazzle.free.fr

We are a new "rock band" and silex.me was an easy and very good tool to develop and maintain (with github) our modern and designed web site.

Youtube videos and Soundcloud musics were easily embed in our web site :-)

Thanks to all silex.me team.

Best regards,
Razzledazzle

[2018-12-28 10:45] lexoyo commented on #224
Hello

Thx for the kind words it's encouraging!
For Richard, you're right :)

It is an old template and we should update it, at least change the picture

Would you have time to do it? You need to

* fork the silexlabs/silex-templates repository on GitHub
* Create a temporary branch  (usually call it wip)
* Make the changes
* publish to the branch
* Create a 1st pull request on GitHub, in your fork

[2019-01-04 11:43] lexoyo commented on #857
Hello ml I think I have found a fix, but I did not publish it yet. This weekend I'll try

[2019-01-04 23:46] BaguetteAgile opened #863 "Menu hamburger (Bug )"
@lexoyo
Bonjour Alex, il y a un bug avec le menu hamburger sur smartphone, c'est à dire que le menu s'ouvre bien mais impossible de sélectionner une page, la sélection prend toute la fenêtre du smartphone.

Sur preprod...

voici le lien du site

https://justfriends.netlify.com/

[2019-01-04 23:55] BaguetteAgile opened #864 "JS (Bug)"
@lexoyo

Re-bonjour,

dans mon site j'utilise ce widget #443
maintenant il ne fonctionne plus , toujours sur smartphone.

encore avec preprod...

https://justfriends3.netlify.com/

[2019-01-05 00:04] BaguetteAgile opened #865 "Gros bug avec editor.silex.me"
@lexoyo

Toutes les pages sont mélangées ... voici une capture d’écran et un lien

sur la capture, il y a 3 pages de mélangées...

![capture du 2019-01-05 01-02-21](https://user-images.githubusercontent.com/35597855/50717149-a36c7680-1085-11e9-8f7f-9bc15edf5225.png)

https://keen-pare-501db2.netlify.com/

[2019-01-06 19:55] lexoyo commented on #863
Oula! En effet mais c'est probablement lié à ton site, vu qu'on voit le code dans la page... Je vais regarder bientôt

[2019-01-06 19:57] lexoyo commented on #865
On voit encore du code dans la page c'est étrange
Toujours avec preprod?
En précieux ça fonctionne normalement ?

[2019-01-06 19:57] lexoyo commented on #865
En preview**

[2019-01-09 02:39] David1platt commented on #853
I would combine the two video collections.
I would publish them on the website
There is a specific tool in Silex that allows users to make links between pages in there website. I might go over how to use that tool?

[2019-01-10 14:10] RazzleDazzleBrest commented on #862
Merci @BaguetteAgile,

votre site est super aussi,
on sent la plus longue expérience !

Musicalement

[2019-01-10 16:33] lexoyo commented on #857
Hi, could you try to publish your website with preprod.silex.me plz?
Backup your website before because it is a beta version and after saving you can not go back to the previous version on editor.silex.me

[2019-01-10 16:43] lexoyo commented on #862
Vos 2 sites sont maintenant sur la home de silex (baguette le tiens n'y était plus je ne sais pas pourquoi)
Merci pour votre confiance !

[2019-01-10 16:48] lexoyo commented on #864
C'est le meme probleme que #865

[2019-01-10 16:48] #864 closed

[2019-01-10 16:50] lexoyo commented on #863
alors ca c'est un autre probleme
je vais devoir fixer ca
tu as moyen de revenir a la version avant preprod qui bug?

[2019-01-10 16:51] lexoyo commented on #863
le souci est que le menu mobile par defaut de silex n'a pas de href (?!)
donc le nouveau systeme de publication ne change pas les liens en version "plusieurs pages html"

[2019-01-10 16:54] lexoyo commented on #865
je vois que le site est maintenant sur github?
quelle version que je dois prendre?
https://github.com/BaguetteAgile/just-friends/tree/gh-pages

[2019-01-10 17:05] lexoyo commented on #850
@jacobtheunisz did you find a temporary workaround?
I did not have time for this one, and others have needed my attention, sorry

[2019-01-10 17:07] lexoyo commented on #698
ouch je viens de voir la suite de ton bug report...
peux tu me dire si tu as bien les stats dans analytics? et ouvrir une autre issue stp?

[2019-01-10 17:07] #698 closed

[2019-01-10 17:08] #490 closed

[2019-01-10 17:15] lexoyo commented on #420
ca c'est fix depuis longtemps

[2019-01-10 17:15] #420 closed

[2019-01-10 17:15] #407 closed

[2019-01-10 23:22] BaguetteAgile commented on #865
`quelle version que je dois prendre?`
Prends la version qui se trouve sur Netlify

https://keen-pare-501db2.netlify.com/

La version sur GitHub est pour faire des essais de mise en ligne direct que tu m'as demandé ;)

[2019-01-10 23:38] BaguetteAgile opened #868 "Statistiques dans Google analytics"
Suite à ta demande  @lexoyo , j'ouvre cet issue, simplement pour te confirmer que je reçois bien les statistiques de mon site.

Aucun problème de ce coté ;)

[2019-01-11 09:46] BaguetteAgile commented on #863
`tu as moyen de revenir a la version avant preprod qui bug?`

Oui, j'ai garder des anciens `publication.ZIP` au cas où ... j'ai bien fais.
Je viens de mettre en ligne une version sans bug.

[2019-01-11 10:37] lexoyo commented on #858
We should first replace the link dropdonw in the properties with a button to open the same link dialog as the text editor

[2019-01-11 10:41] lexoyo commented on #858
After some thinking, I think we should

* Add an "ID" field either at the top of the properties on top of the position, or beside the "css classes" field in the "style panel" - mainly because this id Can be used in css and js too...
* In the link dialog, add a "scroll to element" dropdonw list with all the IDs in it

What do you think about this @Max84 ?

[2019-01-11 15:17] Max84 commented on #858
First, thanks @lexoyo to think about this 👍
I think you've right, it's a good way.

[2019-01-14 15:46] RazzleDazzleBrest commented on #862
Merci à toute l'équipe de silex.me, c'est super sympa et ça fait classe !
@+

[2019-01-15 14:34] RazzleDazzleBrest commented on #224
Hi @lexoyo,

I did the job, following step by step your instructions.
It was the first time that I did this, I hope that's good.

[2019-01-16 17:35] lexoyo commented on #857
hello @Tomygg

could you check that your issue is fixed when you publish your website with this version of silex please?
https://silex-test-tmp.herokuapp.com

backup your website before to be sure

[2019-01-16 17:42] lexoyo opened #870 "My landing page for coaching service"
Here is a link to a website I did with Silex:
![screenshot from 2019-01-16 18-41-23](https://user-images.githubusercontent.com/715377/51267598-62962b00-19be-11e9-9e25-24ef1574f47d.png)

It is multilingual and seo optimized

[2019-01-16 17:47] lexoyo commented on #693
this website has been closed right?

[2019-01-16 17:47] #693 closed

[2019-01-16 17:49] #265 closed

[2019-01-17 00:32] fullofcaffeine commented on #747
I think using Bootstrap makes sense. It's very popular and well-supported.

[2019-01-17 01:08] fullofcaffeine opened #871 "Using Silex as a way to quickly create/edit and deploy landing pages, questions"
Hi @lexoyo and team,

I've checked Silex a few years ago and it has come a long way! Thanks for keeping it up and keeping it free and open :)

I'd like to use Silex to create or edit fully static sites as an alternative to Middleman (the Ruby static site generator), for example. I think it could be great to quickly come up with landing pages to test ideas fast (a mix between unbounce and wix). Mos

[2019-01-17 22:13] lexoyo commented on #779
This might be better done by a website generator like jekyll
So I am not planning to do that soon

[2019-01-17 22:13] lexoyo commented on #778
This might be better done by a website generator like jekyll
So I am not planning to do that soon

[2019-01-17 22:15] lexoyo commented on #44
This might be better done by a website generator like jekyll
So I am not planning to do that soon

[2019-01-17 22:15] lexoyo commented on #720
This might be better done by a website generator like jekyll
So I am not planning to do that soon

[2019-01-17 22:16] lexoyo commented on #719
This might be better done by a website generator like jekyll
So I am not planning to do that soon

[2019-01-17 22:19] lexoyo commented on #871
Hello @fullofcaffeine !!
It's great to see you back with lots of good ideas :)

As a matter of fact I am using silex for my business too so I recently added several features to customize Silex - for freelancers to create optimized versions of silex to fit their production needs and for hosting companies to integrate with their infrastructure. So these questions comes right in time!

A mix between

[2019-01-19 02:25] lexoyo opened #872 "silex website content"
I have started to write a new content for www.silex.me
Would you all read it and fix the mistakes you see?
https://docs.google.com/document/d/16DL2OBTbRjX4855J_d5mKuZYJLhCzzPclVwtL2_SmyA/edit?usp=drivesdk
Thank you in advance, it is important for silex

[2019-01-21 20:07] lexoyo commented on #857
hello @Tomygg

could you check that your issue is fixed when you publish your website with this version of silex please?
https://silex-test-tmp.herokuapp.com

backup your website before to be sure

[2019-01-22 08:55] Tomygg commented on #857
Hello, Alex

I am ill at the moment. Sorry for not responding. I will try to implement
your recommendations as soon as I recover.
Thank you for your help.
Tomas

2019 m. saus. 16 d., tr 19:35, Alex Hoyau <notifications@github.com> rašė:

[2019-01-23 21:45] lexoyo commented on #857
oh ok
I wish you a prompt recovery :(
Take care !

[2019-01-23 22:31] lexoyo commented on #863
Hi
I have fixed this issue
It will be on preprod.silex.me in 1h or so
You will have to open your site as it was saved with editor.silex.me

[2019-01-23 23:21] #863 closed

[2019-01-23 23:23] lexoyo commented on #863
fixed
https://github.com/silexlabs/Silex/pull/873

[2019-01-23 23:24] lexoyo commented on #865
@BaguetteAgile tu as toujours ce probleme?

[2019-01-23 23:24] #41 closed, assigned to nobody

[2019-01-23 23:26] #215 closed, assigned to nobody

[2019-01-25 06:58] TonyAshTheCoderAndWebmaster opened #874 "Silex Is Down"
![e8cb95f10de8f38edbf90b91e073d3ba](https://user-images.githubusercontent.com/45380750/51730213-762f3a80-202b-11e9-8c19-fa9b91d0ebb2.png)

[2019-01-25 07:20] lexoyo commented on #874
Hola Tony
It's back up. It happens sometimes for a few minutes...

[2019-01-25 07:20] #874 closed

[2019-01-25 12:21] BaguetteAgile commented on #865
@lexoyo  Super sa fonctionne nickel ;)

J'ai du redéfinir dans Silex le Dossier de publication, sinon pas d'enregistrement dans ma Dropbox.

j'ai toujours le morceau de code qui est visible ( mais je sais le supprimer dans l'index.html )

[2019-01-25 12:34] lexoyo commented on #865
Si tu sais le supprimer dans index alors tu dois pouvoir faire la même chose dans la version éditable

Le 25 janv. 2019 à 06:21, à 06:21, BaguetteAgile <notifications@github.com> a écrit:

[2019-01-27 18:31] lexoyo opened #875 "Silex should warn the user when his browser is not supported"
It is supposed to be the case, but it looks like safari goes through

[2019-01-27 18:31] #865 closed

[2019-01-27 18:32] lexoyo commented on #868
donc ca fonctionne, je ferme ok?

[2019-01-27 18:32] #868 closed

[2019-01-27 19:08] lexoyo commented on #871
Hi @fullofcaffeine

Following your comment about unbounce, I watched this video series about unbounce and Silex does exactly all that, for free and even better. I think we should do the same video series with Silex

Part 1: The first video will cover choosing a theme, breaking it into sections, and then writing the copy for the video. https://www.youtube.com/watch?v=Nvehej4k6VM

Part 2: The second

[2019-01-27 20:15] fullofcaffeine commented on #871
Hi Alex, thanks a lot of the very comprehensive replies! I didn't have the
time to go through them but will do so this week.

On Sun, Jan 27, 2019 at 1:08 PM Alex Hoyau <notifications@github.com> wrote:

[2019-01-28 11:33] Tomygg commented on #857
Hello, Alex

I have published my website with https://silex-test-tmp.herokuapp.com
however the problem remains. It seems that some divs are not visible on
IE11, maybe that's why the pages are incomplete (the end is cut). I will
try to do that with preprod.silex.me

2019-01-16, tr, 19:35 Alex Hoyau <notifications@github.com> rašė:

--

*Pagarbiai,*

*Tomas Greičiūnas Mokslo informacijos ir Nato dok

[2019-01-29 12:51] diogocsc commented on #658
I managed to create an image with this fixed, but can't find the file in the source code... where is it ?
![silex-tableau-03](https://user-images.githubusercontent.com/1706650/51909403-6f564e00-23c4-11e9-8464-1cfd04f89f57.png)

[2019-01-29 16:11] lexoyo commented on #658
Nice!!!
The source of the website is here
https://github.com/silexlabs/www.silex.me

[2019-01-30 00:36] lexoyo commented on #857
I think the problem is that the section is smaller than its content. Your footer should be inside the section like this:

![screenshot from 2019-01-29 18-31-02](https://user-images.githubusercontent.com/715377/51949965-58c7eb00-23f4-11e9-9d37-454f78666ed4.png)

Or even better in a section for itself:

![screenshot from 2019-01-29 18-32-10](https://user-images.githubusercontent.com/715377/51949976-

[2019-01-30 22:37] lexoyo opened #877 "A major release of Silex is live!!"
Hello

A major release of Silex is live!!

* New publication options including github pages and jekyll
* Sticky elements
* Silex customisation options
* Continued work on the docs: the [main editor UI docs](https://github.com/silexlabs/Silex/wiki/Editor-UI) (thx @David1platt) and the [Publication docs](https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website)

https://editor.s

[2019-01-30 23:21] lexoyo commented on #827
Hi is this resolved?

[2019-01-30 23:21] #827 closed

[2019-01-31 11:19] rijschoolthomas commented on #877
Help new problem!

The desktop looks okay but all the text from the mobiel has gone. https://rijschoolthomas.com

Cheers, Michael

[2019-01-31 12:20] lexoyo commented on #877
I'm on it

Le 31 janv. 2019 à 05:19, à 05:19, Michael Thomas <notifications@github.com> a écrit:

[2019-01-31 13:53] lexoyo commented on #877
I don't understand what happened, but when I publish it, it works fine
http://lexoyo.me/website/

Could you try again please?

[2019-01-31 14:02] lexoyo commented on #877
This I can reproduce thank you for the bug report, I'll fix this now
(it has nothing to do with the disappeared texts in mobile version)

[2019-01-31 14:03] lexoyo commented on #877
Fixed: https://github.com/silexlabs/Silex/pull/878

[2019-01-31 16:00] lexoyo commented on #187
Ok I'm on it

[2019-01-31 22:17] rijschoolthomas commented on #877
I tried again and tekst was back but there are still over problems even in your http://lexoyo.me/website/
I'll show you with a few photo's
In the first photograph you see silex mobiel to the left and my published site on the right. The silex mobiel is as it should be.

Problem 1: The hamburger menu has moved down causing the blue area to be taller. The email addres and telephone number are stacked

[2019-01-31 22:41] lexoyo opened #879 "Prevent multiple include (css, js)"
It happens sometimes due some components or third party embed code, that a script or css (inline or not) appears in the DOM multiple times. The publication should check and prevent such cases

[2019-01-31 22:53] lexoyo commented on #187
Ok, so here is my conclusion

There are old components in your template, like this container in blue:
![screenshot from 2019-01-31 16-10-23](https://user-images.githubusercontent.com/715377/52089939-84beaa00-2575-11e9-9e87-af9bd62d3225.png)

To see that it is a component, double click on it and check that there are params in the right panel

So you have 2 workarounds, the good and the quick one, w

[2019-01-31 23:14] lexoyo commented on #877
I pushed a fix so that the mobile version will always be pixel perfect (scaled depending on window width). This was supposed to be the case but in your case it wasn't. Can you refresh (empty browser cache maybe) and publish again? Let me know if some of these problems are still here?

Also, if you want a better behavior on small desktop screens you should set the "website width" setting to 960 (se

[2019-01-31 23:19] lexoyo commented on #877
The fix is now live on editor.silex.me and preprod.silex.me

[2019-02-01 10:41] rijschoolthomas commented on #877
Hi Alex,
Itś stil not working as it should. I've made a video for you (with sound) to illustrate the problems. I had to compress the video because the formum doesn't accept mp4 files.
Hope it helps.
[mobizen_20190201_113041.mp4.tar.gz](https://github.com/silexlabs/Silex/files/2821201/mobizen_20190201_113041.mp4.tar.gz)

[2019-02-01 20:05] Areahints opened #880 "Installation Issue With AppImage"
Hello, I am trying to install Silex via appimage

i run
`chmod a+x silex.appimage`
`./silex.appimage`
it displays this on the terminal

[code]
Its been at this point for over 6 hours now so I know its definitely not working,  what do I have to do to figure it out?

System Info

[code]

[2019-02-01 21:15] lexoyo commented on #880
I never could make it work myself the appimage thing
Cc @jbIPS

[2019-02-04 01:56] lexoyo commented on #187
Hi did you succeed?

[2019-02-04 05:57] lexoyo commented on #658
Hi
Do you need help to fix this?

[2019-02-04 07:39] JbIPS commented on #880
Hi! I'll check that today. While we're investigating you can use the .deb since you're on Ubuntu.

[2019-02-04 08:39] JbIPS commented on #880
You can find all the supported arch in the assets of the release.

Here's the deb: https://github.com/silexlabs/Silex/releases/download/v2.4.0/silex_2.4.0_amd64.deb

[2019-02-04 08:51] Areahints commented on #880
thanks so much!

On Mon, Feb 4, 2019, 9:39 AM Jean-Baptiste Richardet <
notifications@github.com> wrote:

[2019-02-04 14:44] Areahints commented on #880
@JbIPS so I installed the deb package and it was successful, however anytime I run silex, no GUI showed up! I can confirm that Silex is running because if I check my task manager, silex is there with a PID.

so I decided to start silex via terminal so I can see some output and this is what I got

[code]

seems node is the problem...

is there a way to know all the node packages Silex depends on? m

[2019-02-04 19:09] lexoyo commented on #880
Silex requires node 8.10.0
https://github.com/silexlabs/Silex/blob/develop/.nvmrc

I don't know how to fix that in the build but maybe I should check the version of node when silex starts and echo a better warning?

what makes you think that? you are probably right it is often the case with silex build but I wonder

[2019-02-04 20:55] lexoyo commented on #877
Ok thank you for the video, it is very clear
Let me check some things and get back to you very shortly

[2019-02-04 22:08] Rizota commented on #187
Hi, unfortunately it didnt work. First i have tried the  option and site doesnt even load - only the menu bar.

and I have also tried the second option, deleted all of the "animation" containers and it didnt help (the menu doesnt work/scroll....)

So I have finished this site "manually" in html...

[2019-02-05 00:38] lexoyo commented on #877
I traced the bug to this: in [editable.html](https://github.com/rijschoolthomas/website/blob/master/editable.html) many text elements have a css class `paged-element-hidden`. This class is supposed to be removed from any element when you save the website ([here in the code](https://github.com/silexlabs/Silex/blob/develop/dist/server/WebsiteRouter.js#L195))

So I did [this hot fix](https://github.c

[2019-02-05 00:47] lexoyo commented on #877
so to be clear:

1- open your website
2- save it
3- publish it

And this will fix the missing texts

I'll take a look at the other issues

[2019-02-05 01:05] lexoyo commented on #877
It looks like the other issues are fixed too, can you confirm?

Some buttons change color but it is complicated to investigate because in all these "cards" you have duplicated the style `<style>div.c {text-align: center;}div.b {text-align: right;}div.a {text-align: left;}h2 {color: white;}p {color: white;}`
![screenshot from 2019-02-04 19-04-06](https://user-images.githubusercontent.com/715377/522

[2019-02-05 01:18] lexoyo commented on #877
It looks like the other issues are fixed too, can you confirm?

Some buttons change color but it is complicated to investigate because in all these "cards" you have duplicated the style `<style>div.c {text-align: center;}div.b {text-align: right;}div.a {text-align: left;}h2 {color: white;}p {color: white;}`
![screenshot from 2019-02-04 19-04-06](https://user-images.githubusercontent.com/715377/522

[2019-02-05 14:47] rijschoolthomas commented on #877
Hi Alex,

Positives:
I fixed the home menu button as you advised. It works. Thanks
1 more positive thing is that all pages open up at the top of the page now. Fantastic...

Problems still remaining:
The background color you were looking for is in the CSS editor on line 1259 (.container)

The colors you have above (the round blue and rectangular red, all with white letters, is correct. So the color

[2019-02-06 20:59] lexoyo opened #881 "In firefox, text editor, not possible to select text"
How to reproduce:

* in firefox on editor.silex.me
* in an empty website, add a text box
* double click to edit text
* try to select a word

[2019-02-07 23:28] JbIPS commented on #553
Can we close this one?

[2019-02-07 23:51] lexoyo commented on #553
Sure go ahead
Or maybe replace the content? Because this issue has the label "tip of the day" so it appears in Silex dashboard and publication dialog

[2019-02-08 00:02] JbIPS commented on #553
What do you want to write instead?
Or just close it and remove the label? Use the live announcement instead

[2019-02-08 00:56] lexoyo commented on #553
Yes let's close it
It will disapear from Silex dashboard it's good

[2019-02-08 00:56] #553 closed

[2019-02-08 01:14] lexoyo commented on #625
Hello
From now on it is very easy to do this, as a "Hosting Provider" like the [Jekyll Hosting Provider](https://github.com/silexlabs/Silex/blob/develop/dist/server/HostingJekyll.js)
Let me know if someone wants to try to do it

[2019-02-10 16:50] lexoyo opened #882 "Feature request: Page properties dialog"
Pages need to have properties for SEO: Title, Description, Tags, Slug

* [ ] dialog to edit pages properties
* [ ] button over the page to open the properties dialog
* [ ] click "new page" => open the dialog

[2019-02-10 16:52] JbIPS opened #883 "Error when publishing to FTP"
Hi,

I tried to publish to my FTP with the new version of Silex (on editor.silex.me). I logged in, created a new folder and when I hit "Publish", after the "Downloading" phase, it errored with:
[code]

I can create new folder and new file on the FTP but something must be missing. I check my user has all the permissions it need (apparently).

FYI, I manually uploaded the output files and now I can

[2019-02-10 16:52] lexoyo opened #884 "Feature request: website titles and slug"
Add properties to the website in order to setup

* what is the title of the pages, e.g. `My website name - {{ page.title }}`
* the "slug" of pages, e.g. `{{ page.title }}.html`

[2019-02-10 16:56] lexoyo opened #885 "Feature request: overlays"
After feature #882 when pages have properties, it should be possible to define a page as "overlay", which means that it opens on top of the current page instead of replacing it.

This means
* preview: a mechanism to open without closing the previous page
* published: keep overlays in all the pages of a website

[2019-02-10 16:58] lexoyo opened #886 "Feature request: Better property panel"
Prodotype should be used also for the elements properties

This will allow a better UI:

* With percents in position
* Push buttons for bg image position etc

Also later it will make it possible to add custom properties to this panel on a custom Silex instance

[2019-02-10 17:01] lexoyo opened #887 "Feature request: more elements properties"
After issue #886 I would like to add elements properties

* Prevent drag/resize
* Content in the flow with `display: flex;` + flex box properties (not for images?)
* Make section containers normal containers

[2019-02-10 17:06] lexoyo opened #888 "better js and css files"
These are the files a website should load:

* front-end.js - always
* runtime.js - preview and published, not in the editor (no more checking the body css class)
* preview.js - preview only, not in the editor
* desktop.css - desktop only, use mediaquery
* mobile.css - on mobile only, use mediaquery

[2019-02-10 17:08] lexoyo opened #889 "jquery UI and pageable.js"
Remove those useless heavy dependencies

* [x] from published websites
* [ ] from editable websites

[2019-02-10 17:13] lexoyo opened #890 "All the panels with prodotype"
For UIs to accept dynamically added editors, we need to re-create these dialogs with prodotype:

* Page properties
* Element properties (this is #886)
* Site properties
* Text properties

[2019-02-10 17:15] lexoyo opened #891 "Config to customise silex"
After #890 UIs need to accept dynamically added editors:

* Page properties, e.g. transitions
* Element properties, e.g. animations
* Site properties, e.g. loader
* Text properties, e.g. css effects

So this means example, docs etc

[2019-02-11 13:16] rijschoolthomas commented on #877
Hi Alex, if the forum is any indication I see that you have been busy lately. But in your last message to me you asked me to confirm if other issues are also fixed.
The answer is No...
Please check the issues I stil have in my answers to you question in the here above post I posted on the 5 of feb.

Cheers,
Michael

[2019-02-11 23:37] Dawnstride opened #892 "Multiple Layered Dropdowns"
I used the code and tried to modify it to make a dropdown menu with multiple layers, but no luck. How would I go about creating a dropdown menu that has multiple layers to it, where when you mouse over each one, it expands with the next layer/menu?

[2019-02-12 06:09] singchan commented on #892
Hello
I'm not sure what menu you tried?
Maybe you need something more simple like
https://codepen.io/andornagy/pen/xhiJH
Or like https://purecss.io/menus/#vertical-menu-with-submenus

[2019-02-12 17:10] lexoyo commented on #877
Hi Michael

Let's take the problems 1 by 1 please, you should create 1 separate issue and when closed you create 1 more ok?

I think some problems come from the fact that a lot of css is duplicated in the HTML boxes, or at least it makes it hard for me to troubleshoot what's happening in your website

[2019-02-12 23:29] lexoyo commented on #877
I need you to select the most important thing and create an issue with it

Then I will either fix silex or tell you what to change in the website

Also if you prefer I can put the previous version online somewhere and you go back to the version saved with the older version of silex ?

On February 12, 2019 11:38:08 AM CST, Michael Thomas <notifications@github.com> wrote:

[2019-02-13 21:09] rijschoolthomas commented on #877
That is very kind of you, but i think it's probably a better idea to follow the silex development. Because if I use an older version now to fix the problems, I'll probably have a problem in the future when I want to change anything on the site.

Okay, will do. Probably the next issue I will create in the next few days is the one concerning the blue balls.

Thanks Alex

[2019-02-14 08:10] Tomygg commented on #857
Thank you lexoyo! I will try to put everything in place inside sections.

[2019-02-14 08:10] #857 closed

[2019-02-15 02:58] justinechacko opened #893 "I did not manage to publish the website. Error when trying to attach a domain to "xxx". Error details: Not Found"
When I try to publish site, I select github in silex.me and selected a folder and added a domain. Then I get "I did not manage to publish the website. Error when trying to attach a domain to "xxx". Error details: Not Found"

[2019-02-15 22:59] lexoyo commented on #893
Hello
What is the repository?
You can create a CNAME file instead in GitHub

[2019-02-16 10:19] lexoyo opened #894 "page down key in Chrome"
It makes silex unusable and one have to open a new window to get it back

[2019-02-16 16:01] lexoyo commented on #860
Here is a loader library
https://github.com/desandro/imagesloaded/

And the loader widget
https://github.com/silexlabs/Silex/issues/676

Also a loader could be designed as an overlay page (#885) and be a property of the page (#882) or the website (select the overlay which is the loader)

[2019-02-16 16:12] lexoyo commented on #860
Preload Pages Based On User’s Intention – instant.page

https://www.cssscript.com/preload-pages-users-intention-instant/

[2019-02-16 18:32] justinechacko commented on #893
I didn't configured the folder early. Now working.

[2019-02-16 18:42] justinechacko opened #895 "How to add more template to the project"
I hosting an instance of silex. How to add more template to it?

[2019-02-16 21:22] lexoyo commented on #895
Hello

Nice to hear that you are doing that!

For now there is no clean way to do that (it should be a list in the config). So for now you need to copy your templates to `node_modules/silex-templates`.

To host your instance, do you add silex as an npm dependency or do you use silexlabs/Silex directly?

[2019-02-17 04:44] justinechacko commented on #895
Hi, thanks for responding. I used, heroku docker button to deploy.

[2019-02-17 13:41] rijschoolthomas opened #896 "Blue info buttons are not working"
The blue info buttons work on the desktop but not on mobile:

This was your answer:
- Some buttons change color but it is complicated to investigate because in all these "cards" you have duplicated the style `<style>div.c {text-align: center;}div.b {text-align: right;}div.a {text-align: left;}h2 {color: white;}p {color: white;}`
![blue button](https://user-images.githubusercontent.com/43305374/529

[2019-02-18 21:25] lexoyo commented on #895
Ok, this is the most basic/easy solution so you have only access to the options exposed through the environment variables, see this doc
https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#environment-variables

The more advanced solution to host silex is to create your own project and ad silex as an npm dependency like explained here (briefly, feel free to ask clarifications o

[2019-02-18 23:06] BaguetteAgile opened #897 "Problème avec DIV.html"
Bonjour @lexoyo

Il y a un souci avec les "DIV.html" c'est à dire qu'en Preview c'est ok, mais lors de la publication les "DIV" restent vides, les liens "html" semblent ne pas être chargés.

Exemple ici:

https://friendly-benz-3eaa5f.netlify.com/itineraire.html

je rencontre ce problème aussi bien sur editor.silex.me que sur preprod.silex.me

[2019-02-19 01:18] lexoyo opened #898 "Hero Section For Silex (widget)"
In many websites today, the first section is exactly the height of your browser window, creating a nice effect.

Here is a [hero image definition in wikipedia](https://en.wikipedia.org/wiki/Hero_image)

As it is already in several template, here is the easyest way to create a hero section in your Silex website.

## Setup

Open a website in Silex and then open the CSS editor (left menu, </> icon, "

[2019-02-19 14:44] Codeer12 opened #899 "My Silex website"
Here is a link to a website I did with Silex:
https://games.ytbros.tk

[2019-02-19 20:47] #44 closed

[2019-02-21 01:59] godzone commented on #691
Hi,

I think I am at last ready to have another go at implementing Silex in our environment.  But it has been quite a long time since I did anything so could you please help me with what I now need to do to get up to date.  I am quite happy to delete all of what I currently have and start again.  What should I download and from where.

Thanks.

Glen

PS: Your patience is much appreciated.  Our chu

[2019-02-21 20:14] lexoyo commented on #691
That is good news Glen :)

Please fork this repository
https://github.com/lexoyo/silex-for-hosting-company

And read this doc
https://github.com/silexlabs/Silex/wiki/Silex-for-hosting-providers

The idea is to have silex as an npm dependency, and to set it up with only 1 custom unifile service and only 1 hosting provider.

[2019-02-21 20:43] godzone commented on #691
Thanks, have done the fork, I’ll now need to look at my integration again.

[2019-02-21 22:57] godzone commented on #691
I get the following error

SSL: looking for env vars SILEX_SSL_CERTIFICATE and SILEX_SSL_PRIVATE_KEY
/usr/local/silex-for-hosting-company/index.js:17
silex.ceRouter.addService( UserDir );
               ^

TypeError: silex.ceRouter.addService is not a function

Here is my index.js

'use strict';

const { SilexServer, DefaultConfig } = require('silex');
const config = new DefaultConfig();
const Cus

[2019-02-22 14:17] Codeer12 opened #900 "iframe doesn´t work when website is published"

[2019-02-22 14:55] lexoyo commented on #691
In the comments of index.js I see

silex.unifile.use(new CustomService());

Can you try that?

[2019-02-22 15:03] lexoyo commented on #900
Can you share the website? Do you use Dropbox or github?

[2019-02-22 15:04] lexoyo commented on #897
Désolé pour le délai, je regarde ça aujourd'hui

[2019-02-22 15:04] lexoyo commented on #896
Hi
I'll look at that today

[2019-02-22 15:05] lexoyo commented on #895
Hi
Did I answer your question?

[2019-02-22 15:08] #893 closed

[2019-02-22 15:09] lexoyo commented on #892
Hi
Did you manage to do what you want?
Can you share the website with the menu?

[2019-02-22 15:14] lexoyo commented on #880
Hi
Did you manage to get the desktop version to work?
CC @JbIPS

[2019-02-22 15:16] lexoyo commented on #871
Hello
Did you manage to do what you want?
Can you tell me more about your use case?

[2019-02-22 15:18] Areahints commented on #880
nope!

On Fri, Feb 22, 2019, 4:14 PM Alex Hoyau <notifications@github.com> wrote:

[2019-02-22 17:13] lexoyo opened #901 "[feature request] Create a "align and distribute" tool"
In the context menu we should have a new tool to align or distribute selected items

Here are source of inspiration
* [indesign](https://helpx.adobe.com/indesign/using/aligning-distributing-objects.html)
* [inkscape (video)](https://youtu.be/URc2SHmyueI?t=87)

We probably want something more simple which can be clicked in the context menu? Or a real tool box?

CC @JbIPS for flora

[2019-02-22 20:26] godzone commented on #691
That line was commented out in the file b before I edited it.  If I uncomment I get

/usr/local/silex-for-hosting-company/index.js:14
silex.unifile.use(new CustomService());
                      ^

ReferenceError: CustomService is not defined
    at Object.<anonymous> (/usr/local/silex-for-hosting-company/index.js:14:23)

[2019-02-22 20:33] lexoyo commented on #691
Yes it is here to show you how to provide a custom service to unifile

On February 22, 2019 2:26:37 PM CST, Glen Eustace <notifications@github.com> wrote:

[2019-02-22 21:18] lexoyo commented on #899
Hi @Codeer12
The nav bar seems to have problems in firefox

[2019-02-22 21:30] godzone commented on #691
I am sorry, I am totally confused.

I want to add my unifiable module so I followed the instructions on https://github.com/silexlabs/Silex/wiki/Silex-for-hosting-providers <https://github.com/silexlabs/Silex/wiki/Silex-for-hosting-providers> under the heading Silex customisation.  It would seem that these instruction don’t match the index.js file that I forked or am I missing something completely.

[2019-02-22 21:42] lexoyo commented on #897
ok de ce que je comprends c'est le composant map qui a un bug

ajoute `&layers=S` à la fin de l'url de la map et ca devrait marcher
ou bien remplace ton composant map actuel sur preprod.silex.me ou j'ai fait ce fix:
https://github.com/silexlabs/Silex/commit/82ea2d97ede8aa733aa64f4527c428b8568c38d6

[2019-02-22 22:33] lexoyo commented on #896
on `opfriscursus.html` the colors are wrong
![screenshot from 2019-02-22 16-16-34](https://user-images.githubusercontent.com/715377/53274987-f72b3180-36be-11e9-9848-89854a886b67.png)

on `angsten.html` the colors are good
![screenshot from 2019-02-22 16-16-32](https://user-images.githubusercontent.com/715377/53274994-fbefe580-36be-11e9-9d9e-32e74cc67bc1.png)

this is because the class `.btn` is de

[2019-02-22 22:34] lexoyo commented on #896
Here are other things i noticed and you should fix:

1- I just re-published the site (preprod chrome) and it fixed the page leerstijlen
![screenshot from 2019-02-22 16-09-51](https://user-images.githubusercontent.com/715377/53274280-5a679480-36bc-11e9-8c3d-9e9c5efab1ca.png)
![screenshot from 2019-02-22 16-07-56](https://user-images.githubusercontent.com/715377/53274282-5a679480-36bc-11e9-9c4c-bcb2

[2019-02-22 22:35] lexoyo commented on #896
When it is done and if it works you can close this issue and open a new one for the remaining issue?

[2019-02-22 22:42] lexoyo commented on #875
correctly detected
* IE

not detected
* safari
* Edge
* opera
* Yandex

[2019-02-22 22:48] #875 closed

[2019-02-22 23:07] BaguetteAgile commented on #897
Il faudrait peut être ré ouvrir le sujet.

Pour la map, c'est ok, j'ai remplacer le composant sur preprod.silex.me

Je rencontre le même souci avec un fichier .pdf ( héberger dans mon Drive de Google) sur cette page, sous "Itineraire concert"

https://distracted-jennings-6c2f9c.netlify.com/agenda.html

et avec une vidéo youtube  sur la page d'accueil du site ( Bizarrement la video n'est plus visib

[2019-02-22 23:16] Codeer12 commented on #900
I use github

[2019-02-22 23:16] Codeer12 commented on #900
https://github.com/Codeer12/ytbrosweb/

[2019-02-22 23:57] BaguetteAgile commented on #897
Pour la vidéo sur la page d'accueil c'est un problème de `z-index`

[2019-02-23 01:16] lexoyo commented on #897
ok je vais regarder pour le pdf

[2019-02-23 16:59] lexoyo commented on #691
Yes it probably changed a little, sorry about that

I'll look into this today

Feel free to contact me on Silex Labs chat if you prefer

On February 22, 2019 3:30:07 PM CST, Glen Eustace <notifications@github.com> wrote:

[2019-02-23 19:45] godzone commented on #691
Because of the timezone e difference, email is probably easier.

At present, there is no urgency about this project so I don’t mind using email.

Glen.

[2019-02-24 05:39] justinechacko commented on #895
Hi, Sorry for the delay, So I need to ssh to server and copy templates to node_modules/silex-templates?

[2019-02-24 15:49] rijschoolthomas commented on #896
Alex, I'm afraid one problem is leading to another.
I first tried your advice to  re-published the site with preprod chrome.  It did not fix the <iframe> problem. The problem just jumpes between contactformulier.html and leerstijlen.html every time I renew the <frame> code and publish it. At the moment both are not showing at all.

As advised I also removed the style from all the buttons "Contactf

[2019-02-24 23:15] lexoyo commented on #895
this is one option but I prefere to do it like this:
* import silex in my project as an npm dependency
* create a folder with my new templates
* in the post build script of my project, add a command to copy all my templates to silex template directory

I have made [an example of this here](https://github.com/lexoyo/silex-for-hosting-company). Feel free to ask any question

[2019-02-24 23:34] lexoyo commented on #895
this is a little gif to show how it look like
![customize-silex-add-template](https://user-images.githubusercontent.com/715377/53307090-caac1c80-385a-11e9-8d93-118a473d79a1.gif)

[2019-02-24 23:40] JbIPS commented on #901
Ping @Fluoflo

[2019-02-24 23:47] lexoyo commented on #691
@godzone I took some time to make a complete example with code and documentation

Here it is, in the same repo as before: https://github.com/lexoyo/silex-for-hosting-company

Could you read the readme and tell me what you think? Feel free to fork it and propose changes

First you will need implement a [custom authentication strategy here](https://github.com/lexoyo/silex-for-hosting-company/blob/ma

[2019-02-24 23:48] lexoyo commented on #691
Oh and could you open a new issue for your specif case please

[2019-02-25 13:45] Codeer12 commented on #899
it is only html,  but will modifiy

[2019-02-25 14:52] lexoyo commented on #899
You can do the same with text boxes and links (see properties link, then select a page)

[2019-02-25 18:15] justinechacko commented on #895
Ok, close it.

[2019-02-25 18:16] #895 closed

[2019-02-26 09:10] bpmottathai opened #903 "How to create a template for silex"
Can I Just add an html template from locally, or do I need a special files like editable.html? How to create an editable.html file?

[2019-02-26 18:12] lexoyo commented on #903
You need to create the template in Silex. It has specific HTML markup for Silex to manage pages, drag/drop zones etc

Also I made a doc to describe what is a good template: https://github.com/silexlabs/Silex/wiki/Create-templates-for-Silex

[2019-02-26 18:55] #897 closed

[2019-02-26 18:55] #900 closed

[2019-02-26 18:57] lexoyo commented on #897
J'ai enfin trouvé, il fallait sauver en ayant une autre page ouverte et ensuite publier
Le fix est sur preprod.silex.me
https://github.com/silexlabs/Silex/commit/153878d04588ce550a182f2be6d4877fe5b1fcc9

[2019-02-26 18:58] lexoyo commented on #900
Ok I found the bug, the fix is live on https://preprod.silex.me
https://github.com/silexlabs/Silex/commit/153878d04588ce550a182f2be6d4877fe5b1fcc9

Thx for the bug report

[2019-02-26 18:59] lexoyo commented on #900
pour fix ton site, refresh preprod.silex.me, ouvre ton site, sauve le puis publie

[2019-02-26 19:00] lexoyo commented on #900
sorry, in english:

to fix your site, open in on preprod.silex.me, save it and publish again

[2019-02-26 19:00] lexoyo commented on #897
pour fix ton site, refresh preprod.silex.me, ouvre ton site, sauve le puis publie

[2019-02-26 23:23] Codeer12 commented on #900
For some reason, it still doesn’t work?

[2019-02-26 23:27] Codeer12 commented on #900
Nevermind, I found out it's a bug in my CDN.

[2019-02-26 23:27] Codeer12 commented on #900
Not the iframe bug

[2019-02-27 00:01] lexoyo commented on #900
So the iframe works?

[2019-02-27 03:44] Codeer12 commented on #899
Ok, but will it look like the buttons if I use text?

[2019-02-27 05:11] bpmottathai commented on #903
Thanks for responding.

[2019-02-28 01:08] lexoyo commented on #899
You can design it like buttons yes
For example you can put a text in a container and add a border and background color to the container
You can add rounded corner to the container too

[2019-02-28 20:46] lebounavo commented on #858
Hello,

Why don't first let it work with html code ?

I put two New HTML Boxes with the following code on the same page :
<p> <a id="TitreToto"> New HTML box Titre 1</a></p>
<a href="#TitreToto">New HTML box Back to top</a>
The link always send me on Page one.
(Only 1 html file for this testing site).

As for the ID field, both @lexoyo's positions are natural enough to seek this field. I see two m

[2019-03-01 18:25] MACscr opened #904 "dynamically set destination?"
Hmm, right now Im using a custom editor that i have made that stores/pulls the editable content from a mysql table, but then when published, creates the html from that. I need a more robust editor though and am looking to see if silex can be used instead.

If I use a single sftp user/pass for multiple servers, would there be a way to dynamically set what server I need to connect to for storing the

[2019-03-01 18:47] MACscr opened #905 "Custom Elements"
I need the ability to create custom elements. Lets say I want to have an html button with a predefined attributes, etc. I need to have quite a few different things like this such as another button for creating a input field, drop down list, etc. Right now you have something that creates a whole form, but Im wanting to be able to create the individual elements and with predefined attributes, so hop

[2019-03-01 20:06] MACscr commented on #905
Ah, looks like https://github.com/lexoyo/silex-for-hosting-company might be what I am looking for. Thanks!

[2019-03-01 20:06] #905 closed

[2019-03-01 20:21] lexoyo commented on #905
Yes exactly
Feel free to create documentation and ask me for help

⁣WhatsApp : +33676683806
Skype : alex.hoyau​

On Mar 1, 2019, 2:06 PM, at 2:06 PM, Mark Chaney <notifications@github.com> wrote:

[2019-03-01 20:24] MACscr commented on #905
Should I be opening issues here in regards to that custom repo? It doesn’t seem to have its own issues.

- Mark

[2019-03-01 20:28] lexoyo commented on #904
Hello

There is a concept of storage services in Silex. For example the GitHub service, ftp service etc.

If you implement a MySQL service you can store everything including images in a MySQL database.

is this what you need to do?

[2019-03-01 20:31] lexoyo commented on #905
Yes please do that here

⁣WhatsApp : +33676683806
Skype : alex.hoyau​

On Mar 1, 2019, 2:24 PM, at 2:24 PM, Mark Chaney <notifications@github.com> wrote:

[2019-03-01 20:32] MACscr commented on #904
Oh, I was just stating how my existing system worked. I would be creating a new way to do it with Silex. What i wanted to be able to do is pass url variables to Silex to automatically set the storage destination and page file names, etc, so wondering if there are js functions in Silex that i can reference with js to set such things dynamically.

[2019-03-01 20:51] lexoyo commented on #904
Oh ok
It is easy for storage services and hosting providers.

For example you could have a service which presents folders which are actually other things than folders

But I think that you would like to have a Silex without even a file browser?

If you just want to open a website passed in the URL you could use the "debug" script which is loaded before Silex starts

Look at this:
https://github.co

[2019-03-01 23:35] MACscr opened #906 "silex-for-hosting-company wont build"
Seems to be an issue with iconv? Im no nodejs expert and not sure what eversions are needed for anything. I havent really seen a system requirements thread besides needing java and nodejs.

[code]

[2019-03-01 23:42] MACscr commented on #906
Additional info:

[code]

[2019-03-01 23:58] lexoyo commented on #787
Hi @bright-ic any news about your install? Did it work with docker?

[2019-03-01 23:58] lexoyo commented on #906
I can see the same error here
https://github.com/silexlabs/Silex/issues/787

Can you confirm that it is the same error and join the discussion there?

[2019-03-02 00:03] lexoyo commented on #906
Forget it it is probably a different one
What is your OS? I guess it is a MacOS @MACscr ?

In any case look at these discussions, they suggest several solutions
https://github.com/bnoordhuis/node-iconv/issues/167
https://github.com/bnoordhuis/node-iconv/issues/69
https://stackoverflow.com/questions/22432144/cannot-find-module-build-debug-iconv-node