[2020-04-27 21:37] #1024 closed

[2020-04-28 12:59] sharathc10 commented on #1023
Yes - I did.  I would like to run the Silex server (silex.start) from within an Angular App.  Look here for something similar done for grapesJS:
https://github.com/janCstoffregen/grapesJSAngular4/blob/master/src/app/awesome-component/awesome-component.component.ts

[2020-05-01 18:37] #719 closed

[2020-05-01 18:37] #720 closed

[2020-05-01 18:42] #658 closed

[2020-05-03 11:37] sachi21kad opened #1025 "Editor UI not working"
silex editor UI not working with firefox 75 64bit. I am facing issue setting height and width.

[2020-05-03 11:58] lexoyo commented on #1025
Hello
Can you be more precise please about what is the bug?
Also are you using editor.silex.me ?

[2020-05-04 06:37] sachi21kad commented on #1025
unable to set height and width. edit cursor jumping and unable to enter desire number.

![issue001](https://user-images.githubusercontent.com/64732410/80941218-7e198500-8dff-11ea-953d-9f647ab9b5a3.PNG)
![issue002](https://user-images.githubusercontent.com/64732410/80941219-7f4ab200-8dff-11ea-816f-45de0910a815.PNG)

[2020-05-04 06:39] sachi21kad commented on #1025
I am using windows 8.1 64bit OS.

[2020-05-04 08:54] lexoyo commented on #1025
ok thank you for the bug report

you are using the online instance provided by silex labs on https://editor.silex.me right?
what is your browser?

[2020-05-04 09:11] lexoyo commented on #1023
An important part of Silex is server side, it needs an API to read / write data
Then you can start silex like this: https://github.com/silexlabs/Silex/wiki/Single-site-mode#activate-the-single-site-mode

[2020-05-04 09:12] lexoyo commented on #1023
I advise you to include Silex as an iframe in your angularjs app

[2020-05-05 06:42] sachi21kad commented on #1025
I used Google chrome Version 81.0.4044.129 , firefox mozilla browser 75 64bit.
Please check issue in attached screen capture video, have a look at height settings.
[SilexIssue1025.zip](https://github.com/silexlabs/Silex/files/4579152/SilexIssue1025.zip)

[2020-05-05 17:18] lexoyo commented on #1025
Ok I see
Thank you for the bug report, I'll try to fix this by the end of the month

[2020-05-06 08:14] BaguetteAgile commented on #272
@lexoyo

Salut Alex, je confirme ce petit bug, Silex charge bien toutes les photos de l'adresse Flickr, mais la galerie, ne reste pas dans la zone HTML défini lors de la conception du site, ce bug existe même en prévisualisation.

Par contre en publication du site, la page reste vierge ...

Voici un lien https://baguetteagile.github.io/essaiSilex/

[2020-05-06 20:19] canDry commented on #880
Same issue as OP... tried executing appimage... nothing, nada, zip.  (ubun 18LTS w node V13.7)

[2020-05-06 21:29] lexoyo commented on #880
Hi
Can you try to install nodejs 10 (or 10.x.x) and do this commands please?

[code]

To get node version 10 you can use nvm

[2020-05-06 21:54] canDry commented on #880
![Screenshot from 2020-05-06 17-50-40](https://user-images.githubusercontent.com/8286540/81232173-676f5b80-8fc2-11ea-983a-3d39ecc68e3b.jpg)

Thanks for the quick response Alex.  Used nvm to install/switch to v10.0.0  seems to be the same result.

[2020-05-08 15:49] sharathc10 commented on #1023
Thanks!  I was able to successfully run Silex within an iframe in an angular 2 app.  I was also able to add components using the ejs and yml files.  Is it possible to add components using json data and can it be done dynamically while the app is running instead of by copying files into the silex-website-builder directory?

[2020-05-09 00:36] lexoyo commented on #1023
Ok great

As you probably saw, the components are "compiled" to a json file with Prodotype
https://github.com/silexlabs/Prodotype

1- What you can do is generate a similar json file. You can also use Prodotype to build custom components

2- You can also add the path to the folder containing the json file to the config, on client side, when you initialize silex like this
https://github.com/silexlab

[2020-05-09 16:25] lexoyo commented on #880
Ok I'm out of options then :(
Would you try with docker?
You have instructions in the readme

[2020-05-10 20:59] lexoyo commented on #880
I have reinstalled my OS and I was able to reproduce
I found the bug, this will be live soon
cc @JbIPS

[2020-05-10 21:07] canDry commented on #880
Your dogged determination is impressive!  Thanks for digging into the problem.

[2020-05-11 06:57] lexoyo commented on #880
@JbIPS I merged into master and was expecting the release to be available as before as a draft but it never came... Do you know why?

[2020-05-12 22:58] JbIPS commented on #880
I see a draft for [2.5.61}(https://github.com/silexlabs/Silex/releases/tag/untagged-a1f9681fe932bd8eefe4) in the release panel. Isn't that the one?

[2020-05-12 23:31] lexoyo commented on #880
This was me, by Hans :(

On May 13, 2020, 00:59, at 00:59, Jean-Baptiste Richardet <notifications@github.com> wrote:

[2020-05-13 07:30] JbIPS commented on #880
Thank you Hans 😁 !

Maybe the arrival of GitHub Actions stopped our workflow?

[2020-05-13 12:26] lexoyo commented on #880
Could you document here what you did? Was it in travis?
If you don't remember it's ok, I'll try to figure it out
Thx

[2020-05-13 22:13] JbIPS commented on #880
Yes, it was a Travis job, configured [here](https://github.com/silexlabs/Silex/blob/develop/.travis.yml)

[2020-05-13 22:19] lexoyo commented on #880
Ok thx

On May 14, 2020, 00:18, at 00:18, Jean-Baptiste Richardet <notifications@github.com> wrote:

[2020-05-14 19:24] BaguetteAgile opened #1027 "Gallery and Slideshow widget for Silex #272"
Hello I seem to be having an issue using the gallery function. when i load up my site the gallery lists the images in full instead of confining them to the size of the html box. the images stay with in the top and side of the element but disregards the height value that was set. Thanks

@lexoyo

Salut Alex, je confirme ce petit bug, Silex charge bien toutes les photos de l'adresse Flickr, mais la

[2020-05-14 19:37] BaguetteAgile commented on #1027
@lexoyo

Salut Alex, ci-dessus le post que tu as pas eu le temps de voir.

Suite au changement du code JS, il y a du mieux ;) maintenant la galerie est visible quand le site est publié.

Cependant il reste un problème majeur, la galerie ne reste pas dans la section HTML définie ( en rose sur le lien)  lors de la conception du site.

En CSS " slideshow" les photos restent bien dans la section HTML,

[2020-05-15 19:13] lexoyo commented on #1027
Ok je regarde ça bientôt, désolé pour le temps de réponse

[2020-05-26 15:04] DurtyDev commented on #927
I Have Visual Studio Running and all the time in the world, I require a little guidance , like write the command line I need to use . I have sandbox and VM also. VS might have an extension to exe it really quick

[2020-05-26 15:31] lexoyo commented on #927
Hello

1- You would need to [install silex locally](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#local-installation-on-windows) on a windows computer then on a mac

2- Then run the command `node_modules/.bin/electron-builder -p never` on each install, this will produce the files needed for windows and mac

Let me know if you can go through these steps?

[2020-05-26 15:38] lexoyo commented on #880
YEAH
https://github.com/silexlabs/Silex/releases/tag/v2.5.61

Please someone test :sweat_smile:

[2020-05-26 16:20] DurtyDev commented on #880
I'm working on exe now. I'm thinking though the best way

On Tue, May 26, 2020, 11:38 AM Alex Hoyau <notifications@github.com> wrote:

[2020-05-26 16:33] DurtyDev commented on #927
I'm don't have a Mac .

On Tue, May 26, 2020, 11:31 AM Alex Hoyau <notifications@github.com> wrote:

[2020-05-26 17:16] lexoyo commented on #927
Widows would be nice :)
Let me know if you can follow the steps on windows

[2020-05-26 17:31] DurtyDev commented on #927
I'm running Visual Studio 2019 On Windows 10. I just got done checking for
errors. Gonna go ahead and build. No errors found what so ever

On Tue, May 26, 2020, 1:16 PM Alex Hoyau <notifications@github.com> wrote:

[2020-05-30 16:32] Keestroep opened #1028 "Add css and javascript"
Hello,

I am new to Silex and am still learning.
But somethind i do not understand.

How do i add stylesheets and Javascrpt AND save them thru the editor.
I know i can add a stylesheet, i know there is a css edit, but how to i connect my css code to the added stylesheet.
Same for Java script.

Please help.

Regards,

Kees

[2020-05-30 17:01] DurtyDev commented on #1028
On the left side where you see <> click on the<>

On Sat, May 30, 2020, 12:32 PM Keestroep <notifications@github.com> wrote:

[2020-05-30 17:06] DurtyDev commented on #880
For some reason Visual Studio Community 2019 is requiring that I build
everything step by step

On Tue, May 26, 2020, 12:19 PM Captain Crazy <captaincrazy240@gmail.com>
wrote:

[2020-05-31 08:53] Keestroep commented on #1028
Thanks,

But still not clear to me.

On the left site i have a stylesheet editor.
But i cannot give the fie a in the editor. Can i ?

Normally i have a directory with several css files.

I can drag/drop the file into Silex, but how do i edit the one i dropped?
On the right site i see Style Name, where i can change properties of default delivered stylehseet.
But can i also edit them with the css ed

[2020-05-31 13:24] lexoyo commented on #1028
hi @Keestroep

i'm not sure i understand what you mean by "i cannot give the fie a in the editor. Can i ?"

here is a doc about [Silex and CSS](https://github.com/silexlabs/Silex/wiki/Silex-CSS-editor) and here is one for [Silex and JS](https://github.com/silexlabs/Silex/wiki/Silex-and-Javascript). i believe they are up to date more or less, feel free to update the docs, it's open

also note that

[2020-05-31 14:43] Keestroep commented on #1028
Hi,

This morning i re-read the documentation.
I think i get the point now.
I will try to execute the instructions in the documentation.

Thank you for helping.

Regards,

Harry

[2020-05-31 22:57] lexoyo commented on #880
hey @DurtyDev yes i guess you have to follow all the steps
but i finally managed to create all the apps (windows, mac and linux) automatically
could you test these apps?
https://github.com/silexlabs/silex-desktop/releases

[2020-06-01 07:03] DurtyDev commented on #880
I was missing didn't have node or react installed. Congratulations. So you
have a working exe?

On Sun, May 31, 2020, 6:57 PM Alex Hoyau <notifications@github.com> wrote:

[2020-06-01 08:19] Keestroep commented on #1028
Hi,

Maybe i asked the wrong question.
I usually use this html statement in my idex.html file to reference my stylesheet(s)

<link rel="stylesheet" href="assets/stylesheets/mystylesheet.css" type="text/css" media="screen" />

I suppose this works different with Silex, because i do no see a possibility to add files in a directory of my website.
Am i correct ?

Regards,

Kees

[2020-06-01 09:26] lexoyo commented on #1028
It is recommended to use case only when necessary with silex, see the widgets (link in menu "?"). This is because css can mess up the editor

That said you can add your css in silex CSS editor, then it will create an external CSS file at publish time. You can add external CSS files too : use the file explorer (menu "cloud") to upload the files and import them in the HTML editor

On Jun 1, 2020, 10

[2020-06-01 09:28] lexoyo commented on #880
I think so, but I only have tested the Linux app

Would you like to help and give the windows app a try ?

On Jun 1, 2020, 09:04, at 09:04, DurtyDev <notifications@github.com> wrote:

[2020-06-01 16:30] Keestroep commented on #1028
That is the part is have trouble with.

I have a css file in Dropbox.
I use Cloud - File Explorer to select this file.

But then nothing happens.
When i click the CSS editor, i see nothing.
When i publish the website to Github, no extra files is created.

What am i doing wrong?

[2020-06-02 03:21] HanzHaxors commented on #797
Waiting for Windows version 🥳 ⌛

[2020-06-02 06:18] lexoyo commented on #797
Hi @HanzHaxors
There is one since yesterday! :)
https://github.com/silexlabs/silex-desktop/releases
Let me know what you think about it

[2020-06-02 06:23] lexoyo commented on #1028
Oh ok
You need to copy and paste the content of the file to the CSS editor, this is the easiest way

[2020-06-02 23:39] DurtyDev commented on #1028
It also works better if you use .less css, it's Jade now known as PUG.
Silix also utilizes the Monaco Editor which you can update from the
Microsoft repository. Because of Visual Studio insisting that a step by
step build take place, I now have an appx package for UWP all I really have
to do for a fully functional is insert the silex.me server.

On Tue, Jun 2, 2020, 12:48 PM Keestroep <notificatio

[2020-06-03 16:12] #1028 closed

[2020-06-04 00:23] HanzHaxors commented on #797
Nice work! I appreciate it :)

On 02/06/2020, Alex Hoyau <notifications@github.com> wrote:

[2020-06-05 18:21] #797 closed

[2020-06-05 18:21] #986 closed

[2020-06-05 18:21] #990 closed

[2020-06-05 18:21] #1006 closed

[2020-06-05 18:21] #1008 closed

[2020-06-05 18:21] #1012 closed

[2020-06-05 18:21] #959 closed

[2020-06-05 18:21] #971 closed

[2020-06-05 18:21] #995 closed

[2020-06-06 15:59] lexoyo commented on #998
Salut @AAODC

Désolé j'ai mis bcp de temps a répondre, j'ai fait un gros boulot de refactoring, je viens de mettre en ligne pas mal de correctifs aussi

@BaguetteAgile désolé aussi, je suis de nouveau dispo pour des questions et bug fix

[2020-06-06 15:59] lexoyo commented on #998
I just released a new version with lots of bug fixes but a lot of refactoring too so maybe other bugs too.

It is live, please help me test it : https://preprod.silex.me/

cc @clemos @molyrichez

[2020-06-07 04:56] canDry commented on #880
Tried again, running the latest AppImage (using 10.0 and 14.4) and get this:
`> ./silex-desktop-2.6.0.AppImage

Something went wrong installing the "sharp" module

libvips-cpp.so.42: cannot open shared object file: No such file or directory

- Remove the "node_modules/sharp" directory, run "npm install" and look for errors
- Consult the installation documentation at https://sharp.pixelplumbing.com

[2020-06-07 05:43] lexoyo commented on #880
Hi
Yes I got this too which is why I wrote this in the docs

Let me know if it works

I should probably add a test for this in the code and give a better error?

On Jun 7, 2020, 06:57, at 06:57, canDry <notifications@github.com> wrote:

[2020-06-07 07:05] canDry commented on #880
Sorry about missing that bit.

Just went to install and got this:

[code]

**257MB of added stuff on my system... that's an 'N'.**

[2020-06-07 18:01] lexoyo commented on #880
Oh right :)
I'll see if I can get rid of this lib

[2020-06-11 07:38] lexoyo commented on #880
hey @canDry
could you try [the v1.6.1 version](https://github.com/silexlabs/silex-desktop/releases/tag/v2.6.1) please? I added a check and do not crash if the vips-devel lib is not installed (I just disable the thumbnail in the file browser)

[2020-06-11 21:13] Rom025 opened #1030 "Help for mobile version"
Hello,
I would like to modify the mobile version of the web site I have developed,  It’s seem it’s not possible to change easily the position and the size of elements. Is a tutorial existing for mobile version ?

[2020-06-12 10:32] lexoyo commented on #1030
Hi @Rom025

Did you check the [list of tutorials](https://github.com/silexlabs/Silex/wiki/tutorials-and-guides) ? Not sure if there is something there about mobile version... I would love a contribution on the wiki to explain how it works

The basic things to understand are these:

1. when you switch to mobile editor, all the elements are made "static" which is the opposite of "absolute". It means

[2020-06-14 12:05] Keestroep opened #1031 "Animation not working"
Hi,
For two days i try to add an animation into my website, but i am failed to do so.
The animation does not show.
Please help.

I used #87 as instruction.

I made a very basic template with one html box and one text box

On github i have a branch "rotzooi" with a sub-dir "css" where i put the "animate.css" file

CSS Editor
	.paged-element-hidden.animated {  animation-name: none !important;}

Java

[2020-06-14 20:44] Rom025 commented on #1030
Thank you for your usefull answer, I will try with your advice. if I feel comfortable with the mobile version i will find time for create a page in the wiki.
thank you
Romuald

[2020-06-15 19:04] lexoyo commented on #1031
Hi @Keestroep

This post is quite old (2014) so I updated with the latest version of animate.css

Read the updated post and see that you need to do this

1. remove the "document.write" line from the JS editor, and add a line to the HTML Head editor instead
2. change the css class of the animation with one of the new names

Let me know if you need more help

[2020-06-15 19:05] lexoyo commented on #87
I just updated this widget with the latest version of animate.css

[2020-06-15 19:07] lexoyo commented on #1031
Also if you make screenshots for the new version, maybe we could add them to the widget
Or a video or text corrections
That would be cool

[2020-06-15 19:13] lexoyo commented on #445
This widget is obsolete as @nielshuisman said with the recent versions of Silex (with multiple html files for pages)

Contributions are welcome to integrate https://jeremyckahn.github.io/mantra/
Or this issue: #860

[2020-06-15 19:13] #445 closed

[2020-06-16 16:47] Keestroep commented on #1031
Yes,

This worked for me.

Simple example:
- download the file animate.min.css and put it in the css directiry

- Create a hmtl box

![html_box](https://user-images.githubusercontent.com/66176403/84802712-46f2e200-b001-11ea-980f-64b7d1884613.PNG)

- open the HTML head editor (in the menu "< />") and paste this code anywhere.
<link href="./css/animate.min.css" rel="stylesheet">

![html_editor](http

[2020-06-23 18:54] DurtyDev opened #1032 "Silex.exe Like a Dream"
Silex 2.5.60 exe for windows worked amazing in Windows  Sandbox. No problems  with the program  itself .
I did however  encounter problems  with. Windows Defender trying to block the download , and Firewall  notification , blah blah, on that .
As for the Windows Defender, the file has no signature, or certificate.
I am going to run silex in the windows 10x  emulator while I whip up a few templates

[2020-06-24 12:18] gravinyl commented on #998
Hello,
I'm using the preprod.silex.me because the editor.silex.me is not even working.
I get this "Error: I did not manage to open this file. Unexpected token w in JSON at position 5" when I try to open the page on editor.silex.me .
I'm able to open and edit in the preprod.silex.me but I'm pointing the links to their destination but then it's not actually saving these changes.
So when I reopen the

[2020-06-24 13:32] lexoyo commented on #998
Hi @gravinyl

Preprod is where you can test the beta version of silex, si it is bugguy right now
You cannot open her website saved with preprod.silex.me on editor.silex.me, the upgrade works but not downgrade

[2020-06-24 13:32] lexoyo commented on #998
I will look at the links to see  if I reproduce your bug

[2020-06-26 17:34] nicodt opened #1033 "Sections Not Displaying on landing page"
I have more than once section on my landing page but only the first one will display when opening the webpage only when I select the menu again eg. Home all the sections display. Nice tool though!!!

[2020-06-26 22:12] lexoyo commented on #1033
Hi @nicodt

I believe I saw this in preview of a website but it will not affect the site after publication
https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website

Can you confirm?

Also this should be fixed in the next release

[2020-06-27 22:18] DurtyDev commented on #1030
850x1020 seems to be the magic number

On Sun, Jun 14, 2020, 4:44 PM Rom025 <notifications@github.com> wrote:

[2020-06-29 20:06] nicodt commented on #1033
Hi @lexoyo it in fact does influence my website after publication exactly the same as what it influenced it in the reactive viewer.

[2020-06-29 21:02] lexoyo commented on #1033
Could you show me an example please?

[2020-06-29 21:05] lexoyo commented on #1032
Hello
Thank you for your feedback
I understand that it works well but it would be better if signed ?
I am not sure what I can do?

[2020-06-30 06:30] nicodt commented on #1033
@lexoyo Sure just remember I am an embedded Linux developer :-) hence using the tool.
[rushiv](www.rushiv.co.za) is the hosted site and is live. Just a small caveat I have just sofar designed for mobile there is basically nothing on my desktop view as of yet hope this does not have an effect so to experience what I am experiencing take a mobile view rather you will see only the top section/div wil

[2020-06-30 06:52] lexoyo commented on #1033
Ok I see
This is the preview version
You need to publish it with the "publish" command from the "cloud" menu

[2020-06-30 07:33] DurtyDev commented on #1032
There's a couple ways. You can create your own certificate in power shell , but it doesn't hold weight unless you get yourself a Microsoft Developers License. That gives you CODE signing. Makes your certificate hold weight.
You could also use the GNU PUGP tool that most Linux systems have.
DigiCert [](https://www.digicert.com/code-signing) is the most common but its like $500 a year.
Microsoft is

[2020-06-30 08:13] lexoyo commented on #1032
That would be nice !
Would you be able to do this? Silex Labs can pay the $20 per year
The idea is to add the certificate to the github actions that build the app?

[2020-06-30 08:44] nicodt commented on #1033
@lexoyo ok when in doubt RTFM (read the fucking manual) thanks dude you are legend.

[2020-06-30 08:54] #1033 closed

[2020-06-30 12:35] BaguetteAgile commented on #1027
Salut @lexoyo
si tu as le temps disponible pour jeter un coup d’œil sur cette adaptation du code ...
Merci et a bientôt.

[2020-06-30 23:20] DurtyDev opened #1034 "Trying to get prodotype to run as a web app"
attempting to create a web app from prodotype , and silex templates.
get everything together in a node.js
npm install electron
npm install silex
npm install silex templates
npm build doesn't work, however i can choose build from options.
the server says type= text
any sugesstions? using windows visual studio 2019

[2020-06-30 23:44] DurtyDev commented on #1032
My friend I have a MS Dev until  2066
![WDl](https://user-images.githubusercontent.com/59315040/86186958-927cb400-bb08-11ea-9623-757051abfae4.jpg)
When the app is built, it needs to have a certificate attached.
I know I can self sign using power shell.
Let me do a little research on that.
Heck that certificate also lets me place apps in the Microsoft Store. Something to think on...free to use , of

[2020-07-01 00:06] DurtyDev commented on #1032
[](https://help.github.com/en/github/authenticating-to-github/about-commit-signature-verification)
You gotta use a GPG key.
The windows has to be done on local computer or via RDP

[2020-07-02 06:14] lexoyo commented on #1032
Free certificate would be even better, but 20$ a month is feasable
The GPG key once generated needs to be used by github action + electron builder to create the app and make a release automatically

[2020-07-02 06:16] lexoyo commented on #1034
Hi
You should look at how [the app hosted on editor.silex.me](https://github.com/silexlabs/editor.silex.me) is done
Is it what you are trying to do? Let me know if you have questions

[2020-07-02 07:28] DurtyDev commented on #1034
Yes sir.

On Thu, Jul 2, 2020, 2:17 AM Alex Hoyau <notifications@github.com> wrote:

[2020-07-02 07:37] DurtyDev commented on #1032
Comodo does certs also. The main purpose of the certificate is to verify
that the program is legitimate and not a fake with some kind of malicious
code. Also signs any .dlls  (drivers)used to shield against swapping in the
event of a breach

On Thu, Jul 2, 2020, 2:14 AM Alex Hoyau <notifications@github.com> wrote:

[2020-07-04 12:15] gravinyl commented on #998
Hello,

 

I think I did a big mess, because I saved the original project on the preprod version and now I'm not able to open it on the editor version...

 

I get the message "error: I did not manage to open this file. Unexpected token w in JSON at position 5".

 

 

I can actually open it on the preprod version but when I try to publish it I get the message "An error ocurred I did not manage to

[2020-07-04 17:20] lexoyo commented on #998
Hi
Yes I will look into this
Could you share your website with me pls? Are you using github or dropbox?

[2020-07-04 17:53] lexoyo commented on #1027
Salut Baguette
Pour moi ca marche plutot bien, c'est normal que ca dépasse
Si tu veux que la hauteur de la galerie grandisse avec les images, utilise la nouvelle option "layout" sur preprod : mets la html box en "automatic"
Si tu veux des scroll bar et que la galerie ne dépasse pas, mets la classe css "overflow" sur le container (l'intérieur de la section qui est en rose) et ce code dans le css ed

[2020-07-04 17:53] #1027 closed

[2020-07-04 17:59] lexoyo commented on #1031
Cool! thx for the screenshots :)

[2020-07-04 17:59] #1031 closed

[2020-07-13 09:30] gravinyl commented on #998
Hi,

 

The site is gravinyl.com, I'm using dropbox.

 
 

Sent: Saturday, July 04, 2020 at 6:21 PM
From: "Alex Hoyau" <notifications@github.com>
To: "silexlabs/Silex" <Silex@noreply.github.com>
Cc: "gravinyl" <gravinyl@gmx.com>, "Mention" <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] New version of Silex, testers wanted (#998)

 

Hi
Yes I will look into this
Could you share your we

[2020-07-13 13:42] lexoyo commented on #998
Ok then, please share it with me (a.hoyau [at] im-paris.fr)

[2020-07-13 13:44] lexoyo commented on #998
I like the site https://gravinyl.com/ !!!
It looks great !

[2020-07-14 08:51] lexoyo commented on #998
@gravinyl I had a look and it loads fine in https://preprod.silex.me/
Could you try again please?

[2020-07-14 10:37] DurtyDev commented on #998
another exe too? That would be awesome. Speaking of which I figured out
another reason could cause a few of the very minor bugs. It's running out
of the appdata\temp\folder. Needs to be run from the Programs (or Programs
(x86)for 32bit.

On Tue, Jul 14, 2020, 4:51 AM Alex Hoyau <notifications@github.com> wrote:

[2020-07-14 15:20] DurtyDev opened #1035 "Attempting to create sticky header or nav doesn't work"
Tried 100 different ways . Mr  Silex ain't having it.  Even tried to go Html 4.0 frameset
nothing.

[2020-07-15 14:51] BaguetteAgile opened #1036 "Publication impossible avec Silex Editor et Preprod"
Salut @lexoyo

J'ai ajouter une page a mon site internet en utilisant le widget suivant: https://github.com/silexlabs/Silex/issues/272
et depuis impossible de publier le site.

Je t'ai laisser accès a ma dropbox, si tu as le temps de jeter un coup d’œil.
merci. ( rien de presser ;) )

![Capture du 2020-07-15 16-43-40](https://user-images.githubusercontent.com/35597855/87559688-e8ca2500-c6ba-11ea-9

[2020-07-16 15:09] BaguetteAgile commented on #1036
J'ai repris un ancienne version de mon éditalble.html ( fonctionel ) et impossible de publier dans un dossier, par contre ça fonctionne sur gh-pages !!

Le fichier editable pour toi se somme: editable-slideshow-alex.html

[2020-07-16 15:57] BaguetteAgile commented on #1036
Je confirme que le premier fichier editable .html qui posait problème ( donc le site web avec la nouvelle page incluant le slideshow ) est bien fonctionel sur gh-pages.

La publication a bien fonctionné.
Ce serai l'écriture dans la dropbox qui poserait un souci ?

[2020-07-17 06:06] lexoyo commented on #1036
Ah intéressant
Tu as suffisamment d'espace sur Dropbox ?

On Jul 16, 2020, 18:02, at 18:02, BaguetteAgile <notifications@github.com> wrote:

[2020-07-17 12:40] BaguetteAgile commented on #1036
Espace utilisé : 1,51  Go sur 2,25  Go

[2020-07-17 13:14] BaguetteAgile commented on #1036
Je viens de refaire un essai dans dropbox, la publication est passé, seulement il manque dans le dossier css et js le nécessaire au fonctionnement de la gallery slideshow...

Faut-il ajouter manuellement les fichiers, où Silex a un souci de publication avec plusieurs source css et js ?

[2020-07-21 09:28] gravinyl commented on #998
Hello,

 

I will have a look and try again soon then.

Nice you liked the site. :)

I'll say something soon.

Thanks

 

Flávio

 

 

Sent: Tuesday, July 14, 2020 at 9:51 AM
From: "Alex Hoyau" <notifications@github.com>
To: "silexlabs/Silex" <Silex@noreply.github.com>
Cc: "gravinyl" <gravinyl@gmx.com>, "Mention" <mention@noreply.github.com>
Subject: Re: [silexlabs/Silex] New version of Silex, te

[2020-07-21 11:55] nicodt opened #1037 "Foldable or Tooltip"
Hi, I am looking to have a section of text and if you click on it, it will expand with some more text preferably smaller.
Or alternatively, I would like a hover over tooltip. Any advice would be greatly appreciated.

[2020-07-21 17:01] lexoyo commented on #1037
For the expandable text, would you want something like this?
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details

For the tooltip, simply add text to the "title" property of an element and it will appear on hover

On Jul 21, 2020, 13:56, at 13:56, nicodt <notifications@github.com> wrote:

[2020-07-22 17:34] BaguetteAgile commented on #1036
@lexoyo
maintenant en preview et en publication, il y a ce message d'erreur

`Error loading flickr gallery. flickr error: Invalid API Key (Key has invalid format)`

[2020-07-22 19:45] lexoyo commented on #1036
Ah ok
Ça doit être un problème de copié collé du code au niveau de la clé flickr
Tu peux regarder et me dire si tout te paraît ok?
Je peux jeter un œil demain

On Jul 22, 2020, 19:34, at 19:34, BaguetteAgile <notifications@github.com> wrote:

[2020-07-23 05:12] BaguetteAgile commented on #1036
Salut @lexoyo ,

j'ai recopier correctement les fichiers complet du tuto du widget, mais rien y fait, l'erreur `api` a disparu, mais la page reste vierge.

Par contre il y a 9 erreurs
![Capture du 2020-07-23 07-09-35](https://user-images.githubusercontent.com/35597855/88253814-83c29080-ccb3-11ea-90af-b1f25de82717.png)

Voici le lien de la publication.

https://eloquent-raman-3affba.netlify.app/

[2020-07-31 19:55] lexoyo commented on #1037
Hello @nicodt
Did you manage to do what you wanted?

[2020-07-31 19:57] lexoyo commented on #1036
les erreurs sont liees à la publication qui ne se fait pas je pense, cf les js qui manquent
![Screenshot from 2020-07-31 21-56-17](https://user-images.githubusercontent.com/715377/89072390-c1d94780-d378-11ea-81ce-9872486f4c98.png)

[2020-08-18 15:38] lexoyo commented on #486
They changed the script URL, here it is
[code]

More info here
https://github.com/dobarkod/cookie-banner/

[2020-08-22 18:06] lexoyo opened #1038 "[Feature request] Accessibility features"
One should be able to create accessible websites with Silex

This means (feedback welcome)

* [x] Alt text for images
* [x] Semantic tags
* [ ] Aria attributes
* [ ] Keyboard nav
* [x] H1/2/3... Tags
* [ ] Keyboard nav menu

### links

Focus ring visible only to keyboard nav
https://github.com/WICG/focus-visible
https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible

Wix take on accessibi

[2020-08-24 14:18] TrunXGIT commented on #1025
I have the same problem when trying to resize a section while using https://editor.silex.me/ in both FIrefox and Chrome.

[2020-08-24 17:27] lexoyo commented on #1025
Hello
Could you try on https://preprod.silex.me please and see if it is fixed?
Backup your site before you save, because a site saved on preprod can not be opened on editor anymore
Thx

[2020-08-29 04:43] arkagi opened #1040 "Cannot publish site to FTP server- using online version of Silex"
Hello I'm using the online version of Silex, and trying to publish to my own FTP server.
I get the error:
"I did not manage to publish the website. Cannot read property of 'size' undefined."

I know that Silex can properly connect to the server because under the publish settings, it has logged into
the FTP server and I can select the folder of where to publish the site.

Any suggestions to fix thi

[2020-08-29 09:38] lexoyo commented on #1040
Hello
Could you try on https://preprod.silex.me please and see if it is fixed?
Backup your site before you save, because a site saved on preprod can not be opened on editor anymore
Thx

[2020-08-29 09:40] lexoyo commented on #1035
Hello
Yes this is complicated with Silex because of the way it resizes to fit different screen sizes
Did you try the "fixed menu" widget?

[2020-08-29 09:40] #1034 closed

[2020-08-29 09:42] lexoyo commented on #1023
Hello
Did it work for you?

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:35] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:36] arkagi commented on #1040
Sorry I get the same error using the pre-production version.
Saving the editable.html works, but for some reason it doesn't save to the specified folder.  For example, if I specify the publish settings as   mysite.com/htdocs/abc  it saves editable.html to mysite.com/htdocs/
This happens in the current online version too.

[2020-08-30 02:38] arkagi commented on #1040
sorry closed by mistake

[2020-09-01 21:23] sharathc10 commented on #1023
Yes it did - thanks!

[2020-09-02 04:18] #1023 closed

[2020-09-04 14:48] diogov0299 opened #1041 "beta download problem"
Hey, when i download the offline beta, i can't find an executable in the downloaded zip.. I don't know if i am missing something!

Thank you :)
**_UPDATE: I managed to find help online, but now i am stuck on the install dependencies part_**

[2020-09-05 07:31] lexoyo commented on #1041
Hello
Could you explain what you did please? What did you download etc
Also what is your OS ?

[2020-09-05 07:32] lexoyo commented on #1041
Also here are the latest downloads
https://github.com/silexlabs/silex-desktop/releases/

[2020-09-06 08:58] lexoyo commented on #1040
After thinking about it, the best options if ftp does not work for you:

* Publish to Dropbox or GitHub and download the files of the published site
* Or use the desktop version of Silex to publish to a local folder (https://github.com/silexlabs/silex-desktop/releases/)

Then upload the files with an ftp client

[2020-09-06 09:00] lexoyo commented on #1001
After thinking about it, the best options if ftp does not work for you:

* Publish to Dropbox or GitHub and download the files of the published site
* Or use the desktop version of Silex to publish to a local folder (https://github.com/silexlabs/silex-desktop/releases/)

Then upload the files with an ftp client

[2020-09-06 09:00] #1001 closed

[2020-09-09 08:26] #1041 closed

[2020-09-09 08:27] lexoyo commented on #1041
Feel free to reopen the issue when you are back :)

[2020-09-09 08:32] lexoyo commented on #998
Hello all

I have fixed so many bugs it took me 3 more months

Big thank you to the testers, especially @ceubri for his infinite patience and kindness
Also @molyrichez who helped a lot while creating professional websites

It will soon be live on https://editor.silex.me/

[2020-09-10 03:05] lcundiff opened #1042 "Bringing Image into website error: 'Big' undefined"
Uncaught (in promise) TypeError: Cannot read property 'big' of undefined

Anytime I try to click on an image in my files the error above is triggered.
![image](https://user-images.githubusercontent.com/17969555/92677023-d2260000-f2f0-11ea-9eac-561f38b3c9a8.png)
![image](https://user-images.githubusercontent.com/17969555/92677148-1e714000-f2f1-11ea-98c3-05c3fe75bcf4.png)

At that point I have to re

[2020-09-10 06:32] #1042 closed

[2020-09-10 08:40] BaguetteAgile opened #1044 "Mise en conformité de son site internet RGPD "Règlement Général pour la Protection des Données.""
Bonjour @lexoyo,

dans un souci de respect de la loi sur le RGPD, ne faudrait-il pas avoir des outils silex comme,
un bandeau Pop-Up comme celui-ci,

![Capture du 2020-09-10 10-22-40](https://user-images.githubusercontent.com/35597855/92701835-c4a06280-f350-11ea-8711-9f39ff282f9c.png)

 avec des options paramétrables pour les cookies en l'occurrence google Alalytics, Facebook...

Également une cas

[2020-09-10 22:57] aracnoid149 opened #1045 "My Silex website"
Here is a link to a website I did with Silex: https://www.quorb.net

[2020-09-11 06:23] lexoyo commented on #1045
Very nice design !

Did you know the share bar have a property where you can choose which social network to display? You have them all right now but you can remove some of them

[2020-09-11 06:23] lexoyo commented on #1045
Also you can change the order of the elements in the mobile version with keyboard arrow up/down

[2020-09-14 14:03] BaguetteAgile opened #1046 "Bug: Impossible d'importer un site existant !"
@lexoyo
Bonjour Alex,

depuis quelques jours, il est impossible d'importer ou d'ouvrir un site web aussi bien sur Dropbox que Github.
J'ai le message aussi bien sur Editor.silex et Preprod.

Voici le message d'erreur.

![Capture du 2020-09-14 15-56-54](https://user-images.githubusercontent.com/35597855/93095625-a1084f80-f6a3-11ea-82ad-3964e9120105.png)

Par contre les templates s'ouvre parfaitemen

[2020-09-14 15:47] lexoyo commented on #1046
hello
ouah j'ai fait une grosse boulette la
je fix ca ce soir
merci @BaguetteAgile !!

[2020-09-14 16:28] #1046 closed

[2020-09-14 17:05] lexoyo commented on #1046
voila c'est fix @BaguetteAgile
tu peux me confirmer ?

[2020-09-14 17:47] BaguetteAgile commented on #1046
Mauvaise nouvelle @lexoyo

Silex cherche indéfiniment...

voici les captures d’écran:

![Capture du 2020-09-14 19-43-52](https://user-images.githubusercontent.com/35597855/93120000-fe5fc900-f6c2-11ea-88ae-c5486bed0a29.png)

![Capture du 2020-09-14 19-44-11](https://user-images.githubusercontent.com/35597855/93120027-07509a80-f6c3-11ea-8121-384f957b8762.png)

![Capture du 2020-09-14 19-44-52](https

[2020-09-14 20:13] lexoyo commented on #1044
Hello
Les sites silex de base ne posent pas de cookie mais en effet Google analytics oui
Tu as vu le widget cookie bar ?

[2020-09-15 12:42] BaguetteAgile commented on #1044
Tu parles de ceci ?

https://github.com/silexlabs/Silex/issues/486

[2020-09-16 00:07] lexoyo commented on #1044
Oui exactement

On Sep 15, 2020, 14:42, at 14:42, BaguetteAgile <notifications@github.com> wrote:

[2020-09-16 00:13] lexoyo commented on #1046
Ah oui ça c'est normal, ouvre le déjà une fois en cliquant sur import stp

[2020-09-29 04:27] Starbors commented on #1045
its better to code it. The  website can look better

[2020-09-29 06:28] lexoyo commented on #1045
Do you have something you want to show @Starbors ?

[2020-10-03 19:17] lexoyo opened #1048 "silex desktop for Windows"
Windows build is failing

* First failing build: https://github.com/silexlabs/silex-desktop/runs/743414113?check_suite_focus=true
* So I removed windows https://github.com/silexlabs/silex-desktop/commit/6c32713147d7f1917154b6a3b2bcce8f33025b0f

Try with "windows-2016" as suggested here

https://gist.github.com/azu/673426500458f63f019c8f5e013f282a

[2020-10-03 19:37] lexoyo commented on #621
Done

[2020-10-03 19:37] #621 closed

[2020-10-03 19:54] lexoyo opened #1049 "Silex desktop app on linux"
desktop linux: it displays an error "Something went wrong installing the "sharp" module"

One should not have to install Sharp, it should just remove the thumbnail feature

[2020-10-03 19:58] lexoyo opened #1050 "Advertise silex desktop app"
We should advertise the desktop app

add "Download Silex" to

* [ ] ? menu
* [ ] wiki
* [ ] www.silex.me

[2020-10-04 03:14] DurtyDev commented on #1048
I'm still using 5.06

On Sat, Oct 3, 2020, 3:17 PM Alex Hoyau <notifications@github.com> wrote:

[2020-10-07 14:40] BaguetteAgile commented on #1044
Salut Alex,
j'ai trouvé cette page web

https://www.privacypolicies.com/fr/consentement-aux-cookies/

pour la création d'une bannière pour les consentements aux cookies, sa fonctionne très bien avec Silex, j'ai copier le code généré dans le " Head editor" par contre ma question est la suivante:

A l’étape 3, dans la case

![Capture du 2020-10-07 16-28-12](https://user-images.githubusercontent.com/

[2020-10-21 15:38] jeremoury opened #1052 "Silex desktop app on macOS"
I can't open my website or my own html files. The "ok" button doesn't work.

[2020-10-22 06:10] lexoyo commented on #1052
Hello @jeremoury
Could you show me with a screenshot which button you mean?

[2020-10-24 10:28] jeremoury commented on #1052
oops... it's working now..
It was the "ok" button after selecting "import" a project.
Maybe a bug from my Mac.

[2020-10-24 10:28] #1052 closed

[2020-10-28 18:01] lexoyo commented on #1048
this issue is finally fixed :pray: by this commit
https://github.com/silexlabs/silex-desktop/commit/6b24db262812b926bd7cf34380209f6fa3a2cc26

the release with windows app is available here
https://github.com/silexlabs/silex-desktop/releases

please help me test :fire: !

cc @ceubri

[2020-10-28 18:01] #1048 closed

[2020-10-28 18:53] lexoyo commented on #1049
fixed

[2020-10-28 18:53] #1049 closed

[2020-10-28 18:54] lexoyo commented on #880
Hello this is now fixed
If one has all the libs it takes to install sharp then Cloud Explorer will show the button to display images thumbnails

[2020-10-28 18:54] #880 closed

[2020-10-28 19:03] lexoyo commented on #45
Newer ones:

* fireblogcms.com
* stackbit.com
* sanity.io

[2020-10-29 16:10] BaguetteAgile opened #1053 "Balise <body>"
Salut @lexoyo
J'ai un bout de code que je dois intégrer a chaque page de mon site juste après la balise <body>

Comment faire directement dans Silex ?
Ou
Comment faire directement dans chaque page .html

C'est un code de Google Tag Manager.

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=***********"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscrip

[2020-10-29 16:16] lexoyo commented on #1053
Salut baguette !
Moi je la mets dans un HTML box que je mets sans couleur donc qui est invisible

[2020-10-29 16:21] BaguetteAgile commented on #1053
Oh..... aussi simple que ça ... ;) ;) ;)

Je test et j'espère réussir a faire fonctionner ma balise.

C'est pour réussir a prendre la main sur "Google Analytics" pour empêcher qu'il se charge a l'ouverture du site, pour le RGPD

[2020-10-31 02:32] RedDragon9 opened #1054 "Add images from external link"
I would like to request a feature to be added. It would be nice to be able to add images from external links beside uploading images and the ones in the gallery. This is something that other website builders already have, being able to add a image from another website.

[2020-10-31 08:46] DurtyDev commented on #1048
Downloading it now

On Wed, Oct 28, 2020, 2:01 PM Alex Hoyau <notifications@github.com> wrote:

[2020-10-31 14:54] lexoyo commented on #1048
Ok thx @DurtyDev
Fingers crossed (I don't have windows)

[2020-10-31 14:57] lexoyo commented on #1054
Nice! And easy to do

Also at publication the image will be downloaded to be always available on the final site

But what if one day it is not available anymore online? Then when the user would open the site in Silex, the image would be missing :-/

I'll add this to the road map now in any case

[2020-10-31 16:48] lexoyo commented on #1053
Intéressant !
Tu sais comment respecter RGPD avec GTM?

[2020-10-31 22:33] RedDragon9 commented on #1054
Well I mean the website you build would have a link to the image so when someone goes to your website, the browser loads the image from the external website. This is a feature that other website builders have. Yes the image may not always be there but this is something I need for a website I'm building as the images on the external website change every day which is why I can't just download the im

[2020-10-31 22:47] lexoyo commented on #1054
Oh ok I see
In the meantime you still can do this with an html box or probably better with CSS as a background image
Let me know if you need more info about this

[2020-11-01 02:55] DurtyDev commented on #1048
Java error on install. Missing the npm package

On Sat, Oct 31, 2020, 4:45 AM Captain Crazy <captaincrazy240@gmail.com>
wrote:

[2020-11-01 09:52] lexoyo opened #1055 "Feature request: use hot reloading to build Silex JS"
this will make it way easier to test and fix bugs in silex

see [webpack hot reloading](https://webpack.js.org/guides/hot-module-replacement/)

[2020-11-01 14:23] #998 closed

[2020-11-01 14:24] lexoyo opened #1059 "New version of Silex for beta testers"
<a href="https://github.com/silexlabs/Silex/issues/1058"></a>

A new version is coming with great improvements.

Please help me test it on <a href="https://preprod.silex.me">https://preprod.silex.me</a> and let me know how this goes below

<a href="https://github.com/silexlabs/Silex/pull/1058#issue-363055184">Here is a list of the improvements</a>

[2020-11-01 21:27] #547 closed

[2020-11-02 15:16] BaguetteAgile commented on #1053
`Intéressant !
Tu sais comment respecter RGPD avec GTM?`

En faite j'ai besoin de GTM pour que `Axeptio` prenne la main sur les cookies du site

https://www.axeptio.eu/

Si tu as le temps, peux tu me dire si les cookies de mon site sont bien bloquer avant l'acceptation de l'utilisateur, parce que là je nage un peu...

C'est `Axeptio` qui gère les cookies via GTM

https://rvmproduction.netlify.app/

[2020-11-02 16:09] lexoyo commented on #1053
Ah c'est super intéressant ce acceptio

Dans ton site, meme sans avoir accepté les cookies, tu as ces services qui posent deja des cookies

* facebook
* google translate
* un truc de font

![Screenshot from 2020-11-02 17-07-48](https://user-images.githubusercontent.com/715377/97890666-18ff0780-1d2e-11eb-88a7-f5b34aaba2a2.png)
![Screenshot from 2020-11-02 17-05-23](https://user-images.githubusercon

[2020-11-02 16:59] BaguetteAgile commented on #1053
Pour le moment avec `Axeptio` je bloque les cookies de `Google Analytics et le pixel de Facebook.`
avec la version gratuite, ns avons que cette possibilité.
En prenant une version payante le nombre de cookies est illimité, mais il faut compter 150€ pour une année rien que pour la gestions des cookies.

Ce système est vraiment pas mal du tout, en plus c'est Français !!

J'essai de le faire fonction

[2020-11-03 05:11] RedDragon9 opened #1060 "Add code option to add code to bottom of webpage"
I would like to request a feature to be added. In the code sections where you can edit the page header there needs to be a fourth option to add code to the bottom of the html document right before </body>.

[2020-11-03 10:48] Hachimi92 opened #1061 "Y"

[2020-11-03 13:02] sidmint opened #1062 "drop down menu integration in UI as an element"
Since drop down menu is a common thing on sites, how about making it available in the UI itself [like the hamburger menu is available] instead of any need to code like discussed here [[#247]](https://github.com/silexlabs/Silex/issues/247)?

Thank you all for Silex, very useful tool for non coders like me.

[2020-11-03 19:38] lexoyo commented on #1060
Hello @RedDragon9

This is a good idea

In fact maybe the HTML head editor should have different sections, such as beginning or end of head or body

In the mean time you can do this by adding an HTML box and puting it at the bottom (use the arrows in the context menu to move the element in the Dom not the position)

[2020-11-03 19:50] lexoyo commented on #1062
Hey @sidmint
Thank you for the idea, I will include it in the road map
@ others reading this: give it a :+1: to support it :)

[2020-11-03 20:05] lexoyo opened #1063 "Pixel perfect 300+ pages multilingual website for marketing"
The belgium company [Belighted](https://www.belighted.com/) has released their new marketing website, it looks like this:

[![JAMStack Website powered by Silex and 11ty](https://user-images.githubusercontent.com/715377/98034505-6014f780-1e17-11eb-95a4-56e237b05706.png)](https://www.belighted.com/)

It has been created together with [INTERNET 2000 web agency](https://internet2000.net), as a clone o

[2020-11-05 17:20] BaguetteAgile opened #1064 "Conformité RGPD"
Pour être compétitif par rapport aux autres CMS du marché,
ne faudrait-il pas mettre en place des widgets ou solutions afin de mettre nos futurs sites web en conformité avec le RGPD.

Je pense personnellement à une solution Cookie-Consent ( je travaille sur différentes solutions pour le moment)

Un Contact-form avec Case à cocher avant envoi du mail.

Il existe des outils d'intégration de code  da

[2020-11-06 09:23] sidmint commented on #1049
waiting for the next release as the latest appimage version 2.7.5 not launching on Linux.

[2020-11-07 17:52] #1061 closed

[2020-11-07 17:57] lexoyo commented on #1045
your site is now officially in silex.me showcase @aracnoid149

[2020-11-07 18:03] lexoyo commented on #1048
ok thx @DurtyDev , I'll fix this new issue

[2020-11-07 21:18] DurtyDev commented on #1048
Won't let me post a screenshot cause  it's too big.

On Sat, Nov 7, 2020, 1:04 PM Alex Hoyau <notifications@github.com> wrote:

[2020-11-08 12:04] lexoyo commented on #1048
hello @DurtyDev @ceubri
it is now working on windows ! (i believe, could you test?)
https://github.com/silexlabs/silex-desktop/releases/tag/v2.7.9

[2020-11-09 03:42] DurtyDev commented on #1048
Okay. Will download and let you know. Thanks for the hard work

On Sun, Nov 8, 2020, 7:04 AM Alex Hoyau <notifications@github.com> wrote:

[2020-11-09 07:27] sidmint opened #1065 "desktop version should handle [save and publish] online accounts too along with local storage"
I was looking for desktop version to speed up the saving process as saving online takes more time and is troublesome for frequent saving. I planned to save files locally with more frequency and save to online account after a suitable time gap. But I am finding that desktop doesn't have that option at all built in like the online version. So requesting that. Till then I think I'll have to use onlin

[2020-11-09 07:39] sidmint opened #1066 "saving and publishing options for other than Github like Netlify"
I saw in a video that Guthub gives only one SSL cert/enforces https for only one domain name and not its sub domains but Netlify gives unlimited for sub domains too, is that true?

If so, then I/people may want to publish to Netlify in future and it'd be great if that's easy via built in saving and publishing options to do so for Netlify and the likes.

[2020-11-09 07:43] sidmint commented on #1065
Online version is online only and offline version is offline only and one can't combine the benefits of the both. I read in an issue why bringing offline actions to online version will be a trouble but can offline version handle online actions easily?

[2020-11-09 08:12] ceubri commented on #1048
yes it's alive !!!
There is just a warning, but after it's installing normally.
GREAT
![image](https://user-images.githubusercontent.com/7302680/98515533-7a156680-226b-11eb-9501-036fa95dc544.png)

[2020-11-09 10:07] lexoyo commented on #1064
Hello Baguette

Tu as tout a fait raison, c'est nécessaire

J'ai vu que simplon.co utilisent cet outil, ca peut peut etre te faire gagner du temps?
https://github.com/empreinte-digitale/orejime

Ca serait super d'en faire profiter la petite communauté Silex :)
Dis moi si je peux faire qq ch

[2020-11-09 10:18] lexoyo commented on #1065
hello @sidmint
you are right, silex desktop should offer the online storage
i had this problem when i first tried : how to store dropbox and github apps secret keys
i will look into that soon
thank you for the idea !

[2020-11-09 10:21] lexoyo commented on #1066
i don't think so... you can create several repos with a CNAME file pointing to different sub domains and github pages will generate a certificate for each site (see the repo settings)

you already can : setup a new site in netlify and link it to the github repo where you publish. in silex, use the "select a folder" publication, not the "github pages" one

[2020-11-09 10:37] sidmint commented on #1066
oh wow, thank you.

[2020-11-09 20:17] DurtyDev commented on #1048
New version installed without a hitch this time. Like the new options (
div, nav, etc)

On Mon, Nov 9, 2020, 3:12 AM ceubri <notifications@github.com> wrote:

[2020-11-09 22:29] lexoyo commented on #1048
Excelent! Thank you for the update :)

[2020-11-10 08:34] DurtyDev commented on #1048
This version is spectacular. Good work

On Mon, Nov 9, 2020, 5:29 PM Alex Hoyau <notifications@github.com> wrote:

[2020-11-10 08:46] ceubri commented on #1048
However I couldn't quit the program...
I had to "force to quit" (ctrl+Alt+Supp)...

[2020-11-10 10:23] lexoyo commented on #1048
Thank you @DurtyDev :smile:
Ok @ceubri I'll create a new issue thx

[2020-11-10 10:37] lexoyo commented on #1053
oui ca serait un super travail d'equipe :)
n'hésite pas

[2020-11-10 14:02] sidmint opened #1067 "how to bring variation in colour and size of text in single line without using multiple elements and coding"
Suppose in a sentence, I want few words to have different colours and sizes within the same line. One way of doing it is by using multiple elements, where needed, each having different styles but it would be very delicate arrangement prone to disturbances and not efficient. Editing html code must be a good way but I don't know that yet.
So is there another way?
It's simple to do in a word processo

[2020-11-10 18:17] lexoyo commented on #1067
Hello @sidmint
This is a very good question
What I do usually is put a style on text, let's say italic and then I style the italic in the style editor : I remove the italic appearance of italic text, I change color and size... I do the same with bold or underlined
Do you see what I mean?
Does it feal right to you?
Maybe I should add other "inline" tags like span or maybe span1, span2...?

[2020-11-10 22:10] sidmint commented on #1067
Oh wow, that's a clever way to do it, I could not think of it. Thanks a lot.

[2020-11-10 22:53] BaguetteAgile commented on #1053
@lexoyo

Salut Alex, je viens de mettre en ligne la version avec le consentement cookies, qui je pense ne fonctionne pas !

Donc pour mettre en place cette solution il faut coller un script dans le Head et insérer un autre script dans le code HTML de la page spécifique et à l'emplacement exact où vous souhaitez que la déclaration relative aux cookies apparaisse.

script du head

`<script id="Cooki

[2020-11-10 23:13] BaguetteAgile commented on #1064
@lexoyo

Super cette solution open-source, c'est vraiment pas mal du tout, par contre je vais avoir besoin de quelques conseils pour la mise en place technique pour les 4 points.

Installation via CDN ?

ensuite pour le reste je pense qu'il faut " Lister les cookies du site " et par la suite faire une configuration manuelle ?

[2020-11-11 07:18] sidmint commented on #1067
Though, it would be easier if there's a more straight forward way.

[2020-11-11 23:47] lexoyo opened #1068 "feature request: form builder"
Would be great to integrate this tool
https://www.npmjs.com/package/q-form-builder

[2020-11-12 15:23] sidmint commented on #1065
for who-need-it: downloading files is very easy from github using 'download zip' option under 'code' button. Uploading is not that easy, specially in bulk. I found 'GitAhead' app [for linux] the easiest to achieve that without using any command line and with least learning involved.

[2020-11-17 15:16] BaguetteAgile commented on #1064
Salut @lexoyo

Bon j'ai étudié la solution Orejime mais je rencontre des difficultés pour la mise en place dans Silex.

J'ai coller ce code dans le Head Editor

`<link rel="stylesheet" href="https://unpkg.com/orejime@1.2.3/dist/orejime.css" />`
`<script src="https://unpkg.com/orejime@1.2.3/dist/orejime.js"></script>`

Ensuite pour la partie des variantes, j'ai coller le code dans le CSS editor ( m

[2020-11-17 15:22] lexoyo commented on #1064
Visiblement il attend un objet de config sur `window.orejimeConfig` donc tu peux ajouter ça dans l'éditeur JS

[code]

[2020-11-17 15:27] lexoyo commented on #1064
Bon en fait ça correspond à cette partie là

https://github.com/empreinte-digitale/orejime#configuration

[2020-11-17 15:38] BaguetteAgile commented on #1064
Cette partie là doit bien être dans le CSS ?

https://github.com/empreinte-digitale/orejime#configuration

[2020-11-17 18:24] lexoyo commented on #1064
ah non ca c'est JS

[2020-11-17 19:28] BaguetteAgile commented on #1064
Comportement étrange de Silex.
Le code JS se retrouve injecté sur la page d’accueil du site.
Ma question est la suivante
est-ce qu'il y a un ordre d'organisation dans les codes JS?

![Capture du 2020-11-17 20-23-47](https://user-images.githubusercontent.com/35597855/99437911-5d37fd80-2913-11eb-8fd3-788b7837d4d2.png)

[2020-11-19 20:39] BaguetteAgile commented on #1064
`Comportement étrange de Silex.
Le code JS se retrouve injecté sur la page d’accueil du site.`

Résolu

[2020-11-20 15:55] BaguetteAgile commented on #1064
Salut @lexoyo ,

Apparemment j'ai réussis a mettre en place 2 scripts pour bloquer Google Analytics et GTM :+1:  sur la page d'accueil du site, j'ai encore d'autre cookies a bloquer mais je verrai un peu plus tard car un problème se pose...le "pop up" de consentement cookie ne se charge pas ... :-1:

Donc a ce stade impossible de gérer les cookies graphiquement !

Vérifie ici:
https://calice-oreji

[2020-11-21 00:28] #989 closed

[2020-11-21 09:34] #1059 closed

[2020-11-21 22:56] lexoyo opened #1069 "dockerfile is not working"
Looks like this is not working properly

https://hub.docker.com/r/silexlabs/silex/

[2020-11-24 15:11] Chetan11-dev opened #1070 "Running Silex Web locally with hot reload"
Steps performed
 npm run start:debug
 npm run watch
I am attempting to run Silex with hot reload to inspect the state of some component I tried to do a console.log in src/ts/client/App.ts
Now Both commands have recognized the update and rebuilt project in dist folder but in the browser the  console.log statement do not appear.
I believe it is my lack of knowledge about editor. Please guide me.

[2020-11-24 15:12] Chetan11-dev commented on #1070
Output of npm run start:debug and npm run watch respectively on update
![Screenshot from 2020-11-24 20-40-52](https://user-images.githubusercontent.com/53407137/100112679-8584a680-2e95-11eb-9803-9aed8fca27d9.png)

Silex Editor console panel in browser
![Screenshot from 2020-11-24 20-40-38](https://user-images.githubusercontent.com/53407137/100112741-96cdb300-2e95-11eb-8c2f-3e27b3b06ab6.png)

[2020-11-24 15:15] Chetan11-dev commented on #1070
I expect this statement to log '   Silex   ' in console panel but it does not
![Screenshot from 2020-11-24 20-43-31](https://user-images.githubusercontent.com/53407137/100113042-e9a76a80-2e95-11eb-8ca6-d2c013e194ae.png)

[2020-11-24 18:40] lexoyo commented on #1065
hello @sidmint

I just found a few other ways, maybe it would be easier with one of these?

any feedback is welcome on these sulutions as I am currently writing docs and cotnent for the upcoming silex website

also if you take time to add (or remove) content to [silex official wiki](https://github.com/silexlabs/Silex/wiki/) it would be very appreciated !

## other solution 1

with npm and the comm

[2020-11-24 18:43] lexoyo commented on #1070
hello
so this is what i understood:

* you did both npm run start:debug and npm run watch
* the watch rebuilds the site
* when you reload the page you don't see the console log

is this correct?

it is surprising because you are clearly supposed to see the console log
did you try to run `npm run build` and then `npm start` ?

[2020-11-24 18:45] lexoyo commented on #1069
yes it is,  my bad

[2020-11-24 18:45] #1069 closed

[2020-11-24 18:52] lexoyo commented on #1053
Yes c'est super !
Ca marche tres bien je viens de tester

[2020-11-24 18:52] #1053 closed

[2020-11-24 18:54] lexoyo commented on #1064
Hello
Je suis pas sur de comprendre, moi ca a l'air de marcher non?

[2020-11-24 19:08] BaguetteAgile commented on #1064
`Je suis pas sur de comprendre, ca a l'air de marcher non?`

Ben a mon avis, ça fonctionne pour le blocage des cookies, mais pas de retour graphique sur le site en question !

il y a pas de 'pop up' de consentement qui viens sur le site !

dans leur exemple il y a ceci, pour gérer les consentements utilisateur

![Capture du 2020-11-24 20-05-00](https://user-images.githubusercontent.com/35597855/10

[2020-11-24 20:37] lexoyo commented on #1067
@sidmint so I am thinking I should add 3 buttons which add a span tag around the selection with css class name .style1, .style2 and .style3

Do you think it is enough? Is it a good css class names?

Also I wonder how you understand the style editor so well. Most people I know have hard times understanding how to style text in Silex. Did you learn with the docs or videos or does it feel obvious to

[2020-11-25 14:25] Chetan11-dev commented on #1070
Thank you lexoyo for prompt reply.
Here is what i did
Frest clone of repo
made changes to app.ts added  console.log statements
ran npm run build, npm run start
Result: Not able to see console.log.
Suprisingly when I searched for keyword I wrote in console.log I see code has actually been immited in dist/main.js
![Screenshot from 2020-11-25 19-54-46](https://user-images.githubusercontent.com/534071

[2020-11-25 14:31] Chetan11-dev commented on #1070
Could we do a Google Meet Meeting to screenshare on a window between 10:00 am to 4:00 pm in CET timezone (You may give me time window which is comfortable to you and we would joint the meeting) and resolve issue quickly. Once again Alex Thanks for your help.

[2020-11-25 15:33] lexoyo commented on #603
I just updated [the docs for this widget](https://github.com/silexlabs/Silex/wiki/Editor-UI#multi-column-section), with the new layout features of silex

[2020-11-26 06:26] lexoyo commented on #1064
Ah ok je comprends, je vais regarder

[2020-11-26 12:05] lexoyo commented on #1070
this is really strange
maybe try to put it higher in the file?

In open source we don't usually do that my friend :)
Let's try a little bit more here and we will do that in cas it is really needed

In any case, could you let me know what you are trying to achieve?
Also you can commit your test somewhere and I'll look into it

[2020-11-26 19:19] Chetan11-dev commented on #1070
I maybe due to caching. I disabled cache Thanks to https://stackoverflow.com/questions/5690269/disabling-chrome-cache-for-website-development
Thank You Alex for your time

[2020-11-27 00:21] Chetan11-dev commented on #1070
One more question could you tell me the code location of
where bottom component is located?
![Screenshot from 2020-11-27 05-49-31](https://user-images.githubusercontent.com/53407137/100398403-70b23980-3074-11eb-96e5-dc408817cd45.png)
where onChange handler of component fires say change in color of component?

[2020-11-27 07:14] lexoyo commented on #1070
Sure
This component is called breadcrumbs, it is in src/ts/client/components
If you are planning to contribute, it is best to discuss the what and how beforehand :)

[2020-11-27 08:12] Chetan11-dev commented on #1070
I am Author of Dart Code Generation Tool (https://marketplace.visualstudio.com/publishers/ChetanJain). I am working on learning dnd web builder architecture similar to your open source project which will be done in reactjs.

[2020-11-27 08:51] Chetan11-dev commented on #1070
I believe I have expierience of doing file handling. So this feautre could be developed by me
https://github.com/silexlabs/Silex/issues/625
Questions:
Where is Code located performing this operation(creates .html file, assets )?
What call tiggers this operation (I mean where is onClick of this
![Screenshot from 2020-11-27 14-20-16](https://user-images.githubusercontent.com/53407137/100429740-c2ca7

[2020-11-27 12:34] Chetan11-dev commented on #1070
Sorry Alex I do not mean to offend you but I am currently not ready for open source contribution.

[2020-11-27 14:53] sidmint commented on #1068
great idea, but is there any way to add and edit form fields now?

[2020-11-27 15:10] sidmint opened #1071 "how to manage web page titles?"
1. I want to manage the web page titles that appear on the browser tab. How to do that? I thought editing the 'title' option when linking to a page, as shown below, would do that but that's doing nothing.

![2020-11-27-20:12:29](https://user-images.githubusercontent.com/43943312/100461881-66815100-30ef-11eb-9752-b86d12bc1472.png)

2. And by the way, what that 'title' option does?

3. If I leave th

[2020-11-27 15:47] sidmint opened #1072 "manual style overriding facility instead of making new style everytime"
In a word processor, when we want to change a style attribute, say Italics, we can do that in two ways. One is to create such style and apply it to that part. Second way is to just manually apply Italics to that part, this way is called something like manual overriding.

Manual overriding isn't good for systematic and automated approach as it stays on top of all other styles until removed manually

[2020-11-28 01:29] sidmint commented on #1067
It would be helpful indeed, though still being limited due to a bigger issue as I indicated here #1072.
And names look good.

Learning style management: I think my fortunate past experience with Libreoffice Writer is helping me and I was pretty much unaware of these things before that.
Learning Silex: I've learnt Silex mostly from the Youtube videos, specially the two elaborate official webinars a

[2020-11-30 15:01] sidmint commented on #399
@lexoyo:

i may want to use this method for table but I've this concern of image display for different screen resolutions out there. How much is this a concern practically?

[2020-11-30 19:08] lexoyo commented on #1067
Thank you so much for the feedback @sidmint !

[2020-11-30 19:15] lexoyo commented on #1071
Hello

In order to set the text of the browser tab, you need to open the settings and look for "website title". Silex will append " - Page Name" to it on every page

This is not ideal, I plan to have more per-page settings soon as you can see [in this feature request](https://github.com/silexlabs/Silex/issues/884)

this is the link "title" as there is a [title on every html element](https://develo

[2020-11-30 19:20] lexoyo commented on #1072
This is very clear yes
Thank you for this detailed and elegant solution
I will take it into account as soon as i have time for this issue

For reference : [the discussions we had while creating the style editor](#690)

[2020-11-30 19:25] lexoyo commented on #1068
for now the best way is to use the html box, either with your custom html or a third party service such as google forms (:cry:)

[2020-11-30 19:29] lexoyo commented on #1070
Hey @Chetan11-dev you did not offend me
I was just worried that you would work on something and then discover that it already exists in silex or something like that :)
How is your learning?

[2020-11-30 22:17] sidmint commented on #1067
Thank YOU so much for helping to make Silex a reality!

[2020-12-04 04:41] sidmint opened #1073 "appimage doesn't remember resized side bar/panel"
Being an offline app, and storing config files locally, I think if it remembers the resized side bar/panel that I used last time according to my comfort [I resize it smaller to get more space], it would be helpful.
Still not a big deal resizing everytime.
Thank you for your service and contributing to this great software.

[2020-12-04 04:52] sidmint commented on #399
As of now, I've made a table by joining multiple individual text elements. It works good this way with following limits:

- empty space at top and bottom of elements can't be reduced to make the table look slim across the rows.

- when the borders of two elements combine, it may give double lines or disturb the border decoration at times depending upon the difference in properties of the combining

[2020-12-04 05:39] sidmint opened #1074 "side bar/panel's size affects the site's viewing size too and designing for maximised browser window is difficult"
I don't know how to name this, so rename the title suitably.

I designed my whole site with the side panel [right one] open but when I preview it in a maximised browser, the design went different [spacings, paddings, etc]. It was due to the side panel being open which adjusts the site view accordingly, that is, according to the resized available space left by the panel analogue to a resized browse

[2020-12-04 07:11] lexoyo commented on #1073
Nice one @sidmint
Sadly as the only dev on this project at this time, I won't have time for this soon
I'll keep it in the road map though
Thank you

[2020-12-04 07:23] lexoyo commented on #399
Interesting thx @sidmint
I believe tables are always complicated when it come to responsive
When you use text boxes it is probably easier to make them position automatic?
Another solution may be copy paste the table from a word document

[2020-12-04 10:34] sidmint commented on #1073
Gladly, at least you are there :) :1st_place_medal:

[2020-12-05 15:00] BaguetteAgile commented on #247
Salut @lexoyo

je viens de tester ce menu déroulant, mais cela ne fonctionne pas.

Le menu ne "déroule" pas il reste toujours "ouvert" comme ici.

![Capture du 2020-12-05 15-59-32](https://user-images.githubusercontent.com/35597855/101246331-e7090880-3712-11eb-8805-89a4085f38e3.png)

[2020-12-06 01:44] sidmint commented on #1074
I don't understand this concept well but here's my understanding till now:

Actually that thing occured due to the reason that I gave padding to certain elements in terms of viewport [by selecting 'vw' option]. And since such padding is dependent of window size, so the things were messing up on changing the window size. So, other padding options are recommended regarding this issue.

Thank you @le

[2020-12-06 01:44] #1074 closed

[2020-12-06 02:11] sidmint opened #1075 "renaming a style isn't applied to all instances"
Two things:

1. When I rename a style at one place/instance, and if the style is present at multiple instances, then the renamed styled won't get applied automatically at other instances and other instances switch to 'All style' instead requiring to be applied the renamed style manually.
2. If I rename a style without selecting any element and go forward ignoring the warning 'you need to select at

[2020-12-06 02:56] sidmint commented on #399
I had arranged through 'absolute', tried automatic but it was alligning boxes in a single column and was not respecting my two/more column layout. That may still be doable via another container for each column, but I didn't try that.

[2020-12-06 04:07] sidmint commented on #399
I wasn't able to do that, help requested. I'm selecting a table from odt/docx file and pasting it directly in Silex or in text box/container/html box but nothing is happening. I'm using LibreOffice and not MS Word.

[2020-12-12 00:58] sidmint commented on #1071
Thank you :)

[2020-12-19 08:01] form-and-void opened #1076 "Crash on Add Element>Image> 3216 x 2936 (96dpi)"
I am new here so I am not sure if this is the right place, but wanted to report that multiple attempts of adding an image element to the startup template (with the sailboat) caused the program to freeze, then crash entirely without saving work. I am not sure if I can help solve this problem, but hope this report is helpful. Great product by the way!

[2020-12-21 08:09] lexoyo commented on #1076
Hello @form-and-void and welcome
What is the browser you are using please?

[2020-12-21 08:09] lexoyo commented on #1075
Thank you @sidmint for the bug report, I will look into it

[2020-12-23 16:53] lexoyo opened #1077 "Feature request: store editable website in a zip file"
Right now Silex stores the websites data as 2 files: a `.html` and a `.json`
The html file is the one displayed as a preview and the json contains all the info needed to edit the site

I would like Silex to zip those 2 files and make 1 one `.silex` file for these reasons:

1. everyone is confused concerning these 2 files, when it comes to moving them or backup etc.
2. some people put the editable

[2020-12-25 08:39] pawanhv commented on #927
Hi is this position still open?

[2020-12-25 08:41] pawanhv commented on #928
I am interested and can cover both open positions

[2020-12-25 11:11] lexoyo commented on #928
Hello @pawanhv
Happy to hear that :)

The release manager is more about testing and deployment. The integration is develop and maintain a specific configuration of Silex

Do you have successfully run Silex locally?

[2020-12-25 14:17] pawanhv commented on #928
I would be more interested in release manager to look after testing and deployment. I have succeeded to successfully run Silex locally after a few hacks 👍

Pavan

[2020-12-25 14:19] pawanhv commented on #928
I would be more interested in release manager to look after testing and deployment. I have succeeded to successfully run Silex locally  👍

[2020-12-25 14:39] pawanhv commented on #928
I guess I would be more interested in integration to maintain a spec config of Silex on a marketplace.

Pavan

[2020-12-25 17:55] lexoyo commented on #928
ok great :D

Concerning these platforms, the idea is to integrate with their APIs and make it possible for their users to install an instance of Silex which will save only to their platform

* NextCloud and NextCloud market place
* Cozycloud market place
* Github marketplace
* Microsoft azure marketplace

Also there is the Silex desktop project which need a maintainer
https://github.com/silexlabs/

[2020-12-25 18:06] pawanhv commented on #928
For the desktop version I can for the macOS but I am not used to linux. I would be interested to integrate to the platform API's. Let me know.
Pavan

[2020-12-25 18:18] lexoyo commented on #928
Sure it is useful with macOS
The app is an electron app, it is enough to test it on your mac

I just gave you admin access to the project. Could you test this new version of Silex desktop please?
https://github.com/silexlabs/silex-desktop/releases/tag/untagged-a70ddbb796506b68f3db

If it looks good you can look at the other releases, copy paste the text of the release and publish it to be the new

[2020-12-25 18:28] lexoyo commented on #928
If you prefer to work on an integration, I have added an example in this issue description, let me know what you think

[2020-12-26 10:56] lexoyo opened #1079 "Contact form component problem"
For now the contract form is made to use with formspree service by default. This service changed recently, they need the user to create an account, and the form needs to send the user id instead of the email like before.

Also there is Netlify forms now that we could support. And serverless forms, an open source alternative to formspree could be supported too.

So the contact form needs love again

[2020-12-27 15:33] BaguetteAgile commented on #1064
`Ah ok je comprends, je vais regarder`

@lexoyo  Salut Alex, as tu pris quelques minutes de ton précieux temps pour jeter un œil ?

[2020-12-27 16:11] pawanhv opened #1080 "single page mode not changing the config"
I started looking into the single page mode and followed the instructions. When I start the project the index file is still the standard index file. Somehow the change configurations are not taken .

[2020-12-27 16:50] lexoyo commented on #1080
Oh ok
Could you share your test?

[2020-12-27 17:03] pawanhv commented on #1080
1. I started a node project with index.js with the following code:
[code]

2. I created the pug file

[code]

3. Added the following code to package.json

[code]

I am probably missing something but this is the index file I am getting , I must not be expecting the save as etc.. in the menu right?

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/18898460/103175874-ac0b7

[2020-12-27 17:54] lexoyo commented on #1080
oh ok, it looks good to me

you are correct, it is not supposed to be there

maybe for some reason silex is still serving the old HTML file. please try to build your html file as /dist/test.html and then load this file?

[2020-12-27 18:44] lexoyo commented on #1080
ok I got it: the line with `silex.app.use` needs to be before the one with `silex.start`
would you add this to the docs?

[2020-12-27 18:56] pawanhv commented on #1080
I did the changes to my code but still same index page. where can I find the logic that routes the singleSiteMode.I don't seem to find it anywhere. Maybe the nom silex version of 2.7.4 had some issues?

[2020-12-27 19:11] lexoyo commented on #1080
I just did the test and it seemed to work :-/
Here is the code I tested
http://github.com/silexlabs/custom-silex-components

[2020-12-27 19:12] lexoyo commented on #1080
And here is the logic
https://github.com/silexlabs/Silex/blob/develop/src/ts/client/App.ts#L77

[2020-12-27 19:13] lexoyo commented on #1080
I'll have time to check again tomorrow

[2020-12-27 19:16] lexoyo commented on #1064
Ah non pas du tout
Je regarderai ça demain

[2020-12-28 07:26] pawanhv commented on #1080
I cleaned everything and restarted the build, now the page seems to be changed but blocked at loading..

[2020-12-28 07:55] lexoyo commented on #1080
can you check if all resources are loaded? i'll need more info
i believe you are close ;)

[2020-12-28 08:05] pawanhv commented on #1080
I get this error

Error: Unknown connector: fs
    at Unifile.callMethod (/Users/pavanhemmege/CODE/web_editor/node_modules/unifile/lib/index.js:333:41)
    at Unifile.readdir (/Users/pavanhemmege/CODE/web_editor/node_modules/unifile/lib/index.js:204:15)
    at /Users/pavanhemmege/CODE/web_editor/node_modules/cloud-explorer/lib/router.js:206:20
    at Layer.handle [as handle_request] (/Users/pavanh

[2020-12-28 08:13] lexoyo commented on #1080
ok, this is a server side error
it means you are trying to access a folder on your local file system (fs) but silex do not have this connector
this is "normal", you probably did access the local file system at one point and silex remembers it (local storage)
you can ignore this error, or enable fs like this (add this after the line `const config = new Config();`):
[code]
For [all the options on th

[2020-12-28 08:56] pawanhv commented on #1080
I don't get the fs error anymore with the config enableFS .

I don't see any errors client side. but the page is still blocked in loading .

[code]

[2020-12-28 09:00] lexoyo commented on #1080
[code]
this is still server side
just to be sure I understand : you did check the [js console of your browser](https://developer.mozilla.org/en-US/docs/Tools/Web_Console)? (i'm not sure how comfortable you are on the front end)

[2020-12-28 09:03] lexoyo commented on #1064
hello
dans la console je vois des erreurs js
et quand je regarde la source je vois de problemes de copier coller :
[code]
les `+` ne sont pas sensés etre la, et le `[...]` devrait sans doute etre du code?
il y a un autre script en dessous avec les memes erreurs

[2020-12-28 09:04] lexoyo commented on #1064
[code]
et là tu as mis un script dans un script :sweat_smile:
mais de toutes facons avec les `+` ca ne fait rien

[2020-12-28 09:36] pawanhv commented on #1080
Ah I was not thinking right for checking out the console . its been long I havent touched frontend ;)
here's the error I get

<img width="551" alt="image" src="https://user-images.githubusercontent.com/18898460/103204853-8bd4cb00-48f8-11eb-8386-7e6cad524a31.png">

[2020-12-28 13:43] pawanhv commented on #1080
here is my repo :
https://github.com/pawanhv/silex_web_v1

[2020-12-28 18:32] lexoyo commented on #1080
Hey I tested your code, and all seem good to me
Did you try to pass `path` and `service` in the URL? When I do, I have no error anymore, i.e. `http://localhost:6805/?path=/Documents/tmp/silex_web_v1/editable.html&service=fs`

But I have something which do not work though : i need to press enter for the loading screen to go away... this is because of this alert showing up:
![Screenshot from 2020-12

[2020-12-28 19:04] lexoyo commented on #1080
for the point 2. I found that isDirty is true by default
this is because it is [initialized here](https://github.com/silexlabs/Silex/blob/develop/src/ts/client/dirty.ts#L41) with null values. so `initSingleSiteMode` should call `resetDirty()` before calling `openRecent` and no need to call `afterInit()` after calling `initSingleSiteMode` because all it does is hide loading screen (which is done by

[2020-12-28 19:09] lexoyo commented on #1080
i just published a fix on silexlabs/Silex#develop for the point 2.

[2020-12-29 06:46] pawanhv commented on #1080
I don't have the editable.html , am I missing something?

[2020-12-29 14:36] lexoyo commented on #1080
Oh yes it is a path to a silex site
It needs to exist

[2020-12-31 09:03] pawanhv commented on #1080
I guess I am stuck , I have "silex-website-builder": "^2.7.4" installed from npm. but I don't find editable.html file in the folder.
Is there a doc to explain this? if not I can add this info to the standalone mode documentation when I will succeed to run successfully.

[2020-12-31 18:52] lexoyo opened #1081 "list of all elements on page"
I did a [prototype of a toolbox](https://gist.github.com/lexoyo/b67b9ed9918145f476e9021a2c120130)  listing all  the elements

It could

- [ ] show only the elements on the current page
- [ ] show elements visibility (on which pages)
- [ ] click should select
- [ ] hide some elements
- [ ] delete, duplicate, copy, paste
- [ ] move to different container

[2020-12-31 19:40] pawanhv commented on #1080
Can you share your working repo so I can check :)

Pavan

[2021-01-02 09:46] lexoyo commented on #1080
Ok sure, I will share it

Here is an explanation in the meantime

1. The HTML file editable is just any template available on Silex which you can save anywhere (save it from silex on github or Dropbox or somewhere depending on what services you plan to allow on your Silex instance)
1. In order to get the fix I committed on silexlabs/Silex#develop you need to edit your package.json and replace the

[2021-01-09 21:37] lexoyo commented on #1080
Hi @pawanhv
I think I lost my test :-/

[2021-01-11 09:54] pawanhv commented on #1080
Ah I did not succedd to go past the loading page yet. I downloaded editable.html from repo but still doesnt work .

[2021-01-14 08:30] BaguetteAgile commented on #1064
Salut @lexoyo,

peux tu m'éclairer sur ce point ?

`var orejimeConfig = {
    // Optional. You can customize the ID of the <div> that Orejime will create when starting up.
    // The generated <div> will be inserted at the beginning of the <body>.
    // If there is already a DOM element with this id, Orejime will use it instead of creating a new element.
    // defaults to "orejime".
    elementI

[2021-01-14 09:03] lexoyo commented on #1064
Hello baguette
J'admire ta ténacité sur ce sujet ! Bravo c'est comme ça qu'on avance
Essaie ceci dans une boîte HTML

[code]

Tu auras peut être besoin de mettre la boîte directement dans le body, c'est à dire de la glisser déposer tout en bas du site, là où il n'y a plus de sections (vérifier dans le fil d'Ariane en bas qu'elle est bien directement dans le body). Mais je ne suis pas sûr que ça so

[2021-01-14 10:35] BaguetteAgile commented on #1064
Merci Alex, c'est un sujet important et je veux comprendre comment tout ceci fonctionne, donc je bosse, mais j'ai besoin d'aide
( car je ne suis pas informaticien ni codeur ... ) pour mettre en place avec Silex ;)

Est-ce que ce code est correct pour la partie API et Instance ??

`/* initialization auto */
window.orejimeConfig = {
},
Orejime.init(config),
internals.config,
show(),`

[2021-01-14 13:41] lexoyo commented on #1064
[code]

ca ne veut rien dire ce code :(

essaie sans aucun code, ca devrait s'initialiser tout seul si j'ai bien compris

au final tu as juste a ajouter ca dans HEAD
[code]
et pour chaque script que tu veux controller, tu remplaces `type="text/javascript"` par
[code]

[2021-01-15 08:59] BaguetteAgile commented on #1064
OK @lexoyo j'avais bien compris ceci, mais toute les parties:

Configuration
Initialisation automatique
API et
Instance d'Orejime

ils faut bien les configurer pour avoir un retour graphique qui correspond a notre site internet,

![Capture d’écran du 2021-01-15 09-53-47](https://user-images.githubusercontent.com/35597855/104703586-cbcce800-5717-11eb-8943-37717f8df43c.png)

il faut bien "dire" au s

[2021-01-15 09:01] lexoyo commented on #1064
Ah ça je n'avais pas compris

Mais ce js n'est pas valide je pense qu'il va générer des erreurs

[code]

[2021-01-15 09:10] BaguetteAgile commented on #1064
Oui, je l'ai supprimé.

je suis en train d'examiner le "debug" d'un site qui fonctionne avec "Orejime"

toute les parties ci-dessus, il faut bien les configurer, c'est ceci qui pose problème et l'API pour avoir un retour graphique.

toute la partie Configuration, je pense pouvoir m'en sortir, mais la partie API et Instance j'en suis pas capable, je vais avoir besoin de toi.
Merci

[2021-01-15 11:43] DemonRem opened #1082 "cant do anything many errors for each action"
i dont even know how to explain it each step i try to do he give me error lets say photo upload its give error
i cant manage to do it that the error
also each other function is give some other errors i wont even check all the function i dont a time for it
i just want to let you know about that thanks for reading

[2021-01-15 12:32] lexoyo commented on #1082
Hello

Thank you for the bug report

Could you please tell me

* What browser you use
* What does the error say

[2021-01-15 12:36] lexoyo commented on #1064
Ok je vais essayer de t'aider

On Jan 15, 2021, 10:11, at 10:11, BaguetteAgile <notifications@github.com> wrote:

[2021-01-19 13:40] fernandammoutinhobarros opened #1083 "Application error when I publish website"
Hi @lexoyo

I've tried to publish on silex and on prepod.silex, but I get this error.
It was working fine, as you can see here
http://www.consulpav.com/rar2021/test/
I'm using one of your templates

But now is crashing when I publish. How can I solve this?

![image](https://user-images.githubusercontent.com/25388113/105041024-6a2fb500-5a5a-11eb-8060-385564f3961d.png)
"Application error
An error oc

[2021-01-19 14:27] lexoyo commented on #1083
hello
i will look into that
maybe you can try with silex desktop app?
https://github.com/silexlabs/silex-desktop/releases/tag/v2.7.14

[2021-01-19 14:46] fernandammoutinhobarros commented on #1083
Hi @lexoyo

Thanks.
What's the wright file, for windows 10?

[2021-01-19 15:27] lexoyo commented on #1083
The .exe

[2021-01-19 15:57] fernandammoutinhobarros commented on #1083
Hi @lexoyo
when try I Install I get this error.
I  tried with admin priveliges.

Translated: "Windows cannot access the specified device, path or file. The user may not have the appropriate permissions to access the item."

![image](https://user-images.githubusercontent.com/25388113/105058562-424a4c80-5a6e-11eb-9809-7af3b89eeb1d.png)

[2021-01-19 16:14] lexoyo commented on #1083
Oh ok :-/
Windows did not ask for permission?

[2021-01-19 16:15] fernandammoutinhobarros commented on #1083
nop, i runned the file as admin

[2021-01-19 16:19] fernandammoutinhobarros commented on #1083
Silex editor is down

![image](https://user-images.githubusercontent.com/25388113/105061976-031dfa80-5a72-11eb-9a5e-8e3adccb085b.png)

[2021-01-19 22:49] fernandammoutinhobarros commented on #1083
Ok.
I was able to install desktop version on admin account.
Tried to publish but this happens
![image](https://user-images.githubusercontent.com/25388113/105103454-88bc9d00-5aa8-11eb-88f9-249308498b62.png)

[2021-01-20 06:54] #1082 closed

[2021-01-20 06:55] lexoyo commented on #1083
hi @fernandammoutinhobarros
could you try with preprod.silex.me please?

[2021-01-20 08:10] lexoyo commented on #1083
i just tried to fix the problem but i have too little info
still i updated editor.silex.me and preprod.silex.me so you can try again
we have had problems with the server so maybe you just tried while it was down

[2021-01-20 09:43] fernandammoutinhobarros commented on #1083
Tried with prepod and this happens

![image](https://user-images.githubusercontent.com/25388113/105156527-e0d4bd00-5b03-11eb-9150-cf967bf3da9d.png)

[2021-01-20 10:30] lexoyo commented on #1083
wow
can you try again please?
https://preprod.silex.me/
these are temporary errors

[2021-01-20 10:34] fernandammoutinhobarros commented on #1083
with prepod

![image](https://user-images.githubusercontent.com/25388113/105162740-eaadee80-5b0a-11eb-87c3-4f038f735c94.png)

[2021-01-20 10:37] fernandammoutinhobarros commented on #1083
https://editor.silex.me/
not working
stops here
![image](https://user-images.githubusercontent.com/25388113/105163154-73c52580-5b0b-11eb-8cbe-f5ee5c0b0e2d.png)

[2021-01-20 11:21] lexoyo commented on #1083
https://editor.silex.me/ is definitely up, what is your browser?

for the publication error, could you share your site with me plz?

[2021-01-20 11:21] fernandammoutinhobarros commented on #1083
The editable file?

[2021-01-20 11:44] lexoyo commented on #1083
Yes
The HTML and the json files

On Jan 20, 2021, 12:27, at 12:27, Azulinha <notifications@github.com> wrote:

[2021-01-20 11:47] fernandammoutinhobarros commented on #1083
I'm using chrome.
Which one works best?

[2021-01-20 11:56] fernandammoutinhobarros commented on #1083
Tried silex editor on mozzila and it's working, but it still doesn't publish the webpage.

![image](https://user-images.githubusercontent.com/25388113/105171688-737e5780-5b16-11eb-933d-3da18ab39131.png)

[2021-01-21 12:48] fernandammoutinhobarros commented on #1083
Hi @lexoyo

Rebuild the page, using the prepod on mozzila, but the same happens when i publish

Tried again with editor on mozzila and same happens.

![image](https://user-images.githubusercontent.com/25388113/105353062-ab54d000-5be6-11eb-86f8-88a44f636382.png)

[2021-01-21 14:29] lexoyo commented on #1083
I tried and it works well for me
Could you try to publish to a new folder in your dropbox or a new repo in github?

[2021-01-21 15:20] fernandammoutinhobarros commented on #1083
Ok.
I opened on the desktop version, and for now it's working.
I will try later on the browser

[2021-01-21 16:05] lexoyo commented on #1083
Ok great!
I think it was a temporary server problem
Let me know if you have this issue again
Obrigado ;)

[2021-01-21 16:05] #1083 closed

[2021-01-21 16:11] fernandammoutinhobarros commented on #1083
ok

[2021-02-03 16:29] ilham45 opened #1084 "help me upload Siliex builder to my hosting account"
Hi there.
Any chance to help me to upload Siliex builder to my hosting account , Include admin area
Thank you
ilham

[2021-02-03 16:58] lexoyo commented on #1084
hello @ilham45
here are the docs you need
https://github.com/silexlabs/Silex/wiki/Integrate-Silex-with-your-infrastructure

[2021-02-03 16:59] lexoyo commented on #1084
Or maybe this one to start
https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex

[2021-02-05 09:58] BaguetteAgile commented on #1064
Salut @lexoyo,

J'ai continué mon travail sur ce sujet:

je me suis inspiré du site suivant pour éclairer ma lanterne:

https://www.cm-larochelle.fr/

j'ai donc retravaillé la partie JS avec les variantes et cookies tiers, qui en toute logique doit être ok ( j'ai copier-coller ) la partie nécessaire a "orejime" et adapter.

Par contre je pense qu'il faut travaillé sur la partie API car j'ai des er

[2021-02-05 11:10] lexoyo commented on #1064
Hello

Déjà je vois qu'un des scripts est bloqué... Désactive ton ad blocker pour voir le fonctionnement normal

Ensuite il a l'air de chercher un élément avec l'id site-header donc tu devrais changer dans le code le #site-header pour un sélecteur qui existe? Ou créer une div #site-header dans une HTML box? (`<div id="site-header">`) Mais dans tous les cas je ne sais pas à quoi sert cet élément

[2021-02-05 11:33] BaguetteAgile commented on #1064
Magnifique @lexoyo  ça fonctionne !!
j'ai simplement ajouté une HTML box sur ma page d'accueil et j'ai le popup de Orejime ;)

Maintenant il me reste a terminer la configuration des autres cookies tiers et vérifier si cela fonctionne.

https://calice-orejime.netlify.app/

j'ai encore 2 erreurs JS meme avec AdBlock désactivé.

![Capture d’écran du 2021-02-05 12-28-45](https://user-images.githubuser

[2021-02-05 13:12] fernandammoutinhobarros commented on #1083
Hi @lexoyo

Just to give you an update, although this subject is closed.  😎

I used it again in the online editor, to test it and this time it published without errors, even the version that gave errors.
It must have been a big bug.

I think it has something to do with copy&paste of the page elements, when I copy an element that I want to repeat, after that when I publish, it gives errors. If I do

[2021-02-05 15:07] lexoyo commented on #1083
Great !

I appreciate the feedback, thx Fernanda

Your website looks good! You should add this css code in order to get
ridd of the horizontal scroll

[code]

On 2/5/21 2:13 PM, Azulinha wrote:

[2021-02-05 15:24] fernandammoutinhobarros commented on #1083
Great,

thanks for the css tip!😀

[2021-02-07 02:28] gravinyl opened #1085 "Published project displays underscored and different color (blue) links"
Hello,

I'm getting different results from the editable project and the published one.
Everything seems fine but I get the links underscored and blue in the published project and is not supposed to.
Where am I failing?

This is the adress for the published site:
https://gravinyl.com/

Thanks in advance

Flávio

[2021-02-07 08:50] lexoyo commented on #1085
Hello
This is a classic, I should fix it
You need to set the links color in the style editor (select the "link" icon and then set a color)
Let me know if you see what I mean

On Feb 7, 2021, 03:28, at 03:28, gravinyl <notifications@github.com> wrote:

[2021-02-07 13:59] gravinyl commented on #1085
Thanks for the quick response, you are awesome!

 

I think I get it now. I'll give it a go and tell you later.

Thanks

 
 

Sent: Sunday, February 07, 2021 at 8:50 AM
From: "Alex Hoyau" <notifications@github.com>
To: "silexlabs/Silex" <Silex@noreply.github.com>
Cc: "gravinyl" <gravinyl@gmx.com>, "Author" <author@noreply.github.com>
Subject: Re: [silexlabs/Silex] Published project displays unders

[2021-02-07 14:31] gravinyl commented on #1085
Hello again,

 

It didn't work... By default the color is black (which is what I want but when I chage opacity it gives me the greyish touch I pretend).

I actually inserted the full code #00000 where by default is just the #, to see if it forced setting it, but it didn't change.

 

By the way, the project preview displays as desired, is really the published project that gets the links blue and

[2021-02-07 18:21] lexoyo commented on #1085
I believe you missed one step then because it works like this:

Select the text box, then in the style editor select "links" like this:

![Screenshot from 2021-02-07 19-20-04](https://user-images.githubusercontent.com/715377/107155601-995e8580-6979-11eb-9a03-69cddfd8584b.png)

Then set the color and the "not underlined" from here

![Screenshot from 2021-02-07 19-20-26](https://user-images.githubus

[2021-02-08 13:10] gravinyl commented on #1085
Hello,

 

Solved!

My mistake was that I was directing the links on the object menu.

I was linking the text box instead of linking the text inside the text box.. No brainer. :)

The only thing you probably may take notice, if you deem it worth of attention, is that the preview doesn't signal the mistake only the published project. 

Thank you very much!

I'll let you know when the site is more c

[2021-02-12 14:59] lexoyo commented on #1064
Ok super !

Le `ERR BLOCKED BY CLIENT` ca ressemble vraiement a un blocage adblock ou des opetions de firefox pour la vie privée

Plus intéressant, l'autre erreur (addEventListener) c'est qu'il cherche encore un élément qui n'existe pas, le `.consent-modal-button`. C'est du code que tu as écrit toi ce que tu montres dans la console? En tous cas il te suffit d'ajouter un bouton dans silex (text box

[2021-02-15 17:06] BaguetteAgile commented on #1064
Salut @lexoyo

`ERR BLOCKED BY CLIENT` oui c'est une erreur qui provient des options de vie privée du navigateur.

Pour ceci `addEventListener` c'est bien une fonction qui permet d'appeler la boite de dialogue a tout moment.

j'ai mis ceci dans une HTML box

`<button type="button" class="Button consent-modal-button">Open consent modal</button>`

avec la class CSS `consent-modal-button` mais sans r

[2021-02-25 13:13] lexoyo opened #1086 "Parallaxe effect"
## About parallaxe

In Silex you can achieve a "parallaxe effect" by setting a background image to be "fixed":

![Bg image is fixed](https://user-images.githubusercontent.com/715377/109158055-258eec00-7773-11eb-9523-b0929f7c880b.png)

You can see the [definition of fixed background image and a demo here](https://developer.mozilla.org/en-US/docs/Web/CSS/background-attachment), it says:

## Why this

[2021-02-25 13:18] lexoyo commented on #898
Update: add the following JS code to keep the height of the hero section on small screens

[code]

[2021-02-27 12:33] lexoyo commented on #942
not sure if this widget works as good as the widget "[Make text and images appear on scroll](#443)"

[2021-03-12 16:00] BaguetteAgile commented on #1064
Salut Alex, peux tu m'aider dans la mise en place du script pour bloquer les cookies de GTM ?
j'ai décider de travailler avec GTM pour en autre utiliser GA4 qui va prendre le dessus sur GA, donc je prend les devants...

Si je suis correctement la mise en place d'Orejime il faut utiliser ceci:

`+ <script
+   type="opt-in"
+   data-type="application/javascript"
+   data-name="google-tag-manager">

[2021-03-22 15:23] gtiani opened #1090 "Desktop vs Mobile settings"
Hello,
I'm using Silex to build a website and having trouble between Desktop and Mobile mode. When I change items in Mobile mode, it causes changes is Desktop mode. I am not able to get the Mobile screen looking good without messing up the Desktop screen. Is there a method to adjust one without changing the other?
I'm new to this and just looking for suggestions.
Thank you,
Gary

[2021-03-23 05:51] lexoyo commented on #1090
Hello @gtiani
Here are the rules:

1. The styles you set in desktop editor are applied on both desktop and mobile versions
1. The styles you set in mobile editor are only for mobile
1. When you change content it is always changed in both versions

The content is everything related to the HTML: text, image (but not background image which is style), the order (which is linked to z-index), CSS classe

[2021-03-23 06:01] lexoyo commented on #1064
Hello baguette, désolé pour le délai j'étais bien pris

Ce code embed resemble a celui de GTM, donc tu es sensé le récupérer dans GTM et il y aura l'id GTM

Quand tu dis que ça ne fonctionne pas, peux tu m'en dire plus : ce à quoi tu t'attends, ce que tu obtiens

Petites astuces :

* Vérifie qu'il n'y a pas d'erreur JS
* Pour coller du code avec plusieurs lignes dans github utilises 3 "backslashes

[2021-03-23 20:20] BaguetteAgile commented on #1086
Extra, fonctionne très bien.
Merci pour cette correction :+1:

[2021-03-28 05:47] gtiani opened #1092 "slideshow does not work in small cellphone screen"
I'm trying to use the slideshow feature. For the large computer screen it works fine. When I switch to the small cellphone screen, the images are huge and extend beyond the slideshow box size. The arrows are shifted way outside the slideshow box and I have no control over the size. I'm in absolute mode. But, changing the values in the height and width do not change the window size. The image remai

[2021-03-29 13:07] lexoyo commented on #1092
hello @gtiani

yes it should be mobile friendly

On mistibooks.com I see a problem with the slideshow UI, I will look into this soon

In the mean time here is a fix you can paste in the CSS editor:

[code]

[2021-03-29 14:58] gtiani commented on #1092
Hello Alex,
Do I paste that in after the other CSS text like this: (the first 2 lines were already there)

silex-component-slideshow
silex-use-height-not-minheight
.unslider {
position: absolute;
margin-left: -20px;
}

I don't see any difference in the behavior. The image in mobile is still huge.
I selected the slideshow then added the text to CSS.
Did I miss something?

[2021-03-29 15:16] gtiani commented on #1092
If it means anything, while in the Silex editor in mobile mode, if I move the mouse over the slideshow and hold the left mouse button down, the image immediately changes to fit inside of the slide show. As soon as the left mouse button is released, the image immediately changes to huge.

[2021-03-30 09:56] lexoyo commented on #1092
Could you paste the whole content of the CSS editor please?

I don't see a huge image on a mobile phone on mistibooks.com, is it only in the editor?

[2021-03-30 10:26] gtiani commented on #1092
You're right. The huge image is on the Silex editor. On the actual mobile website, the image is ok. However the control arrows are way outside of the slideshow window.
Here's the CSS:
.unslider {
    position: absolute;
    margin-left: -20px;
}

[2021-03-30 12:24] lexoyo commented on #1092
My bad, please replace you CSS with this:

[code]

[2021-03-30 17:27] gtiani commented on #1092
That last change did not seem to do anything.
This CSS did something. I added the border just to see if it worked. The image for mobile is now contained. However, I can no longer move the slide show. The mouse will move it. But, then the slideshow jumps back to where it was. I'm new to CSS. Any suggestions would be appreciated. So far, I seem the slideshow window seems to be locked to a location t

[2021-03-30 19:42] gtiani commented on #1092
Has anyone actually seen the slideshow work in both the large screen and mobile mode?
If it is possible, I will keep trying. It looks like a great function if I works. It's very frustrating not to be able to move the slideshow window. It seems to like one location and refuses to move.

[2021-03-31 15:34] lexoyo commented on #1092
@gtiani I did the test, just a simple slideshow in an empty page

[Here is the result](https://lexoyo.me/silex-tests/slideshow/)

Thanks to the code I pasted the slideshow works fine on mobile

[2021-03-31 15:44] gtiani commented on #1092
Thank you, Alex.
I have enough workarounds now. I can get both large screen and mobile working. I just have to get used to using Silex.
Thank you for all your help and thanks for making Silex available in the public domain.
Sincerely,
Gary

[2021-03-31 15:44] #1092 closed

[2021-03-31 16:03] lexoyo commented on #1092
Your very welcome!
Also I just fixed the bug, so next time you add a slideshow you will not need the workaround
Have fun!

[2021-04-01 17:29] gtiani commented on #1092
I still have to add this to the CSS editor so the image stays inside of the slideshow window for mobile mode (while in the Silex editor) when I add a new Slideshow.
.silex-component-slideshow{
position: absolute !important;
margin-left: -20px;
}

[2021-04-02 06:09] lexoyo commented on #1090
I leave this issue open until we use it to add to the wiki

[2021-04-05 18:44] gtiani opened #1093 "host URL rather than custom domain shows on website and email forms"
I'm not sure if this is a Silex issue or not. When I type in "mistibooks.com" into the browser URL, the site opens but then displays "https://jolly-joliot-2c1793.netlify.app/" in the URL (the hosting URL). Also, when an email is sent from the website to Formspree, the forwarded email shows the message "https://jolly-joliot-2c1793.netlify.app/".
Is there a way to only show "mistibooks.com" and neve

[2021-04-06 04:01] gtiani opened #1094 "Setting the reply_to field in the contact form"
From Silex, I add a contact form and set all the fields. The form gets sent to formspree and then gets forwarded to the recipient fine. But when the recipient replies, the reply field is set to "Formspree <noreply@formspree.io" rather than the recipient. Formspree says there is a field "reply_to" that should be set. Is there a way to set the "reply_to" field from Silex?
The email show these fields

[2021-04-06 09:58] lexoyo commented on #1093
hello
yes there is a way to do that in netlify
did you look into the "dns" settings?

[2021-04-06 10:01] lexoyo commented on #1094
Hello
There is no way to do that with the form component, you would need to use the HTML form (and then you can use netlify forms) and create a form in HTML. Or you could use mailchimp to create a subscription form.
Why would you need that? You receive the email anyway right?

[2021-04-06 10:50] gtiani commented on #1094
Yes, the email comes through fine. But, normally, clicking on reply is all that's necessary. Now, I have copy the email address from field2 and paste it into the "to" field. If I forget to do that, I end up replying to nobody.
I'll try the HTML approach. I don't know HTML. So, another opportunity to learn, I guess.
Thanks,
Gary

[2021-04-11 07:17] DemonRem opened #1095 "Browser Not Showing Well"
i create my website portal but seems its look ugly and i cant find the reason of it
well this zip is the website index and rest files except my content data and i prefer not upload it

[web.zip](https://github.com/silexlabs/Silex/files/6291324/web.zip)

and as real website its show like that

photo 1 the editor

![1](https://user-images.githubusercontent.com/29927382/114295620-0d6af600-9aaf-11eb-9

[2021-04-12 12:27] lexoyo commented on #1095
hello @DemonRem
can you please give me a link to the online version? i will probably see the problem right away

[2021-04-12 12:31] lexoyo commented on #1095
in the picture and the ziped files, I see that you do not use "sections". they are useful to have things centered in the website and always visible whaterver size your window
you should put the image in the container of a section

[2021-04-12 12:42] DemonRem commented on #1095
well online version i belive you mean to the link of the website : http://www.redstormstudio.com

[2021-04-13 15:29] lexoyo commented on #1095
I see that you do not use "sections". they are useful to have things centered in the website and always visible whaterver size your window
you should put the image in the container of a section

[2021-04-16 06:59] lexoyo opened #1096 "[feature request] better style editor: apply styles VS edit styles"
I believe there is a problem with the current style editor UI which makes it hard to understand: when the users select a style in the dropdown it applys the style instead of selecting it for edition. Also the buttons "remove style" and "delete style" can be confusing

Here is what could be done easily:

* Add a box at the top of the stale editor tab, called "Current selection styles"
* List all st

[2021-04-16 07:02] lexoyo commented on #1094
Gary, thos is currently not possible with the form component

you cab create HTML forms with an HTML box or use MailChimp for example

[2021-04-16 12:05] lexoyo commented on #1095
@DemonRem here is a link explaining sections
https://github.com/silexlabs/Silex/wiki/FAQ#why-should-i-use-sections

[2021-04-16 13:20] molyrichez commented on #1096
@lexoyo  It would be WONDERFUL !

[2021-04-20 13:08] singchan opened #1097 "Bug when I change the tag name of the body"
When I select the body and change the tag name using this UI:
![Screenshot from 2021-04-20 15-07-06](https://user-images.githubusercontent.com/6483546/115400963-24fe5900-a1ea-11eb-82af-9fd1c7e2ae4e.png)

Silex lets me change the tag name of the body but then the HTML head editor does not work anymore :face_with_head_bandage:

[2021-04-21 08:27] #1097 closed

[2021-04-21 08:27] lexoyo commented on #1097
fixed

[2021-04-21 08:28] lexoyo commented on #1095
let me know @DemonRem if you have any more questions

[2021-04-21 08:28] #1095 closed

[2021-04-21 08:34] lexoyo commented on #1075
@sidmint is this still relevant?

[2021-04-21 08:35] lexoyo commented on #1075
@sidmint I just published a bug fix for the style editor, please test again and let me know if your 2 bugs are still there?

[2021-04-21 08:35] lexoyo commented on #1076
@form-and-void is this still relevant?

[2021-04-21 08:35] #1076 closed

[2021-04-21 08:37] lexoyo commented on #1093
hi @gtiani is this still relevant?

[2021-04-21 08:37] #1093 closed

[2021-04-21 08:38] #1094 closed

[2021-04-22 00:13] sidmint commented on #1075
both bugs not fixed yet.

[2021-04-22 06:43] lexoyo commented on #1075
ok I'll look into it soon
thx

On Apr 22, 2021, 02:13, at 02:13, sidmint ***@***.***> wrote:

[2021-04-27 07:32] Maxime0043 opened #1100 "Suppression des identifiants automatique"
Bonjour,
J'aurais besoin d'aide concernant les identifiants sur Silex qui se supprime tout le temps.
Lorsque j'ajoute manuellement des identifiants dans le code généré par Silex, et que je modifie les éléments en question sur l'outil Silex, les identifiants se retrouvent complètement supprimés. Par ailleurs, les identifiants me servent à interagir avec les éléments en JavaScript.

Merci.

[2021-04-27 07:41] Maxime0043 opened #1101 "Publication des pages sur un hébergeur"
Bonjour,
J'ai un petit problème concernant la publication des pages générées par Silex lorsque je les mets sur un hébergeur web.
En effet, lorsque je me rends sur le site après les avoir publiées, la console m'indique que les différents scripts utilisés ne sont pas trouvé. De plus, en regardant la source des scripts dans la code source de mes pages, je m'aperçois qu'elles indiquent des liens en lo

[2021-04-28 07:22] #1084 closed

[2021-04-28 07:24] lexoyo opened #1103 "New version of Silex available for tests"
Hello fellow makers

[Here is a new version of Silex available for tests](https://preprod.silex.me/). Please ask questions here or post the result of your tests :fire:

It represents 4 months of my volunteer time :eyes:

New features

* [a new "elements tree" panel, see the screenshot and details here](https://github.com/silexlabs/Silex/pull/1102)
* publication of zip files (needs docs, please ask

[2021-04-28 07:29] lexoyo commented on #1101
Bonjour @Maxime0043 et bienvenue
Il faut publier le site avant de le mettre en ligne

https://github.com/silexlabs/Silex/wiki/Publishing-and-Releasing-Your-Website/

[2021-04-28 07:35] lexoyo commented on #1100
Dans les fichiers editables de Silex (avant publication) tu peux ajouter ce que tu veux comme classes CSS, markup HTML et IDs
Il faut juste réouvrir le fichier dans Silex et ca ne devrait rien changer

Par contre la bonne pratique est d'utiliser les classes CSS pas les ID. Tu peux [ajouter des classes CSS à un élément depuis l'interface Silex](https://github.com/silexlabs/Silex/wiki/Silex-CSS-edit

[2021-04-28 08:20] Maxime0043 commented on #1101
Bonjour @lexoyo,
J'avais oublié de le mentionner dans mon message précédent mais que ce soit en local ou sur le site silex.me, lorsque j'effectue la publication on me renvoie vers le lien "https://editor.silex.me/undefined/index.html".

[2021-04-28 08:27] Maxime0043 commented on #1100
Très bien, merci.

J’utilise principalement les IDs pour récupérer les données entrées dans les champs des formulaires en JavaScript.

[2021-04-28 08:38] Maxime0043 opened #1104 "Problème sur la taille des sections"
Bonjour,
J'ai un petit problème concernant la taille des sections qui sont fixes. Je n'arrive pas à trouver le moyen de rendre la taille des sections ou des conteneurs adapté à son contenu.
Notamment, j'utilise des radio buttons pour afficher ou cacher certains conteneurs. Mais, lorsqu'un conteneur est plus grand qu'un autre, il va empiéter sur la section en-dessous.

Auriez-vous des solutions à m

[2021-04-28 12:17] lexoyo commented on #1104
Oui c'est une utilisation avancée de Silex:

* mets tous tes éléments en position `auto` (tous les éléments de la section, y compris les éléments à l'intérieur de containers)
* positionne les éléments en utilisant les option du paneau "layout" (margin, flex...)
* dans la hauteur de la section, supprime la valeur ou mets `0`

![layout panel](https://user-images.githubusercontent.com/715377/11640224

[2021-04-28 12:18] lexoyo commented on #1100
Pour des formulaires je te recommande du pur HTML, en utilisant les HTML Box
Je n'ai pas de contexte mais ca peut t'etre utile (ou pas :)

[2021-04-28 12:18] #1100 closed

[2021-04-28 12:20] lexoyo commented on #1101
Ah ok, peux tu ouvrir un bug, ca n'est pas normal

Pour ta question, j'ai répondu à ta demande? Si oui n'hésite pas à clore l'issue

[2021-04-28 12:24] Maxime0043 commented on #1104
Je peux le faire pour les conteneurs, cependant je ne peux pas interagir avec les sections.

![image](https://user-images.githubusercontent.com/57800452/116403105-767f9700-a82d-11eb-96ad-f4e4f0ab37f4.png)

[2021-04-28 12:27] lexoyo commented on #1104
Oui les sections sont toujours en `auto`, c'est tout ce qui est dedans que tu dois changer

[2021-04-28 12:28] Maxime0043 commented on #1101
Du coup, c'est possible de publier ses pages autrement qu'avec la fonctionnalité "publier" ?

Je vous avoue ne pas savoir où allé pour signaler un bug

[2021-04-28 12:53] Maxime0043 commented on #1104
Effectivement les sections sont en `auto`.
De ce que j'ai pu voir dans Silex, c'est que lorsqu'on crée une section, il y a un conteneur qui est automatiquement ajouté à l'intérieur.
Et ce conteneur comporte la propriété `min-height`, qui prend la valeur du `height` que l'on a définit dans Silex.
Donc, quand je lui mets une hauteur de 0, le contenu de la section se retrouve sur celle du dessous

[2021-04-28 13:05] lexoyo commented on #1075
thank you @sidmint this was a tricky bug to report
[here is the fix I did](https://github.com/silexlabs/Silex/pull/1102/commits/8c8b9bef9c5458729c56197f8ecea2d153e4c8c9), it will be live in the next release

you can test it [here on staging](https://preprod.silex.me/)

I could not reproduce this, could you check if it is fixed by the fix of the first issue please?

[2021-04-28 13:35] lexoyo commented on #1104
Pas si son contenu est en `auto`

Tu peux mettre en ligne un exemple qui ne fonctionne pas et je te dirai quoi faire

[2021-04-28 13:37] lexoyo commented on #1104
Ici un exemple qui fonctionne:
* section avec hauteur `0`
* contenu en auto

![Screenshot from 2021-04-28 15-36-32](https://user-images.githubusercontent.com/715377/116413088-961bbd00-a837-11eb-812b-cbcdd6e4a8dd.png)

[2021-04-28 13:44] Maxime0043 commented on #1104
Voici le lien vers une page exemple : [site](http://maxime-pinna.alwaysdata.net/sadaqa/don.html)

La section au-dessus du footer n'a pas une taille adaptée

[2021-04-28 13:49] lexoyo commented on #1104
je ne comprends pas de quelle section tu parles

On Apr 28, 2021, 15:44, at 15:44, Maxime0043 ***@***.***> wrote:

[2021-04-28 13:51] Maxime0043 commented on #1104
J'ai trouvé mon erreur, j'avais oublié de mettre un conteneur en position automatique, ce qui fait que le footer remontait sur la section concernée.

Je vous remercie de m'avoir aidé !

[2021-04-28 13:53] lexoyo commented on #1104
Avec plaisir pas de problème

On Apr 28, 2021, 15:51, at 15:51, Maxime0043 ***@***.***> wrote:

[2021-04-28 13:54] #1104 closed

[2021-04-28 23:20] sidmint commented on #1075
Thanks, it got fixed too.

[2021-04-28 23:20] #1075 closed

[2021-04-29 07:39] MrCookie78 opened #1106 "Possiblitité d'avoir un header / footer commun pour différents projets silex ?"
Bonjour,
Travaillant à deux sur le même projet, nous sommes obligés, pour chaque page de notre site, de créer un nouveau projet silex afin d'éviter des conflits lors de commit. Ce qui entraîne le fait que nous devons ajouter à la main, pour chaque nouvelle page, le header et le footer accompagnés de leur css et js respectif.
Et si nous faisons une modification du header ou footer, nous devons par

[2021-04-29 07:46] lexoyo commented on #1106
Bonjour @MrCookie78
C'est une très bonne question, je suis souvent dans ce cas aussi et je n'ai pas de bonne solution pour le moment malheureusement

Peut etre qu'en utilisant le copié collé tu peux t'en sortir :

* 1 site par personne
* 1 site commun
* de temps en temps tu copies de ton site et tu colles dans le site commun

Ca ne sera pas si simple pour les CSS/JS ou les settings des sites...

S

[2021-04-29 07:47] lexoyo commented on #1106
cc @molyrichez

[2021-04-29 08:38] molyrichez commented on #1106
Je sais pas... enfin, ce serait TOP de pouvoir copier des sections d'un doc
à l'autre ça c'est sûr. Maintenant, que ce soit le même, je vois pas
l'intérêt là tout de suite. Dans le cas où on fait une série de 200 LP et
que le client demande des changements sur les header et footers... là oui

Le jeu. 29 avr. 2021 à 09:47, Alex Hoyau ***@***.***> a
écrit :

[2021-04-29 12:55] MrCookie78 commented on #1106
Merci de vos réponses, je vais partir sur du copié collé je pense..

[2021-04-30 12:09] ceubri commented on #1103
The new "elements tree" is great, very helpful !
Nice job :)

[2021-04-30 15:56] lexoyo opened #1107 "Pageable script rewrite"
Pageable script is a js script used in Silex. It is used only before publication - in the editor and the preview. It makes it possible to have the hole website in 1 single HTML page. It mimics a normal website navigation but instead of having multiple pages at different paths, it handles deep links or URL hash: `https://editor.silex.me/ ... /editable.html#!page-home`

Current state

* depends on j

[2021-04-30 16:03] lexoyo opened #1108 "From JQuery to Zepto"
After #1109 we do not need the whole JQuery anymore, we should use the lightweight [Zepto](https://zeptojs.com/) as a drop-in replacement

* Zepto is 9.6K
* JQuery is 84K

Also an option to not include any library would be nice (all Silex components shoud be jquery-free)

- [ ] replace JQuery with Zepto
- [ ] remove JQuery syntax from components
- [ ] add an option to not include JQuery/Zepto

[2021-04-30 16:04] lexoyo opened #1109 "Remove JQueryUi"
After #1107 we can drop JQueryUi which is 20K for nothing

[2021-04-30 16:09] lexoyo opened #1110 "Help create the new official website for Silex"
<a href="https://github.com/silexlabs/Silex/issues/1110"></a>
Hello

It has been more than a year that @ceubri and I started to create a new website for Silex

We need you all to help review the website, identify missing content or mistakes

Please look at the <a href="https://silex2020.netlify.app/">work in progress</a> here and comment bellow

<a href="https://silex2020.netlify.app/">
<img alt="

[2021-04-30 16:09] #1106 closed

[2021-04-30 16:11] lexoyo commented on #1101
On peut écrire du code serveur mais c'est assez complexe

Je ne vois pas dans quel cas ca pourrait etre utile?

Ici dans github, juste crée une nouvelle issue

[2021-05-02 18:38] singchan commented on #1072
I suggest to do like wix:

* [ ] color
* [ ] background color
* [ ] font size
* [ ] font family

![Screenshot from 2021-05-02 20-25-14](https://user-images.githubusercontent.com/6483546/116823620-c63fc480-ab85-11eb-8564-04a845709ffb.png)

and maybe some things more advanced

* [ ] padding
* [ ] margin
* [ ] border

[2021-05-02 18:55] singchan opened #1111 "[feature request] better style editor: from properties to style editor"
Some styles are found in the properties for now:

* [ ] opacity
* [ ] background color
* [ ] background image
* [ ] border

They should be moved to the style editor, available for all elements, regardless if they are text or not

![Silex properties panel](https://user-images.githubusercontent.com/6483546/116824063-70b8e700-ab88-11eb-9935-a64461775e11.png)

To do so, we may need to add a "Root elem

[2021-05-12 12:41] lexoyo commented on #443
I changed the code so that anims take place only if the site is not resized (window wider than the site)

[2021-05-18 12:50] singchan opened #1115 "[feature request] Add image editor in silex"
Like the [GrapesJS TOAST UI Image Editor](https://github.com/artf/grapesjs-tui-image-editor) we should add TOAST UI Image-editor component in Silex

[2021-05-19 13:39] mmaatthhiieu opened #1116 "Preview mode: newly created page is not blank"
Hello,

I created a first web page with various elements. So far, so good. I create another one that I leave completely blank. Then, I switch to preview mode. I'm on my second page, but instead of being blank, it contains all the elements of my first page. I have checked that the box corresponding to my first page is checked for each element of this same page when I go to the Visible on section. S

[2021-05-20 06:09] lexoyo commented on #1116
hello
I don't see how it is possible
would you share the site?

[2021-05-20 11:16] lexoyo commented on #1116
these links are not public, i can't access it

the link to your github repo would be enough

i think I can find it by myself, I'll let you know

On May 20, 2021, 09:34, at 09:34, mmaatthhiieu ***@***.***> wrote:

[2021-05-20 13:53] mmaatthhiieu commented on #1116
ok great !!

[2021-05-21 12:01] aallnneess opened #1117 "Problems with position a Html Container"
Hello @all :-)

im new to Silex, and thanks for the great Work.

Unfortunately, I still have a few problems. For example with the positioning of HTML containers on desktop & mobile:

![NewName](https://user-images.githubusercontent.com/73443724/119132977-a93b3a80-ba3b-11eb-9ba7-100f5c50741a.gif)

Inside Html Container:

[code]

I use the Desktop version.

And here:
 - Sction Container is not norma

[2021-05-21 12:26] lexoyo commented on #1117
Hello
The "absolute" in mobile does not work right now, it is legacy
I will fix this (hopefully soon)
for now in mobile, everything is "auto"

[2021-05-21 12:37] aallnneess commented on #1117
Hello,

okay, but why are there so much empty space in page 2 ?

I just can't push the object up. With the example projects that worked somehow ...

![NewName3](https://user-images.githubusercontent.com/73443724/119138292-04702b80-ba42-11eb-90d2-2fda6cb5888d.gif)

Or am I doing something wrong here?

thanks

[2021-05-21 15:30] aallnneess commented on #1117
And i cant use the Layout options in mobile editor....no effect.....

![image](https://user-images.githubusercontent.com/73443724/119161915-165dc880-ba5a-11eb-91e1-73f356dbef50.png)

[2021-05-23 01:16] sidmint commented on #1110
I like the website design.
Issues:
1. There's a very little horizontal scroll present which is not required.
2. The top panel is not smooth when scrolling vertically, specially noticeable when scrolling with speed. It jerks itself to maintain its position.

Chromium 90, Linuxmint.

[2021-05-26 14:19] mmaatthhiieu commented on #1116
Thanks to take the time to look. So, I put the following part in the Javascript editor :

$(document).on('ready', function() {

      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 2000
      });

    });

I put that one in the CSS editor :

html, body {
      margin: 0;
      pad

[2021-05-26 16:21] aallnneess opened #1118 "Image jumping when changing pages"
Hello,

I have had this problem several times now.
Unfortunately I don't know why.
Im using the desktop version.

I position a logo image in the header, which is available on all pages (mobile & desktop).
(automatic position)
When I switch sides the logo moves.
Although both sides have exactly the same height / width etc.

![springing](https://user-images.githubusercontent.com/73443724/119695460-7

[2021-05-26 16:38] lexoyo commented on #1118
hi
please give me a link to an online version so that i can inspect elements

On May 26, 2021, 18:21, at 18:21, aallnneess ***@***.***> wrote:

[2021-05-26 17:35] aallnneess commented on #1118
Hey,

thanks for your answer.

Ive recreate it in the online version of Silex....It works as it should.

So, then I'll just work online now. Is not a problem.

thanks

[2021-05-26 18:18] aallnneess commented on #1117
Hey,

I just wanted to report back: I have been working with Silex in the last few days.
And slowly I understand how it works. Now it's getting really fun!

Thanks for your work :-)

[2021-05-26 20:03] #1118 closed

[2021-05-27 07:47] mmaatthhiieu commented on #1116
Thanks a lot for your time ! I made changes taking your comments into account and it's working.

[2021-05-27 15:55] #1116 closed

[2021-05-30 10:45] aallnneess opened #1120 "SFTP dont work with Silex Docker Image (#1105 lexoyo:html-attr)"
Hello,

im using Silex #1105 lexoyo:html-attr with an Docker Image.
Strangely, I only have the option to save locally or via sftp.

I tried sftp, but it only saves the main html and json:

Save folder:
![image](https://user-images.githubusercontent.com/73443724/120101100-b0053400-c144-11eb-8e90-d5c5a26c306b.png)

Publish:
![image](https://user-images.githubusercontent.com/73443724/120101117-c01d13

[2021-05-30 11:07] lexoyo commented on #1120
In order to start Silex with options (e.g. which services to start) you can do this with [Silex env vars](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#environment-variables)

Also note what is said here [about docker and env vars](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#docker):

[2021-05-30 11:07] lexoyo commented on #1120
Please feel free to add documentation, links etc to the wiki

[2021-05-30 11:30] aallnneess commented on #1120
![image](https://user-images.githubusercontent.com/73443724/120102402-1ab96e00-c14b-11eb-99f8-f85e77f960b0.png)

![image](https://user-images.githubusercontent.com/73443724/120102411-2311a900-c14b-11eb-90c6-80ebdd3ff3f9.png)

Docker dont start with this env vars...

[2021-05-30 15:43] lexoyo commented on #1120
it doesn't give any error ... weired

[2021-06-03 10:29] mmaatthhiieu opened #1122 "silex doesn't want to load my pages"
Hello, it's me again... Everything was fine until today. I opened Silex and it didn't want to load my pages. More precisely, it loaded my first page but not the second and the third one. It kept loading again and again but nothing happened. The last modifications I made before the problem occured were on the mobile version of the first page. I don't know if it can help to solve the problem. Thanks

[2021-06-03 20:00] lexoyo commented on #1122
hi
can you share the file?

On Jun. 3, 2021, 12:29, at 12:29, mmaatthhiieu ***@***.***> wrote:

[2021-06-04 09:09] mmaatthhiieu commented on #1122
Hi
Is this link good ?
https://github.com/mmaatthhiieu/ADF_website.git

[2021-06-04 10:15] lexoyo commented on #1122
yes good enough
i will check it out as soon as I can

On Jun. 4, 2021, 11:09, at 11:09, mmaatthhiieu ***@***.***> wrote:

[2021-06-05 12:04] aallnneess opened #1123 "After publish - several html pages without shared content ?"
Hello :-)

If I have several pages in Silex, several html pages are also generated when I publish.
Is the entire content always reloaded on every html page?

For example, if I set:
Header from the main page is visible on the Infopage - is the header also reloaded when the InfoPage is called?

That would be a little inefficient right?

thanks
alnes

[2021-06-05 14:03] aallnneess commented on #1118
Hey :-)

I have the same problem again:

In Silex preview all things works best:

![silexview](https://user-images.githubusercontent.com/73443724/120894182-70908900-c617-11eb-8f7d-ed7369a08d62.gif)

but published there are moving:

![published](https://user-images.githubusercontent.com/73443724/120894197-89993a00-c617-11eb-8ab0-a24664910f8d.gif)

https://github.com/aallnneess/testTheSilex

[2021-06-05 14:44] lexoyo commented on #1123
hi
I'm always up for a performance discussion :)
the markup is indeed loaded several times but we're talking less than 1kb so it is not important and it is how things are done
the other resources like js and css are the same on all pages so they are cached and downloaded 1 time only
did you check google page speed insights? it shows a lot about what is downloaded and what is significant

[2021-06-05 17:18] lexoyo commented on #1122
@mmaatthhiieu I fixed it and made a [PR to your website](https://github.com/mmaatthhiieu/ADF_website/pull/1)

I have no idea how this is possible but you `<body>` was marked as visible only on some pages and on mobile...

[2021-06-05 17:20] lexoyo commented on #1117
Yes this is a known issue
In fact it is more of an unfinished feature

[2021-06-05 17:21] lexoyo commented on #1117
You should probably close this issue?

[2021-06-05 17:31] #1117 closed

[2021-06-05 17:52] lexoyo commented on #1118
i believe what you mean is rhe same as here?
https://github.com/silexlabs/Silex/issues/1123

[2021-06-05 18:22] aallnneess commented on #1118
No, the nav bar or header items move when I click on another pagelink from the main page....very ugly ?!

![hgfcdxyf](https://user-images.githubusercontent.com/73443724/120901491-916ad580-c63b-11eb-8fee-d7302be6317b.gif)

ive checked all the height/width in main/contact page..i cant find an error.....

[2021-06-05 19:34] lexoyo commented on #1118
oh
very strange indeed
let me check soon and I'll get back to you
probably on Monday

[2021-06-05 19:34] lexoyo commented on #1118
you can continue working, I'll find out what the pronlem is

[2021-06-07 07:12] mmaatthhiieu commented on #1122
A big thank-you ! It works !

[2021-06-07 07:43] mmaatthhiieu commented on #1122
I have now access to my pages which is great but I noticed that when I click on the button One way ticket, round trip or circuit, the form is supposed to change and it doesn't. I conclude that my Javascript is not working which is strange because it was before.

[2021-06-07 12:16] lexoyo commented on #1122
You need to look at javascript errors in the console

[2021-06-07 12:50] mmaatthhiieu commented on #1122
First of all, thank you for your time. I understand what you want me to do but this problem occurs after your changes. Before, everything worked fine. I take it that this is not just a coincidence.

[2021-06-07 12:59] lexoyo commented on #1122
you can see the changes i did here
https://github.com/mmaatthhiieu/ADF_website/pull/1/files

if you want to remove them, you can just click on "revert" in the PR

[2021-06-07 13:56] mmaatthhiieu commented on #1122
I just looked at the changes you made and nothing seems to relate to javascript. So if I remove them, I risk especially having the same problem as at the beginning, right? Also, that doesn't explain my sudden JavaScript problems. Really sorry for wasting your time in the process ...

[2021-06-07 18:36] Vincent54700 opened #1124 ""Application error""
Hello everyone,

And thank you for making building websites so nice and fun.

I just finished a website and would like to publish it, but I get this message instead :
"An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command
heroku logs --tail"

And I have no idea what

[2021-06-07 18:52] lexoyo commented on #1124
hello can you share the website please?

[2021-06-08 06:17] Vincent54700 commented on #1124
Hi,

No problem
Do you need the photos as well?

Thank you
Vincent

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
Le lundi 7 juin 2021 20:52, Alex Hoyau ***@***.***> a écrit :

[2021-06-08 06:25] lexoyo commented on #1124
let's start with the html plz

On Jun. 8, 2021, 08:22, at 08:22, Vincent54700 ***@***.***> wrote:

[2021-06-08 10:20] Vincent54700 commented on #1124
Yes here it is. Do you receive it?

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
Le mardi 8 juin 2021 à 08:25, Alex Hoyau ***@***.***> a écrit :

[2021-06-09 08:55] Vincent54700 commented on #1124
I sent it from my email account but I don't seem to be able to send it from the forum as the html isn't supported.
Let me know if there is any other way i can send it to you.

[2021-06-09 08:59] Vincent54700 commented on #1124
This is the latest version attached to this email, if you can use this one instead.
Thanks

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
Le mardi 8 juin 2021 à 12:20, Vincent ***@***.***> a écrit :

[2021-06-09 10:12] lexoyo commented on #1124
no i did not, no attachments in github issues

can you put it in a repo on github?

On Jun. 8, 2021, 12:20, at 12:20, Vincent54700 ***@***.***> wrote:

[2021-06-09 11:49] Vincent54700 commented on #1124
Here it is: https://github.com/Vincent54700/PNT2020.git

[2021-06-09 14:59] aallnneess commented on #1118
so, should i upload the project files to fix this ? or is it not to fix ?

[2021-06-09 15:27] lexoyo commented on #1118
i need to see the website in order to tell you what's wrong

[2021-06-09 15:50] aallnneess commented on #1118
here is the website:

http://152.89.239.184:8080/Error/index.html

thanks

[2021-06-10 14:05] aallnneess commented on #1118
If the problem cannot be solved, please give me a short feedback, then I would have to look for something else.
(although Silex is the best I have found in open source)

thanks

[2021-06-10 15:41] lexoyo commented on #1118
@aallnneess it looks like you have added bootstrap with the form (in the HTML box)

and apparently bootstrap changes the links

you can add this CSS to the page with the form (not sure if it works perfectly):

[code]

if this does not work you can try this

[code]

finally if it does not work, an easy fix would be to add bootstrap on every page (in the head editor)

it is not optimal though

[2021-06-10 16:52] aallnneess commented on #1118
Okay, thanks!!

Thats nearly the only thing i dont check, but its so easy to understand.

My fault, sry!

[2021-06-10 17:03] lexoyo commented on #1118
no problem :)

[2021-06-11 08:02] lexoyo commented on #1124
hello
I published your website and had no error (i tried publication to dropbox)

1. it could be that the server was overloaded the other day, please try publishing again
2. it could be the images, could you add the images to your repository please?

[2021-06-11 13:38] Vincent54700 commented on #1124
Hey Alex,

I just added the images to the repository.
I tried publishing on dropbox and github again but i got the same error message as above again.

Since your publishing was successful is there a way i can access it?

Thanks

[2021-06-11 14:00] lexoyo commented on #1124
silex can not find it, did you clone the file srtucture too ? (folders etc)

[2021-06-11 14:00] lexoyo commented on #1124
there was no image

[2021-06-11 14:01] lexoyo commented on #1124
other ideas:

* could you try with silex desktop? https://github.com/silexlabs/silex-desktop/releases
* could you try to publish to github (which would solve your issue with netlify)

[2021-06-12 19:08] gtiani opened #1127 "Slideshow function"
Is there a way to make the Slideshow function respond to a finger swipe action rather then requiring a click on the arrows?
The arrow click is good when working on a PC with a mouse. But, on a small cellphone a finger swipe would be easier.

[2021-06-13 04:50] lexoyo commented on #1127
hello
the slideshow component is supposed to handle swipes on mobile, did you try and find out it doesn't work?
please provide your test online if you did
thx

[2021-06-13 05:18] gtiani commented on #1127
Hi,
The slideshow is used on the first page of mistibooks.com about halfway down the page. It works by clicking the arrows but not with swipes.
Gary

[2021-06-13 15:45] lexoyo commented on #1127
ok I found this which might explain why and how to fix it

https://stackoverflow.com/questions/17545319/jquery-unslide-touch-doesnt-work

i am not sure when i will have time to fix it but i will try to do it in less than a month or 2

[2021-06-17 17:09] lexoyo commented on #1124
@Vincent54700 any news?

[2021-06-17 17:31] lexoyo commented on #1103
It is now live on editor.silex.me

[2021-06-17 17:31] #1103 closed

[2021-06-17 17:33] lexoyo commented on #1127
@gtiani I just released [a new version of Silex, see details here](https://github.com/silexlabs/Silex/issues/1103)
In the change logs I see "fix slideshow on mobile"
So please try again and check if it works better now (remove and add a new slideshow)

[2021-06-18 01:52] gtiani commented on #1127
Hello,
No luck. I opened Silex & my website, deleted the slideshow, added a new slideshow and add 4 slides. Then re-built the website, published, and deployed. The new website is at mistibooks.com and works as before. The slideshow works fine if I click on the left and right arrows or click on the circles along the bottom of the slideshow. However, a finger swipe action does not move the slides. I

[2021-06-18 13:29] aallnneess commented on #1118
Btw: if you put in the "Main" Html Header the bootstrap...it works fine if you preview or publish - but not in the editor !

[2021-06-22 15:15] lexoyo opened #1129 "Horizontal scroll list"
This widget will add a container to your site, with all its content on 1 line and horizontal scroll

It will look like this:

![Screenshot from 2021-06-22 17-13-19](https://user-images.githubusercontent.com/715377/122950953-2defe000-d37d-11eb-811b-b3221d50d27b.png)

## The container

Create a new section and select the main container (central part of a section). Then add the CSS class `h-scroll` t

[2021-06-22 15:36] Vincent54700 commented on #1124
Hi,
I just tried with silex desktop. In the editing page the photos don't appear. Neither do they in the preview page. The software does manage to publish the website successfully and without any error message. And when I try to deploy it on Netlify it works but the link leads to a blank page.
I haven't tried to publish on github but I'll let you know about that later.

V

[2021-06-23 09:47] Vincent54700 commented on #1124
Hey,
So I manage to publish to Github but the photos don't show up in the deployment. I'm not sure why. They don't appear at the preview stage on Silex either. They used to so I don't know what happened really. I'm about to try re-uploading them but if you have any other idea just shout.

[2021-06-23 09:47] Vincent54700 commented on #1124
https://vincent54700.github.io/procheville/

[2021-06-23 10:03] Vincent54700 commented on #1124
I'm left with the same issue, the images don't appear. The publishing works though.

[2021-06-23 16:58] BaguetteAgile opened #1130 "Comportement étrange suite a publication"
Salut @lexoyo

suite a la mise en oeuvre de la solution Axeptio pour le RGPD ( Oui je lâche pas l'affaire, je test toujours ;) ;) ) en passant par GTM pour la gestion des cookies il faut mettre en place GTM sur le site internet et ensuite envoyer les Tags sur le site.

Comme stipulé par Google, il faut coller un script dans le Head et coller un autre script  dans la **section Body** de toute les p

[2021-06-23 17:17] lexoyo commented on #1130
Hello

Cool que tu ne lâches pas
Pour mettre dans le body, ce que je fais en général c'est que je le mets dans une HTML box

Tu as recadré dans la console de debug pour voir c'est tout est chargé normalement ?

[2021-06-23 17:19] lexoyo commented on #1110
Thank you @sidmint
This is very valuable points
I'll fix both

[2021-06-24 13:30] BaguetteAgile commented on #1130
Salut,

je viens de laisser le site en live,
apparemment se serait une erreur d'interprétation du navigateur Chrome car sur Firefox pas de soucis.

Peux-tu prendre le temps de visiter le lien ?

http://www.calicebluesrock.be/

PS: autre chose d'étrange:
j'avais installer le script "Reflection" pour les photos dans une ancienne version, je l'ai supprimé par la suite et dans la console je trouve tou

[2021-06-24 13:56] BaguetteAgile commented on #1130
Autant pour moi @lexoyo
je viens de vider le cache du navigateur et c'est OK ;)

a mon avis sa fonctionne bien, je continue mes essais et te tiens au courant.

[2021-07-02 19:27] slip13420 opened #1131 "Issue with slideshow module breaking publishing"
Hey guys, weird issue.  I've been trying to set things up as a standalone instance working in single page mode.  All of that is working fine, can add images from SFTP, save the site, publish the site, no problem.  Problem occurs when I add the slideshow module.  The pictures seem to load fine in the editor, however the "choose file" section never shows the preview and just continues to say "choose

[2021-07-02 19:31] lexoyo commented on #1131
Oh this is really strange
Could you try to publish with another service and see if it works maybe? File system may be the easiest one

On Jul. 2, 2021, 21:27, at 21:27, slip13420 ***@***.***> wrote:

[2021-07-02 19:35] slip13420 commented on #1131
Roger that, will try.

[2021-07-08 17:09] slip13420 commented on #1131
Ok, so I switched it to use the fs connector and set my fs_root to a user folder in /home/.  Running silex as root currently for testing purposes.  I am able to open the page with the correct path and service settings.  The page opens and is editable.  However if I try to add images from that folder or browse it at all I get an out of sandbox error,
![image](https://user-images.githubusercontent.c

[2021-07-08 18:20] BaguetteAgile opened #1132 "Solution Axeptio pour le RGPD"
Salut @lexoyo

Voilà je me suis pencher sur le problème du RGPD ( encore ;) ) avec la solution Axeptio et GTM qui fonctionne a merveille ;) ;)

Veux-tu que je fasse un tuto explicatif pour l’installation sur Silex ?
Peut-être faire un Wiki ?
En tout cas prévenir les utilisateurs de Silex que cette solution existe pour leur site.
En version gratuite gestion de 2 cookies aux choix, pour plus il faut

[2021-07-08 20:41] slip13420 commented on #1131
Update to this, looking through CloudExplorerRouter.js I see that the sandbox being passed is just fsRoot and I have the environment variable set... FS_ROOT=/home/sftpuser.  Not sure where to go from here lol.  Any help appreciated.  Thanks in advance!

[2021-07-08 22:20] lexoyo commented on #1110
@sidmint could you try again and let me know if the scroll is still there? I don't have it on my chromium/linux

[2021-07-08 22:24] lexoyo commented on #1110
any feedback before i release the site @tariqbenezza @molyrichez @BaguetteAgile @gravinyl @sidmint @godzone @singchan @FranGamer189 @DurtyDev ?

[2021-07-09 06:42] lexoyo commented on #1131
Hello
Your environment variable is ok (FS_ROOT) [as you can see here](https://github.com/silexlabs/Silex/blob/develop/src/ts/server/ServerConfig.ts#L92), Silex builds CE options with env vars
I looked at the code and I dont see why. Where do you save the website/what path? Is it inside the root path?

[2021-07-09 06:47] lexoyo commented on #1131
Also I did not ask: what browser do you use?

[2021-07-09 13:23] lexoyo commented on #1132
Salut baguette !!
Bravo c'est super

Ca serait super, tu peux faire un widget ? Une issue dans l'esprit des [autres widgets](https://github.com/silexlabs/Silex/issues?q=is%3Aopen+is%3Aissue+label%3Awidget)

En fait une sorte de tuto quoi :)

[2021-07-09 13:24] #1132 closed

[2021-07-09 13:28] lexoyo commented on #1130
hello
si ca marche bien n'hésite pas a fermer l'issue :)

[2021-07-09 16:07] slip13420 commented on #1131
So folder I'm saving is is the fs_root, path variable in the url is /scott_test.html which works, opens the file fine as it's relative to FS_ROOT correct?  Also, browser is chrome.  I can try in Firefox in a bit.

[2021-07-09 17:04] slip13420 commented on #1131
Same issue in firefox...
![Screenshot_20210709_100339](https://user-images.githubusercontent.com/52355525/125113120-14e56f80-e09d-11eb-929e-f8fdfd2cd3b7.png)

[2021-07-09 19:26] slip13420 commented on #1131
Tried putting the files into a sub directory of the FS_ROOT and changed the path=, same result...
![image](https://user-images.githubusercontent.com/52355525/125127049-d78add00-e0b0-11eb-8e38-e25f69f74909.png)

[2021-07-09 19:33] slip13420 commented on #1131
One other thing I forgot to mention, using pm2 to manage the startup of Silex, not sure if that has any impact.  Started via the command..
`sudo SERVER_URL=http://xxx.xxx.xxx.xxx:6805 ENABLE_FS=true FS_ROOT=/home/sftpuser pm2 start --name silex npm -- start`

[2021-07-09 22:06] 93657 opened #1134 "Community chat"
Hi do you guys have a Discord Channel, so that newbies can get in touch with experienced ppl?

I'm kinda stuck.

[2021-07-10 04:12] sidmint commented on #1110
1. horizontal scroll still present
2. top panel issue still prersent, though it might be little lesser, I'm not sure.

[2021-07-11 07:52] lexoyo commented on #1110
anyone else has the scroll issue? thx

[2021-07-11 08:34] lexoyo commented on #1134
hello
this is a good idea
[i have setup a gitter chat here](https://gitter.im/silex-website-builder/community), feel free to join :)

[2021-07-11 09:53] ceubri commented on #1110
Yes the top menu is not fixed when scrolling, it jerks.
Chrome  on Android

[2021-07-11 12:22] lexoyo commented on #1110
Ok thank you @ceubri

I just fixed it for desktop

[2021-07-11 13:26] lexoyo commented on #1127
hello @gtiani
I think I managed to fix this issue with #1136
It is live on https://preprod.silex.me/
Could you give it a go and let me know if it is fixed? You need to **delete all slideshows first** then add them again

[2021-07-12 00:40] gtiani commented on #1127
Hello Alex,
I tried opening my editable website using preprod.silex.me. However, the two pages of my website are all displayed on a single page with both pages mixed. When I try to add a slideshow, the location defaults to the bottom of the page rather than where I am trying to place it. Should the version in preprod.silex.me be backward compatible and display my website the same as the previous v

[2021-07-14 20:08] slip13420 commented on #1131
Hey guys, update on this.  I have created custom services and custom hosting provider.  Everything works great now, saving, publishing, opening, slideshow, etc.  The only small issue I have is when I have images in the slideshow I still get a no file chosen in the preview window...
![image](https://user-images.githubusercontent.com/52355525/125686141-dd037096-a106-467f-bf9f-aeb8d28696ff.png)
Any i

[2021-07-15 06:26] lexoyo commented on #1131
Very nice!!!

This is a known bug. It probably comes from [the prodotype library](/silexlabs/Prodotype) which is used to generate the components UI

[2021-07-15 06:30] lexoyo commented on #1131
Feel free to open an issue for this last problem

Also would you share your setup? Maybe as a page in the wiki and/or a github repo?

If I understand correctly you made Silex an admin for just 1 site? It behaves like the back office of a traditional CMS then?

Thank you for sharing

[2021-07-15 20:27] slip13420 commented on #1131
Thanks, I will open a new issue for the new problem.  As for my setup, all I did was copy the various tutorials, [how to add silex to your node.js project](https://github.com/silexlabs/Silex/wiki/How-To-Add-Silex-To-Your-Node.js-Project), [Integrate Silex with your infrastructure](https://github.com/silexlabs/Silex/wiki/Integrate-Silex-with-your-infrastructure), and [single site mode](https://gith

[2021-07-15 21:00] slip13420 opened #1137 "Issue with slideshow not showing chosen images"
Hey all, new issue.  When using the slideshow addon, everything works correctly however the sidebar still shows "no file chosen".
Any help appreciated!

![image](https://user-images.githubusercontent.com/52355525/125856902-934aae40-16a2-47bb-87ba-cb69005313a9.png)

[2021-07-25 09:21] lexoyo commented on #300
@all-contributors bot lets add @lexoyo for code and docs

[2021-07-27 20:26] slip13420 commented on #1137
Ok So I have played around with this a little more.  One thing I noticed is the preview of the image is loading correctly, the issue is the DIV has a height of 0.
![image](https://user-images.githubusercontent.com/52355525/127222314-9ae420a0-b60c-4a07-b020-8a7fd3b2ae9e.png)
If I manually add a height like this...
![image](https://user-images.githubusercontent.com/52355525/127222487-1ba80ec3-6ba7-4

[2021-07-28 06:02] lexoyo commented on #1137
This is a known bug
It is annoying but non blocking so it will not be fixed soon as I am the only dev here (sadly)

On Jul. 15, 2021, 23:00, at 23:00, slip13420 ***@***.***> wrote:

[2021-07-28 06:12] lexoyo commented on #1137
Oh this is interesting thx
Would you be able to fix it ?

You would need to run silex locally and use (instructions for [linux and macos](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#local-installation-on-linux-or-macos-or-cloud9), [for windows](https://github.com/silexlabs/Silex/wiki/How-to-Host-An-Instance-of-Silex#local-installation-on-windows))

Then there will be a

[2021-07-28 06:17] lexoyo commented on #1137
This is not really a bug, the 'choose file' input should be 'upload' and it should not show the file name field. This is because it is a native input, it can not remember the name as it holds the name of a local file

[2021-07-28 16:24] slip13420 commented on #1137
So for this one, I've found on line 58 in the prodotype source file FileEditor.js is where it's defined...
![image](https://user-images.githubusercontent.com/52355525/127359484-c861b230-f22f-493f-9638-f3f6b2462fbb.png)
Forgive my ignorance as I'm still very new to node.js but how do I go about recompiling that when it is a dependency in the node project I built?  What I mean is it currently lives

[2021-07-28 17:58] slip13420 commented on #1137
Ok so I was able to fix this issue.  I forked prodotype and fixed it in there.  Git repo is https://github.com/slip13420/Prodotype if you want to check it out.  Only change made was in FileEditor.js.

[2021-07-28 19:10] lexoyo commented on #1137
Great :)
Would you create a pull request?

[2021-07-28 19:38] slip13420 commented on #1137
Done, pull request is https://github.com/silexlabs/Prodotype/pull/29

[2021-07-30 06:30] lexoyo opened #1138 "New website for non profit organization"
Here is a link to a website I did with Silex:

[Silex Labs non profit organization website](https://www.silexlabs.org/)  is powered by Silex (the Stastic fork, listed in [Silex community instances](https://silex.me/instances/#list) , Jekyll, forestry.io, github pages

The design was initially made by [Léo Francia](https://github.com/Stuff31) (@Stuff31)

The website content includes hundreds of blo

[2021-07-30 18:23] lexoyo opened #1139 "Marketing blog for startup powered by silex"
[Blog de l'entreprise Refty](https://blog.refty.co/). Powered by [Silex](https://www.silex.me), with the ["Stastic" instance](https://www.silex.me/instances/#list), using [11ty static site generator](https://11ty.dev/), netlify hosting & forms, github, hubspot integration.

#opensource #nocode

[https://blog.refty.co/](![refty](https://user-images.githubusercontent.com/715377/127692365-82f787de-b8

[2021-07-31 17:42] lexoyo commented on #1127
@gtiani could you try again on preprod please?
Also if it does not work please share your site with me

[2021-08-01 01:56] gtiani commented on #1127
Hello Alex,
No luck. My website won't open correctly. You can see the problem by opening then "clean-square" example. When I open it with the Silex.me site, everything works fine and I can toggle between the two pages. However, if I use the preprod.silex.me and open "clean-square", everything is on a single page and I cannot toggle between the two page.
Am I doing something wrong? Should the prepr

[2021-08-01 07:14] lexoyo commented on #1127
Oh ok
Thank you for the example, I will fix this

[2021-08-04 06:30] lexoyo opened #1141 "Give your feedback about Silex please"
Here are places where your feedback is very welcome:

* [AlternativeTo](https://alternativeto.net/software/silex-live-web-creation/)
* [ProductHunt](https://www.producthunt.com/posts/silex/reviews)

[2021-08-14 15:27] #1134 closed

[2021-08-15 11:07] #1137 closed

[2021-08-15 20:17] lexoyo commented on #1127
@gtiani preprod.silex.me is fixed, sorry about that, some files where missing

Please try again the swipe

[2021-08-16 21:58] lexoyo commented on #300
@all-contributors please add @lexoyo for infrastructure, tests and code

[2021-08-17 03:03] gtiani commented on #1127
Eureka!!!! It works.
It's so much easier to use the swipe motion rather than trying to click on the small arrow.
Thank you very much.

[2021-08-17 05:32] #1127 closed

[2021-08-17 20:25] lexoyo opened #1142 "Lightbox widget"
Light boxes are a nice way to display your images. [For example on this demo site](https://lokeshdhakar.com/projects/lightbox2/#examples)

For this widget I chose [the Lightbox 2 project](https://lokeshdhakar.com/projects/lightbox2/) because it is very light weight and free / open source

## Install for your site

1. Download a zip of [the latest release from the Github Releases page](https://gith

[2021-09-03 17:18] slip13420 opened #1143 "Login Form No Longer Popping Up"
So this is a weird one.  Using the example of setting the page to [Single Site Mode](https://github.com/silexlabs/Silex/wiki/Single-site-mode), and [Integrate Silex with your infrastructure](https://github.com/silexlabs/Silex/wiki/Integrate-Silex-with-your-infrastructure), I was able to have login-form.html pop-up sometimes.  However it now never pops up.  Not sure what I'm doing wrong.  If I howe

[2021-09-04 15:30] lexoyo commented on #1143
Hello
The code looks good to me
I believe the popup is opened only if the user is not logged in already
Check the network calls and see what the /services path returned. If your service says isLoggedIn is true then it is normal

On Sep 3, 2021, 19:23, at 19:23, slip13420 ***@***.***> wrote:

[2021-09-09 20:22] slip13420 commented on #1143
Ok, thanks I'll have a look.  The issue I don't understand though is if I load up in Incognito mode, I still get no login form.  Being incognito would mean I'm for sure not logged in.  I'll check the network calls.

[2021-09-09 21:08] slip13420 commented on #1143
Digging through this a little more I see the session is not logged in and I never see the login page.

![Screenshot_20210909_140808](https://user-images.githubusercontent.com/52355525/132762893-641a5a6b-e546-4d6d-9efe-ce1bcf911a70.png)

[2021-09-09 21:12] slip13420 commented on #1143
I'll add the custom service code as well to see if that helps.

[code]

[2021-09-09 21:47] slip13420 commented on #1143
Ok, after more testing the issue is it only pops up after you have logged in once.  What I mean is if you go incognito or use a browser you haven't used before, you have to manually got to /login-form.html and login first.  Then each subsequent load of the page brings up the login form popup correctly.  Any ideas?

[2021-09-21 21:44] BaguetteAgile commented on #1132
Salut @lexoyo,

je reviens vers toi pour cette solution RGPD.

Je m'aperçois qu'il y a un problème avec ce widget, j'ai contacter le support de Axeptio et voici leur réponse:

Ma question:

**Bonjour,

je rencontre un soucis d'affichage avec le widget.

Sur PC ou en mode paysage sur smartphone tout fonctionne a merveille, par contre en mode portrait sur un GSM le widget s'affiche puis disparaît de

[2021-09-24 13:02] lexoyo commented on #1143
Hi @slip13420
sorry for the delay, are you still working on it?

ok i think i understand

the login popin is opened when the user click on your service in the file explorer (https://cloud-explorer.org/)

and then when the file explorer opens up, it tries to reconnect to the last visited service and may open the popup again

maybe what you need is to make sure the user is logged in before opening s

[2021-09-24 13:03] lexoyo commented on #1143
also feel free to join the chat if it is easier (not sure)
https://gitter.im/silex-website-builder/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2021-09-30 14:53] BaguetteAgile commented on #1142
Salut @lexoyo

Il y a des erreurs 404 pour les fichiers js et css lightbox.
Pourtant j'ai bien suivi la structure des dossiers et sous dossiers.

Je comprend pas...

`Failed to load resource: the server responded with a status of 404 ()`

Voici un lien

https://cranky-chandrasekhar-dc53d3.netlify.app/

![Capture d’écran du 2021-09-30 16-50-35](https://user-images.githubusercontent.com/35597855/135

[2021-10-01 08:34] lexoyo commented on #1142
hello @BaguetteAgile
visiblement ces fichiers manquent
[code]

il faut bien mettre ces fichiers là ou tu publies, c'est peut etre pas clair dans la doc du widget

[2021-10-01 14:27] BaguetteAgile commented on #1142
Voilà je viens donc de télécharger le dossier `lightbox` dans son intégralité dans mon dossier de publication comme ceci

![Capture d’écran du 2021-10-01 16-24-34](https://user-images.githubusercontent.com/35597855/135636473-65aff33b-101a-4d05-9cfe-dd993f826593.png)

maintenant plus d'erreur 404 mais toujours pas d'affichage lightbox ...

voici un lien:

https://elastic-ptolemy-eeb815.netlify.app/

[2021-10-08 22:40] lexoyo opened #1145 "Silex desktop bug on windows"

[2021-10-27 13:37] BaguetteAgile opened #1147 "Difficulté Z-index"
Bonjour @lexoyo ,

je souhaite utilisé une fenêtre Pop-up avec ce code, mais impossible quelle s'affiche devant tout mes autres éléments de la page, la fenêtre reste visible mais toujours derrière les éléments...
J'ai bien essayer avec une fonction "z-index" pour la faire passer devant, mais pas de résultat positif...

Voici le code que j'ai placer dans une html box:

`
	<style>
                #p

[2021-11-02 23:28] Kaoras opened #1148 "Can't use drives other than the root home folder (C:\...\My Documents) on Windows"
Hey, so I'm interested in using Silex as an editor, but I have a setup where my System is primarily used for root (C:, because Windows 10 x64) and all my other assets will be stored on other drives because they have more space.

But it seems like Silex will only import and save to My Documents on C:.  Even when I use the "Click to select files!" prompt to open the native file manager, I can't impo

[2021-11-03 17:03] lexoyo opened #1150 "Latest version of Silex"
Hello,

I just released a new version of Silex with 1 bug fix
https://github.com/silexlabs/Silex/pull/1146

Also this fix is on preprod.silex.me for you to test please
https://github.com/silexlabs/Silex/pull/1149

[2021-11-03 17:08] lexoyo commented on #1148
Hello @Kaoras

Yes this is what it does

This behavior could be changed [in the code here](https://github.com/silexlabs/silex-desktop/blob/master/index.js#L16), would you like me to tell you more about this?

You mean event to upload an image for example? this would be strange

[2021-11-03 17:10] lexoyo commented on #1147
Hello baguette
Tu peux me mettre une version en ligne stp?

[2021-11-04 10:59] BaguetteAgile commented on #1147
https://admiring-northcutt-ebadd1.netlify.app/

[2021-11-08 15:47] saliez opened #1151 "Basic user guide ?"
As a first time beginner, where to find the most basic elements of an user guide:
Meaning and options of the "+" ?
Uses and options of a container ?
What if the screen of the reader has a different dimension ?
Edit options ?
What is allowed using "</>" ?
How to show lists of lists ? i.e, an <li>AAA<ul><li>aaa</li></ul></li>
......
Discovering by trials and errors take much time !

[2021-11-09 20:01] BaguetteAgile commented on #1147
Résolu, je ferme l'issue.

[2021-11-10 12:12] lexoyo commented on #1147
Ah désolé je suis plus ou moins en vacance
J'espere que ca a fonctionné
C'est intéressant les popups en plus, ca manque niveau widget

[2021-11-10 16:13] BaguetteAgile commented on #1147
@lexoyo
Salut, en faite, tu peux quand même suivre le lien ci-dessus pour regarder au code, car j'ai résolu en parti le problème, mais je viens de remarquer que même en mettant la boite html du popup dans une  autre section, le problème de Z-index est toujours présent.
Rien ne presse, mais ce serai bien d'avoir ce widget pour Silex.

A+

[2021-11-29 12:33] fernandammoutinhobarros opened #1152 "Links with # disapear when thers more than one page"
I have the following problem (I'm using the desktop version):
I have a menu in a text box, where each word is a link that jumps to a section of the page.
Now I've added a new page, which uses the same menu, but the links disappear every time I edit the text box.

When it was just one page it worked perfectly, I added the link with #section-name, now I use the filename.html#section-name, but the li

[2021-11-29 12:33] fernandammoutinhobarros commented on #1152
My page www.rar2022.net

[2021-11-29 12:38] lexoyo commented on #1152
Oh interesting

I think you don't need "filename.html" even with multiple pages, could you try that?

[2021-11-29 12:40] lexoyo commented on #1151
Hello @saliez
Did you check the wiki?
https://github.com/silexlabs/Silex/wiki

[2021-11-29 12:59] fernandammoutinhobarros commented on #1152
Tested it:
What happens is that it get's all messed up:
Some links of some sections that appear on that page work fine, others don´t work at all.
The ones that don't appear on that page try to jump to a section that doesn't exist on that page.

If the links refers to a sectionY only on pageA, and if i'm on pageB , it creates the link  "pageB#sectionY"

[2021-12-06 12:10] Kodbilim opened #1153 "My Silex website"
Here is a link to a website I did with Silex:deneme

[2021-12-06 12:33] primal-buddhist opened #1154 "Blank screen on launch using appimage on Fedora 35"
Hi

1. Downloaded the appimage
2. Set to executable
3. Launch
4. An application screen launches eventually but is just whitespace in an application window.
5. Logs show a coredump (Process 240165 (silex-desktop) of user 1000 dumped core.
6. I can close the window

Using Fedora 35.

[2021-12-06 13:49] lexoyo commented on #1153
@Kodbilim what's the website?

[2021-12-06 17:53] #1151 closed

[2021-12-06 20:39] lexoyo commented on #1145
Thank you for your tests!!

[2021-12-06 20:39] #1145 closed

[2021-12-06 20:41] #1131 closed

[2021-12-06 20:42] #1130 closed

[2021-12-07 16:21] #1153 closed

[2021-12-07 16:30] lexoyo commented on #1154
Thank you @primal-buddhist for the report

I am installing fedora 35 now in order to investigate this issue

[2021-12-08 13:52] primal-buddhist opened #1155 "Not recognizing chroot on sftp"
Hi

1. Using the web editor version,
2. select sftp to save,
3. Enter credentials and accepted
4. Get a list of the / directory of the server (expected /var/www/mywebsitefolder)
5. Trying any directory returns
[code]
I expected the ftp client to present /var/www/mywebsitefolder as the root. Maybe a bug in the web unifile client?

(works fine using filezilla)

[2021-12-08 14:51] lexoyo commented on #1155
Hello

A few questions

1. What folder do FileZilla show at start?
2. When you navigate to /var with FileZilla, does it list the www folder?

On Dec 8, 2021, 14:52, at 14:52, Primal_Buddhist ***@***.***> wrote:

[2021-12-08 15:23] primal-buddhist commented on #1155
1. /var/www/mywebsitefolder (set as the home folder for the user)
2. Yes

[2021-12-08 17:07] lexoyo commented on #1154
@primal-buddhist I finally found out that this is not a silex problem but all electon apps in fedora 35, as [you can read here](https://www.reddit.com/r/Fedora/comments/qm3qm1/fedora_35_most_electron_apps_are_not_starting/)

They say a solution is to add `--disable-seccomp-filter-sandbox` to the command starting the app, so for example with Silex you can do `$ ./silex-desktop-2.7.24.AppImage --dis

[2021-12-08 17:07] #1154 closed

[2021-12-08 17:20] lexoyo commented on #1154
And I found out that by upgrading electron version, this issue is fixed

Please just download the latest version of Silex desktop, it will work then

Thank you for the bug report, good catch !

[2021-12-08 17:37] primal-buddhist commented on #1154
Fantastic

[2021-12-08 19:02] lexoyo commented on #1154
Use this workaround then ?

[2021-12-14 06:45] saudAtIrisdame commented on #801
Hello @sfkazmi

I am facing the same problem with grapejs how did you address this problem?

I have the same requirement I want to save templates in the database.

If you found the solution & don't mind sharing I am desperately looking for it. I am not able to find your email but here's mine chougle.saud@irisdame.in

[2021-12-15 08:45] lexoyo commented on #1150
thanks @molyrichez for the tests, I'll close this issue

[2021-12-15 08:45] #1150 closed

[2021-12-15 09:50] BaguetteAgile commented on #1132
Salut @lexoyo,

peux-tu s'il te plait regarder à ce problème quand tu as le temps, car en faite sa bloque complètement le site internet, et les internautes ne savent pas qu'il faut passer en mode paysage pour régler ce soucis ...

Merci d'avance ;)

[2021-12-16 13:28] #1148 closed

[2021-12-16 13:34] lexoyo commented on #1152
@fernandammoutinhobarros i see on your site that all the links work now?

i tried to reproduce but did not succeed, can you help me reproduce?
maybe due to the new version i released yesterday

[2021-12-16 14:43] fernandammoutinhobarros commented on #1152
I didn't put online the version with the problem, but I can share with you

[2021-12-16 15:25] fernandammoutinhobarros commented on #1152
If I edit the text box where the links are,  without leaving it works, but if I re-edit the text box, some links disappear, manly the ones that go to sections of the page, and then I have to insert them all again, without leaving the text box.

[2021-12-17 12:42] lexoyo commented on #1152
Ok
Please share with me the buggy version

On Dec 16, 2021, 16:25, at 16:25, Azulinha ***@***.***> wrote:

[2021-12-28 19:34] fasteddys opened #1158 "How to save in asp MVC core 6"
how do I get the composed page and save in asp mvc

[2021-12-28 19:38] lexoyo commented on #1158
Hello
You probably simply need to publish in the right folder?
I don't know asp mvc so ..

[2021-12-28 19:44] lexoyo commented on #1158
Please ask a more specific question, I am sure we can workout something

[2021-12-29 08:54] fasteddys commented on #1158
Is there a way to send the designed HTML back to server such that it can be decomposed its the files and fodler structures.

Maybe as a zip file, server  or Ajax call. I can integrate it into ASP myself is thats possible

[2021-12-29 10:58] lexoyo commented on #1158
Sure, you can do that

When you publish your site you can choose a folder on GitHub or FTP or your local computer (silex desktop only)

Does it answer your question?

[2021-12-29 11:01] lexoyo commented on #1158
Here are some Q&A related to that

* [About Silex HTML files](https://github.com/silexlabs/Silex/wiki/FAQ#about-silex-html-files)
* [Integration of Silex with php project](https://github.com/silexlabs/Silex/wiki/FAQ#integration-of-silex-with-php-project)

[2021-12-31 04:23] ClemCa opened #1159 "Self hosting silex: Internal error when selecting a template (Heroku)"
As can be seen below, Silex does not seem to work on Heroku.
I used the one-click install button on the official website and didn't change anything after the build was done.

![image](https://user-images.githubusercontent.com/26848693/147803124-50b995ea-9060-4587-b7a1-2b7e1d955f02.png)

[2021-12-31 06:07] fasteddys commented on #1158
Thanks, Let me try that

[2021-12-31 06:07] #1158 closed

[2021-12-31 13:09] konsumopfer77 opened #1160 "Text all scrambled in textbox Noob in need of help"
Hello, im a noob to skilex so maybe its not a bug but just my limited understanding of how the software works but i got the following problem, when i try to put text in a Textbox its all scrambled, its only using one column and overlapping horribly.  I Tried to work arround this Problem with  the use of ENTER but its really getting messy once i try to make it work for both phone and desktop user.

[2022-01-02 09:10] lexoyo commented on #1160
Hi @konsumopfer77

Good to have you here!

I am not sure why it does that, could you please let me know what browser you use and what exact steps you do?

This forum has no structure I guess ;)
Did you see the online documentation here on GitHub, the "Wiki" tab ? There is a tutorial and pages about the software. Also there is a page with links to video tutorials

[2022-01-02 09:24] lexoyo commented on #1159
Hello @ClemCa
Can you give here the env vars you set in heroku install form?
Also what steps did you do to open the file exactly?
And did you try the same file on https://editor.silex.me ?

[2022-01-03 21:19] konsumopfer77 commented on #1160
@lexoyo Hi, thanks : )

I work via chromium  but i tested it on chromium and firefox.  The weird thing is, when i checked from a friends pc and had the same bug, it "solved" itself after i changed the window size (it was full screen at first but it still worked when i changed back to full screen)   Im defnitly going to check out the wiki tab, thank you (i didnt notice it before) This will come in

[2022-01-07 13:17] ClemCa commented on #1159
Hi, sorry for the delay. I left all the options empty, as they are marked optional

[2022-01-07 16:23] lexoyo commented on #1159
The SERVER_URL is required, that is probably what went wrong

[2022-01-07 16:25] ClemCa commented on #1159
I did fill it though, heroku wouldn't let one continue without filling it, after all.

[2022-01-07 16:32] ClemCa commented on #1159
I put clemca.herokuapp.com, and you can find it there.

[2022-01-08 02:38] steveveach opened #1161 "Comparison to Now Defunct Serif WebPlus X8"
Hello everyone,

I'm considering switching to this application after years of using an amazing WYSIWYG program from a small UK company called Serif. The software WebPlus X8 has been defunct for a few years. Is anyone here that is using Silex a former WebPlus user?

Thanks!

[2022-02-15 10:09] #1110 closed

[2022-02-16 16:58] rayvaughn57 commented on #1141
Really horrible out of the box Linux Installation. Avoid at all cost.. Docs are the usually hard to follow non descriptive paragraphs .. "..this is how to do it.." ,, and no code preview for the generated pages .. in short don't waste your time

[2022-02-16 17:27] lexoyo commented on #1141
Thank you for your feedback

You are talking about silex in general and the desktop version in particular right?

What documentation are you referring to?

[2022-02-16 22:08] rayvaughn57 commented on #1141
My Gripes...

It just doesn't spell out  the why or how to's ...and those environment
variables  why are they  needed ..?? or where that have been set,

outta of the box whether it's the online web version or installed you
can't see any source code or download an example to see if it's worth
buying..

I saw Bootstrap Studio ran a couple of demo's within 5 minutes I had
purchased and never looked b

[2022-02-17 02:04] rayvaughn57 commented on #1141
Here another problem when attempting to use silexlabs site builder

Save website
Error: I did not manage to save the file.
Error: Unknown connector: undefined
    at Unifile.callMethod (/usr/local/lib/node_modules/silex-website-builder/node_modules/unifile/lib/index.js:333:41)
    at Unifile.batch (/usr/local/lib/node_modules/silex-website-builder/node_modules/unifile/lib/index.js:324:15)
    at /

[2022-02-17 07:35] lexoyo commented on #1141
Ok I see
Thx for the answer

[2022-02-24 17:26] BaguetteAgile commented on #289
Bonjour à tous, voici un code à coller dans une boite HTML pour avoir un lecteur de son sur votre site internet.

`<audio controls preload="auto" src="ma-musique.mp3"> Votre navigateur ne supporte pas la balise audio . </audio>
<font color="white"> Le nom de votre musique </font>`

[2022-02-25 00:48] konsumopfer77 opened #1162 "Question to BurgerMenu"
Hi there folks,
Is there a way to make the background of the burger menu transparent or disable it somehow?
Or if not, can i add an background image instead of a monochrome box?
I probably overlooked it but i have been on it for hours and couldnt find options for that (couldnt even manage to change the font color in the Menu from that ugly purple to something else)

![burgermenu](https://user-imag

[2022-02-25 09:19] lexoyo commented on #289
Nice! Thx @BaguetteAgile
J'ai ajouté ta solution dans le widget

[2022-02-25 11:49] lexoyo commented on #1162
Hello @konsumopfer77

To answer your question I created [a new section about the hamburger menu in the docs here](https://github.com/silexlabs/Silex/wiki/editor-ui#hamburger-menu). There is a "Hamburger menu design" part.

Do you find the answers to your questions there? Feel free to ask for clarifications, it will help others :)

[2022-02-25 14:21] lexoyo commented on #1161
Hello
I didn't know this software
Can you tell us more about it so that we can compare?

[2022-02-25 14:23] lexoyo commented on #1160
Hi @konsumopfer77
Did you solve your issue?

[2022-02-25 14:27] lexoyo commented on #1159
Hi I tested again and it works form me on heroku

I believe you need to put a full URL, with the protocol for example (`http://`)

Also try with / without a slash at the end maybe?

[2022-02-25 14:53] lexoyo commented on #1143
no prob @slip13420 :)
have a nice weekend !

[2022-02-25 14:53] #1143 closed

[2022-02-25 14:55] ClemCa commented on #1159
Hi, I gave up on it in the end, found something else. You can close it. Was
weird though. Maybe something was wrong with my chrome installation.

On Fri, Feb 25, 2022, 15:27 Alex Hoyau ***@***.***> wrote:

[2022-02-28 09:05] lexoyo opened #1163 "Use Lerna to make 1 repo with all Silex sub-projects"
Lerna is a tool for managing JavaScript projects with multiple packages.
https://lerna.js.org/

Make 1 repo with all silex packages

1st step

* [ ] Silex
* [ ] Stage
* [ ] Prodotype
* [ ] CloudExplorer

2nd step

* [ ] Unifile
* [ ] [editor.silex.me](http://editor.silex.me/)
* [ ] Desktop
* [ ] Components, hosting providers and custom services as separate projects

[2022-02-28 09:21] lexoyo commented on #449
Here are the docs to do that

* https://github.com/silexlabs/Silex/wiki/Data-Storage
* https://github.com/silexlabs/Silex/wiki/Silex-for-hosting-providers
* https://github.com/silexlabs/Silex/wiki/Integrate-Silex-with-your-infrastructure

[2022-02-28 09:21] #449 closed

[2022-02-28 09:23] lexoyo commented on #529
Here is silex desktop version: https://github.com/silexlabs/silex-desktop/releases/latest

[2022-02-28 09:23] #529 closed

[2022-02-28 09:23] #1070 closed

[2022-02-28 09:28] #803 closed

[2022-02-28 09:28] #820 closed

[2022-02-28 09:30] #736 closed

[2022-02-28 19:25] konsumopfer77 commented on #1162
@lexoyo  Oh yes indeed, thank you!
I read this before but i guess i confused the color options for the icon with the background and figured it doesnt work.
Thats awesome

[2022-02-28 19:27] #1162 closed

[2022-03-04 16:06] lexoyo opened #1165 "Silex next version"
This is the upcoming Silex version, please test on https://preprod.silex.me

Details of all changes and bug report here

[2022-03-05 10:34] lexoyo commented on #1163
Here is the repo
https://github.com/silexlabs/silex-meta

Still working on details

- [ ] deployment of tags instead of master everywhere, delete all develop branches
- [ ] use main instead of master everywhere
- [ ] publish new versions of all npm packages

[2022-03-06 19:15] #36 closed

[2022-03-08 15:11] bhandarys opened #1167 "Single Site Mode - HTTP 405 error"
I have set up Silex with node JS based on the following link.

https://github.com/silexlabs/Silex/wiki/How-To-Add-Silex-To-Your-Node.js-Project

I then followed the guidelines given in the below URL to create a Single Site Mode

https://github.com/silexlabs/Silex/wiki/Single-site-mode

However when I try to open Silex with the following URL

http://localhost:6805/?path=/websites/user1&service=cust

[2022-03-08 20:11] lexoyo commented on #1167
Hello
In single site mode, the path is supposed to be a path to a file not a directory
I think, not 100% sure... Could you try?

[2022-03-09 09:25] bhandarys commented on #1167
Hi Alex, You are right. Thank you.

I modified the path to

http://localhost:6805/?path=/websites/user1/editable.html&service=custom-service

and it is working. I am sorry, I should I tried it first. I got this path from network section of the browser when working in normal mode.

[2022-03-09 09:25] #1167 closed

[2022-03-09 14:13] lexoyo commented on #1167
that's smart, good tip :+1:

cool! de nada

[2022-03-10 18:56] lexoyo commented on #777
I just removed

[2022-03-10 19:25] konsumopfer77 opened #1169 "elemts "freeze""
I really got into silex lately and its a lot of fun but there is one problem, its probably something really obvius but i cant figure it out by my self:

Working with silex elements like text-boxes, containers or images are from one moment to the next frozen in place, i cant move them arround nor resize them with drag & drop,  weirdly it still works if i do it with the coodinate system and type in

[2022-03-10 19:41] konsumopfer77 commented on #1160
Hey, thanks for aksing.
I kind of worked arround it.  Its still like that every time i copy a new block of text in a text-box in silex. It has something to do with how silex apparently cant aproperly  seperate the text in diffrent passages depending on how big the text box is. Instead it stacks all passages in the same place and it looks all scrambled. Its a little annoying to do changes in the te

[2022-03-10 21:16] lexoyo commented on #1169
Hi @konsumopfer77
Thank you for the detailed bug report!
Would you please open the developer console : right click anywhere then "inspect element" then open the "console" tab
And please paste here the errors that may happen while it is doing the bug?

[2022-03-10 21:18] #1161 closed

[2022-03-10 21:23] #1159 closed

[2022-03-10 21:44] konsumopfer77 commented on #1169
@lexoyo thx for the incredible fast response!
still happened.  I wonder tho if it might have something to do with my internet connection, cause there is sometimes small interferences and for a second or two. On the other hand: if silex is loaded and open it shouldnt have an effect tho.. hm...

![000](https://user-images.githubusercontent.com/44984803/157759775-26cd8349-1017-4368-aa99-87284acb1eb8.

[2022-03-10 21:51] konsumopfer77 commented on #1169
@lexoyo thanks for the incredible fast response!

unreachable code after return statement
[prodotype.js:59029:8](https://editor.silex.me/libs/prodotype/prodotype.js)
Download the React DevTools for a better development experience: https://reactjs.org/link/react-devtools [prodotype.js:54871:17](https://editor.silex.me/libs/prodotype/prodotype.js)
window.controllers/Controllers is deprecated. Do not

[2022-03-10 22:17] lexoyo commented on #1169
Thank you very much, this is helpful

Can you just confirm that this was after the bug occurred? I think so because I see a loop, but I want to be sure

I'll look at that in less than a week for sure

[2022-03-10 22:30] lexoyo commented on #1160
So it only occurs with text boxes with text pasted from word or something ?

[2022-03-10 23:21] konsumopfer77 commented on #1169
@lexoyo Yes this was after the bug occured.
:  )

[2022-03-11 09:03] bhandarys opened #1170 "Single Site Mode - URLs"
Hi, Does the URL for assets change in Single Site Mode? In Multi site mode all assets (images) were loaded in the template without any error. But in Single site mode, I get HTTP 404 error. One example is provided below

http://localhost:6805/ce/custom-service/get/src/libs/templates/silex-templates/air/assets/book-5.png [[HTTP/1.1 404 Not Found 1751ms]]()

However this works fine on Multi Site mode

[2022-03-11 09:17] lexoyo commented on #1170
what is the path of the website, as shown in the network?

[2022-03-11 10:15] bhandarys commented on #1170
Thanks Alex for the prompt response. The path of the website is

http://localhost:6805/?path=/src/techntour/websites/user1/editable.html&service=custom-service (It's on my local machine)

[2022-03-11 10:50] bhandarys opened #1171 "Error while publishing in Single Site Mode"
Hi, I have followed the following link to create a  custom hosting provider

https://github.com/silexlabs/Silex/wiki/Integrate-Silex-with-your-infrastructure#create-a-hosting-provider

I have created a folder called Website within my NodeJS project. When I click on publish
1. I get a screen with message "I am about to publish your site. This may take several minutes". However in the console I can

[2022-03-11 12:11] lynnmedia commented on #1171
Please remove me from your distribution list. I have unsubscribed, but you keep sending them. I have set all of my notification settings off, but I keep receiving them. I closed my account at GitHub in order to stop getting these f'in messages all day but they keep coming. My next stop is to take down your servers and shut down everything you do, so please, first just remove my name so I get no mo

[2022-03-11 12:11] lynnmedia commented on #1170
REMOVE ME FROM YOUR EMAIL LIST BEFORE I DESTROY YOU!

[2022-03-11 12:13] lynnmedia commented on #1169
fuck you, remove me from your list. I've unsubscribed I should never see another fucking email

[2022-03-11 12:14] lynnmedia commented on #1170
fuck you, die asshole

[2022-03-11 12:18] lexoyo commented on #1169
❤️

Swearing is negativity in your life, I wish you peace

Also you probably didn't unsubscribe properly, GitHub works usually but the user interface is not easy

[2022-03-11 12:28] lexoyo commented on #1170
I will, eventually

I have reported your messages

Have a good day

[2022-03-11 12:33] lexoyo commented on #1170
So the path of the assets is wrong. Please do this :

1. In multi site mode, start from a template, save the template in your new service
2. In single site mode open this new website

[2022-03-11 14:02] lexoyo commented on #1169
@konsumopfer77 I am investigating now

Would you do this to help me?

1. try this demo and see if it has the same bug? http://projects.silexlabs.org/drag-drop-stage-component/pub/ (this is the demo of the project I use in silex to handle drag / drop / wysiwyg stuff)
2. instead of pasting the console errors here, would you mind doing a screenshot so that i have the colors etc (especially the part w

[2022-03-11 14:04] lexoyo commented on #1169
and

3. i would like to see the files of your website (specifically the `.json`)

[2022-03-11 15:55] bhandarys commented on #1170
I completely missed this point. In multi site mode, when I saved the site for 3 users, user1, user2 and user3, only editable.html and editable,json was saved in the respective directory. Assets, CSS and JS folders were missing. I used Save Website / Custom Service and clicked OK on the top right where the suggested name was editable.html. Should I be doing something more to save the other folders

[2022-03-12 08:25] lexoyo commented on #1170
If you start from a template and do what you said it should be ok

Please try again to be sure

[2022-03-12 16:45] lexoyo commented on #1171
This is a warning right?
It is not a problem, this is because the publish service returns an empty string

This probably means you are trying to publish to a non existing folder OR to publish a non existing file. Could you check that both the file and the folder exist? Then maybe send me more details?

[2022-03-14 15:02] bhandarys commented on #1171
Hi Alex, I got a mail with your response. But the response seems to be missing here. Can you please guide me the folder where the custom hosting provider example, saves by default?

[2022-03-14 22:04] konsumopfer77 commented on #1169
@lexoyo
Swearing?
I dont really understand how to use the newer version of the web editor to be honest.
Heres a screenshot (still from the old version of silex)
![00012](https://user-images.githubusercontent.com/44984803/158268402-8dcd57c4-4873-4701-a926-a07a1aa53c59.png)
[ArtHorse_web_2.html.json.zip](https://github.com/silexlabs/Silex/files/8248765/ArtHorse_web_2.html.json.zip)

Thanks for all t

[2022-03-18 10:41] lexoyo commented on #1165
cc @ceubri @konsumopfer77 @bhandarys @molyrichez @meipey @fernandammoutinhobarros @BaguetteAgile

when you have a moment, I'd appreciate your tests and feedbacks one more time (in english or french or spanish)

thank you for your help over the years <3

nice features comming soon !! :fireworks:

[2022-03-29 06:50] BaguetteAgile commented on #1165
Salut @lexoyo

dans cette nouvelle version, je ne trouve pas l'onglet " Test new element here "

https://staging.silex.me/

c'est l'ancienne version en ligne ?

[2022-03-29 06:56] lexoyo commented on #1165
Ah désolé c'est pas clair
En fait il faut créer un plugin pour ajouter des onglets
C'est pas la peine de tester ca, juste les fonctionnalités normales et la publication etc. J'ai peur des régression à cause des trucs que j'ai fait pour passer la validation w3c
Merci pour les tests @BaguetteAgile

[2022-03-29 21:18] BaguetteAgile commented on #1165
Impossible d'ouvrir un projet sur Dropbox !
Github c'est OK

![Capture d’écran du 2022-03-29 23-05-52](https://user-images.githubusercontent.com/35597855/160707679-0f6a1c1a-6dcb-4484-9378-a5042f1b9b1d.png)

[2022-03-31 08:09] jeremoury opened #1172 "play button doesn't appear"
using this Js, css and html code https://www.labnol.org/internet/light-youtube-embeds/27941/
I can't see the play button on my iframe using Silex (it's working using Codepen.io).. don't know why ?

[2022-03-31 09:07] lexoyo commented on #1172
hi @jeremoury
would you show me what you did?
is there a silex website online somewhere?

[2022-03-31 09:09] lexoyo commented on #1171
Hi @bhandarys
Did you sort it out? You need to select an existing folder when publishing

[2022-03-31 09:09] lexoyo commented on #1171
Or maybe it is another error

[2022-03-31 09:15] lexoyo commented on #1165
Ah ok super merci pour le bug report @BaguetteAgile
Dropbox devrait etre fix maintenant, j'ai changé l'url de la preprod c'est pour ca

[2022-03-31 09:17] #1170 closed

[2022-03-31 09:34] BaguetteAgile commented on #1165
`Dropbox devrait etre fix maintenant, j'ai changé l'url de la preprod c'est pour ca`

C'est opérationnel pour Dropbox ;)
Je vais pouvoir commencer les tests.

[2022-03-31 10:06] jeremoury commented on #1172
I would like to replace a YouTube embedded player by an iframe. And only when the user click on the play button, the video is launched. (I have a lot of Vimeo and YouTube embedded players on my website : www.jeremyoury.fr)

like this : https://codepen.io/labnol/pen/vYXYrOW
or like this : https://paulirish.github.io/lite-youtube-embed/variants/custom-poster-image.html

[2022-03-31 11:30] jeremoury commented on #1172
with Silex, I have the iframe, and if I click on it the YouTube player is launching.
But unfortunately, I can't see the "fake" play button over the iframe.

[2022-04-06 04:17] gtiani opened #1173 "onswipe.js not downloading"
I installed the desktop version of Silex and tried re-building my website. I get the following error message:

Warning: these files could not be downloaded:
  onswipe.js

In the js folder, I see 4 files: "front-end.js", "jquery.js", "script.js", "unslider-min.js"
When I last used the online version of Silex, I saw a "onswipe.js" file in the js folder. With the desktop version I don't see the "onsw

[2022-04-06 04:41] gtiani commented on #1173
Sorry, my fault. There must be a compatibility issues. After I deleted the old slideshow and started a new one, the onswipe.js file downloaded fine using the desktop version.
Sincerely,
Gary

[2022-04-07 04:03] gtiani opened #1174 "Visitor counter"
Is there any help available on how to add a visitor counter to a Silex website?
Sincerely,
Gary

[2022-04-07 06:22] lexoyo opened #1175 "Grapesjs storage"

[2022-04-07 06:59] lexoyo commented on #1174
Hello
You will need to find a third party service or component
Then based its code in an HTML box
Let me know how it goes

[2022-04-07 11:38] #1160 closed

[2022-04-07 11:39] #1171 closed

[2022-04-07 15:14] gtiani commented on #1174
I have no idea what I am doing. But, these steps seem to have worked:
Go to  http://www.hitwebcounter.com
Select a style. Then, click on "Get Your Count Code". Copy the code from the text box.
From Silex, click on the "+" sign and add an html item. Then, double click the html item to bring up the html editor. Paste in the code from hitwebcounter. Set attributes in Silex as desired. Add a text box

[2022-04-08 21:59] lexoyo commented on #1174
Cool! That's a new widget :)

[2022-04-08 22:03] lexoyo commented on #1173
Hello
No prob
This is probably because i fixed the slideshow recently (#1165)

[2022-04-08 22:03] #1173 closed

[2022-04-08 22:05] lexoyo commented on #1172
If you don't show me I can't say...

[2022-04-08 22:05] #1172 closed

[2022-04-09 11:00] santomet opened #1176 "What IP does editor.silex.me use while connecting to a FTP server"
Hello, My web hosting provider blocks FTP access from any IP other than specified. What IP is being used by the included FTP client?

Sorry for writing here, but apparently this acts as a forum :)

[2022-04-09 11:22] lexoyo commented on #1176
Hello
Yes indeed it's like a forum :)
The IP is the one of editor.silex.me, you can use ping to know the IP or any other method
Also you can use silex desktop and it will be your IP then

[2022-04-10 11:50] bhandarys commented on #1171
Hi Alex, Sorry about the delay. Yes, I had managed to solve this problem. Thank you for your help.

[2022-04-15 00:52] tiellas-xoxo opened #1177 "new user trying to publish"
Hey im new to all of this e.i silex, web design, github. Im looking for some help because i feel like the issue is something simple im overlooking.

I made a simple website in silex but now that its finished im running into an issue where it wont publish. This didnt occur in any of my tests, i was even able to publish a beta version of the site with only certain pages, but i cant figure out the is

[2022-04-15 06:43] lexoyo commented on #1177
Hello
I will try to help you, can you share your files?
There are freelancers here, they can be faster probably cc @ceubri @bagetteagile

[2022-04-15 15:00] tiellas-xoxo commented on #1177
Hey! Thank you

Attaching them here, and ill reach out to the others you tagged if i dont hear back by the end of the day!

https://github.com/tiellas-xoxo/test-site.git

[2022-04-15 15:25] BaguetteAgile commented on #1177
Hi, this is what I get.

https://chic-trifle-fe8c2f.netlify.app/

[2022-04-15 15:34] tiellas-xoxo commented on #1177
I am importing all images for the site through dropbox, and then sent the site file here using git. So do i need to import all the images to the repository too? Or how can i share the dropbox files for the site?

For reference, here is the beta version i released that uploaded fine using dropbox

https://github.com/tiellas-xoxo/tiellas.git

im sorry for being so mixed up, if theres a way i can com

[2022-04-15 15:43] tiellas-xoxo commented on #1177
![Untitled-1](https://user-images.githubusercontent.com/100728646/163591378-cc9ab9bd-bc06-4e9a-ba59-b969793f5bf4.png)

this is the message i get everytime i try to publish. It gets through uploading all images, tries to run some more and then fails

[2022-04-15 15:57] BaguetteAgile commented on #1177
For me, it is necessary to put all the images in the directory "Master" of Github (attention to the weight of this one)

Then in Silex you will have to reselect each image...

When this is done, you can publish the site.

[2022-04-15 16:01] tiellas-xoxo commented on #1177
Ok I'm going to try that now and update!

Is there a reason this site is giving me issues but the first one didnt? The first one used all images from dropbox and published to gitpages perfectly on tiellas.com

[2022-04-15 17:28] tiellas-xoxo commented on #1177
![image](https://user-images.githubusercontent.com/100728646/163601804-64eeb642-72cf-460f-8db4-c4db80e0caf3.png)
![image](https://user-images.githubusercontent.com/100728646/163601904-6438c68b-f8fc-4bf8-8251-94b7fdc2518b.png)
![image](https://user-images.githubusercontent.com/100728646/163601923-97dfaad4-5704-41e6-ae56-41b3efdc503c.png)

[2022-04-15 18:26] BaguetteAgile commented on #1177
I've had this error message many times before, I think it's related to the server.
I advise you to start again the manipulation, publish.